/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#5b5b5b;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; background:#fff; font-size:14px; line-height:20px;}

#banner img{display:block; width:100%;}
#main{width:320px; margin:0 auto;}
#active_intro,#active_process{min-height:120px;  margin:10px 0; background:#ffffff; color:#a5a5a5}
#active_intro h6,#active_process h6{padding:10px 0 7px; margin-bottom:10px; font-size:16px; font-family:微软雅黑; font-weight:normal; border-bottom:1px solid #e6e6e6; color:#5b5b5b}
#active_intro p{padding-bottom:15px; color:#7a7a7a;}

#banner a{ position:absolute; left:35px; bottom:10px; display:block; width:68px; height:80px}
#banner a#tab02{left:127px}
#banner a#tab03{left:221px}

#active_process img{width:300px;}
#active_process .formlist{height:32px; line-height:30px; margin-top:10px; border:1px solid #e6e6e6}
#active_process .formlist label{float:left; width:80px; height:32px; text-align:right; color:#5e5e5e}
#active_process .formlist input.inputtext{float:left; width:208px; height:31px; padding:0 4px; background:#fff; border:none; color:#cccccc;}

#active_process p{padding:12px 0 8px; color:#19d5fd; font-size:18px; text-align:center}
.form_btn a{display:block; width:80%; height:38px; margin:15px auto; background:#19d5fd; border-radius:4px; text-align:center; line-height:39px; font-size:18px; color:#ffffff; }
.form_btn a.gray{background:rgba(115,115,115,.3)}
 
.items{ border-top:1px solid #e6e6e6}
.items h3{width:124px; height:37px; background:url(../images/nav_01.png) no-repeat;}
#items_02 h3{ background:url(../images/nav_02.png) no-repeat}
#items_03 h3{ background:url(../images/nav_03.png) no-repeat}
.list{ min-height:90px; margin:10px 0; padding:0 10px 10px; background:#ffffff; border-bottom:1px solid #e6e6e6; }
.list_head{position:relative;}
.list_img{float:left; width:64px; height:64px;}
.list_img img{display:block; width:64px; height:64px;}
.list_right{float:left; width:226px; padding-left:10px;}
.list_right h6{font-size:16px; padding:0 0 4px; font-weight:normal; color:#545454}
.list_right span{float:left; color:#a5a5a5}
.list_right input{position:absolute; left:-999999px; top:0;}
.list_right em{float:right; width:24px; height:24px; background: url("../../activity/activity_page/images/clean_ok.png") no-repeat; cursor:pointer}
.list_right em.checkedno{background: url("../../activity/activity_page/images/clean_not.png") no-repeat;}
.list_right p{color:#a5a5a5}
.list_txt{padding-top:10px; color:#a5a5a5; font-size:14px; line-height:20px}

.return_top a{display:block; width:80%; height:38px; margin:10px auto; background:#19d5fd; border-radius:5px; text-align:center; line-height:39px; font-size:18px; color:#fff;}

#process_02_box{margin:10px 0;}
#process_02_img{float:left; width:62px; height:62px;}
#process_02_img img{ display:block; width:62px; height:62px;}
#process_02_txt{float:left; width:230px; padding-left:8px; color:#a5a5a5;}