/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;background:#18191b; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:25px; color:#e9e9e9}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#e9e9e9}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}

.banner img{ width: 100%;}
.main{padding:0 15px 17px; }
.description h6{width:120px; margin:0 auto 12px; padding:0 0 5px; border-bottom:2px solid #b10000; font-weight:bold; text-align:center; font-size:18px; color:#e9e9e9}
.btn_01{display:block; width:175px; height:52px; margin:-25px auto 15px; background:url(../images/btn_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px; position:relative; z-index:2}
.title{margin-top:16px; margin-bottom:10px}
.title h3{font-size:16px; color:#e9e9e9; font-weight:bold}
.wrap{margin-top:4px; overflow:hidden}
.wrap h4{width:202px; padding:5px 0 0; text-align:left; margin:5px; border-bottom:none; border-top:2px solid #b10000; font-weight:bold; font-size:16px;}
.wrap h5{width:170px; margin:0 auto 5px; padding:10px 0 5px; border-bottom:2px solid #b10000; font-size:16px; font-weight:bold; text-align:center;}
.wrap h6{padding:14px 0 5px; font-size:16px; font-weight:bold; text-align:center; color:#ffd92a}
.wrap img{width:100%; margin:10px 0 15px}
.line{width:96%; height:1px; margin:25px auto 0; background:url(../images/line_bg.png) no-repeat; background-size:100% 100%;}
.btn_02{display:block; width:114px; height:40px; margin:15px auto 0; border-radius:3px; background-image: -webkit-linear-gradient(top, rgba(255, 192, 0, 1) 0%, rgba(220, 104, 0, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 192, 0, 1) 0%, rgba(220, 104, 0, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 192, 0, 1) 0%, rgba(220, 104, 0, 1) 100%); background-image: -linear-gradient(top, rgba(255, 192, 0, 1) 0%, rgba(220, 104, 0, 1) 100%); line-height:40px; text-align:center; color:#000; font-size:18px; letter-spacing:1.5px}
.disabled{background:url(../images/btn_02.png) no-repeat; background-size:100% 100%;}
.end{background:url(../images/btn_03.png) no-repeat; background-size:100% 100%;}
