/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#440e0e}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#440e0e}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:0 0 10px; background:url(../images/main_bg1.png) repeat-y; background-size:contain}
.maininner{ padding:0 5% 40px; border:1px solid transparent;}
/*有通用的地方*/
.wrap{margin:80px 0 12px; padding:15px 10px; background:url(../images/main2_bg.png) repeat; border-radius:15px; position:relative;}
.wrap_inner{ padding:20px 0 0;  border-radius:15px; border:7px solid #ee7e38; position:relative}
.decorate_01{position:absolute; left:-5%; top:-50px; width:104px; height:104px; background:url(../images/decorate_01.png) no-repeat; background-size:100% 100%}
.decorate_02{position:absolute; right:-5%; top:-38px; width:98px; height:96px; background:url(../images/decorate_02.png) no-repeat; background-size:100% 100%}
.decorate_03{position:absolute; right:5%; bottom:0; width:43px; height:48px; background:url(../images/decorate_03.png) no-repeat; background-size:100% 100%}
.decorate_04{position:absolute; left:0.5%; top:-48px; width:121px; height:76px; background:url(../images/decorate_04.png) no-repeat; background-size:100% 100%}
.decorate_05{position:absolute; left:38%; top:-1.1%; width:43px; height:48px; background:url(../images/decorate_05.png) no-repeat; background-size:100% 100%}
#end_wrap .decorate_05{top:-4%;}

.wrap2{margin:0 15px; padding:10px 10px 0; background:#783bbc; position:relative}
.wrap2_bg{display:block; width:100%; height:5px; background:url(../ima ges/main_bg3.png) no-repeat; background-size:100% 100%; position:absolute; left:0; top:-5px}
.titles{width:87px; height:26px; margin:3px 0 3px; background:url(../images/title_01.png) no-repeat; background-size:100% 100%}
.rule_title2{ background:url(../images/title_02.png) no-repeat; background-size:100% 100%}
.rule_title3{background:url(../images/title_03.png) no-repeat; background-size:100% 100%}
.active_title,.awards_title{background:none; margin-top:12px; color:#01a9b1; font-weight:bold; font-size:16px; text-shadow:#ffffff 1px 0 0,#ffffff 0 1px 0,#ffffff -1px 0 0,#ffffff 0 -1px 0;}
.awards_title{padding:30px 0 0; text-align:center}
.btns{display:block; width:113px; height:34px; background:url(../images/btns.png) no-repeat; background-size:100% 100%; text-align:center; line-height:32px; color:#fff; font-weight:bold; font-size:15px}
.title{padding:10px 0 8px 0; position:relative}
.title h3{font-weight:bold;color:#f44743; text-shadow:#ffffff 1px 0 0,#ffffff 0 1px 0,#ffffff -1px 0 0,#ffffff 0 -1px 0;}

.banner{width: 100%; margin: 0 auto; background:url(../images/); position:relative; }
.banner img{ width: 100%;}
/*index*/
.rule{padding:24px 13% 26px 11%; background:url(../images/rules_bg.png) no-repeat; background-size:100% 100%; color:#024e52}
.rule p{padding-left:12px; line-height: 22px;}
.rule p span{display:block; color:#00a6b1; font-size:12px; line-height:18px}
.login_wrap{margin:12px 0 0; padding:12px 20px 55px; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; position:relative; color:#f68209}
.logined{ padding:0 8px; position:relative}
.logined_l{margin-top:12px}
.logined_r{width:102px; height:28px; position:absolute; right:5px; top:25px;}
.logined_r a{width:102px; height:28px; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; text-align: left; text-indent: 8px; line-height:26px}
.login .logined_r a{background:url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-indent:25px}
.logined_l p{ padding:2px 0;}

.active_ctn{margin-bottom:10px;}
.active_ctn li{position:relative; line-height:22px; color:#fff}
.active_ctn span{width:20px; position:absolute; top:1px;}
.active_ctn p{margin-left:20px;}
.notice{ margin:12px 0; padding:2px; background:rgba(255,255,255,.35); color:#fff}
.notice_list{height:28px; padding:0 15px; line-height:28px;}
.btns1 a{display:block; margin:10px auto;}
.soft{padding:14px 0 10px; position:relative}
.soft .titles{width:125px; background:url(../images/title_03.png) no-repeat; background-size:100% 100%}
.soft_title a{ position:absolute; right:1.5%; top:18px;}
.soft_list{padding:10px 0;}
.soft_list li{ float: left; display: inline; width: 25%;margin-top:10px;text-align: center;}
.soft_list li .soft_icon{text-align: center;}
.soft_list li .soft_icon img{ width: 56px;height: 56px; margin: 0 auto;}
.soft_list li .soft_name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#912b2b; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li .soft_name a{ color: #912b2b;}
.soft_list li a.download{ display: block; width:56px;height: 24px; line-height: 24px; margin: 10px auto; background:url(../images/btns_05.png) no-repeat; background-size:100% 100%; background-clip: padding-box; border-radius:5px; border:1px solid #ffe67c; line-height:24px; color:#ff3d01;cursor: pointer; text-align: center; font-weight:bold}

.scratch_bg{width:300px; height:294px; margin:0 auto;}
.scratch{position:relative}
.scratch_01,.scratch_02{position:absolute; left:50%; top:50%; width:148px; height:148px; margin-left:-67px;margin-top:-48px; z-index:2}
.scratch_01 img,.scratch_02 img{width:100%}
.scratch_02{z-index:1}
#scratch_btns a:nth-of-type(1){ text-align:left; text-indent:14px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;}
#scratch_btns a.green{text-align:left; text-indent:14px; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
#scratch_btns a#scratch_btn2{background:url(../images/btns_disabled2.png) no-repeat; background-size:100% 100%; text-align:center; text-indent:0;}
@keyframes hand_ac{
    0%{bottom:-25px; left:-15px; opacity: 0.1;}
    100%{bottom:-12px; left:5px; opacity: 1}
}
@-webkit-keyframes hand_ac{
   0%{bottom:-25px; left:-15px; opacity: 0.1;}
    100%{bottom:-12px; left:5px; opacity: 1}
}
.lottery_wrap{position:relative;}
.title_04{width:52%; margin:0 auto 10px}
.title_04 img{width:100%}
.lottery_info{margin:0 10px; color:#440e0e;}
.lottery_info p span{font-size:16px; color:#ff0700}
.lottery{position:relative; margin:20% 20px 0;}
.lottery img{width:100%}
.lottery span{display:block; width:65%; height:38%; background:url(../images/dumplings_02.png) no-repeat; background-size:100% 100%; position:absolute; right:-8%; top:5px; opacity:0}
.active{animation:dumpMove .6s linear forwards; -webkit-animation:dumpMove .6s linear forwards}

#lottery_wrap_inner{padding-bottom:12px}
#lottery_wrap_inner .decorate_03{position:absolute; right:10%; bottom:45px;}
.lottery_wrap  a.lottery_prize{position:absolute; right:15px; top:19%; width:93px; border-radius:15px; background:#ffd200; background-clip: padding-box; border:1px solid #fffa71; color:#ff6c00}
.lottery_wrap  a.lottery_prize2{position:absolute; left:15px; top:19.5%; width:116px; height:55px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.lottery_wrap  a.lottery_prize2 span{display:block; width:42px; height:38px; background:url(../images/hand.png) no-repeat; background-size:100% 100%; position:absolute; bottom:-25px; left:-15px; opacity:0.1}
.lottery_wrap  a.lottery_prize2 span.active2{animation:hand_ac 1s ease-in-out infinite;-webkit-animation:hand_ac 1s ease-in-out infinite; }
.lottery_btns{width:96%; margin:10px auto 0; position:relative}
.lottery_btns span{position:absolute; right:0; top:0}
#dumplings_btn{ padding-left:12px; text-align:left; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;}
#dumplings_btn.disabled{background:url(../images/btns_disabled.png) no-repeat; background-size:100% 100%; color:#fff}
#scratch_btns a#share_lottery_btn.disabled{background:url(../images/btns_disabled2.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center; text-indent:0}
.lottery3_list li{float:left; width:40%; margin:20px 5% 0;}
.lottery3_list li img{width:100%}
.lottery3_list li span{display:block; padding:10px 0 0; text-align:center; color:#fb6862}
#active_ctn li{margin-top:20px; color:#cb3731; font-weight:bold}

/*我的奖品*/
.main2{ background:url(../images/main2_bg.png) repeat-y; background-size:contain;overflow: hidden; position:relative}
.main2_inner{padding: 5% 0 10%; background:url(../images/paper_07.png) no-repeat left bottom; background-size:contain}
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#cb3731}
.my_prize_list li{line-height:25px; font-size:16px; position:relative;}
.my_prize_list li a,.soft_title a,.prize_okr a{display:block; width:86px; height:30px; margin:5px auto 0; padding:0; background:url(../images/btns_07.png) no-repeat; background-size:100% 100%; background-clip: padding-box; line-height:31px; font-weight:bold; color:#fff; text-align:center;}
.my_prize_list li a{background:#ffd200; border:1px solid #fff666; border-radius:6px; background-clip: padding-box;}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:16px}
.my_prize_list2 p{ padding:6px 0;}
.form-items li{ margin-top: 40px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px; color:#9d0600;}
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:90%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:2px; background:url(../images/line_bg.png) no-repeat; background-size:100% auto;  margin: 8px 0px 15px; overflow:hidden;}
.my_prize .btns{margin-top:40px}

/*结束页*/
.awards_wrap{margin-top:12px}
.awards_wrap img{width:100%}
.awards{padding:5% 20px 18%; position:relative; color:#fff}
.awards_list{line-height: 26px; text-align:center}
.slide_up{overflow:hidden;height:130px;position: relative;}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:310px; height:265px; left:50%; top:50%; padding:0 0 20px 0; margin-left:-155px; z-index: 99999; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px 15px 0 15px;padding: 80px 14% 10px 22%; color:#440e0e}
.tip_title h6{ padding:6px; min-height:22px;  color:#f44743; font-size:16px; font-weight:bold; line-height:18px;text-align:center}
.tip-con p{padding:0 0 0 20px; line-height: 22px; word-wrap:break-word;word-break:break-all; font-size:14px; color:#585858}
.tips_btns a{display:block; width:83px; height:30px; margin:10px auto 0; line-height:31px;}
#tip-box3 .tip-con{padding-top:100px}
#tip-box3  .tips_btns a{margin-top:30px;}

#tip-box4,#tip-box5{height:327px; background:url(../images/dialog_bg2.png) no-repeat; background-size:100% 100%;}
#tip-box4 .tip_title{margin-top:100px}
#tip-box5 .tip_title{margin-top:60px;}
#tip-box4 .prize_ok{margin:10px auto 15px;}
.prize_ok{width:65%; margin:0 auto; color:#cb3731}
.prize_okl{float:left; width:100px}
.prize_okl img{display:block; width:94px; height:72px}
.prize_okl span{display:block; line-height:22px}
.prize_okr{padding:0 0 0 100px; font-size:13px; line-height:24px}
.prize_okr a {width:57px; height:22px; line-height:22px}
#tip-box4 .tips_btns{margin-bottom:50px}
#tip-box4.tips_btns a,#tip-box5 .tips_btns a{margin-top:5px}
#tip-box5{font-size:12px;}
#tip-box5 .form-items li{margin-top:5px}
#tip-box5 .form-items li input{padding:2px 6px}
#tip-box5 .form-items li label{width:65px; padding-top:4px;}

#tip-box5 .form-items li span{margin-left:65px}
#tip-box5 .form_error{padding:0 0 0 65px}
#tip-box5 .tips_btns{margin-bottom:70px}

.footer{width:80%; height:24px; margin:0 auto;  text-align:center; position:relative; color:#fff;}
.footer span,.footer em{float:left; width:14%; height:23px; border-top:1px solid #fff;}
.footer p{float:left; width:72%; height:24px; margin:-12px auto 0; background:transparent; line-height:24px;}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#cb3731}
.mtop10{margin-top: 10px;}
@keyframes dumpMove{
	0%{opacity:0; right:-8%; top:8px}
	100%{opacity:1; right:-11%; top:-5px}
}
@-webkit-keyframes dumpMove{
	0%{opacity:0; right:-8%; top:8px}
	100%{opacity:1; right:-11%; top:-5px}
}