/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto; background:#d3e248; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#3e5709}
.main{padding-bottom: 0.3rem;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#3e5709}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width:100%; position: relative;}
.banner img{display: block; width:100%}
.menber_card{height:2.5rem; padding:0.16rem 0.41rem 0; background:url(../images_5/bg1.jpg) no-repeat; background-size: 100% 100%;}
.menber_card li{float:left; width:23%; margin: 0 1%;}
.menber_card li img{display: block; width:100%;}
.btns{display:block; width:2.85rem; height:1.01rem; margin: 0.2rem auto 0; background:url(../images_5/btn_01.png) no-repeat; background-size:100% 100%; text-indent: -9999px;}
.wrap{margin:0 0.36rem; background:#f2fd8e; border:0.04rem solid #c1d139; border-radius: 0.1rem; position: relative; color:#7b8719}
.title{width:3.98rem; height:0.95rem; margin: 0 auto; background:url(../images_5/btn_03.png) no-repeat; background-size:100% 100%; text-indent: -9999px; position: absolute; top:-0.5rem; left:50%; margin-left:-1.99rem}
.menber_good{width:100%; margin: 0 auto 0.3rem;}
.change_btn{position: absolute; right:0.1rem; top:0.22rem; color:#fb8180; font-size: 0.26rem;}
.soft_wrap{width:5.68rem; height:5.61rem; margin: 1rem auto 0; padding-top:0.36rem; background:url(../images_5/bg2.png) no-repeat; background-size:100% 100%; position: relative;}
.soft_list{width: 97%; margin: 15px auto 0.2rem;}
.soft_list li{float: left;display:inline;width: 21%;margin: 0px 1.95%; padding:0.17rem 0;}
.soft_list li p{text-align: center;color: #7e3500}
.soft_list li .soft_icon img{width: 94%; margin:0 auto; border:3px solid #fb9294; border-radius: 20%;}
.soft_list li .soft_name{}
.soft_list li .soft_name,.soft_list li .soft_size{width:100%;height:0.5rem;line-height:0.54rem;text-overflow:ellipsis;white-space:nowrap;overflow: hidden; color:#e92761; font-size: 0.24rem;}
.soft_list li a.soft_btn{display:block; width:1.2rem; height:0.58rem; padding:0; border:none; background: url(../images_5/btn_02.png) 0 0 no-repeat;background-size: 100% 100%;  margin:0 auto; text-align:center; line-height:0.48rem; font-size: 0.24rem; color:#fef9d4}
.rule_wrap{margin-top:0.6rem; padding:0.4rem 0.4rem 0.4rem}
.rule_wrap h4{margin-bottom:0.06rem; padding:0 0 0.18rem 0.45rem; border-bottom:1px solid #cad560; font-size: 0.38rem; position:relative;}
.rule_wrap h4 span{display: block; width:0.45rem; height:0.49rem; background:url(../images_5/flower_01.png) no-repeat; background-size: 100% 100%; position: absolute; left: -0.1rem; top: -0.08rem;}
.rule_wrap p,.wrap2 p,.detail_wrap p{font-size:0.26rem; line-height: 0.42rem; text-align: justify; color:#7b8719}
.flower2{display: block; width:0.54rem; height:0.52rem; background:url(../images_5/flower_02.png) no-repeat; background-size: 100% 100%; position: absolute; right:-0.15rem; top:-0.26rem}
.wrap2{margin: 0 0.25rem;}
.detail_wrap .title,.menber_good_wrap .title{width:12rem; background:url(../images_5/title_bg2.png) no-repeat; background-size:100% 100%;}
.detail_wrap{background:#f2fd8e; margin:0.3rem 0.25rem; padding:0.2rem; border:3px solid #c1d139; border-radius: 10px; color:#7c8719}
.detail_wrap img{display: block; width:100%}
.wrap2 p{color:#3e5709}
.detail_wrap table{width:100%}
.detail_wrap th ,.detail_wrap td{padding:0.15rem 0; text-align: center; font-size:0.26rem; font-weight:normal}
.end p{padding:0.01rem 0.01rem 2rem; font-size:0.28rem; text-align:center; line-height:0.42rem}
.end img{display:block; width:1.84rem; height:1.7rem; margin:0.3rem auto 0.13rem;}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:90%; height:auto; padding:0.2rem 0;  background: #f2fd8e; border:3px solid #c1d139; border-radius: 10px; left:50%; top:50%; margin-left:-45%; z-index: 99999;}
.close{display: block; position: absolute; width:30px; height:30px; top:5px; right:5px; background:url(../images_5/close.png) no-repeat; background-size: 28px 28px; cursor: pointer;}
.tip-box .title{width:100%; height:0.46rem; margin: 0.05rem auto 0.2rem; background:url(../images_5/tip_title.png) no-repeat; background-size: 100% 100%; position: static;}
.tip-box .wrap2 p{font-size:0.26rem; line-height: 0.48rem; color:#7b8718}
.tip-box .wrap2{padding:0.15rem 0.1rem 0}
.tip-box .wrap2 ul{padding-left:22px}
.tip-box .wrap2 ul li{font-size:0.26rem; line-height: 0.48rem; color:#7b8718}
.tip-box .wrap2 ul li span{display:inline-block; width:0.28rem; height:0.28rem; margin-right:0.05rem; border-radius:50%; background:#ff807f; font-size: 0.2rem; text-align: center; line-height: 0.28rem; color:#fff}
.tip-box .btns{background:url(../images_5/btn_04.png) no-repeat; background-size:100% 100%}
.share_btn{width:2.92rem; height:1.01rem; background:url(../images_5/btn_05.png) no-repeat; background-size: 100% 100%;}