/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; background: #02d9eb; color: #5e1205; overflow-x: hidden;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#5e1205; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
::-webkit-input-placeholder {color:#5e1205;}
:-moz-placeholder {color:#5e1205;}
::-moz-placeholder {color:#5e1205;}
:-ms-input-placeholder {color:#5e1205;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}
.l{float:left}
.r{float:right}
.main{padding-bottom:0.4rem;}
.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
.notice{width:100%; height:1.41rem; background:url(../images/notice_bg.png) no-repeat; background-size: 100% 100%; line-height: 1.4rem;}
.notice_list{margin: 0 1.8rem 0 0.9rem; color:#fff; font-size: 0.26rem;}
.wrap{}
.user_wrap{width:100%; height:1.64rem; background:url(../images/bg1.png) no-repeat; background-size:100% 100%;}
.user_info{padding:0.36rem 0.6rem 0 0.4rem; position: relative;}
.user_info ul{margin: 0 1.4rem 0 0.2rem; line-height: 0.28rem;}
.user_info ul li:nth-of-type(1){font-size: 0.28rem;}
.user_info ul li i{padding-right:0.1rem; font-size: 0.28rem; font-style: normal;}
.user_info ul li:nth-of-type(2){font-size: 0.22rem;}
.user_info ul li:nth-of-type(3){font-size: 0.24rem;}
.user_info ul li:nth-of-type(2) span,.user_info ul li:nth-of-type(3) span{color:#ff3131}
.btns{display: block; width:1.6rem; height:0.51rem; background:url(../images/btns_01.png) no-repeat; background-size: 100% 100%; text-align: center; line-height: 0.51rem; font-size: 0.24rem; color:#fff; text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
.user_info a.btns{width:1.31rem; height:0.56rem; background:url(../images/btns_01.png) no-repeat; background-size: 100% 100%; position: absolute; right:0.65rem; top:50%; margin-top:-0.06rem; line-height:0.56rem}
.user_info_a{float:left; width:1.2rem; height:0.32rem; margin-left:0.1rem; border:1px solid #673dfe; border-radius: 15px; color:#673dfe; line-height: 0.38rem; font-size: 0.22rem; text-align: center;}
.prize_wrap{position: relative;}
.prize_wrap img{width:100%}
.soft_wrap{height:3.23rem; padding:1.8rem 0.52rem 0; background:url(../images/bg2.png) no-repeat; background-size:100% 100%; position: relative;}
.change_btn{position: absolute; right:0.28rem; top:0.87rem; width:0.55rem; height:0.55rem; background:url(../images/change_btn.png) no-repeat; background-size:100% 100%; color:#7e3500; font-size: 0.26rem; text-indent: -9999rem;}
.soft_list{width: 100%;margin: 0 auto;}
.soft_list li{float: left;display:inline;width: 22%;margin: 0px 1.5%;}
.soft_icon{width:1.04rem; padding:0.07rem 0.12rem 0.04rem 0.04rem; background:url(../images/soft_bg1.png) no-repeat; background-size:100% 100%}
.soft_list li:nth-of-type(2n) .soft_icon{width:1.01rem; padding:0.07rem 0.08rem 0.06rem 0.11rem; background:url(../images/soft_bg2.png) no-repeat; background-size:100% 100%}
.soft_list li a{display: block;width: 92%; padding:4%;}
.soft_list li p{text-align: center;color: #7e3500}
.soft_list li .soft_icon img{width:100%; margin: 0 auto;}
.soft_list li .soft_name{}
.soft_list li .soft_name,.soft_list li .soft_size{width:100%;height:0.5rem;line-height:0.54rem; white-space:nowrap;overflow: hidden; font-size: 0.2rem;}
.soft_list li a.soft_btn{display:block; width:1.06rem; height:0.46rem; padding:0; border:none; background: url(../images/btns_02.png) 0 0 no-repeat;background-size: 100% 100%;  margin:0 auto; text-align:center; line-height:0.5rem; font-size: 0.21rem; font-weight: bold; color:#fff;  text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
.soft_list li a.soft_open{background:url(../images/btns_03.png) no-repeat; background-size:100% 100%}
.soft_list li a.soft_unstall{background:url(../images/btns_06.png) no-repeat; background-size:100% 100%}
.soft_list li a.soft_update{background:url(../images/btns_07.png) no-repeat; background-size:100% 100%}
.focus_wrap{height:3.35rem; padding-top:1.7rem; background:url(../images/bg3.png) no-repeat; background-size:100% 100%;}
.swiper-container {width: 85%; height:3.35rem; margin: 0 auto;}
.swiper-slide img{display: block; width:100%}
.rule_wrap{position: relative;}
.rule_wrap img{width:100%}
.detail_ctn{position: absolute; width:84%; left:8%; top:1.7rem; text-align: justify;}
.detail_ctn{color:#5e1205; font-size: 0.24rem;}
.detail_ctn li{position:relative; margin:0 0.22rem; line-height:0.47rem; text-align: justify;}
.prize_index_wrap{margin-bottom: 0;}
.prize_index{padding:0 2%}
.prize_index li{float:left; width:33.3%; padding-top:0.25rem}
.prize_index li img{width:90%; margin:5px auto 10px;}
.prize_index li em{display:block; text-align: center; font-style: normal; color:#90110b; font-size: 0.26rem;}
.prize_index li span{display: block; width:90%; margin: 0.2rem auto 0; color:#ff3131; text-align: center; font-size: 0.22rem;}
.share_wrap{height:1.67rem; background:url(../images/share_bg.png) no-repeat; background-size: 100% 100%; overflow: hidden;}
.share_btn{display:block; width:4.91rem; height:0.63rem; margin:0.4rem auto; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-align: center; line-height: 0.65rem; color:#fff; font-size: 0.34rem; font-weight: 550; text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0.16rem}
.focus_wrap2 .swiper-pagination-bullets{bottom: 0.25rem;}
.swiper-pagination-bullet{width:0.18rem; height:0.18rem; background:url(../images/icon_01.png) no-repeat; background-size:100% 100%; opacity: 1;}
.swiper-pagination-bullet-active{background:url(../images/icon_02.png) no-repeat; background-size:100% 100%;}
/*联系信息*/
.infor_wrap{position: relative;}
.infor_wrap img{display: block; width:100%}
.infor_form{position:absolute; left:0; top:1.5rem; width:80%; left:10%}
.form-items{padding: 0.15rem 0 0;}
.form-items li{width:100%; padding:0.15rem 0; font-size: 0.24rem;}
.form-items label{float:left; width:0.8rem; line-height: 0.54rem;}
.form-items input{float:left; width:4.28rem; height:0.54rem; text-indent: 0.1rem; background:url(../images/form_bg1.png) no-repeat; background-size:100% 100%; border:none; font-size: 0.24rem; color:#5e1205}
.form-items textarea{width:4.2rem; height:1.43rem; padding:0.04rem 0; background:url(../images/form_bg2.png) no-repeat; background-size:100% 100%; text-indent: 0.1rem; border:none; font-size: 0.24rem; color:#5e1205; font-family: "微软雅黑";}
.form-items li span{float:left; width:3.9rem}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.prompt_01{font-size: 0.24rem; color:#6f2f00; line-height: 0.46rem; text-align: justify;}
.prompt_01 span{color:#8928ed;}
.prompt_02{padding-top:0.2rem;font-size:0.26rem; text-align: center;}
.form-items2 li{border-bottom: 1px solid #efa929;}
/*获奖名单页*/
.end_wrap p{display:block; padding:0 0.5rem; font-size: 0.26rem; line-height: 0.48rem; text-align: center; color:#105578}
.end_wrap p span{font-size: 0.3rem;}
.prize_wrap{margin-bottom: 0;}
.prize_wrap .wrap_inner{padding-bottom: 0;}
.awards_list{width:85%; position: absolute; left:7.1%; top:1.55rem}
.awards_list p{margin-bottom:0.1rem; text-align: center; font-size: 0.24rem;}
.slide_up{overflow:hidden; height:7rem; position: relative;}
.slide_up dd{width:92%; height:0.7rem; padding:0 4%; overflow:hidden; font-size: 0.26rem; line-height: 0.7rem;}
.slide_up dd:nth-of-type(2n+1){background:rgba(200,106,82,.15)}
.slide_up span{float:left; width:1.2rem; text-align: center;}
.slide_up i{float:left; width:2.6rem; text-align:center; font-style: normal;}
.slide_up em{float:right; color:#ff3131}
.my_prize{padding:0.25rem;}
.my_prize ul li{padding:0.15rem 0; border-bottom:1px solid #efa929; font-size: 0.24rem; line-height: 0.38rem;}
.my_prize ul li:nth-of-type(1){padding-top:0}
.my_prize ul li p span{color:#ff3131}
.btns_02{margin-top:0.4rem; padding:0 5% 10px;}
.btns_02 a{display:block;width:1.87rem; height:0.5rem; background:url(../images/btns_05.png) no-repeat; background-size:100% 100%; color:#fff; font-weight:bold; font-size:0.22rem; text-align:center; line-height:0.54rem;text-shadow:#710f00 1px 0 0,#710f00 0 1px 0,#710f00 -1px 0 0,#710f00 0 -1px 0;}
.focus_wrap2{height:3.89rem; background:url(../images/bg13.png) no-repeat; background-size:100% 100%}
