/* CSS Document */
html,body,div,span,img,ul,dl,li,dd,dt,p,h1,h2,h3,h4,form, input, textarea, p, th, td, menu,a{ border:0; margin:0; padding:0;  font-family: Arial,Helvetica,sans-serif;font-size: 14px;}
.m{ margin:0 5px; }
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
.top{ height:28px;background: -moz-linear-gradient(center top , #6495c1 0%,  #5283ae 100%) repeat scroll 0 0 transparent; background-color:#5786b5; position:relative;}
.top span,.top span a{ color:#FFFFFF; font-size:18px;  line-height:28px; padding-left:8px; text-shadow:1px 1px 1px #5786b5; text-decoration:none;}
.top span#return{ position:absolute; right:5px; top:0;}
.banner{ display: -moz-box;}
.header{ height:60px; margin:10px 0px 0px; }
.header ul{ list-style:none;}
.header ul li.logo{-moz-box-flex: 1; width:188px; height:60px; float:left;}
.header ul li.downimg{margin:15px 0 0 0;-moz-box-flex: 2;}


.bigbox{background: -moz-linear-gradient(center top , #6fc414 0%, #549e00 84%, #519800 100%) repeat scroll 0 0 transparent; border-radius: 5px 5px 5px 5px;border:1px solid #64c610; background:url(../uc_image/bg05.png) repeat-x scroll transparent; margin:0 5px 10px 5px; background-color:#6dc113; }
nav{ margin:0 8px; }
nav a {
    display: inline-block;
    font-size: 20px;
    margin: 3px;
    padding: 2px 3px;
    text-shadow: 1px 1px 2px #F2F2F2;
	color:#383838;
}
/*nav a{width:20%;height:26px; line-height:26px; font-size:14px; position:relative; display:inline-block; text-align:center; background:url(../uc_image/bd.png) right center no-repeat scroll transparent; text-decoration:none;font-weight:bold;margin:0 2px 0 0;}*/
nav a span{ color:#383838;}
/*nav a.selected  span{ display:block;  border-radius:5px; background-color:#FFFFFF; height:26px; color:#333333;border:1px solid #ffffff;}*/
.free{ width:82px; height:30px; line-height:30px; position:absolute; right:0; top:15px; background:url(../uc_image/down.png) no-repeat scroll; font-size:17px;}
.free:hover{ background:url(../uc_image/down_s.png) no-repeat scroll;}


.hot{ position:absolute;top:-6px; right:8%;}
.sch{height:31px;padding:0 5px; position:relative;}
#bbs{background:none;}

.search_text{ height:31px; line-height:31px; color:#adadad;font-size:16px;font-family:"宋体";  border-radius:5px 5px 5px 5px; border:1px solid #333333;  width:100%; }
.s_btn{ width:26px; height:26px;position:absolute; top:0; right:0; cursor:pointer;}

.imgbox{ margin:0 auto; text-align:center;}
.imgbox img{width:225px; height:315px; margin-right:5px;}
.tj{ height:40px; overflow:hidden; border-style:solid; border-width:1px 0;border-color:#dcdddd;border-radius:5px 5px 0 0;}
.t_center{ height:69px; width:100%; position:relative; overflow:hidden;}
#dotimg{ position:absolute; top:17px; left:10px;}
.t_center h2{ position:absolute; height:22px; line-height:22px; color:#349800; font-size:16px;left:26px; top:10px; font-weight:normal;}
.list ul{ list-style:none; margin:0; padding:0; }
.list li{ border-style:solid; border-color:#dcdddd; border-width:0 0 1px; height:80px;width:100%; position:relative;}
.list li .icon{margin-top:10px;  width:48px; height:48px; float:left;}
.list .stars{width:70px; height:12px; display:block;}
.downbox{width:70px; height:22px; background: -moz-linear-gradient(center top , #95e039 0%,  #6dcf00 100%) repeat scroll 0 0 transparent; background-color:#89db29;border:1px solid #52a318;  border-radius:5px;}
.header .downimg,.free{ display:block; color:#FFFFFF;text-shadow: 1px 1px 1px #0963ae; text-decoration:none; text-align:center;}
.down_item{ line-height:22px; color:#6dc113;text-shadow: 1px 1px 1px #0963ae;display:inline-block;}
.r_m{height:80px;margin-left:2px; overflow:hidden; position:relative;}
.list ul li h3{font-size:16px;color:#323232; height:20px; line-height:20px;overflow:hidden; font-weight:normal; white-space: nowrap;text-overflow:ellipsis; padding:10px 90px 5px 0;width:200px; }
.list ul li h3 a{ text-decoration:none;color:#323232;}
.list ul li .info{  line-height:20px;}
.r_r{float:right;overflow:hidden;}
/*#type{left:0; top:0; overflow:hidden; white-space:nowrap; position:absolute; }
#date{left:0; top:20px; overflow:hidden;white-space:nowrap;position:absolute;  }*/
.os,.mb{ overflow: hidden; white-space: nowrap;text-overflow:ellipsis;}
#type,#date,.os,.mb{ font-size:12px; color:#999999; height: 18px; line-height:18px;}
.footer{ height:114px; border:none; } 
.pageline{margin:0 auto 0px;background-color:#e9ecf1; border-top:1px solid #dde1e4; border-radius:5px; width:98%;}
.p_center{width:100%;  position:relative;text-align:center;  color:#666867; font-size:16px;}
.pre{ display:inline-block; margin-left:30px; background:url(../uc_image/pre.png) no-repeat scroll; text-indent:-9999px; }
.pre:hover{background:url(../uc_image/pre_s.png) no-repeat scroll;}
.next{ display:inline-block; background:url(../uc_image/next.png) no-repeat scroll;text-indent:-9999px;}
.next:hover{ background:url(../uc_image/next_s.png) no-repeat scroll;}

.footerinfo{ text-align:center; color:#717171; font-size:14px; height:20px; line-height:20px;}
.btnline{ height:30px; line-height:30px; position:relative; width:98%; margin:0 auto;}
.btnline a{ text-decoration:none; color:#4d7ad7; font-size:20px; }
.suggest{ position:absolute; left:0;}
.returntop{ position:absolute;right:0;}

.titlebar{ height:40px; border-width:1px 0;border-color:#d9d9d9;border-style:solid; background-color:#eeeeee; border-radius:5px 5px 0 0; overflow:hidden; position:relative;}
.titlebar div{width:33%; text-align:center;font-size:22px; color:#329900; line-height:40px;  height:40px; }
.titlebar div a{color:#909092;text-decoration:none; display:block; width:100%; height:40px;font-size:16px;}
.titlebar div a:hover{background-color:#ffffff; color:#329900;}
.titlebar .selected a{ background-color:#ffffff;color:#329900;} 
.bright{background-color:#d9d9d9;height:40px;width:1px; overflow:hidden;}
#first{left:34%;}
#second{left:67%;}
.titlebar div.w_34{width:34%;}


.l{float:left;}
.r{float:right;}
.subject{ height:auto; overflow:hidden;}
.subject ul{ list-style:none; }
.pot{ background:url(../uc_image/pot.png) no-repeat scroll transparent; float:left; display:inline-block;width:8px; height:48px;}
.subject ul li{font-size:22px;border-width:0 0 1px; border-color:#d9d9d9;border-style:solid; height:50px;position:relative;}
.subject ul li a{ text-decoration:none; color:#707070; }
#t{border-top:1px solid #d9d9d9;}
.sub_l{ overflow:hidden;  height:50px;line-height:50px; float:left;}
.subject .more{ display:block;  background:url(../uc_image/more.png) no-repeat scroll transparent;cursor:pointer; line-height:40px;padding-right:10px;}
.sub_r{ position:absolute;right:10px;top:20px;}
/*.subject .more:hover{ background:url(../uc_image/more_s.gif) no-repeat scroll transparent;}*/
/*.subject .border_l{ width:5px; height:69px; background:url(../uc_image/border07_l.gif) no-repeat scroll; position:absolute;top:-1px; left:-1px;}
.subject .border_r{width:5px; height:69px; background:url(../uc_image/border07_r.gif) no-repeat scroll; position:absolute;top:-1px; right:-1px;}*/

.head{height:85px; padding-top:14px;overflow:hidden; position:relative;}
.headimg{ height:70px; width:70px; padding-right:8px; padding-left:10px;float:left;}
.info_p{ float:left; height:70px; overflow:hidden;width:100px;}
.title{height:24px;line-height:24px; color:#333333;  font-size:16px; }
.address{color:#969696;}
.star{ width:116px; height:16px;}
.head .number{ width:150px;font-size:14px; color:#747474;line-height:14px; height:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


.goindex,.softinfo{ background-color:#999999; color:#FFFFFF;font-size:14px;}
.goindex{text-indent:10px;height:30px; line-height:30px; }
.goindex a{ text-decoration:none; color:#ffffff;}
.softinfo{ text-align:center;height:25px; line-height:25px; }
.des{ overflow:hidden; height:auto; white-space:normal;}
.des p{ font-size:16px; color:#676767; line-height:150%; text-align:left; }
.des p.alert{ color:#ff0000;}
.btn{ width:100%; text-align:center; line-height:16px; font-size:16px; height:16px; display:block; margin:10px 0;}
.btn a{color:#99cd00; text-decoration:none;}
.btn a:hover{ text-decoration:underline;}
.noborder{ border-left:none; border-right:none; border-top:1px solid #ededed;}
.js{ height: 45px; padding:4px; width: 80%; border:1px solid #000000;}
.des p.ts{padding:10px 0;}
.inp{width:80%;border:1px solid #000000; height:25px; line-height:25px;}
.des form{ text-align:left;}
.sb{ width:70px;  border: 1px solid #c2c2c2;border-radius: 3px 3px 3px 3px; margin:10px 0; height:25px; background-color:#f3f3f3; display:block;}
.notop{border:none;}
