/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto; background:#f4dabf; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px;}
.main{}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#7e3500}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width:100%; position: relative;}
.banner img{display: block; width:100%}
.btns{display:block; width:3.63rem; height:0.75rem; margin: 0.3rem auto; text-indent: -9999px;}
.wrap{margin:0 0.2rem; position: relative;}
.title{width:2.75rem; height:0.74rem; margin: 0 auto; text-indent: -9999px;}
.menber_good{width:100%; margin: 0 auto 0.3rem;}
.change_btn{position: absolute; right:0; top:0.4rem; color:#7e3500; font-size: 0.26rem;}
.soft_list{width: 100%;margin: 15px auto 0.2rem;}
.soft_list li{float: left;display:inline;width: 21%;margin: 0px 2%; padding:0.2rem 0;}
.soft_list li p{text-align: center;}
.soft_list li .soft_icon img{width: 95%; margin:0 auto; border:3px solid #863900; border-radius: 15%;}
.soft_list li .soft_name{}
.soft_list li .soft_name,.soft_list li .soft_size{width:100%;height:0.5rem;line-height:0.54rem;text-overflow:ellipsis;white-space:nowrap;overflow: hidden}
.soft_list li a.soft_btn{display:block; width:1.24rem; height:0.58rem; padding:0; border:none;  margin:5px auto 0; text-align:center; line-height:0.58rem; font-size: 0.24rem; font-weight: bold;  text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
.rule_wrap p,.wrap2 p{font-size:0.26rem; line-height: 0.42rem; text-align: justify; color:#fff}
.wrap2{margin: 0 0.25rem;}
.detail_wrap .title,.menber_good_wrap .title{width:12rem;}
.detail_wrap{padding:0.2rem;}
.detail_wrap img{display: block; width:100%}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:90%; height:auto; padding:0.2rem 0;  background: #d42a2f; border:3px solid #111; border-radius: 10px; left:50%; top:50%; margin-left:-45%; z-index: 99999;}
.close{display: block; position: absolute; width:30px; height:30px; top:5px; right:5px; background:url(../images_4/close.png) no-repeat; background-size: 28px 28px; cursor: pointer;}
.tip-box .title{width:100%; height:0.36rem; margin: 0.05rem auto 0.2rem;}
.tip-box .wrap2 p{font-size:0.26rem; line-height: 0.48rem;}
.tip-box .wrap2{padding:0.15rem 0.1rem 0}
.tip-box .wrap2 ul{padding-left:22px}
.tip-box .wrap2 ul li{font-size:0.26rem; line-height: 0.48rem; color:#fff}
.tip-box .wrap2 ul li span{display:inline-block; width:0.28rem; height:0.28rem; margin-right:0.05rem; border-radius:50%;background:#f99b2a; font-size: 0.2rem; text-align: center; line-height: 0.28rem;}