/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#27477e; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:0 12px 12px; background:url(../images/bg1.jpg) no-repeat left bottom; background-size:100% auto}
.main2{padding:35px 12px; background:url(../images/bg2.jpg) no-repeat left bottom; background-size:100% auto}
/*有通用的地方*/
.wrap{min-height:60px; padding:15px; margin-bottom:20px; border:1px solid #ffbb53; border-radius:20px; position:relative}
.wrap_icon{position:absolute;width:22px; height:22px; background:url(../images/icon_02.png) no-repeat; background-size:22px 22px; z-index:2}
.wrap_lt{ left:-5px; top:-2px}
.wrap_rt{ right:-5px; top:-2px; background:url(../images/icon_03.png) no-repeat; background-size:22px 22px;}
.wrap_lb{ left:-5px; bottom:-2px; background:url(../images/icon_04.png) no-repeat; background-size:22px 22px;}
.wrap_rb{ right:-5px; bottom:-2px; background:url(../images/icon_05.png) no-repeat; background-size:22px 22px;}


.btns{display: block; width:102px;height: 33px; margin-left:auto; margin-right:auto; line-height: 33px; background:url(../images/btns_01.png) no-repeat; background-size:100%100%; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px; text-shadow:-1px -1px 1px rgba(0,0,0,.5)}
.title{position:relative}
.title img{width:80%; margin:10px auto 5px}
.title h3{padding:5px 0 20px; text-align:center; font-weight:bold}
.title p{padding-bottom:14px; padding-left:50px; color:#ffd274}
.title a{position:absolute; right:0; bottom:10px; width:95px; height:25px; background:url(../images/txt5.png) no-repeat; background-size:100% 100%; text-indent:-9999px}

.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
/*index*/
/*活动规则*/
.rule{color:#fff; font-size:14px;}
.rule p{line-height: 24px;}
.rule p.rule_title{ width:82px; height:22px; margin-top:6px; background:#0d2655; border-radius:10px; font-weight:bold; color:#fff; text-align:center; font-size:15px}
.rule a{float:right; padding:1px 7px; border:1px solid #5fb6fa; border-radius:10px; display:inline; color:#5fb6fa; text-align:center;}

.logined{padding:12px 10px; position:relative}
.logined_r{position:absolute; right:10px; top:5px;}
.logined_l p{padding:3px 0 2px; color:#fff}
.login{padding-top:15px; padding-bottom:20px}

.notice{margin:0 0 20px; padding:2px; background:rgba(255,255,255,0.3); color:#ffffff}
.notice_list{height:28px; padding:0 15px; line-height:28px;}

.btns1 a{display:block; margin:10px auto;}
.soft{padding:10px 12px; position:relative}
.soft .titles{width:114px; height:16px; background:url(../images/txt1.png) no-repeat; background-size:100% 100%;}
.soft-list{padding:5px 0;}
.soft-list li{ float: left; display: inline; width: 90%; margin:10px 5% 0;}
.soft-list li .soft-icon{ width: 56px;height: 56px; margin-left:12px}
.soft-list li .soft-icon img{ width: 56px;height: 56px;}
.soft-list li .soft-name{ margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#bbe6ff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft-list li .soft-name { color: #bbe6ff;padding-left:25px;}
.soft-list li a.downlode{position:absolute; right:10px; bottom:54px;display: block; width:102px;height: 33px; margin-left:auto; margin-right:auto; line-height: 33px; background:url(../images/btns_01.png) no-repeat; background-size:100%100%; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px; text-shadow:-1px -1px 1px rgba(0,0,0,.5) }

.prize_list{padding:0 2% 10px 0; color:#fff}
.prize_list li{float:left; width:39%; height:142px; margin:1% 0 1% 1%; padding:70px 5% 5%; background:url(../images/prize_bg.png) no-repeat; background-size:100% 100%; position:relative; font-size:12px; line-height:18px; font-weight:bold}
.prize_list li img{display:block; width:60px; height:60px; position:absolute; right:12%; top:10%}
.prize_list li h4{color:#fff; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.prize_list li a{display:block; width:75px; height:25px; margin:10px auto 0; border-radius:8px; background-image: -webkit-linear-gradient(top, rgba(255, 170, 0, 1) 0%, rgba(255, 101, 2, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 170, 0, 1) 0%, rgba(255, 101, 2, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 170, 0, 1) 0%, rgba(255, 101, 2, 1) 100%); background-image: -linear-gradient(top, rgba(255, 170, 0, 1) 0%, rgba(255, 101, 2, 1) 100%); line-height:25px; text-align:center}
.prize_over{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/prize_bg2.png) no-repeat; background-size:100% 100%}
.prize_time{margin-top:2px;}
.prize_time span{display:inline-block; padding:3px; background:url(../images/bg5.png)repeat-x; background-size:auto 100%; border-radius:2px;}

/*轮播图*/
.slide_mod{padding-bottom:8px}
.slide_mod .line_left,.slide_mod .line_right{top:-34px}
.slideBox{ position:relative; overflow:hidden;margin: 10px;padding: 3px; background-color: #ffb000; border-radius:10px }
.slideBox .bd{ position:relative;}
.slideBox .bd li{ position:relative;text-align:center; }
.slideBox .bd li img{ width:100%; border-radius:10px}

.pagebars{width:276px; margin:0 auto}
.pagebars a{float:left; display:block; width:118px; height:39px; margin:0 10px;  background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-indent:-99999em;}
.pagebars a.next{background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
.rule_more{padding:15px 12px; color:#fff; line-height:24px; font-size:15px; letter-spacing:1.5px}
/*我的奖品*/
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#ffd274}
.my_prize_list li{line-height:25px; font-size:15px; position:relative;}
.my_prize_list li a {display:block; width: 120px; height: 31px; margin:8px auto 0; background: url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:15px}
.my_prize_list2 p{ padding:6px 0;}
.form-items{width:90%; padding:0 4% 30px; margin-top:20px;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left; width:90px; padding-top: 8px; color:#ffd274;}
.form-items li span{display:block; margin-left: 90px;}
.form-items li input{ width:90%; padding:8px 6px; border:none; color: #000; font-family: Microsoft Yahei,"微软雅黑"; background:#fff;}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:1px; background:#b9945e;  margin: 35px 0px 15px; overflow:hidden;}
.my_prize .btns{margin:40px auto 0; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%}
/*结束页*/
.awards_wrap{padding:12px 15px 60px;}
.awards_wrap .titles{font-size:18px; font-weight:bold; color:#e1bd76}
.awards{padding:5% 20px 4%; position:relative; color:#e1bd76; font-weight:bold;}
.awards_list{line-height: 26px; text-align:center}
.slide_up{margin-top:20px; overflow:hidden;height:130px;position: relative;}
.awards_wrap .btns{position:absolute; right:25px; top:20px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; font-size:15px}

.footer{width:100%; height:38px;  text-align:center; position:relative; color:#fff; line-height:38px}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#ffd274}
.prompt_02{padding:7px 0 0 90px; color:#ff0000}
.prompt_03{color:#001e33}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%; left:50%;top:50%; margin-left:-45%; z-index: 99999; font-size:15px; color:#ffd274}
.tip-box .wrap{background:#27477e}
.tip-con{ margin: 15px;padding: 15px 5% 75px;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
.tip-con p{ line-height: 20px; text-align:center;word-wrap:break-word;word-break:break-all;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
.tip-box .btns{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%}

.btns_false{position:absolute; left:50%; bottom:35px; margin-left:-51px;}
.yellow{color:#ffd500;}
.prompt_05{padding-top:10px; color:#4c0000}

.win_sure{margin:0 0 0 40px; color:#e1bd76; font-size:14px;}
.win_sure h4{padding:0 0 5px 0; font-size:16px; font-weight:bold; color:#ffd274}
.win_num{padding:6px 0;}
.win_num p{float:left}
.win_num_l{float:left; width:40%; height:26px; background:#fff; position:relative}
.win_num_l input{width:40%; padding:0 30%; height:26px; border:0}
.win_num_l span{display:block; width:20px; height:20px; position:absolute; top:3px; background:#d2d2d2; color:#919191; font-weight:bold; text-align:center; line-height:20px; cursor:pointer}
.win_num_l span.win_reduce{left:3px;}
.win_num_l span.win_add{right:3px;}

#win_sure_btns{width:218px; margin:15px auto 0}
#win_sure_btns a{float:left; display:block; width:84px; height:22px; margin:2px 10px;  line-height:20px; font-size:14px}
#win_sure_btns a.blue{background:url(../images/btns_01.png) no-repeat; background-size:100% 100%;}
#tip-box4 .tip-con{padding: 15px 5% 75px;}
#tip-box4 .tip-con p,#tip-box8 .tip-con p{text-align:left}
