/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{ background:#fff9db; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#472503}
.main{margin-top:-0.05rem; background:url(../images_3/main.jpg) no-repeat; background-size:100% 100%; overflow:hidden}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#472503}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner img{display: block; width:100%}
.menber_card{padding:0.6rem 1.5% 0}
.menber_card li{float:left; width:22%; margin: 0 1.5%;}
.menber_card li img{display: block; width:98%; margin: 0 auto;}
.btns_wrap{background:url(../images_3/bg1.png) no-repeat; background-size:100% 100%;}
.btns{display:block; width:9.05rem; height:1.95rem; margin: 0.6rem auto; background:url(../images_3/btn_01.png) no-repeat; background-size:100% 100%; text-align: center; color:#eb1b00; line-height: 1.85rem; font-size: 0.85rem;font-weight:bold;}
.wrap{margin:0 0.5rem 1.25rem;  background:url(../images_3/wrap.png) no-repeat; background-size:100% 100%; border:2px solid #863900; border-radius: 10px; position: relative;}
.title{width:9.45rem; height:2.225rem; background:url(../images_3/title_bg2.png) no-repeat; background-size:100% 100%; line-height:2.125rem; color:#552501; font-size:0.75rem; position: absolute; left:50%; top:-1.35rem; font-weight: 600; margin-left:-4.725rem; text-align: center;}
.menber_good{width:90%; margin: 1.2rem auto 0.6rem;}
.change_btn{position: absolute; right:0; top:-26px; color:#7e3500}
.soft_wrap{padding-bottom:0.55rem; background: url(../images_3/wrap_02.png) no-repeat; background-size: 100% 100%;}
.soft_list{width: 96%;margin: 15px auto 0;}
.soft_list li{float: left;display:inline;width: 21%;margin: 0.3rem 2% 0; padding:2% 0;}
.soft_list li p{text-align: center;color: #fff}
.soft_list li .soft_icon img{width: 92%; margin:0 auto; border:2px solid #863900; border-radius: 22%;}
.soft_list li .soft_name,.soft_list li .soft_size{width:100%; padding:0.2rem 0 0.27rem; text-overflow:ellipsis;white-space:nowrap;overflow: hidden; font-size:0.6rem;}
.soft_list li a.soft_btn{display:block; width:3.1rem; height:1.45rem; padding:0; border:none; background: url(../images_3/btn_02.png) 0 0 no-repeat;background-size: 100% 100%;  margin:0 auto; text-align:center; line-height:1.48rem; font-size: 0.6rem; font-weight: bold; color:#eb1b00}
.rule_wrap{margin-top:2rem; background: url(../images_3/wrap_02.png) no-repeat; background-size: 100% 100%; padding:0.75rem 0.5rem 0.5rem; color:#fff}
.rule_wrap p,.wrap2 p,.detail_wrap p{font-size:0.65rem; line-height: 1.05rem; text-align: justify;}
.wrap2{margin: 0 0.5rem; color:#472503}
.detail_wrap .title,.menber_good_wrap .title{width:11.4rem; background:url(../images_3/title_bg2.png) no-repeat; background-size:100% 100%; margin-left:-5.7rem}
.detail_wrap .title{background:url(../images_3/title_bg3.png) no-repeat; background-size:100% 100%; text-indent: -9999px;}
.detail_wrap{ padding:0.75rem 0.5rem 0.5rem}
.detail_wrap table{width:100%}
.detail_wrap th{color:#ffe96f}
.detail_wrap th ,.detail_wrap td{padding:0.3rem 0; text-align: center; font-size:0.65rem;}
.detail_wrap td{color:#fff}
.menber_good_wrap{margin-top:2rem; margin-bottom:2.1rem}
.end p{padding:0.01rem 0.01rem 2rem; font-size:0.65rem; text-align:center; line-height:0.6rem}
.end img{display:block; width:5.725rem; height:5rem; margin:0 auto;}
.bg2{width:3.2rem; height:5.65rem; background:url(../images_3/bg2.png) no-repeat; background-size:100% 100%; position: absolute; left:-0.5rem; top:-1.6rem; z-index:-1}
.bg3{width:100%; height:1.1rem; background:url(../images_3/bg3.png) no-repeat; background-size:100% 100%; position: absolute; left:0; top:-1.6rem}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:90%; height:auto; padding:20px 0;  background: url(../images_3/bg1.png) no-repeat; background-size: 100% 100%; left:50%; top:50%; margin-left:-45%; z-index: 99999; color:#fff}
.close{display: block; position: absolute; width:0.85rem; height:0.85rem; top:0.2rem; right:0.2rem; background:url(../images_3/close.png) no-repeat; background-size: 22px 22px; cursor: pointer;}
.tip-box .rule_wrap p{margin-top:0.6rem; font-size:0.65rem; line-height: 1.2rem;}
.tip-box .rule_wrap{padding:20px 10px 10px}
.tip-box .rule_wrap ul{padding-left:1rem}
.tip-box .rule_wrap ul li{margin-bottom:0.1rem; font-size:0.65rem; line-height: 1rem;}
.tip-box .rule_wrap ul li span{display: inline-block; width:0.7rem; height:0.7rem; margin-right:0.2rem; background:#fcff22; border-radius: 50%; text-align: center; line-height: 0.7rem; color:#901303; font-size:0.5rem}
