<div class="footer_app">
	<div class="footer_img"><img src="<!--{imgurltrans}--><!--{$out.soft.ICON}--><!--{/imgurltrans}-->" alt="<!--{$out.soft.SOFT_NAME|escape:html}-->" /></div>
	<div class="footer_des">
		<h4><!--{$out.soft.SOFT_NAME}--></h4>
		<div class="footer_stars stars stars_<!--{$out.soft.SOFT_STAR|floor}-->"></div>
		<span><!--{formatFileSize}--><!--{$out.soft.SOFT_SIZE}--><!--{/formatFileSize}--></span>
	</div>
	<!--{if $out.soft.hide==1 && $out.soft.status==1}-->
	<a id="a_delete" class="footer_down az_down_btn1" rel="<!--{$out.soft.ID}-->,'<!--{$out.perfect.package}-->'" href="download.php?softid=<!--{$out.soft.ID}-->">下载</a>
	<!--{else}-->
	<a class="footer_down" href="javascript:void(0);">已下架</a>
	<!--{/if}-->
</div>
<div id="az_spirit"></div>

<script type="text/javascript" src="<!--{$out.public_url}-->/js/zepto.min.js"></script>
<script type="text/javascript" src="/js/anzhi.js?v5"></script>