/* CSS Document */
body,div,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0; font-weight:normal}
fieldset,img {border: 0;}
a{text-decoration:none; color:#545454;}
.clear{clear:both;}
body{ font-family:'微软雅黑'; background:#fff; font-size:13px; color:#545454;}
.clear{clear:both;}
.padding_bom{padding-bottom:64px;}
.top_bar{width:100%; padding:9px 20px 9px 16px; height:32px; background:#7fc31e; border-bottom:2px solid #609d08; font-size:18px; color:#ffffff; line-height:33px; position:fixed; left:0; top:0; z-index:1000;}
.top_bar a:before{display:inline-block; vertical-align:-6px; width:28px; height:21px; background:url(/perfect/public/img/arrow.png) no-repeat 0 center; content:'';}
.top_bar a{display:inline-block; color:#ffffff;}

.banner{margin-top:-9px;}
.banner img{display:block; width:100%;}
.main{width:98%; margin:0 auto;}
.description{font-size:16px; line-height:22px; color:#5b5b5b; word-break:break-all; word-wrap:break-word;}
.description img{display:block; max-width:100%; margin:8px 0;}
.title_wrap{ margin:0 10px; padding:8px 0 7px; margin-top:7px; background:#fff;}
.title_txt{float:left; font-size:15px; color:#999999}
.title_more{float:right; color:#19d5fd;}
.title_more a{height:19px; color:#19d5fd; padding-top:1px; display:block; line-height:20px;}
.comment,.app{margin:0;}
.part{margin-top:5px; padding:9px 10px 4px; border-top:1px solid #e6e6e6; background:#fff;}
.cmnt_top{color:#a5a5a5;}
.cmnt_nick{float:left;}
.cmnt_ver{float:right; height:18px; line-height:21px;}
.cmnt_top i{float:right;  margin:3px 0 0 8px; display:inline;}
.stars{width:65px; height:12px; background:url(/perfect/public/img/stars.png) no-repeat 0 0;  overflow:hidden;}
.stars_0{background-position:0 0}
.stars_1{background-position:0 -12px}
.stars_2{background-position:0 -24px}
.stars_3{background-position:0 -36px}
.stars_4{background-position:0 -48px}
.stars_5{background-position:0 -60px}
.stars_6{background-position:0 -72px}
.stars_7{background-position:0 -84px}
.stars_8{background-position:0 -96px}
.stars_9{background-position:0 -108px}
.stars_10{background-position:0 -120px}
.cmnt_txt{padding:2px 0; line-height:22px; font-size:15px;word-wrap: break-word}
.cmnt_date{color:#a5a5a5; font-size:11px}

.app_list{border-bottom:1px solid #e6e6e6; padding-bottom:5px;}
.app_list li{position:relative; min-height:50px;}
.app_icon{float:left; width:48px; height:48px; margin-top:1px}
.app_icon img{display:block; width:48px; height:48px;}
.app_des{padding:0 0 0 62px;}
.app_des h2{min-height:20px; padding:5px 0 2px; font-size:15px; font-weight:normal;}
.app_des span{color:#a5a5a5; line-height:20px;}
.app_list li a.clickarea{position:absolute; left:0; top:0; bottom:0; right:0; display:block; z-index:999}

.footer_app{width:100%; height:64px; background:rgba(0, 0, 0, 0.85);position:fixed; bottom:0; z-index:1001}
.footer_img{position:absolute; left:10px; top:6px;}
.footer_img img{display:block; width:52px; height:52px;}
.footer_des{ padding:5px 0 0 75px;}
.footer_des h4{padding:0; color:#ffffff; font-size:16px;}
.footer_stars{height:12px; margin:4px 0 3px; overflow:hidden;}
.footer_des span{color:#c9cbca; font-size:12px}
.footer_down{position:absolute; right:10px; top:16px; z-index:1002; width:60px; padding:6px 0; background:#19d5fd ; border-radius:3px; color:#fff; text-align:center; font-size:16px;}
.mar_top59{margin-top:59px;}
.mar_top50{margin-top:50px;}

.load_more{width:98%; background:#eff2f2; border-radius:2px; margin:5px auto 0;}
.load_more a{display:block; width:160px; margin:0 auto; padding:10px 0 10px 35px; background:url(/perfect/public/img/arrow_down.png) no-repeat 136px center; color:#9a9a9a; font-size:16px; color:#808181;}
.loading{background:none;}
.loading a{width:140px; padding:4px 0 4px 35px; background:url(/perfect/public/img/loading.gif) no-repeat 94px center #d3d7d8; border-radius:4px; border-color:#d3d7d8; color:#ffffff; text-align:left}
.load_end a{background:none;}
.return_top a{display:block; width:200px; margin:20px auto; padding:5px 0; background:#19d5fd; border:1px solid #19d5fd; border-radius:4px; text-align:center; font-size:16px; color:#ffffff;}

/*feature css*/
/*公共样式*/
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block; max-width:100%;}
/*编辑器中的img也有影响 暂时注释*/
.description  p  img{display:inline-block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#626262}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width: 100%; margin: 0 auto; background:url(http://img3.anzhi.com/static/feature/images/); position:relative; }
.banner img{ width: 100%;}
.title{background:#f45000; margin:6px 0;}
.title h2{padding:5px 10px; color:#ffffff; font-size:28px; text-align:center}
.mod{margin:0 6px 5px;}
.mod_t{width:100%; height:6px;  background-size:100% 100%;}
.mod_m{padding:6px 6px 15px;}
.mod_b{width:100%; height:6px; ; background-size:100% 100%;}
.title2{margin-top:8px; padding:10px 0; position:relative;}
.padding0{padding:0}
.title2 h3{display:inline-block; height:30px; padding:0 20px 0 12px; margin-left:-12px;  background-size:100% 100%; color:#fff; font-size:16px; line-height:26px}
.title2 h3.h3_img{position:absolute; left:0; top:50%; margin-top:-15px;}
.title2 img{max-width:100%;}
#description2 .title2 .btns{top:50%; margin-top:-16px}
#description2  p{margin-top:12px;word-break:break-all; word-wrap:break-word;}
.btns{padding:0 12px; height:30px; background:#23b4ff; border-radius:5px; position:absolute; right:6px; top:1px; color:#fff; line-height:28px; text-align:center; font-size:15px}
.description p{padding:0 8px; line-height:24px}
.title2 p{margin:0 100px 0 0; color:#f45000; font-size:18px; line-height:30px;}
.app1{position:relative; margin:10px 0; min-height:72px}
.app_icon{position:absolute; left:6px; top:0}
.app_icon img{display:block; width:64px; height:64px;} 
.app_txt,.app_txt2{margin:0 68px 0 75px;}
.app_txt .app_name{padding:4px 0; font-size:16px}
.app_txt .app_inro{font-size:14px;}
.app_txt .app_des{font-size:12px}
.app_btn{width:60px; height:30px; background:#23b4ff; border-radius:2px; position:absolute; right:2px; top:16px; color:#fff; line-height:28px; text-align:center; font-size:15px}
.line{margin:15px 0;}
.line img{display:block; width:100%;}


.app_txt2{padding:5px 0 0}
.app_txt2 .app_name{width:50%; margin:-12px auto 4px; padding:4px 35px 12px; background:url(http://img3.anzhi.com/static/feature/images/bg2.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center}
.app_txt2 .app_des{font-size:12px; line-height:20px;}

.list{color:#fff}
.list_des{float:left; width:35%; height:246px;text-align:center}
.list_des h4{text-align:left; padding:10px; font-size:18px; color:#666666; word-break:break-all; word-wrap:break-word;}
.list_des p{text-align:left; padding:0 8px 10px 10px;word-break:break-all; word-wrap:break-word;}
.list_app{float:left; width:65%; height:162px;}
.list_app li{float:left; width:49.3%; margin-left:1px; display:inline; background:#f7aa69; text-align:center}
.list_app li img{display:block; width:60px; height:60px; margin:10px auto 5px}
.list_app li .app_name{width:100%; font-weight:bold; font-size:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.btns2{display:inline-block; margin:6px auto 10px; width:60px; height:30px; background:#23b4ff; border-radius:2px; color:#fff; line-height:31px; text-align:center; font-size:15px}
.list_app2{float:left; width:64.2%; margin-left:1px; height:84px; background:#84b46a; position:relative}
.list_app2 img{position:absolute; left:10px; top:10px; width:64px; height:64px;}
.list_app2_txt{margin:0 60px 0 82px}
.list_app2_txt .app_name{padding:18px 0 5px; font-weight:bold; font-size:16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_app3{height:246px;}
.list_app3 li{height:246px;}

.list_app4 li{float:left; width:49.3%; margin-left:1px; margin-bottom:1px; /*background:#f2f2f2;*/ position:relative}
.list_app4 li img{display:block; position:absolute; left:10px; top:10px; width:64px; height:64px}
.list_app4 .app_name{margin:12px 0 0 82px; color:#626262; font-size:15px; font-weight:bold; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_app4 .btns2{margin:8px 0 0 82px;}
.list_app4 .app_des{margin:10px; color:#626262; font-size:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.comment_title{width:82px; height:24px; background:url(http://img3.anzhi.com/static/feature/images/bg3.png) no-repeat; background-size:100% 100%; color:#fff; font-size:16px; text-indent:6px; line-height:24px; position:relative}

.comment_list{margin-bottom:10px;overflow:hidden}
.comment_list li{position:relative; margin:10px 0 0; padding-bottom:4px; border-bottom:1px solid #e6e6e6;}
.comment_list .comment_img{display:block; width:42px; height:42px; position:absolute; left:18px; top:0; border-radius:50%}
.comment_r{margin:0 12px 0 66px}
.comment_name{height:24px;line-height:24px}
.comment_name p{float:left;font-size:16px; color:#a5a5a5}
.comment_name span{float:right; font-size:13px; color:#959595; padding-right:10px;}
.comment_info{height:24px;}
.phone_verson{float:left; width:40%; color:#a5a5a5; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:24px; font-size:13px}
.comment_infor{float:right; position:relative; margin-top:4px}
.comment_infor span{float:left; margin-left:8px; display:inline; color:#959595}
.comment_infor span.comment_num{}
.comment_num i{float:left; width:22px; height:18px; background:url(http://img3.anzhi.com/static/feature/images/icon_01.png) no-repeat 0 0; background-size:16px 15px; cursor:pointer; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.comment_num font{display:block; width:10px; height:20px; position:absolute; right:0; top:10px; color:#f00; line-height:20px; opacity:0}
.comment_num font.comment_num_act{animation:addAction 0.7s ease-in-out;-webkit-animation:addAction 0.7s ease-in-out;}
.comment_infor span.comment_infor2{background:url(http://img3.anzhi.com/static/feature/images/icon_02.png) no-repeat 0 1px; background-size:16px 15px; padding:0 0 0 22px; }
.comment_infor em{display:block; position:absolute; left:8px; top:17px; width:18px; height:10px;background:url(http://img3.anzhi.com/static/feature/images/icon_03.png) no-repeat 0 4px; background-size:18px 10px; z-index:3}
.comment_cnt{/*height:28px;*/ color:#5b5b5b; font-size:17px; word-break:break-all; word-wrap:break-word; /*white-space:nowrap; overflow:hidden; text-overflow:ellipsis*/}
.replay_list{width:94%; margin:6px auto 4px; border:1px solid #e6e6e6; border-bottom:none; background:#f4f9fa; position:relative}
.replay_list li{float:left; width:100%;border-bottom:1px solid #e6e6e6;}
.replay_list .comment_img{width:30px; height:30px; left:10px}
.replay_list .comment_r{margin:0 0 0 42px}
.comment_infor i.comment_act{animation:scale 0.5s ease-in-out;-webkit-animation:scale 0.5s ease-in-out; background:url(http://img3.anzhi.com/static/feature/images/icon_04.png) no-repeat 0 2px; background-size:18px 16px;}

/*轮播图片*/
.focus{margin:0; position:relative}
.focus_bd{width:100%; overflow:hidden}
.focus_bd ul{width:100%; float:left;}
.focus_bd ul li{float:left; width:49%; margin-left:1%; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.focus_bd li img{width:100%; display:block}
.focus_dotted{ left:50%; height:40px; bottom:-2px; position:absolute;}
.focus_dotted ul{left:-50%; padding-top:16px; position:relative;}   
.focus_dotted li{display:inline-block; width:18px; height:4px; background:#000; margin:0 5px; overflow:hidden; opacity:0.5; text-indent:9999px; cursor:pointer; text-align:center
    }
.focus_dotted .on{ background:#fff; opacity:1}
.focus_bd2{width:100%; overflow:hidden}
.focus_bd2 ul li{float:100%; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.focus_bd2 li img{width:100%; display:block}
.banner_txt{position:absolute; left:0; top:30px; min-width:58px; height:22px; padding:0 15px 0 10px; color:#fff; font-size:16px; line-height:22px}
.banner_txt a{display:block; width:100%; height:100%}
.share_btn{position:absolute; right:0; top:30px; padding:4px 10px 4px 15px; color:#fff; font-size:16px; cursor:pointer}
@keyframes scale{
    0%{transform: scale(1.5);}
    100%{transform: scale(1.0);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1.5);}
    100%{-webkit-transform: scale(1.0);}
}
@keyframes addAction{
    0%{opacity:0; top:10px}
    50%{opacity:1; top:0px}
    100%{opacity:0; top:-16px}
}
@-webkit-keyframes addAction{
    0%{opacity:0; top:10px}
    50%{opacity:1; top:0px}
    100%{opacity:0; top:-16px}
}
.applist_more{width:34%; height:30px; margin:0 auto 10px; background:#dedede; border-radius:4px; color:#0394f1; line-height:31px; text-align:center; position:relative}
.applist_more a{display:block; width:100%; height:100%; color:#fff; font-size:16px}

/*自定义样式*/
.content{width:100%;}
.list_wrap1 dl dt{height:30px; margin: 10px 0; line-height:30px; font-size: 20px; color: #fff;}
.list_wrap1 dl dd{width:480px;height:135px; background:#fff}
.icon_exp_one{padding:18px 15px 18px 18px}
.icon_exp_one img {float: left; width: 128px; height: 98px;}
.icon_exp_one p{float: left; width: 305px; padding-top:14px; padding-left: 10px; font-size: 18px; color: #404040; line-height: 30px;}
.icon_exp_more p {padding: 10px 5px; color: #545454; font-size: 20px; text-align: center;}
.icon_exp_more ul li {float:left; width:138px; margin-left: 16px; padding: 0; display: inline;}
.list_wrap2 dl dd{height:160px}
.list_3{/*padding-bottom:18px;*/ background:#fff; font-size: 16px; color:#545454}
.title,.info{padding:0 10px}
.title{padding:15px 10px 5px; font-size: 18px; color:#5b5b5b;}
.info{height:30px; line-height:30px; font-size:13px}
.list_3 p{ padding:0 10px; line-height:28px; text-align:justify}
.des_img1{margin:0 18px;}
.des_img1 img{display: block; width:100%; margin: 10px 0;}
.des_img2{width:98%; margin: 0 auto;}
.des_img2 li{float:left; width:48%; margin: 0 1%;}

.des_img2 li img{display: block; width:100%; margin: 10px 0;}
.des_img3{width:98%; margin: 0 auto;}
.des_img3 li{ width:48%; margin: 0 1%;}
.des_img3 li.spec{float:left; height: auto; margin-bottom: 25px;}
.des_img3 li.spec img{height:100%;}
.des_img3 li.r{float:right}
.des_img3 li img{display: block; width:100%; height:auto; margin: 12px 0 0;}
.foot_app{position: fixed; width:100%; height:112px; background:#333333; left:0; right:0; bottom:0}
.icon_exp_down_img {width: 86px; height: 86px; position: absolute; left: 14px; top: 14px;}
.icon_exp_down_img img{display: block; width: 86px; height: 86px; border-radius: 10px;}
.icon_exp_down_txt{margin: 10px 86px 20px 123px;}
.icon_exp_down_txt h3{padding: 10px 0; color: #fff; font-size: 24px;}
.icon_exp_down_txt h3 span{color: #a5a5a5; font-size: 18px;}
.icon_exp_down_txt p{color: #a5a5a5; font-size: 16px;}
.icon_exp_down_btn{ display: block; width: 130px;  height: 50px; margin-top: -25px; background: #19d5fd; border-radius: 2px; color: #fff; line-height: 50px; position: absolute; right: 20px; text-align: center; top: 50%; font-size: 18px;}
.title {background:none;margin-top:0px}
.comment_list{margin-bottom: 0px;}
.comment_cnt{font-size:14px}
.list_4 hr{border: none;margin-left: 18px;margin-right: 18px;background-color: #f5f5f5;height: 2px;}
.list_4 img{max-width:100%;margin:10px 0;}
.list_4 img.lazy{ background: url(http://img3.anzhi.com/static/feature/images/default_bg.png) center center no-repeat #ededed;}
#preview table.noBorderTable td,#preview table.noBorderTable th,#preview table.noBorderTable caption{border:1px dashed #ddd !important}
#preview table.sortEnabled tr.firstRow th,#preview table.sortEnabled tr.firstRow td{padding-right:20px; background-repeat: no-repeat;background-position: center right; background-image:url(../../themes/default/images/sortable.png);}
#preview table.sortEnabled tr.firstRow th:hover,#preview table.sortEnabled tr.firstRow td:hover{background-color: #EEE;}
#preview table{margin-bottom:10px;border-collapse:collapse;display:table;}
#preview td,#preview th{ background:white; padding: 5px 10px;border: 1px solid #DDD;}
#preview caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}
#preview th{border-top:1px solid #BBB;background:#F7F7F7;}
#preview table tr.firstRow th{border-top:2px solid #BBB;background:#F7F7F7;}
#preview tr.ue-table-interlace-color-single td{ background: #fcfcfc; }
#preview tr.ue-table-interlace-color-double td{ background: #f7faff; }
#preview td p{margin:0;padding:0;}
#preview ol,#preview ul{margin:0;padding:0;}li{clear:both;}
#preview .list-paddingleft-1{padding-left:18px}
#preview .list-paddingleft-2{padding-left:38px}
#preview .list-paddingleft-3{padding-left:58px}
div#preview img {display: inline;}
div#preview table{margin-left: 18px;margin-right: 18px;}
div#preview a{text-decoration:underline; font-size: 16px; outline: none; color:blue}
.list_4 p{font-size: 16px;line-height: 24px}
.list_4 li p {padding: 0px;}
div#preview .quote{
    padding-top: 40px;
    background:#f5f5f5 url(http://img3.anzhi.com/static/feature/images/left_quote.png) no-repeat 10px 10px;
    padding-bottom:10px;
    zoom:1;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 18px;
}
div#preview blockquote{
    margin: 0;
    padding: 0 5px 25px 5px;
    background:url(http://img3.anzhi.com/static/feature/images/right_quote.png) no-repeat 97% 100%;
    line-height: 1.6;
    zoom: 1;
}
.more_content_ul{width:100%;}
.more_content_ul:last-child li{border-bottom:0}
.more_content_img{position:absolute; left:10px; top:10px; width:156px; height:87px}
.more_content_txt{margin-left:166px; font-size:16px; line-height:26px; color:#343434}
div#preview p.more_content_ul_txt a{text-decoration: none;color:#626262;}
div#preview ul.more_content_ul {margin:0}
div#preview p.more_content_ul3_txt a{text-decoration: none;color:#626262;}
.more_content_ul_img img{display:block; width: 156px; height: 87px;margin:0px}
.more_content_ul3_img{padding:0 1%}
.more_content_ul3_img img{float: left; width:33%; margin:0 0.33% 0 0}
.more_content_ul li{ min-height: 87px; padding: 10px 10px; position: relative;}
div#preview ul.more_content_ul li{padding:0px 18px;}
.more_content_ul_img{position: absolute; width: 156px; height: 87px;}
.more_content_ul3_txt{margin:-5px 0 3px 0;font-size: 16px;}
.more_content_ul_txt{margin-left: 176px; margin-right: 4px; font-size: 16px; line-height: 26px; color: #343434;}