/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td,a{margin:0; padding:0;  font-weight:normal; font-family:"微软雅黑",Arial,sans-serif,SimSun}
body{ font-size:14px; color:#202020; background:#e7e7e7;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#202020;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
ul,li{list-style:none;}
.fontbold{font-weight:bold;}
.l{float:left;}
.r{float:right;}
.border_none{border:none;}
#nav_bar{height:40px; background:url(../images/topbar_bg.png) repeat-x; color:#fff; position:relative}
#nav{width:960px; height:40px; margin:0 auto; line-height:40px; position:relative;}
#nav ul{float:left; width:500px; margin-left:100px; display:inline;}
#nav ul li{float:left; padding-right:20px;}
#nav_bar a{color:#fff;}
#logo{width:74px; height:32px; background:url(../images/logo.png) no-repeat; position:absolute; left:0; top:3px; font-size:14px;}
#logo a{ display:block; width:74px; height:32px; text-indent:-9999px;}

#header_wrap{background:#598a2f;}
#header{width:100%; height:530px; margin:0 auto;}
#header_01{height:138px; margin-top:-40px; background:url(../images/header_bg01.jpg) no-repeat center 0;  font-size:16px;}
#header_02{height:125px; background:url(../images/header_bg02.jpg) no-repeat center 0;}
#header_03{height:136px; background:url(../images/header_bg03.jpg) no-repeat center 0;}
#header_04{height:130px; background:url(../images/header_bg04.jpg) no-repeat center 0;}

#content{width:960px; margin:0 auto;}
.contentlist{width:960px; margin-top:40px; background:#fff; position:relative;}
.content_wrap{width:960px; padding-bottom:40px; position:relative;}
.content_wrap2{border-top:2px solid #e7e7e7; margin-top:0;}
.padding_bom5{padding-bottom:5px;}
.title{width:435px; height:66px; position:absolute; top:-11px; left:262px;}
.title h2{width:435px; height:66px; background:url(../images/title_bg01.png) no-repeat 0 0; text-indent:-9999px;}
.title3{width:435px; height:78px; position:absolute; top:-28px; left:262px;}
.title3 h2{width:435px; height:78px; background:url(../images/title_bg02.png) no-repeat 0 0; text-indent:-9999px;}

.applist{float:left; width:938; margin:0 10px; margin-top:54px; display:inline;}
.applist li{float:left; width:180px; height:119px; padding:0 0 0 7px; border-top:1px dashed #ebebeb; overflow:hidden}
.applist li.noborder{border-top:0}
.applist li h3{font-size:14px; padding:9px 0 12px}
.applist li .applist_icon{float:left; width:48px; height:48px; margin-right:8px; display:inline}
.app_list_r{float:left; width:124px; height:70px; overflow:hidden}
.app_list_r h4{height:30px; font-size:18px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.stars{widht:62px; height:12px; margin:2px 0 4px; background:url(../images/stars.png) no-repeat; overflow:hidden}
.app_list_r span{display:block; height:22px; font-size:12px; line-height:22px;}

#content_wrap2 .title3 h2{background:url(../images/title_bg02.png) no-repeat;}
#content_wrap3 .title3 h2{background:url(../images/title_bg03.png) no-repeat}
#content_wrap4 .title h2{background:url(../images/title_bg04.png) no-repeat}
#content_wrap5 .title3 h2{background:url(../images/title_bg05.png) no-repeat}
#content_wrap6 .title h2{background:url(../images/title_bg06.png) no-repeat}
#content_wrap7 .title h2{background:url(../images/title_bg07.png) no-repeat}
#content_wrap8 .title{height:78px; top:-25px}
#content_wrap8 .title h2{height:78px; background:url(../images/title_bg08.png) no-repeat}
#content_wrap9 .title3 h2{height:78px; background:url(../images/title_bg09.png) no-repeat}

.xunzhang{width:90px; height:116px; background:url(../images/bg_01.png) no-repeat; position:absolute; right:-30px; top:-32px; z-index:100}
#xunzhang2{background:url(../images/bg_02.png) no-repeat;}
#xunzhang3{background:url(../images/bg_03.png) no-repeat;}
#xunzhang4{background:url(../images/bg_04.png) no-repeat;}
#xunzhang5{background:url(../images/bg_05.png) no-repeat;}
#xunzhang6{background:url(../images/bg_03.png) no-repeat;}

.title2{width:100%; height:40px; margin-top:15px; line-height:40px;}
.title2 h3{float:left; font-size:24px; color:#679e38;}
.title2 span{float:right;}
.content_wrap5{width:960px; padding:12px 0; background:#fff;}
#photo_flash{position:relative; width:958px; height:246px; overflow:hidden;}
#photo_flash ul{position:absolute; left:6px;}
#photo ul li{float:left; width:238px; height:230px; margin:8px 0; display:inline;}
#photo ul li img{display:block; width:230px; height:230px;}
#photo_left{position:absolute; left:7px; top:8px; width:37px; height:230px; background:url(../images/arrow_03.png) no-repeat; cursor:pointer}
/*#photo_left:hover{background:url(../images/arrow_02.png) no-repeat}*/
#photo_right{position:absolute; right:8px; top:8px; width:37px; height:230px; background:url(../images/arrow_01.png) no-repeat; cursor:pointer}
/*#photo_right:hover{background:url(../images/arrow_04.png) no-repeat}*/

#partner{position:relative;}
#partner ul{padding-left:3px;}
#partner ul li{float:left; width:120px; height:45px; margin:8px 7px; border:1px solid #cccccc; display:inline;}
#partner ul li img{display:block; width:120px; height:45px;}

.footer{ margin:30px auto 0; padding:20px 0 35px; background:#679e38; position:relative; color:#ffffff;}
.footer a{color:#ffffff;}
.footer p{text-align:center; line-height:27px; font-size:12px;}
.cursor_pointer{cursor:pointer;}

/*footerbar*/
html {
	_background-image: url(about:blank);
	_background-attachment: fixed;
}
#float_bar{width:70px; height:75px; padding-left:40px; position:fixed; bottom:230px; right:1px; background: url(../images/weibo_bg.png) no-repeat; overflow:hidden; color:#336600; _position:absolute; _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 400));}
#float_bar ul li{width:70px; height:35px; line-height:37px; overflow:hidden; color:#b10317}
#float_bar ul li.marg{margin-top:5px;}
#float_bar ul li a{color:#b10317}
#float_bar ul li.marg a{color:#00a0e2;}

#float_bar2{width:83px; height:320px; position:fixed; bottom:112px; left:35px; background: url(../images/float_bar2.png) no-repeat; overflow:hidden;  _position:absolute; _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 400));}
#float_bar2 ul li{width:83px; height:48px; margin-bottom:5px}
#float_bar2 ul li a{display:block; width:83px; height:48px; text-indent:-9999px;}

#return_top{width:63px; height:63px; position:fixed; bottom:112px; right:45px; overflow:hidden; _position:absolute; _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 195)); z-index:10000; display:none}
#return_top a{ display:block; width:63px; height:63px; background:url(../images/returntop_normal.png) no-repeat;}
#return_top a:hover{ background:url(../images/returntop_hover01.png) no-repeat;}
#return_top a:active{ background:url(../images/returntop_hover01.png) no-repeat;}


