/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;background:#fff; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:25px; color:#2f2f2f}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 15px; outline: none; color:#2f2f2f}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.banner{position:relative}
.banner img{ width: 100%;}
.soft-icon{width:60px; height:60px; margin:-24px auto 0}
.soft-name{height:0; overflow:hidden}

.description h6{height:30px; font-weight:bold; font-size:16px; line-height:30px; text-indent:1em; text-shadow:0 1px 1px rgba(0,0,0,.3)}
.description_cnt{padding:5px 0;}
.description_cnt p{padding:0 20px;}
.description_cnt img{width:100%; margin:10px  0;}

.downlode{display:block; width:58px; height:26px; margin:12px auto; background:#19d5fd; border-radius:2px; line-height:26px; text-align:center; color:#fff; font-weight:bold}
.share_wrap{background:#191919; padding:20px 0;}
.btn_02{display:block; width:94px; height:30px; margin:0 auto auto; border-radius:2px; background:#19d5fd; color:#fff; line-height:30px; text-align:center; font-size:16px; font-weight:bold;}

