/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{padding-bottom:10px; background:#292343; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#dbbcff}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#dbbcff}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width:100%;}
.banner img{width:100%;}
.part1{background:url(../images_gm/bg1.png) no-repeat; background-size: 100% 100%; overflow: hidden;}
.des_img img{display: block; width:85%; border:1px solid #4e2e9f; margin: 1.9rem auto 0;}
.des_txt{width:85%; margin: 0.7rem auto;}
.des_txt p{font-size:0.6rem; line-height:1.08rem; color:#9a91c8; text-align:justify;}
.app_list{width:85%; margin: 0 auto; padding: 0.5rem 0 0.6rem; border-top:1px solid #4d2cab; overflow: hidden;}
.app_list li{position: relative; min-height:2.925rem;}
.app_img{position: absolute; left:0; top:0; width:2.8rem; height:2.925rem;}
.app_img img{display: block; width:2.8rem; height:2.925rem;}
.app_info{margin: 0 3.0rem 0 3.1rem;}
.app_info h3{padding:0.25rem 0 0.25rem 0; height:1rem; line-height:1rem; font-size: 0.65rem; color:#ffcc00}
.app_info p{color:#8153e0; font-size: 0.5rem;}
.app_info p span{color:#32f3f3}
.app_btn{position: absolute; right:0; top:50%; width:2.85rem; height:1.35rem; margin-top:-0.675rem; background:url(../images_gm/btn_01.png) no-repeat; background-size:100% 100%; text-align: center; line-height: 1.4rem; font-size: 0.55rem; color:#5b2700;}
.part2 img,.part4 img{display: block; width:100%;}
.part3{background:url(../images_gm/bg3.png) no-repeat; background-size: 100% 100%; overflow: hidden;}
.part5{background:url(../images_gm/bg5.png) no-repeat; background-size: 100% 100%; overflow: hidden;}