/* -------------------------------- */
/*          css                     */
/* -------------------------------- */

html, body {
    height: 100%;
    text-align: center;
    #font-family: Tahoma, Helvetica, "宋体", Arial, sans-serif;
    font-family: Arial;
    font-size: 13px;
    margin: 0px;
    background-color: #e9e9e9;
}
h1 {
    font-weight:        bold ;
    font-size:          20px ;
    color:              #A4C639 ;
    margin:             0px 0px 0px 0px ;
    padding:            0px 0px 12px 0px ;
}
h2 {
    font-weight:        bold ;
    font-size:          14px ;
    color:              #A4C639 ;
    margin:             0px 0px 8px 0px ;
}
td {
    font-size: 14px;
}
b {
    font-family: "微软雅黑";
}
a {
    color:              #333333 ;
    text-decoration:    none;
}
form {
    margin-bottom: 0em;
}
.bigita {
    font-weight:        bold ;
    font-style:         italic ;
    font-size:          14px ;
}
.errur {
    color:              red ;
    text-decoration:    underline;
}
.errur:hover {
    color:              red ;
    text-decoration:    none;
}
.gray{
	color: #666666;
}
a:hover {
    color:              #A4C639 ;
    text-decoration:    underline;
}
#menu {clear:both;}
.amenu {
    color:              #888888 ;
    text-decoration:    none;
}
.amenu:hover {
    color:              #888888 ;
    text-decoration:    underline;
}
.welcome {
   color      :        #a4a4a4 ;
   font-weight:        bold ;
}
li.mini{
     margin-left: -18px;
}
.mina {
   font-weight:         bold ;
    text-decoration:    none;
}
.mina:hover {
   font-weight:         bold ;
    text-decoration:    none;
}

/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */

.menu1 {padding:0 32px 0 32px; margin:0; list-style:none; height:35px; position:relative; border:1px solid #000; border-width:0 0px; border-bottom:1px solid #444;}
.menu1 li {float:left;}
.menu1 li a {display:block; float:left; height:35px; line-height:35px; color:#a4a4a4; text-decoration:none; font-size:15px; font-family:arial, verdana, sans-serif; font-weight:bold; padding:0 0 0 8px; cursor:pointer;}
.menu1 li a b {float:left; display:block; padding:0 16px 0 8px;}
.menu1 li.current a {color:#A4C639; }
.menu1 li a:hover {color:#fff; background:#B4D649; }
.menu1 li a:hover b {no-repeat right top;}
.menu1 li.outlink { float: right; }

#content {
    overflow: hidden;
}

#myBox {
    margin: 0in auto;
    color: #333333;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #ffffff;
    border-style:solid;
    border-width: 0px 1px 0px 1px;
    border-color:#a4a4a4;
}

.suggestion {
    margin: 0 2px;
    padding:0;
    border: 0;
    border-style: hidden;
}

.zero_top{
  padding:0;
  margin: 0;
  background-image: url(/images/cadre_top.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.zero_bot{
  padding:0;
  margin: 0;
  background-image: url(/images/cadre_bot.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
#myBox p {
  padding:0;
  margin:1ex 0;
}

#logo {
  float: left;
}

#myBoxTitre {
  height: 80px;
  padding: 0px;
  border: 0px solid #a4a4a4;
  background-repeat: no-repeat;
  position:relative;
}
#topimg{
width:424px; height:58px; position:absolute; left:275px; top:2px;
}

/* --------------------------------- */
/* Pages pour les pages "customers"  */
/* --------------------------------- */

#myBoxBox1, #myBoxBox2, #myBoxBox4 {
    padding-top: 0px;
    margin-top: 0px;
    color: #333333;
    width: 180px;
    padding: 6px;
    text-align: left;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}
#myBoxBoxT1, #myBoxBoxT2, #myBoxBoxT4 {
    padding-top: 0px;
    margin-top: 0px;
    color: #666666;
    width: 165px;
    padding: 6px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
#myBoxApp1 {
    padding-top: 0px;
    margin-top: 0px;
    color: #333333;
    width: 518px;
    padding: 6px;
    text-align: left;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}

/* --------------------------------- */
/* Pages pour les pages "developers" */
/* --------------------------------- */

#myBoxAppL1 {
    padding-top: 0px;
    margin-top: 0px;
    color: #333333;
    padding: 6px;
    text-align: left;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}
#myBoxBoxL1, #myBoxBoxL2, #myBoxBoxL3, #myBoxBoxL4 {
    padding-top: 0px;
    margin-top: 0px;
    color: #333333;
    width: 229px;
    padding: 6px;
    text-align: left;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}
#myBoxBoxLT1, #myBoxBoxLT2, #myBoxBoxLT3, #myBoxBoxLT4 {
    padding-top: 0px;
    margin-top: 0px;
    color: #666666;
    /*width: 267px;*/
    height: 16px;
    padding: 6px;
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid #DDDDDD;
    background-image: url(/images/left_box_bg.jpg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

/* ---------------------------------- */
/* Pages pour la page "manufacturers" */
/* ---------------------------------- */

#myBoxMan1 {
    padding-top: 0px;
    margin-top: 0px;
    color: #333333;
    width: 935px;
    min-height: 400px;
    padding: 6px;
    text-align: left;
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
}

#account {
    text-align:right;
}
#download_market{padding-top:15px;}

/*弹出广告*/
#openbox{ width:450px; height:auto; background:#edeff0; padding:10px 13px; border:1px #99a5ab solid; border-radius:10px; position:absolute; z-index:2; display:none; font-size:14px; line-height:21px; color:#5d5d5d; font-family:"微软雅黑"; text-align:left;}
#openbox #close{ position:absolute; top:8px; right:15px; cursor:pointer; font-size:14px;}
#mark{ top:0; left:0; position:absolute; z-index:1; background:#000000; filter:alpha(opacity=50); opacity:0.5;}
#openbox h3{color:#333; font-size:16px;}
#openbox p{text-indent:2em;}
#openbox span{color:red;}
/*沙龙广告*/
#salon{width:610px; height:auto; margin:4px auto; padding:10px; border:4px solid #b3e517; border-radius:20px; font-size:14px; line-height:22px; font-family:"微软雅黑"}
.bold{font-weight:bold;}
.redcolor{color:#f00;}
#salon h2{width:100%; height:28px; font-size:16px; text-align:center;}
#salon p{ line-height:28px}

/*notices*/
#notices_index{ height:68px; margin-top:10px; background:#e3e3e3; border:3px solid #bbbbbb;}
#notices_index h4{float:left; width:65px; height:68px; margin:0; background:#c7c7c7; text-align:center; line-height:65px; font-weight:bold; font-size:16px;}
#notices_index p{float:left; width:850px; padding:10px; line-height:22px}
#notices_index p a{color:blue; text-decoration:underline;}
