/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#f2fcfe; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
body.black{background:#000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative;}
.wrap1{position:relative; padding:0 8px 3%; background:url(../images/bg1.jpg) no-repeat left top; background-size:100% 100%}
.wrap2{position:relative; padding:0 15px; background:url(../images/bg2.jpg) no-repeat left top; background-size:100% 100%}
.wrap3{position:relative; padding:0 15px; background:url(../images/bg3.jpg) no-repeat left top; background-size:100% 100%; 
color:#fff}
.wrap4{position:relative; padding:10px 15px; background:url(../images/bg4.jpg) no-repeat left top; background-size:100% 100%; }
.wrap5{position:relative; padding:10px 15px; background:url(../images/bg5.jpg) no-repeat left top; background-size:100% 100%; }
.wrap{min-height:60px; padding:0 0 25px; margin-top:40px; margin-bottom:20px; background:#1663ff; border-radius:20px; position:relative}

.btns{display: block; width:128px;height: 35px; margin-left:auto; margin-right:auto; line-height: 35px; background:#d63445;  box-shadow:0 3px 0 0 #492007; border-radius:8px; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px; text-shadow:-1px -1px 1px rgba(0,0,0,.5)}

.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
.btn_01{display:block; width:106px; height:40px; margin:-45px 0 20px; background:url(../images/btn_01.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; margin-left:-53px; bottom:2%; text-align:center; line-height:40px; color:#fff; font-size:16px; font-weight:bold; text-shadow:1px 0 1px rgba(0,0,0,.5);}
.disabled{background:url(../images/btn_02.png) no-repeat; background-size:100% 100%;}
.end{background:url(../images/btn_03.png) no-repeat; background-size:100% 100%;}
/*index*/
/*活动规则*/
.rule{padding:15px 15px 20px;color:#fff; font-size:14px;}
.rule p{line-height: 24px;}
.rule p.rule_title{ width:106px; height:22px; margin:6px 0 0; font-weight:bold; color:#fff; font-size:16px; color:#ffb60e}
.login_wrap{margin-bottom:10px; padding:12px 20px;}
.logined{ position:relative}
.logined h4{color:#ffb60e; font-weight:bold; font-size:16px;}
.logined_r{position:absolute; right:-10px; top:-2px;}
.logined_l p{padding:3px 0 2px; color:#fff; font-size:12px}
.logined_r a{display:block; width:90px; height:26px; background:#d83141; border-radius:5px; font-size:16px; font-weight:bold; line-height:26px; text-align:center; color:#fff; box-shadow:0 3px 0 0 #4a2003}
.login .logined_r a{background:#2c58fe; box-shadow:0 3px 0 0 #001a7b}

.lottery_info{background:rgba(13,25,48,.6); padding:15px 0; color:#fff;}
.lottery_info p{float:left; padding:2px 0 0 12px; font-size:15px}
.lottery_info p span{padding:0 2px; color:#ff0000; font-size:18px}
.lottery_info a{width:80px; height:28px; margin-right:8px; display:inline; line-height:28px;}
/*老虎机抽奖*/
.lottery{width:100%; margin:0 auto; min-width:220px; padding-bottom:1px; background:url(../images/lottery_bg01.png) no-repeat; background-size:100% 100%; position:relative}
.lottery_inner {width:220px; margin:0 auto; padding:50px 0 90px 0;}
.slotMachine{width:66px; height: 136px; overflow: hidden; display: inline-block;}
.noBorder{border:none !important; background: transparent !important;}
.slot{width:66px; height:136px; background-repeat:no-repeat;}
.slot1{background-image: url("../images/lottery_01.png"); background-size:100% 100%}
.slot2{background-image: url("../images/lottery_02.png"); background-size:100% 100%}
.slot3{background-image: url("../images/lottery_03.png"); background-size:100% 100%}
#slotMachineButton1{position:absolute; left:50%; bottom:26px; margin-left:-47px; width:104px;height: 30px; line-height:32px}
.lottery .disabled{ background:#848484; border-radius:5px; box-shadow:0 3px 0 0 #262626}
.information_l{float:left; margin:20px 140px 25px 15px; font-size:14px}
.titles{padding:0 0 10px 0; margin-bottom:15px; border-bottom:1px solid #ffffff; font-size:16px; color:#ffb60e; font-weight:bold}
.information_l p {line-height:22px}
.information_l p span{display:block; padding-bottom:2px; color:#ffb60e; font-size:15px}
.information_r{width:125x; height:176px; position:absolute; top:20px; right:15px}
.information_r img{display:block; width:125x; height:176px;}
.wrap4 .titles{margin:0 15px 15px}
.focus ul{width:96%; padding:0 0 10px; margin:0 auto}
.focus ul li{float:left; width:33.3%;}
.focus li img{width:90%; margin:0 auto}
.share_btn{display:block; width:144px; height:44px; margin:20px auto 30px; background:url(../images/share_btn.png) no-repeat; background-size:100% 100%; text-indent:-9999px}

/*我的奖品*/
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#ffd274}
.my_prize h5{padding:30px 0 0; text-align:center; color:#fff; font-weight:bold; font-size:16px}
.my_prize_list{padding:15px 20px; color:#fff;}
.my_prize_list li{line-height:25px; font-size:15px; position:relative;}
.my_prize_list li a {display:block; width: 93px; height: 38px; margin:8px auto 0; background:#d63445; border-radius:5px; line-height:38px; text-align:center; font-size:16px; font-weight:bold; color:#fff}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:15px}
.my_prize_list2 p{ padding:6px 0;}
.form-items{width:90%; padding:0 6% 30px; margin-top:20px;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left; width:90px; padding-top: 8px; color:#ffae00;}
.form-items li span{display:block; margin-left: 90px;}
.form-items li input{ width:90%; padding:8px 6px; background:#fff; border:none; color: #000; font-family: Microsoft Yahei,"微软雅黑"; color:#1a5099}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:1px; background:#ffffff;  margin: 15px 20px 20px; overflow:hidden;}
.my_prize .btns,.rule_more .btns{margin:20px auto 0;}
.btns2{width:242px; margin:0 auto}
.btns2 a.btns{float:left; width:97px; height:30px; margin-left:10px; margin-right:10px; line-height:30px}

.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{padding-left:20px; padding-top:10px; color:#ffae00}
.prompt_02{padding:7px 0 0 90px; color:#de0a17}
.prompt_03{color:#001e33}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%; left:50%;top:50%; background:#1663ff; border-radius:15px; margin-left:-45%; z-index: 99999; font-size:15px; color:#fff}
.tip-con{ margin: 15px;padding: 15px 5% 75px;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
.tip-con p{ line-height: 22px;word-wrap:break-word;word-break:break-all;}
.tip-con-inner{padding:20px; background:#acdbff; border-radius:15px}
.tip-con-inner a{margin-top:20px;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}

.tip-box .btns_false{ position:absolute; left:50%; bottom:35px; margin-left:-64px;}
.yellow{color:#ffd500;}
.prompt_05{padding-top:10px; color:#4c0000}
.prompt_03{padding:5px 0;}
