/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:"微软雅黑",Arial,sans-serif;}
body{background:#f8f8f8; font-size:14px; color:#202020;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#202020;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
ul,li{list-style:none;}

.margin_top{margin-top:20px;}
.page_nav{width:99%; height:35px; margin:15px auto 0; line-height:35px; font-size:16px;}
.search_box{width:99%; padding:6px 0; margin-right:auto; margin-left:auto; background:#fff; border:1px solid #dcdcdc;}
.search_table{ width:99%; margin-left:20px; font-size:12px;}
.search_table td{padding:6px 0;}
.search_table td .blue{ color:#0078ff;}
.search_item_text,.search_table select{width:90px; height:28px; padding:0 4px; background:#fff; border:1px solid #dcdcdc;}
.search_table select{width:90px; height:28px; padding:0; border:1px solid #dcdcdc;}
.search_btn{display:block; width:98px; height:28px; background:url(../images/repeat_bg_01.png) repeat-x; border:1px solid #bdbdbd; text-align:center; line-height:28px; cursor:pointer; font-size:14px; font-family:微软雅黑; text-decoration:none; color:#444444;}
.search_btn:hover{border:1px solid #bdbdbd;}

.table_list{width:99%; margin:10px auto; font-size:12px; line-height:20px; border-collapse:collapse; color:#252525;}
.table_list thead th{height:38px; background:url(../images/thead_bg.png) repeat; border:1px solid #dcdcdc; font-size:14px; color:#252525;}
.table_list tbody td{min-height:28px; padding:5px 10px; border:1px solid #dcdcdc; text-align:center; word-break:break-all; word-wrap:break-word;}
.table_list tbody .blue{ color:#0078ff;}
.table_list tbody tr.selected td{ background:#e6e6e6;}
.right{text-align:right;}
.table_list tbody td.left{text-align:left;}
.table_list tbody td.iconimg img{width:48px; height:48px;}
.table_btna a{ display:inline-block; width:46px; height:22px; margin:5px 2%; _margin:5px 2px; background:url(../images/btn_01.png) no-repeat; text-align:center; line-height:22px; color:#2d90ff;}
.table_btna a:hover{text-decoration:none; background:url(../images/btn_01h.png) no-repeat;}
.table_btna a.table_btna2{width:71px; background:url(../images/btn_02.png) no-repeat;}
.table_btna a.table_btna2:hover{background:url(../images/btn_02h.png) no-repeat;}
.table_btna a.table_btna3{width:94px; background:url(../images/btn_03.png) no-repeat;}
.table_btna a.table_btna3:hover{background:url(../images/btn_03h.png) no-repeat;}


.tab_title{width:100%; height:25px; margin-bottom:5px;}
.tab_title li{float:left; width:122px; height:25px;  margin-left:10px; display:inline; text-align:center; line-height:23px;}
.tab_title li a{display:block; width:120px; height:23px; border:1px solid #dcdcdc; background:#f0f0f0; color:#3d3d3d; text-decoration:none}
.tab_title li.current a{background:#F7F0EC; border: 1px solid #F0CAB0;}

.nav_btns{padding:10px 0 0;}
.nav_btns .search_btn{float:left; margin-left:6px; display:inline;}

/*form*/
.form_list{float:left; width:49%; min-height:31px; _height:31px; margin:10px 0 5px; line-height:26px; font-size:14px;}
.form_list label{float:left; width:140px; padding-right:15px; text-align:right;}
.input_text{float:left; width:200px; height:26px; padding:0 5px; background:#fff; border:1px solid #dcdcdc; line-height:26px;}
.form_list select{float:left; width:210px; height:26px; border:1px solid #dcdcdc;}
.form_list textarea{float:left; width:360px; height:100px; padding:5px; border:1px solid #dcdcdc;}
.prompt_infor{float:left; padding-left:5px; font-size:12px; color:#959595;}
.prompt_infor em{padding:0 8px 0 0; color:#CE0421;}
.form_btns_box{padding:20px 0 0 155px;}
.form_btns_box a{float:left; width:120px; height:28px; background:url(../images/repeat_bg_01.png); border:1px solid #bdbdbd; margin-right:40px; line-height:28px; text-align:center; display:inline;}
.form_btns_box a:hover{text-decoration:none;}

/*浮动层*/
.position_box{position:relative; width:100%}
.position_newbox{position:absolute; left:-215px; top:0; width:200px; min-height:60px; _height:60px; padding:5px; border:1px solid #dcdcdc; background:#ffffff; z-index:10000; text-align:left; display:none; font-size:12px;}
.position_newbox h6{font-size:14px; font-weight:bold}

。


