/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{background:#fff; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#808080}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#808080}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
#az_logowrap{height:45px; padding:8px 8px 4px; position:relative; background:#f6f6f6;}
#az_logo{position:absolute; left:10px; top:18px; width:70px; height:21px; background:url(../images645/az_logo1.png) no-repeat; background-size:100% 100%; display:block; text-indent:-9999px}
#az_search{height:38px; margin:2px 0 0 38%; border:1px solid #EFEFEF; background:#fff; position:relative;}
#az_search .az_search_txt{margin-right:38px; padding:10px 0 10px 10px; width:80%; border:none; background:none; text-indent:0.5em;  font-size:16px; }
.az_search_btn{position:absolute; right:12px; top:8px; width:21px; height: 21px; background:url(../images645/search_bg.png) no-repeat; background-size:100% 100%; border:none; cursor: pointer}
.app{padding:1rem 0.75rem 0.75rem}
.app_logo{width:4.65rem; margin: 0 auto; position: relative;}
.app_logo img{display: block; width:4.675rem; margin-bottom:0.5rem}
.app_logo span{display: block; position: absolute; right:0.2rem; top:-0.6rem; width:1.1rem; height:0.75rem; background:url(../images645/icon_01.png) no-repeat; background-size:cover; color:#fff; text-align: center; line-height: 0.8rem; font-size: 0.4rem;}
.app p{ font-size: 0.4rem; line-height: 0.6rem; text-align: center;}
.app_down{display:block; width:5.25rem; height:1.25rem; margin:0.75rem auto 0.5rem; background:#43ac39; border-radius:8px; text-align: center; line-height: 1.3rem; color:#fff; font-size: 0.7rem;}
.app_history{display:block; text-align:center; font-size: 0.4rem;}
.bggray{background:#f6f6f6}
.app_detail{padding:0.65rem 0; text-align: center;}
.app_detail_icon{width:1.9rem; height:1.9rem; margin: 0 auto 0.5rem;}
.app_detail_icon img{display: block; width:1.9rem; height:1.9rem}
.app_detail h3{color:#424242; font-size:0.525rem; line-height:0.6rem}
.app_detail h6{margin-top:0.2rem; font-size: 0.45rem; line-height: 0.5rem;}
.app_detail_img img{display: block; width:60%; margin: 0.6rem auto; border:1px solid #eaeaea}
.appdetail_more_wrap{padding:25px 0;}
.appdetail_more{width:80%; margin:0 auto;}
.appdetail_more p{ font-size:0.5rem; color:#999999; text-align:center}
.appdetail_more ul li{float:left; width:50%; margin-top:0.75rem}
.appdetail_more ul li img{display: block; width:2.25rem; height:2.25rem; margin: 0 auto;}
.appdetail_more ul li span{display: block; margin-top:0.5rem; height:0.4rem; font-size: 0.4rem; line-height: 0.4rem; text-align: center;}
.update_info{width: 338px; margin: 0 auto 2.52rem; padding: 13px 0 8px; overflow: hidden;}
.update_info h3{margin:5px 0 10px 5px; padding-left: 10px; background:url("../images645/border_bg.png") no-repeat left center; background-size: 4px 15px;
 color: #999999; font-size:16px; line-height: 28px;}
.update_info p{color:#c2c2c2; font-size:14px; line-height: 22px;}
.footer{position: fixed; width:100%; height:2.52rem; background:rgba(0,0,0,.4); left:0; bottom:0}
.footer img{display: block; position: absolute; left:0.36rem; top:0.36rem; width:1.8rem; height:1.8rem}
.footer p{margin: 0.5rem 3.2rem 0 2.4rem; color:#fff; font-size: 0.6rem; line-height: 0.7rem;}
.footer p span{display:block; padding-top:0.2rem; font-size: 0.42rem; line-height: 0.5rem;}
.footer i{display: block; width:3.2rem; height:1.1rem; background:#43ac39; line-height: 1.1rem; border-radius:8px; color:#ffffff; position: absolute; right:0.3rem; top:0.72rem; font-style: normal; text-align: center; font-size: 0.5rem;}
.footer a.clickarea{position: absolute; left:0; top:0; bottom:0;right:0; z-index: 99999;}