@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,img,span{margin:0;padding:0;}
body,button,input,select,textarea{font:14px/21px Microsoft YaHei,tahoma,arial,\5b8b\4f53;}
ol,ul{list-style:none}
img{border:0;}
a{ color: #3e3e3e;text-decoration: none;}
a:hover{}
.clear{ clear: both; overflow: hidden;}

.az_search_btn,.adrift_close a,.own_star span,.official_icon span,.safe_icon span,.ad_icon span,.introduction_btn span,.intro_btn span{background: url("../images/business.png") no-repeat;}

/*头部*/
#az_logowrap{height:45px; padding:8px 8px 4px; position:relative; background:#f6f6f6;}
#az_logo{position:absolute; left:9px; top:7px; width:100px; height:43px; background:url(../images/az_logo1.png) no-repeat; background-size:94px 42px; -webkit-background-size:94px 42px; display:block; text-indent:-9999px}
#az_search{height:38px; margin:2px 0 0 38%; border:1px solid #EFEFEF; background:#fff; position:relative;}
#az_search .az_search_txt{margin-right:38px; padding:10px 0 10px 10px; width:80%; border:none; background:none; text-indent:0.5em;  font-size:16px; }
.az_search_btn{position:absolute; right:12px; top:8px; width:21px; height: 21px; background-position:0 -117px; border:none; cursor: pointer}

/*自由详情页*/
#az-main-free{ margin:0 auto 60px auto; width:100%;}
.az-zyxq-bg{background-color:#fff;padding:20px 0px;}
.az-zyxq-module{/* min-width:280px; max-width:380px;*/ width:100%; margin:0 auto;}
.az-zyxq-toplogo{text-align:center; margin-top:20px;}
.az-zyxq-bykh{ font-size:22px; color:#393939;text-align:center; margin-top:14px;}
.az-sofeweave-xz{margin:0 auto; margin-top:14px;width:124px;}
.az-sofeweave-xz li{font-size:14px; font-family:Microsoft YaHei,tahoma,arial; color:#aaaaaa;}
.az-down-bt{margin-top:30px; text-align:center;}
.az-down-bt .submit{width:200px; background-color:#7fc31e; border:none; line-height:42px;cursor:pointer; font-size:22px;font-family:Microsoft YaHei,tahoma,arial; font-weight:normal;letter-spacing:0.075em;color:#fff;}
.az-down-sm{padding:14px 0px 0px;;font-size:14px; font-family:Microsoft YaHei,tahoma,arial; color:#aaaaaa; text-align:center;width:180px;word-break : break-all;overflow:hidden; margin:0 auto;}
/*contant*/
.az_xqsm_contant{ margin:0 auto; background-color:#fff;/* min-width:280px; max-width:380px;*/ width:100%; }
.az_xqsm_contant p{text-align:center;/* display:flex;position:relative;margin-bottom:-7.6px;*/ overflow:hidden; margin:0px; padding:0px;zoom:1;*zoom:1}
.az_xqsm_contant p img{ /*float:left;*/ margin:0 auto;display:block;}
@media screen and (max-width:480px){
	.az_xqsm_contant{width:480;}
	.az_xqsm_contant p img{ width:380px;}}
@media screen and (max-width:380px){
	.az_xqsm_contant{width:380;}
	.az_xqsm_contant p img{ width:340px;}}
@media screen and (min-width:280px) and (max-width:380px){
	.az_xqsm_contant{width:320;}
	.az_xqsm_contant p img{ width:320px;}}


/**/
#hdsm_1 > img {margin-left:-22px;}
.business_cont_hd{margin: 10px;padding:10px; border: 1px solid #ececec}
.own_hd{ clear: both; overflow: hidden; border-bottom: 1px solid #ececec; padding-bottom: 10px;}
.own_icon{ float: left;}
.own_icon img{ width: 48px; height: 48px}
.own_info{ float:left;padding-left:10px;}
.own_info h3{ font-size: 16px; color: #3e3e3e;height: 28px; line-height: 28px;}
.own_info_d{ clear: both;overflow:hidden;margin-top: 5px;}
.own_star{ float: left;height:17px; line-height: 17px;}
.own_star span{ display: block; float: left; width: 12px; height: 12px; margin-right: 3px;}
.own_star span.star_o{background-position:0 -148px;}
.own_star span.star_og{background-position:-17px -148px;}
.own_star span.star_g{background-position:-33px -148px;}
.official_icon{ float: left;padding-left:10px;}
.official_icon span{ display: block;width:28px; height: 17px;background-position:0 0;}
.safe_icon{ float: left;padding-left: 10px;}
.safe_icon span{display: block;padding-left:20px; height: 17px;line-height:17px;background-position:0 -25px; color: #69b124; font-size: 12px;}
.ad_icon{ float: left;padding-left: 10px;}
.ad_icon span{display: block;padding-left:30px;height: 17px;line-height:17px;background-position:0 -51px;color: #69b124;font-size: 12px;}
.own_info_02{}
.own_info_02 span{ padding-right: 10px;}
.own_des_01{ float: left;padding-right: 20px;}
.own_des_02{ float: left;}
.own_des_01 p,.own_des_02 p{line-height: 24px;}

.down_btn{}
.down_btn a{ display:block; width:65%; height:37px; line-height:37px; margin:20px auto 0; text-align:center; font-size:18px; color:#fff; background-color:#7fc31e;text-decoration: none; }
.introduction{ margin-top: 30px;}
.introduction h4{ padding-left:10px; margin-bottom:10px;height: 20px;line-height: 20px; font-weight:normal; font-size:16px; color:#666666; border-left:3px solid #7fc31e;}
.intro_con{ margin-left: 10px;line-height: 22px;overflow: hidden;}
.intro_btn{ clear: both; overflow: hidden; margin-top: 15px;}
.intro_btn span{ float: right; display: block; width:23px; height: 13px; cursor: pointer; }

.business_mod{margin:10px;}
.business_mod h4{padding-left:10px; margin-bottom:10px;height: 20px;line-height: 20px; font-weight:normal; font-size:16px; color:#666666; border-left:3px solid #7fc31e;}
.business_mod h4 span{ float: left;}
.business_mod h4 a{ float: right; color: #666666}
.business_list{border:1px solid #efefef; padding:10px 10px 6px 10px; position: relative; margin-bottom: 10px;}
.click_area{ position: absolute;top:0px;left: 0px; display:block;width: 100%; height:70px; z-index: 9; }
.soft_icon{ float: left;}
.soft_icon img{ width: 48px; height: 48px;}
.soft_info{ float: left;padding-left:10px;}
.soft_info h5{ font-size: 16px; font-weight: normal; margin-bottom: 10px;}
.soft_btn{ position:absolute;right:10px;top:19px;z-index: 10;}
.soft_btn a{display:block; width:68px; height:32px; background:#7fc31e;color:#ffffff; text-align:center; line-height:32px;}
.soft_size{ float: left; color: #69B124; height: 17px; line-height: 17px; padding-left: 15px;}