/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#434343;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; color:#434343; font-size:14px; line-height:20px;}

#header{ height:140px; background:#70a70a; border-bottom:4px solid #588909;}
#header_top{height:84px; padding-top:9px;}
#logo{position:absolute; width:94px; height:71px; left:12px; top:12px;}
#logo h1{width:94px; height:71px; background:url(../wapanzhi_images/logo.png) no-repeat; text-indent:-99999px;}
#header_top_right{float:right;}
#header_top_right img{display:block; margin:0 auto;}
.down_btn_az{padding-top:15px;}
.down_btn_az a{float:left; width:90px; height:34px; border-radius:5px; background:url(../wapanzhi_images/btn_bg.png) repeat-x; -webkit-box-shadow:0 3px 1px #4f7707; box-shadow:0 3px 1px #4f7707; margin:0 10px 0 5px; display:inline; text-align:center; line-height:34px; color:#316500; font-size:16px;}
.down_btn_az a:hover{text-decoration:none;}
#header h3{padding-top:16px; font-size:16px; color:#fff; text-align:center; font-weight:normal;}

#main{width:96%; margin:0 auto;}
.infor_txt{padding-bottom:70px; background:url(../wapanzhi_images/infor_bg.png) no-repeat center bottom;}
.market_infor h4{ height:32px; padding-left:50px; margin:18px 0 8px; background:url(../wapanzhi_images/infor_list_01.png) no-repeat; font-size:20px; color:#ffb21d; line-height:30px; font-weight:normal;}
.market_infor p{font-size:16px; line-height:22px;}
#market_infor2 h4{background:url(../wapanzhi_images/infor_list_02.png) no-repeat; color:#8bd049;}
#market_infor3 h4{background:url(../wapanzhi_images/infor_list_03.png) no-repeat; color:#45ad76;}
#market_infor4 h4{background:url(../wapanzhi_images/infor_list_04.png) no-repeat; color:#538ab5;}
#market_infor5 h4{background:url(../wapanzhi_images/infor_list_05.png) no-repeat; color:#f34320;}
#market_infor6 h4{background:url(../wapanzhi_images/infor_list_06.png) no-repeat; color:#ff7e30;}
#market_infor7 h4{background:url(../wapanzhi_images/infor_list_07.png) no-repeat; color:#3f91cb;}
.infor_img{height:240px; margin-top:30px; background:url(../wapanzhi_images/infor_img.jpg) no-repeat center top;}

#footer{background:#70a70a; padding:15px 0; margin-top:10px; border-top:4px solid #588909; text-align:center; color:#fff; font-size:13px}
#footer a{display:inline-block; margin:0 8px; color:#fff; font-size:15px;}
#footer p{line-height:22px;}