/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #2b2b2b; color: #d2d2d2;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em,i{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#d2d2d2; font-size: 14px;}
a,div,input{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.cl{ clear: right;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right;}
.mt{margin-top: 5px;}

.c_t_l,.c_t_r,.c_b_l,.c_b_r,.slideBox .prev,.slideBox .next,.mod dt{ background: url("../images/common_icon.png") 0 0 no-repeat; background-size:130px 65px; }

.banner,.banner img{width: 100%;}
.wrap{width: 100%;margin: 0 auto;}
.wrap1{padding:0 0 15px 0; background:url("../images/bg_02.jpg") no-repeat; background-size:100% 100%;}
/*预约*/
.info{width: 84%; margin: -35px auto 0;padding: 0px 6% 5px 5%;}
.info p.mt0{font-size: 16px;color: #ffffff; text-shadow: 1px 1px 1px #000;-webkit-text-shadow: 1px 1px 1px #000;font-weight: bold;margin: 5px 0px; text-align:center}
.input_box{width: 100%;margin: 0 auto;background:url("../images/info_bg.png") no-repeat; background-size:100% atuo;}
.info  p.mt0 em{color: #ae1d23; font-size: 18px;}
.input_box{position:relative;}
.input_box p input{width:60%; height:34px; margin:12px 96px 10px 40px; background:#f7f7f7; border:none; line-height:36px; font-family:微软雅黑; font-size:16px}
.input_box a{display:block; position:absolute; right:8px; top:12px; width:86px; height:34px; background:url("../images/btn.png") no-repeat; background-size:86px 34px; text-align:center; line-height:34px;}

.rule{width: 90%; margin:0px auto 20px; padding-top:10px;}
.rule p{line-height: 25px;}
.rule p b{float: left;width:70px; color:#ee4604; font-weight:bold; font-size:14px }
.rule p span{display: block;width: auto;margin-left: 70px;}

.prize img{width: 100%;}
.rule2{background:url("../images/rule2.jpg") no-repeat; background-size:100% 100%; height:140px; position:relative;}
.rule2 p{ padding:45px 10px 20px 30px;  background:url("../images/bg_03.png") no-repeat; background-size:100% 100%; color:#000;  line-height:20px; position:absolute; left:50%; top:50%; margin-left:-154px; margin-top:-52px;font-size:12px}
.rule2 span{position:absolute; left:50%; top:50%; display:block; width:96px; height:43px; margin-left:60px; margin-top:2px; background:url("../images/logo.png") no-repeat; background-size:96px 43px;}
.time{background:url("../images/time.jpg") no-repeat; background-size:100% 100%; height:130px; position:relative;}
.time p{ padding:45px 20px 20px 20px;  background:url("../images/bg_04.png") no-repeat; background-size:100% 100%; line-height:20px; position:absolute; left:50%; top:50%; margin-left:-104px; margin-top:-48px; color:#ff4901; font-weight:bold;font-size:12px}
.prize2{background:url("../images/prize2.jpg") no-repeat; background-size:100% 100%; height:240px; position:relative;}
.prize2 p{ padding:45px 20px 30px 30px;  background:url("../images/bg_05.png") no-repeat; background-size:100% 100%; line-height:20px; position:absolute; left:50%; top:50%; margin-left:-154px; margin-top:-90px; color:#000;font-size:12px}
.rule3{background:url("../images/rule3.jpg") no-repeat; background-size:100% 100%; min-height:235px; position:relative;}
.rule3 p{ padding:50px 20px 20px 40px;  background:url("../images/bg_06.png") no-repeat; background-size:100% 100%; line-height:20px; position:absolute; left:50%; top:50%; margin-left:-154px; margin-top:-90px; color:#000; font-size:12px}
.bbs{background:url("../images/bbs.jpg") no-repeat;}
.prize2 span,.rule3 span{color:#ff4901}


/*轮播图*/
.focus {margin:12px 15px 0;  position:relative; z-index:2}
#focus_slide{min-height:140px; margin:20px 10px; overflow:hidden;}
#focus_slide ul{width:100%;}
#focus_slide ul li{width:100%; position:relative;float:left; -webkit-tap-highlight-color:rgba(255,0,0,0);}
#focus_slide ul li img{width:90%; margin:20px auto; box-shadow:  -8px 5px 16px rgba(7,0,2,0.65);}
.prev,.next{ -webkit-tap-highlight-color:rgba(255,0,0,0); cursor:pointer}
.prev{ display:block; width:40px; height:40px; background:url(../images/arrow_left.png) no-repeat; background-size:40px 40px; overflow:hidden; position:absolute; left:-15px; bottom:35%; z-index:9999 }
.next{ display:block; width:40px; height:40px; background:url(../images/arrow_right.png) no-repeat; background-size:40px 40px; right:-15px; bottom:35%; position:absolute; z-index:9999; overflow:hidden;}
.prevStop{ background:url(../images/arrow_no.png) no-repeat;}
.nextStop{background:url(../images/arrow_no.png) no-repeat;}

.btn{padding:15px 0 20px;}
.btn a{ display: block;width: 200px; height: 48px; margin:0 auto;line-height: 48px; background: url("../images/btn_down.png") 0 0 no-repeat; background-size:200px 48px; text-align: center; color: #fff;text-shadow: 1px 1px 1px #4f3205;-webkit-text-shadow: 1px 1px 1px #4f3205;font-size: 16px; }
.btn a.bbs_a{background: url("../images/btn_bbs.png") 0 0 no-repeat; background-size:200px 48px;}
.btn a.download{margin-top:-20px}


.copyright{padding:10px 0px 15px;background-color: #000000;color: #ff4901; text-align: center;}