/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; color:#252525; font-size:14px; line-height:20px;}
#header{ height:38px; padding-top: 2px; background: url(../images/nav_bg.png) repeat-x; border-radius: 5px 5px 0 0;}
#logo h1{ width:150px; margin:0 auto; padding-left:15px; background:url(../images/logo2.png) no-repeat; font-size:24px; text-align:center; font-weight:normal; text-shadow:0 2px 0 #7fbf1c; line-height:38px;}

.app_header{padding:10px 10px; color:#555555; background:#e4e4e4;}
.app_info{width:100%; position:relative;}
.app_info .app_img{float:left; width:57px; height:57px; margin-right:10px; display:inline;}
.app_btn{display:block; width:75px; height:26px; background:#71b32b; border-radius:3px; color:#ffffff; text-align:center; line-height:26px; position:absolute; right:8px; top:5px; }
.app_txt h3{padding-top:5px; font-size:22px; font-weight:normal;}
.app_txt ul{margin-top:10px; margin-left:67px;}
.app_txt ul li{float:left; width:50%; margin-bottom:4px; line-height:22px; overflow:hidden}
.app_txt ul li img{float:left; width:17px; height:18px; padding:0 1px;}

.app_cnt{border-top:3px solid #8cb340; color:#555555}
.appcnt_bg{height:30px; background:#f4f7f6; color:#669900; line-height:30px; padding:0 10px;}
.appcntlist{ padding:8px 10px; font-size:16px;}

.down_btn a{ display:block; width:194px; height:45px; margin:15px auto; background:#71b32b; font-size:24px; border-radius:3px; color:#ffffff; text-align:center; line-height:45px; text-shadow:0 1px 0 rgba(0, 0, 0,0.4)}

.search_form{padding:20px 0; background:#e4e4e4; text-align:center}
.inputtext{padding: 6px; background:#FFFFFF; border: 1px solid #000000; font-size: 16px; vertical-align: middle;}
.submit{padding: 6px 20px; background:#71b32b; border:none; border-radius:3px; text-align:center; color:#ffffff; font-size:16px; vertical-align:middle; font-weight:bold; cursor:pointer;}

.modules{border-bottom:3px solid #8cb340; font-size:18px;}
.module{float:left; width:50%; background:#f3f3f3; border-top:3px solid #8cb340; border-right:3px solid #8cb340; display:inline-block;}
.modules .module.marginleft{margin-left: -3px;}
.modules .module.border_none{border-right:none;}
.module span{display:block; padding:15px 20px; margin-right:10px; background:url(../images/icon_02.png) no-repeat right center;}

.app-items-list li{width:100%; border-bottom:1px solid #c2ccd0; position:relative;}
.itmes-icon{position:absolute; width:48px; height:48px; border-radius:5px; left:8px; top:9px;}
.itmes-icon img{width:48px; height:48px;}
.items-info{position:relative; min-height:58px; margin-right:5px; padding:6px 65px 0 65px;}
.items-info h2{height:28px;  margin-bottom:2px; line-height:28px;  font-size:16px; font-weight:normal; overflow:hidden;}
.items-score{float:left;}
.items_size{float:right; color:#898989;}
.items_size span{ padding-right:3px;}
.down-btn{display:block; width:47px; height:26px; background:#71b32b; /*box-shadow:0 1px 0 #4A6940; -webkit-box-shadow:0 1px 0 #4A6940;*/ border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color:#ffffff; text-align:center; line-height:26px; position:absolute; right:3px; top:16px; z-index:99999;}
.clickarea{position:absolute; left:0; top:0px; bottom:0px; right:0px; display:block;}

.an_mark{height:100px; background:#6fd800 url(../images/icon_01.png) repeat; position:relative}
.an_mark h2{padding:25px 25px 15px 0; text-align:right; color:#fff; font-size:30px; font-weight:normal; text-shadow:0 4px 1px rgba(0, 0, 0,0.4)}
.an_mark h3{font-size:18px; text-align:right; padding-right:5px; color:#fff; font-weight:normal; text-shadow:0 1px 1px rgba(0, 0, 0,0.4)}
.an_mark span{display:block; width:55px; height:55px; background:url(../images/logo.png) no-repeat; position:absolute; left:5px; top:15px;}

#footer{background:#e0ebcc; padding:8px 0px; border-top:1px slild #c4df9b; text-align:center; color:#336600; line-height:23px;}
#footer p a,.topbtn{padding:0 9px;}
.topbtn{cursor:pointer;}
#footer a{color:#336600}
