/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:6.4rem;min-width:3.2rem; margin:0 auto;font-size:0.14rem; font-family:Microsoft Yahei,"微软雅黑"; background: #ebece7; color: #090909;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#414141; font-size: .14rem;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.but{width:1.27rem; height:0.76rem;}
.but_down{background:url(../images/but_down.png) no-repeat; background-size:100% 100%}
.but_down1{background:url(../images/but_down1.png) no-repeat; background-size:100% 100%}
.but_install{background:url(../images/but_install.png) no-repeat; background-size:100% 100%}
.but_open{background:url(../images/but_open.png) no-repeat; background-size:100% 100%}

.banner{width:100%;}
.banner img{ width: 100%; display:block;}
.main{ position:relative}
.infor_wrap{margin-top:-0.8rem; padding:1.7rem 1.1rem 0 0.5rem; height:3.62rem;background:url(../images/infor_wrap.png) no-repeat; background-size:100% 100%}
.infor{display:block; width:4.7rem; height:2.7rem; background:url(../images/action_bg.png) no-repeat; background-size:100% 100%; border:0.05rem solid #090909; position: relative; overflow: hidden;}
.person_01{width:5.73rem; height:5.6rem; position: absolute; right:-3rem; top:-5rem;}
.person_01 img{display: block; width:5.73rem; height:5.6rem;}
.person_01_act{animation: person_01 1s ease forwards; -webkit-animation: person_01 1s ease forwards;}
.person_02{width:4.13rem; height:3.46rem; position: absolute; left:0; top:-3.46rem;}
.person_02 img{display: block; width:4.13rem; height:3.46rem;}
.person_02_act{animation: person_02 1s ease forwards; -webkit-animation: person_02 1s ease forwards;}
.person_03{width:4.78rem; height:4.48rem; position: absolute; right:-1.3rem; top:-0.1rem; display: none; z-index: 2;}
.person_03 img{display: block; width:4.78rem; height:4.48rem;}
.light_01{width:4.57rem; height:3.46rem; position: absolute; left:0; top:0; display: none; z-index: 1;}
.light_01_act{animation:light_01 1s ease forwards; -webkit-animation: light_01 1s ease forwards;}
.light_01 img{display: block; width:4.57rem; height:3.46rem;}
.txt_01{width:2.84rem; height:1.11rem; position: absolute; left:0; top:-1.11rem;}
.txt_01 img{display: block; width:2.84rem; height:1.11rem;}
.txt_01_act{animation:txt_01 1s ease forwards; -webkit-animation: txt_01 1s ease forwards;}
.app,.app3{margin:auto 0.3rem;}
.app{margin-top:-0.25rem}
.app3{margin-top:-0.2rem}
.app-list{margin-top:0.25rem; width:6rem; height:4.8rem;  }
.soft-list li{margin:0.3rem auto;}
.soft-list li img{float: left; width:1.22rem; height:1.22rem; border:3px solid #000; border-radius: 19px;}
.soft-list li h3{float: left; width:3rem; margin:0.01rem 0 0 0.15rem; font-size:0.34rem;}
.soft-list li p{float: left; width:3rem; margin:0.1rem 0 0 0.15rem; font-size:0.24rem;}
.soft-list li a{ float: right;margin:-0.3rem 0 0 0;}
.infor_wrap2{ padding:2.84rem 1.1rem 0 0.5rem;min-height:9.3rem; background:url(../images/infor_wrap_02.png) no-repeat; background-size:100% 100%}
.infor_wrap2_img img,.infor_wrap3_img img,.infor_wrap4_img img{display:block; width:4.7rem; height:2.7rem; border:0.05rem solid #090909;}
.app2{margin:-5.9rem 0.3rem 0 0.3rem;}
.infor_wrap3{margin-top:0.2rem;  padding:2.5rem 1.1rem 0 0.5rem; height:3.66rem; background:url(../images/infor_wrap_03.png) no-repeat; background-size:100% 100%}
.infor_wrap4{padding:2.6rem 1.1rem 0 0.5rem; height:11.51rem; background:url(../images/infor_wrap_04.png) no-repeat; background-size:100% 100%}
.app4{margin:-8.15rem 0.3rem 0 0.3rem;}
@keyframes person_01{
	0%{right:-3rem; top:-5rem}
	100%{right:0rem; top:-0.05rem;}
}
@-webkit-keyframes person_01{
	0%{right:-3rem; top:-5rem}
	100%{right:0rem; top:-0.05rem;}
}
@keyframes person_02{
	0%{ top:-3.46rem;}
	100%{top:-0.4rem;}
}
@-webkit-keyframes person_02{
	0%{ top:-3.46rem}
	100%{top:-0.4rem;}
}
@keyframes light_01{
	0%{left:0; top:0}
	100%{left:2.2rem; top:1.75rem}
}
@-webkit-keyframes light_01{
	0%{left:0; top:0}
	100%{left:2.2rem; top:1.75rem}
}
@keyframes txt_01{
	0%{top:-1.11rem}
	100%{top:0.75rem}
}
@-webkit-keyframes txt_01{
	0%{top:-1.11rem}
	100%{top:0.75rem}
}