/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:"微软雅黑",Arial,sans-serif;}
body{background:#fff; font-size:16px; color:#595959; line-height:30px}
fieldset,img {border: 0;}
a{text-decoration:none; color:#595959;}
a:hover{text-decoration:underline;}
.fl{float:left}
.clear{clear:both;overflow:hidden;}
ul,li{list-style:none;}
.margin_right{margin-right:4%}

.banner img{display:block; width:1023px; height:296px; margin:0 auto}
.main{width:1023px; margin:0 auto; padding-top:22px}
.part{margin-bottom:8px; padding-bottom:8px; border-bottom:1px dashed #e6e6e6}
.titles{font-size:20px; color:#f08e01}
.title_sub{ font-size:18px}
.process{padding:20px 0 30px}
.form_item{float:left; width:48%; margin-bottom:20px;}
.form_item label{display:block}
.form_item .input_text{width:478px; height:38px; padding:0 7px; border:1px solid #68be3d; border-radius:5px;}
.submit_btn{display:block; width:345px; height:41px; margin:20px auto 30px; background:#68be3d; border-radius:5px; border:none; color:#fff; font-size:16px}
.table1{width:100%; margin:8px 0; border-collapse:collapse}
.table1 th{background:#68be3d; color:#fff}
.table1 th,.table1 td{padding:12px 0; border:1px solid #68be3d; text-align:center}
.table2{width:100%; margin-top:10px; border-collapse:collapse}

.table2 th,.table2 td{padding:8px 0; border:1px solid #68be3d; text-align:center}
.table2 th{padding:25px 0; background:#68be3d; color:#fff}
.submit_result{padding:120px 0; text-align:center;}
.submit_result p{padding-top:30px; font-size:36px; color:#f08e01; line-height:36px}
.submit_result p.end{color:#838383}
.footer{width:1023px; margin:0 auto; text-align:right; font-size:14px}