/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#e3dcbd; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 15px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; margin:-22% 5% 0; padding:0 12px 40px; background:#f9d23c;}
.main2{padding-bottom:170px; background:#f9d23c url(../images_new/bg1.jpg) no-repeat left bottom; background-size:100% auto; box-shadow:0 0 30px 10px rgba(0,0,0,.2)}
/*有通用的地方*/
.wrap{min-height:60px; margin-bottom:20px; position:relative}
.wrap_t img,.wrap_b img{width:100%;}
.wrap_m{padding-bottom:2px; background:url(../images_new/wrap_02.png) repeat-y; background-size:contain;}
.wrap_inner{margin:0 7%; background:url(../images_new/bg6.jpg) no-repeat; background-size:100% 100%; border-radius:5px; position:relative}
.wrap_icon1{position:absolute; left:0; top:10px; width:100%; height:180px; background:url(../images_new/wrap_04.png) no-repeat; background-size:contain; z-index:1}
.btns{display: block; width:87px;height: 26px; margin-left:auto; margin-right:auto; line-height: 26px; background:url(../images_new/btns_02.png) no-repeat; background-size:100%100%; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px;}
.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
/*index*/
/*活动规则*/
.rule{ padding:5% 0; color:#b14f00;}
.titles{width:88px; height:26px; background:url(../images_new/title_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.titles2{background:url(../images_new/title_02.png) no-repeat; background-size:100% 100%;}
.titles3{background:url(../images_new/title_03.png) no-repeat; background-size:100% 100%;}
.rule p{padding-left:15px; padding-top:3px; line-height: 24px;}
.rule a{float:right; margin:6px 0 0; padding:2px 8px; border:1px solid #651901; border-radius:15px; display:inline; color:#651901; text-align:center;}

.login_wrap{background:#fdb926; padding:2% 2% 1% 2%; color:#840003;}
.logined{padding:12px 10px; position:relative}
.logined_r{position:absolute; right:0; top:5px;}
.logined_r a{background:url(../images_new/btns_04.png) no-repeat; background-size:100% 100%}
.logined_l p{padding:3px 0 2px;}
.login{padding-top:5px; padding-bottom:20px}

.notice_wrap{background:#fdb926; margin:10px 0 0; padding:3px 10% 3px; border-radius:20px; color:#b64809;}
.notice_list{height:28px; line-height:28px;}

.lottery_wrap{min-height:180px; margin:10px 0 0; padding-bottom:10px; overflow:hidden}
.lottery_t{margin:6px 0; height:50px; background:url(../images_new/lottery_bg1.png) no-repeat; background-size:auto 100%; position:relative}
.lottery_t p{margin:0 10px 0 20%; line-height:28px; color:#c5470d}
.lottery_t a{display:block; width:97px; height:32px; background:url(../images_new/btns_03.png) no-repeat; background-size:100% 100%; position:absolute; right:0; top:21px; font-size:13px; text-indent:-9999px}
.egglist{width:90%; margin:20px auto 0;}
.egglist li{float:left; width:33.3%; position:relative; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.egg_num{display:block; width:22px; height:22px; margin:0 auto 20px; background:url(../images_new/num_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.egg_num2{background:url(../images_new/num_02.png) no-repeat; background-size:100% 100%;}
.egg_num3{background:url(../images_new/num_03.png) no-repeat; background-size:100% 100%;}
.egg img{width:80%; margin:0 auto; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.egg_btn{display:block; width:80px; height:26px; margin:10px auto 10px; background:#fdb926; line-height:27px; text-align:center; color:#b64809}

.lottery_b{margin:20px 3% 5px;}
.lottery_b p{float:left; color:#d40000; line-height:24px; font-weight:bold; font-size:16px}
.lottery_b a{float:right; width:116px; height:36px; margin-top:10px; background:url(../images_new/btns_06.png) no-repeat; background-size:100% 100%; color:#fff; line-height:32px; text-align:center; font-weight:bold}
.lottery_b a span{display:block; width:116px; height:36px; background:url(../images_new/btns_07.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.lottery_b a span.btnac{animation:stars_ac .6s infinite; -webkit-animation:stars_ac .6s infinite;}
.titles4{width:100%; height:36px; background-image: -webkit-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -moz-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -o-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); text-indent:0; text-align:center; line-height:36px; color:#ff0000; font-size:18px; font-weight:bold}
.ranking{width:100%;  background-image: -webkit-linear-gradient(top, rgba(253, 185, 38, 1) 0%, rgba(249, 210, 60, 1) 100%); background-image: -moz-linear-gradient(top, rgba(253, 185, 38, 1) 0%, rgba(249, 210, 60, 1) 100%); background-image: -o-linear-gradient(top, rgba(253, 185, 38, 1) 0%, rgba(249, 210, 60, 1) 100%); background-image: -linear-gradient(top, rgba(253, 185, 38, 1) 0%, rgba(249, 210, 60, 1) 100%); margin: 0 auto; padding:10px 0 0; color:#b64809}
.ranking td{height:44px;text-align: center;word-break: break-all}
.ranking .num{display: block;margin:0 auto;width: 38px;height: 41px;background: url("../images_new/common_icon.png") 5px 0 no-repeat; background-size:50px 250px;text-indent: -9999px;}
.ranking .first{ font-size: 16px; font-weight:bold}
.ranking .first .num{ background-position:center -43px; }
.ranking .second{font-size: 16px; font-weight:bold}
.ranking .second .num{background-position:center -94px;}
.ranking .third{font-size: 16px; font-weight:bold}
.ranking .third .num{background-position:center -147px;}

.btn_change{position:absolute; right:0; top:0; width:78px;height: 24px; border-radius:4px; line-height:24px; margin: 3px auto 10px auto; background-image: -webkit-linear-gradient(top, rgba(223, 52, 0, 1) 0%, rgba(130, 15, 0, 1) 100%); background-image: -moz-linear-gradient(top, rgba(223, 52, 0, 1) 0%, rgba(130, 15, 0, 1) 100%); background-image: -o-linear-gradient(top, rgba(223, 52, 0, 1) 0%, rgba(130, 15, 0, 1) 100%); background-image: -linear-gradient(top, rgba(223, 52, 0, 1) 0%, rgba(130, 15, 0, 1) 100%); text-align:center; color:#fff; font-weight:bold}
.soft_wrap{padding:15px; background-image: -webkit-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -moz-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -o-linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); background-image: -linear-gradient(top, rgba(253, 249, 177, 1) 0%, rgba(253, 225, 108, 1) 100%); margin-top:10px;  border-radius:10px;}
.soft_title{position:relative}
.soft_title h3{width:80px; height:26px; background:url(../images_new/title_05.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.soft-list{padding:5px 0 0; margin:10px 0 0;}
.soft-list li{ float: left; display: inline; width: 25%;margin:7px 0px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto; border-radius:8px}
.soft-list li .soft-name{margin-top: 10px;height: 20px; color:#b64809; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #b64809;}
.soft-list li a.downlode{ display: block; width:63px;height: 24px; line-height: 24px; margin: 13px auto 0 auto; background:url(../images_new/soft_btn.png) no-repeat; background-size:100% 100%; color: #fff;cursor: pointer; font-weight:bold}

.titles6{padding:10px 0 0 10px; color:#3a0173; font-size:16px; font-weight:bold}

/*我的奖品*/
.my_prize{padding:15px 0 8%; margin:0 2%; position:relative;  color:#651901}
.my_prize_inner{padding-top:60px}
.my_prize_inner h3{line-height:40px; position:relative}
.my_prize_inner h3 img{display:block; width:60%; margin:0 auto 20px}
.my_prize_inner h3 a{position:absolute; right:-5px; top:2px; width:100px; height:32px; border-radius:5px; background-image: -webkit-linear-gradient(top, rgba(255, 79, 141, 1) 0%, rgba(240, 0, 80, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 79, 141, 1) 0%, rgba(240, 0, 80, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 79, 141, 1) 0%, rgba(240, 0, 80, 1) 100%); background-image: -linear-gradient(top, rgba(255, 79, 141, 1) 0%, rgba(240, 0, 80, 1) 100%); text-align:center; line-height:32px; font-size:16px; font-weight:bold; color:#fff}
.my_prize_list li{line-height:25px; font-size:15px; position:relative;}
.my_prize_list li a {display:block; width: 116px; height: 36px; margin:8px auto 0; background: url(../images_new/btns_04.png) no-repeat; background-size:100% 100%; text-align:center; line-height:36px; color:#fff; font-size:16px; font-weight:bold}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:15px}
.my_prize_list2 p{ padding:6px 0;}
.form-items{width:90%; padding:0 4% 30px; margin-top:20px;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left; width:90px; padding-top: 8px; color:#651901;}
.form-items li span{display:block; margin-left: 90px;}
.form-items li input{ width:90%; padding:8px 6px; border:none; color: #000; font-family: Microsoft Yahei,"微软雅黑"; background:#fff;}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:18px; background:url(../images_new/line_bg.png) repeat-x; background-size:100% 100%;  margin: 35px 0px 15px; overflow:hidden;}
.my_prize .btns{width:124px; height:47px; margin:20px auto; background:url(../images_new/btns_02.png) no-repeat; background-size:100% 100%; line-height:47px;}
.my_prize .btns2{width:190px; margin:0 auto}
.my_prize .btns2 .btns{float:left; width:87px; height:26px; margin:0 4px; line-height:26px; display:inline-block}
.my_prize .btns2 .btns_sub{background:url(../images_new/btns_01.png) no-repeat; background-size:100% 100%}
.ranking2{width:100%; margin-top:20px; color:#b64809; font-weight:bold}
.ranking2 th{ text-align:left; color:#651901; font-size:16px}
.ranking2 th .btns{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%;}
.ranking2 .btns{width:96px; height:30px; margin:10px auto; background:url(../images_new/btns_01.png) no-repeat; background-size:100% 100%; line-height:30px}
.ranking2 .disabled{background:url(../images_new/btns_05.png) no-repeat; background-size:100% 100%;}
.rule_more{margin:6%; padding:5% 3% 6% 5%; background:#f9d23c; border-radius:5px; color:#b14f00; line-height:24px}
.rule_more h3{margin-bottom:8px; color:#651901; font-weight:bold; font-weight:bold;}
.rule_more span{float:left; width:16px; height:16px; margin:4px 5px 0 0; text-align:center; line-height:16px; color:#b14f00; display:inline}
/*结束页*/
.titles_end{padding:25px 0 0 14px; font-size:16px; font-weight:bold; color:#651901}
.lottery2_wrap{padding:14px;}
.lottery2_wrap a{display:inline-block; width: 116px;  height: 36px; background: url(../images/btns_01.png) no-repeat; background-size:100% 100%; text-align:center; line-height:36px; color:#fff; font-weight:bold; font-size:16px}
.lottery2_wrap a.l{float:left; background: url(../images/btns_02.png) no-repeat; background-size:100% 100%;}
.lottery2_wrap a.r{float:right}
.pages{ margin:20px auto;}
.pages li{display:inline-block; width:120px; height:38px; border:2px solid #651901; border-radius:25px; line-height:38px; text-align:center; }
.pages li a{color:#651901; font-size:24px}
.pages_r{float:right}

.footer{width:100%; height:50px; padding-top:40px; margin-top:-28px; background:url(../images_new/footer_bg.png) no-repeat 0 top; background-size:100% 100%; text-align:center; position:relative; color:#fff; line-height:50px; color:#b64809}
.footer2{ padding:0 0 20px; text-align:center; color:#b64809;}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#651901}
.prompt_02{padding:7px 0 0 90px; color:#ff0000}
.prompt_03{color:#001e33}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 10000;}
.tip-box{ position:absolute;width: 300px; height:309px; background:url(../images_new/tips_bg.png) no-repeat; background-size:100% 100%; left:50%;top:60%; margin-left:-150px; z-index: 99999; font-size:16px; color:#651901}
.tip-con{ margin: 15px;padding:125px 6% 35px;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
.tip-con p{ line-height: 20px; text-align:center;word-wrap:break-word;word-break:break-all;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
.tip-box .btns{margin-top:40px;}

#tip-box4,#tip-box5,#tip-box6{width:300px; height:235px; background:none}
.tips_egg{width:300px; height:235px; position:absolute; left:0; top:0; z-index:10003}
.tips_egg2{width:300px; height:235px; position:absolute; left:0; top:0; z-index:10001}
.gift{position:absolute; left:50%; top:-60px; width:200px; height:128px; background:url(../images_new/gift_01.png) no-repeat; background-size:100% 100%; margin-left:-115px; z-index:10002; animation:gift_ac 1.2s infinite alternate}
.stars{position:absolute; z-index:10004;}
.stars span{display:block}
.stars1{width:10px; height:10px; background:url(../images_new/stars_01.png) no-repeat; background-size:100% 100%}
.stars1h{width:10px; height:10px; background:url(../images_new/stars_01h.png) no-repeat; background-size:100% 100%;  animation:stars_ac .5s infinite }
.stars2{width:8px; height:8px; background:url(../images_new/stars_02.png) no-repeat; background-size:100% 100%; left:46px; top:-10px}
.stars2h{width:8px; height:8px; background:url(../images_new/stars_02h.png) no-repeat; background-size:100% 100%;  animation:stars_ac .5s infinite}
.stars3{width:35px; height:35px; background:url(../images_new/stars_03.png) no-repeat; background-size:100% 100%; left:38px; top:0px}
.stars3h{width:35px; height:35px; background:url(../images_new/stars_03h.png) no-repeat; background-size:100% 100%; animation:stars_ac .8s infinite}
.stars4{width:13px; height:13x; background:url(../images_new/stars_04.png) no-repeat; background-size:100% 100%; left:108px; top:-60px}
.stars4h{width:13px; height:13px; background:url(../images_new/stars_04h.png) no-repeat; background-size:100% 100%; animation:stars_ac .6s infinite}
.stars5{width:16px; height:16x; background:url(../images_new/stars_05.png) no-repeat; background-size:100% 100%; left:114px; top:46px}
.stars5h{width:16px; height:16px; background:url(../images_new/stars_05h.png) no-repeat; background-size:100% 100%; animation:stars_ac .7s infinite}
.stars6{width:10px; height:10x; background:url(../images_new/stars_06.png) no-repeat; background-size:100% 100%; right:74px; top:-16px}
.stars6h{width:10px; height:10px; background:url(../images_new/stars_06h.png) no-repeat; background-size:100% 100%; animation:stars_ac .8s infinite}
.stars7{width:26px; height:26px; background:url(../images_new/stars_07.png) no-repeat; background-size:100% 100%; right:64px; top:16px}
.stars7h{width:26px; height:26px; background:url(../images_new/stars_07h.png) no-repeat; background-size:100% 100%; animation:stars_ac .7s infinite}
.stars8{width:9px; height:9px; background:url(../images_new/stars_08.png) no-repeat; background-size:100% 100%; right:54px; top:0px}
.stars8h{width:9px; height:9px; background:url(../images_new/stars_08h.png) no-repeat; background-size:100% 100%; animation:stars_ac .5s infinite; -webkit-animation:stars_ac .5s infinite}
.light1{position:absolute; left:-20px; top:-100px; width:320px; height:209px; background:url(../images_new/light_01.png) no-repeat; background-size:100% 100%; }
.light2{width:320px; height:209px; background:url(../images_new/light_02.png) no-repeat; background-size:100% 100%; animation:stars_ac .8s infinite; -webkit-animation:stars_ac .8s infinite}
.gift2{position:absolute; left:50%; top:-80px; width:200px; height:148px; background:url(../images_new/gift_02.png) no-repeat; background-size:100% 100%; margin-left:-108px; z-index:10002; animation:gift2_ac 1.2s infinite alternate; -webkit-animation:gift2_ac 1.2s infinite alternate}
.gift3{position:absolute; left:50%; top:-80px; width:200px; height:119px; background:url(../images_new/gift_03.png) no-repeat; background-size:100% 100%; margin-left:-108px; z-index:10002; animation:gift_ac 1.2s infinite alternate; -webkit-animation:gift_ac 1.2s infinite alternate}
.light3{position:absolute; left:-20px; top:-160px; width:320px; height:226px; background:url(../images_new/light_03.png) no-repeat; background-size:100% 100%; z-index:10004; opacity:0; animation:light .6s; -webkit-animation:light .6s}
.tips_03{position:absolute; left:10px; top:-120px; width:88px; height:93px; background:url(../images_new/tips_03.png) no-repeat; background-size:100% 100%; z-index:10005; animation:tips_ac .6s forwards; -webkit-animation:tips_ac .6s forwards }
.tips_04{position:absolute; right:10px; top:-120px; width:85px; height:89px; background:url(../images_new/tips_04.png) no-repeat; background-size:100% 100%; z-index:10005;animation:tips2_ac .6s forwards; -webkit-animation:tips2_ac .6s forwards}
.yellow{color:#ffd500;}
.prompt_05{padding-top:10px; color:#4c0000}

@keyframes stars_ac{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes stars_ac{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes light{
	0%{opacity: 0; top:-120px; transform:scale(0.1,0.1);}
	100%{opacity: 1; top:-160px; transform:scale(1,1);}
}
@-webkit-keyframes light{
  0%{opacity: 0; top:-120px; -webkit-transform:scale(0.1,0.1);}
	100%{opacity: 1; top:-160px; -webkit-transform:scale(1,1);}
}
@keyframes tips_ac{
	0%{opacity: 0; left:60px; top:20px; transform:scale(0.1,0.1);}
	100%{opacity: 1; left:10px; top:-120px;  transform:scale(1,1);}
}
@-webkit-keyframes tips_ac{
	0%{opacity: 0; left:60px; top:20px; transform:scale(0.1,0.1);}
	100%{opacity: 1; left:10px; top:-120px; transform:scale(1,1);}
}
@keyframes tips2_ac{
	0%{opacity: 0; right:80px; top:20px; transform:scale(0.1,0.1);}
	100%{opacity: 1; right:10px; top:-120px;  transform:scale(1,1);}
}
@-webkit-keyframes tips2_ac{
	0%{opacity: 0; right:80px; top:20px; transform:scale(0.1,0.1);}
	100%{opacity: 1; right:10px; top:-120px; transform:scale(1,1);}
}
@keyframes gift_ac{
    0%{top:-60px;}
    100%{top:-50px}
}
@-webkit-keyframes gift_ac{
   0%{top:-60px;}
    100%{top:-50px}
}
@keyframes gift2_ac{
    0%{top:-80px;}
    100%{top:-65px}
}
@-webkit-keyframes gift2_ac{
   0%{top:-80px;}
    100%{top:-65px}
}