/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; padding-bottom: 15px; background:#fff; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.heighthidden{height:100%; overflow:hidden}
.banner img{display: block; width:100%}
.sing_in_top{height:32px; padding:0 10px; background:#efefef; color:#545454; line-height: 32px; overflow: hidden;}
.sing_in_top span{float:right}
.sing_in_top span em{padding:0 5px; color:#ff7562; font-size:18px}
.sign_in ul{border-right:1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;}
.sign_in ul li{float:left; width:20%; cursor: pointer; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.sign_in_item{padding:0 7% 7px; height:83px; border-left: 1px solid #e4e4e4; border-top: 1px solid #e4e4e4;}
.sign_in_item i{display: block; height:26px; margin:2px 0 0; line-height: 26px; font-style: normal; color:#515151;}
.sign_in_item span{position: relative; display: block;}
.sign_in_item img{display: block; width:100%;height:55px;}
.sign_in ul li em{display: block; width:100%; height:100%; position: absolute; left:0; top:0; right:0; bottom:0}
.sign_in ul li.sign_end em{ background:#fff url(../images/sign_in_01.png) no-repeat center center; background-size:75%;}
.sign_in ul li.sign_slip em{ background:#fff url(../images/sign_in_02.png) no-repeat center center; background-size:75%; }
.sign_in ul li.sign_add em{background:#fff url(../images/sign_in_03.png) no-repeat center center; background-size:75%;}
.sign_in ul li.sign_end em{display: block; width:100%; height:100%; background:#fff url(../images/sign_in_01.png) no-repeat center center; background-size:70%; position: absolute; left:0; top:0; right:0; bottom:0}
.btns a{display: block; width:92%; height:36px; margin: 10px auto; background:#19d5fd; border-radius: 3px; color:#fff; text-align: center; line-height: 36px;}
.btns a.disabled{background:#cfcfcf}
.btns a.red{background:#ff7562}
.sign_info{padding:10px 15px; border-top: 1px solid #e9e9e9; color:#a5a5a5; font-size:14px; position: relative; line-height: 24px;}
.sign_info p.spec{font-size:16px; color:#515151}
.sign_info a{display: block; position: absolute; right:15px; top:0}
.sign_info1 a{height:28px; top:50%; margin-top:-14px; color:#19d5fd; text-decoration: underline;}
.sign_info2 a{width:48px; height:28px; background:url(../images/sign_off.png) no-repeat; background-size:100% 100%; text-indent: -9999px; top:50%; margin-top:-14px}
.sign_info2 a.sign_on{background:url(../images/sign_on.png) no-repeat; background-size:100% 100%;}
.sign_log{min-height:100px; background:#fff8e1; border-top:2px solid #ff7562; position: relative;}
.sign_log_title{width:148px; height:30px; background:url(../images/title_bg1.png) no-repeat; background-size:148px 30px; text-align: center; line-height: 30px; font-size:15px; position: absolute; left:50%; margin-left:-74px; top:-15px; color:#ffffff}
.txtScroll-top{margin:30px 10px 0;}
.tempWrap{height:48px; position: relative; overflow: hidden;}
.infoList{color:#a5a5a5}
.infoList li{height:24px; text-align: center; font-size: 14px;}
.infoList li span{color:#515151}
.txt_a{display:block; padding:0px 0 15px; text-align: center; color:#19d5fd; text-decoration: underline; font-size: 14px;}
.sign_list{width:100%; border-bottom: 1px solid #e9e9e9;}
.sign_list li{float:left; width:100%; min-height:60px; padding:10px 0; border-top:1px solid #e9e9e9; position: relative;}
.sign_list li:first-child {border-top:none}
.sign_list_l{width:80px; height:60px; position: absolute; left:10px; top:10px}
.sign_list_l img{display: block; width:80px; height:60px;}
.sign_list_c{margin:0 90px 0 100px}
.sign_list_c h6{font-size:16px}
.sign_list_c h6 span{color:#ff7562}
.process_wrap{margin:10px 0 6px; position: relative;}
.process{margin:0 50px 0 0; height:3px; background:#ffc923; }
.process span{display:block; width:20%; height:3px; background:#ff7562}
.process_wrap em{width:50px; height:24px; position:absolute; right:0; top:-10px; color:#a5a5a5; font-size:12px; text-align: center;}
.sign_list_c p{color:#a5a5a5; font-size: 14px;}
.sign_list_r{width:80px; height:60px; position: absolute; right:10px; top:10px}
.sign_list_r a,.soft_list li a.download,.gift_code_wrap a{display: block; width:58px; height:26px; margin: 5px auto; border:1px solid #19d5fd; border-radius: 3px; color:#19d5fd; text-align: center; line-height: 25px; font-size: 15px;}
.sign_list_r a.disabled,.soft_list li a.disabled,.gift_code_wrap a.disabled{border:1px solid #cfcfcf; color:#cfcfcf}
.soft_list li a.install{border:1px solid #fe9d01; color:#fe9d01}
.joined{min-width:60px; position:absolute; right:18px; bottom:10px; color:#a5a5a5; font-size:12px; text-align: right}
.rules_more{display: block; width:100px; height:22px; margin: 20px auto; padding:0 15px 0 0; background:url(../images/arrow_01.png) no-repeat right center; background-size:8px 13px; line-height:24px}

.titles{padding:8px 0; font-size: 18px;}
.piece p{color:#c0c0c0; font-size: 14px;}
.piece2 p{color:#8f8f8f; line-height: 24px;}
.sign_add_01{width:92%; padding: 0 4%;}
.sign_add_02{padding:0 4%; border-top:1px solid #e6e6e6}
.sign_add_01 img{display: block; width:100%; margin: 8px 0 0;}
.sign_add_01 .btns a,.sign_add_02 .btns a,.prize_wrap_inner .btns a{width:100%}
.soft_list{padding:5px 3% 0; margin:10px 0 0; border-top:1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}
.soft_list li{ float: left; display: inline; width:100%; margin:7px 0px; position: relative;}
.soft_list li .soft-icon{float:left; width:72px; height:72px; margin-right:7px; display: inline; text-align: center;}
.soft_list li .soft-icon img{ width: 72px;height: 72px;  margin: 0 auto; }
.soft_list li .soft-name{margin-top: 6px;height: 20px; color:#545454; line-height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.soft_list li .soft-name a{ color: #545454;}
.soft_list li a.download{ position: absolute; right:0; top:0;}
.soft_list li .soft-info{padding:7px 0 0}

.sign_prompt{padding:10px 0; text-align: center;}
.sign_prompt img{display: block; width:30%; margin: 10px auto;}
.sign_prompt p{color:#545454;}

.infomation{padding:5px 0 20px}
.infomation li{padding:0 10px 8px 15px; border-bottom: 1px solid #e9e9e9;}
.infomation li:last-child{border:none}
.infomation li p{color:#666666; line-height: 26px;}

.prize_wrap{margin:10px}
.prize_title{width:100%; height:80px; background:url(../images/title_bg2.png) no-repeat; background-size:100% 100%; color:#fff; font-size:24px; line-height: 70px; text-align: center;}
.prize_wrap_inner{background:#f8f8f8; padding:15px 15px 25px 20px; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-bottom: 2px solid #fe5981; border-radius: 0 0 3px 3px;}
.prize_infor li{float:left; width:100%; min-height:32px; position: relative; color:#545454; line-height: 32px;}
.prize_infor li p{text-align: left;}
.prize_infor li p span{display:block; margin:0 0 0 70px}
.prize_infor li.width_len p span{margin-left:80px}
.prize_infor li p span.red,.red{color: red;}
.prize_infor li p i{position: absolute; left:0; top:0; width:75px; font-style: normal;}
.prize_infor li.width_len p i{width:80px}
.prize_status{width:90px; height:30px; margin: 15px auto; background: url(../images/icon_01.png) no-repeat right center; background-size:20px 20px; color:#19d5fd; line-height: 30px;}
.prize_status1{width:75px; background: url(../images/icon_02.png) no-repeat right center; background-size:20px 20px;}
.prize_list table{width:100%; border-collapse: collapse;}
.prize_list td,.prize_list th{height:35px; border:1px solid #e6e6e6; text-align: center; color:#545454; font-weight: normal;}
.prize_list th{background:#dfecf2}
.prize_list td{font-size:15px}
.prize_list tr:nth-child(2n) td{background:#f4f4f4}
.center{text-align: center;}

.prize_list2{width:100%;}
.prize_list2 li{float:left; width:100%; min-height:60px; padding:10px 0; border-bottom:1px solid #e9e9e9; position: relative;}
.prize_list2_l{width:80px; height:60px; position: absolute; left:10px; top:10px}
.prize_list2_l img{display: block; width:80px; height:60px;}
.prize_list2_c{margin:0 30px 0 100px}
.prize_list2 h6{line-height:28px; font-size:18px}
.prize_list2 h6 span{color:#ff7562}
.prize_list2_c p{padding:5px 0 0; color:#a5a5a5; font-size: 14px;}
.prize_list2_r{width:8px; height:14px; background:url(../images/icon_03.png) no-repeat; background-size:8px 14px; position: absolute; right:10px; top:50%; margin-top:-7px;}
.prize_list2 li a{display: block; position: absolute; left:0; top:0; bottom:0; right:0; z-index: 9;}
.prize_list_end h6{padding-top:12px}
.prize_list_end i{display: block; position: absolute; right:30px; top:7px; width:74px; height:70px; background:url(../images/icon_04.png) no-repeat; background-size:100% 100%; z-index: 10;}

.gift_code_wrap{position: relative; margin:0 0 10px;}
.gift_code{height:38px; background:#fff; border:1px solid #cecece; margin: 0 70px 0 0; line-height: 38px;}
.gift_code_wrap a{position: absolute; right:0; top:0}
.gift_code label{float: left; width:60px; height:38px; text-align: center; color:#c4c4c4}
.gift_code input{float:left; width:65%; height:38px; padding:0; border:none; color:#545454}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%; left:50%;top:50%; background:#fff; border-radius:15px; margin-left:-45%; z-index: 99999; font-size:15px; color:#818181}
.tip-title{height:38px; padding:0 0 0 15px; border-radius:15px 15px 0 0; background: #f4f7f8; line-height:36px; position:relative}
.tip-title h6{background:url(../images/fudong_logo.png) no-repeat 0 center; background-size:28px 28px; padding-left:32px; font-size:16px; color:#545454}
.tip-title span{position:absolute; right:10px; top:6px; width:28px; height:28px; background:url(../images/tip_clo.png) no-repeat; background-size:100% 100%; cursor:pointer}
.tip-con{ margin: 15px 0 0; padding: 10px 0 25px; border-bottom:1px solid #e6e6e6; text-align:center;}
.tip-con3{ margin: 15px 0 0; padding: 10px 0 25px;  text-align:center;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
#tip-box4{ background:#dc424d; border-radius: 4px;}
#tip-box4 img{width:100%; max-height:100px; margin:3px auto;}
.tip-con2{ position:relative; padding:0 0 40px;}
.tip-con2 h6{padding:0 0 10px 10px; color:#ffff00; font-size: 18px; text-align: center;}
.tip-con2 p{padding:0 40px; color:#fff; line-height: 24px;}
.btns_login{display:block; width:152px; height:36px; margin:5px auto 0; background:url(../images/login_btn.png) no-repeat; background-size:100% 100%; line-height:36px; text-align:center; color:#f10d2d; font-size:16px}
.tip-con2 span{display:block; width:30px; height:64px; background:url(../images/tip_clo2.png) no-repeat; background-size:100% 100%; position:absolute; right:10px; top:-67px; cursor:pointer}
.btns_close{display:block; height:38px; color:#19d5fd; line-height:38px; text-align:center; font-size:16px}
.btns2 a{display: block; width:49%; float:left; height: 28px; padding:0 0 15px; text-align: center; color: #19d5fd; line-height: 38px;}
.btns2 a.cancel{border-right:1px solid #e6e6e6; color:#8f8f8f}
.tip-con .prize_infor{width:96%; margin: -10px auto 0;}
.tip-con .prize_infor li{min-height:28px; line-height: 28px;}

/*邮寄地址*/
.form_item{margin:8px 0 0; border:1px solid #cecece; background:#fff; padding:5px 0; color:#125c1b}
.form_item .inputtext{width:96%; padding:4px 2%; border:none; font-family: "Microsoft Yahei"; color:#545454; font-size: 15px;}
.prompt1{padding:5px 0 1px; color:#8f8f8f; font-size:15px}
.error_tips{padding:3px 0 0; color:#fe5454; font-size:15px}
.blue{color: #19D5FD;}
#tip-box7 .form_list,#tip-box8 .form_list{width:91%; margin: 0 auto;}
#tip-box7 .tip-con{margin-top:0px; padding:10px 0 18px;}
#tip-box8 .tip-con{margin-top:5px; padding:10px 0 23px;}
#tip-box9{width:300px; margin-left:-150px}
#tip-box9 .tip-con{margin-top:10px; padding-bottom: 10px; border-bottom: none;}
.prize_list3 li{float:left; width:120px; margin: 0 0 4px 20px; text-align: left;}
.prize_list3 li img{display: block; width:120px; height:82px}
.prize_list3 li h3{height:18px; color:#515151; font-size: 12px;}
.prize_list3 li p{color:#a5a5a5; font-size: 12px;}
.width_short{width:92%; margin: 0 auto;}
#tip-box12 .tip-con{margin-top:10px}
#tip-box12 .sign_prompt{padding-top:0}
#tip-box12 .sign_prompt img{width:134px; margin: 0 auto;}
#tip-box7 .tip-title h6,#tip-box8 .tip-title h6,#tip-box9 .tip-title h6,#tip-box10 .tip-title h6,#tip-box11 .tip-title h6,#tip-box12 .tip-title h6{padding-left:5px; background:none}
#tip-box8 h6,#tip-box7 h6{text-align:center;}
#tip-box10 .soft_list{margin-top:0; padding:5px 3% 4px; border-top:none}
#tip-box10 .tip-con{margin:0; padding:0}
#tip-box10 .soft_list li .soft-info{padding-top:16px}

.footer_app{width:100%; height:64px; background:rgba(0, 0, 0, 0.85);position:fixed; bottom:0; left:0; z-index:1000;clear: both;overflow: hidden;}
.click_bar{position:absolute;top:0px;left:0px;display: block;width: 100%;height: 100%;z-index:1001;}
.footer_icon{float: left;padding: 7px 10px 0px 10px;}
.footer_icon img{display:block; width:52px; height:52px;}
.footer_des{float: left;}
.footer_des h4{margin-top: 5px; color:#ffffff; font-size:16px;}
.footer_size{color:#c9cbca; font-size:12px}
.footer_num{color:#fff; font-size:12px}
.footer_btn{float: right;padding: 23px 10px 0px 0px}
.footer_btn a{padding:5px 15px; background:#19d5fd; border-radius:3px; text-align:center; color:#FFFFFF}

.prize_tips{text-align: left;}
.prize_tips .soft_list li a.download{width:64px}
.prize_tips .soft-name a{font-size:15px}
.przie_tips_bom{padding:10px 0; text-align: center; font-size:15px}
.przie_tips_bom a{display:block; padding-bottom:5px; color:#ffae00; font-size:15px}
.prize_tips .soft-info{color:#a5a5a5; font-size:14px}
.prize_tips_img{text-align: center;}
.prize_tips_img img{display: block; width:60px; height:45px; margin: 0 auto;}

/*九宫格抽奖*/
.lottery_wrap{margin-top:4px; padding-top:20px; background:url(../images/bg10.png) no-repeat; background-size:100% auto;}
.lottery{width:320px;height:286px; margin:0 auto 6px; padding:15px 0; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; border-radius:4px; position:relative}
.lottery_inner{width:276px; margin: 0 auto; padding:5px; background:#feeea8; border-radius: 4px;}
.lottery img{display:block; width:74px; height:74px; margin:4px auto 0}
.lottery table{border-collapse: separate; width:100%;}
.lottery td{width:78px;height:78px; padding:4px 5px 6px 5px; background:#d43434; border:2px solid #feeea8}
#my_click {width:88px;height:86px; cursor:pointer;}
.lottery p{position:absolute; width:89px;height:88px; left:116px; top:114px; display:block;}
.lottery p a{display:block; width:88px; height:86px;}
.lottery td.game_squ1{background:#f7ade7; border-top-left-radius:5px ;}
.lottery td.game_squ2{background:#ffc445;}
.lottery td.game_squ3{background:#76d5eb; border-top-right-radius:5px ;}
.lottery td.game_squ4{background:#ffc445;}
.lottery td.game_squ5{background:#f3431e;}
.lottery td.game_squ6{background:#f7ade7;}
.lottery td.game_squ7{background:#76d5eb; border-bottom-left-radius:5px ;}
.lottery td.game_squ8{background:#f7ade7;}
.lottery td.game_squ9{background:#ffc445; border-bottom-right-radius:5px ;}
.waitGame{background:#d5d5d5 url(../images/lottery_btn_dis.png) no-repeat center center; background-size:74px 74px}
.draw_txt{padding:24px 0 10px 0; background:url(../images/bg5.png) no-repeat; background-size:100% 100%; text-align:center; color:#fff; font-size:18px}
.draw_txt p{width:90%; margin: 0 auto; padding:10px 0; background:#d13233; border-radius: 20px;}
.draw_txt span{color:#fddf33}
/*规则说明*/
.rules{padding:15px 4% 15px 6%; background:url(../images/bg8.png) no-repeat 5px 15px; background-size:100px 10px}
.rules h3{color:#fceb06}
.rules ul{margin-top:6px; color:#fff8cb; line-height: 24px;}

.prize_no{width:100%;}
.prize_no img{width:120px; margin:80px auto 0; display:block}
.prize_no p{padding:20px 0 0; text-align:center; color:#545454; font-size:18px}
.prize_no a{display:block; width:65%; height:38px; margin: 40px auto 0; background:#ff3d5b; border-radius: 20px; line-height: 40px; color:#fff;}


