/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#210000; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:0 12px 12px; background:url(../images/bg1.jpg) no-repeat; background-size:100% auto}
/*有通用的地方*/
.wrap{min-height:60px; padding:8px; margin-bottom:20px; background:rgba(62,0,0,.85); border:1px solid #b80e03; border-radius:1px}

.titles{width:75px; height:18px; margin:8px 0 2px; text-indent:-9999px}
.titles1{background:url(../images/txt1.png) no-repeat; background-size:100% 100%}
.titles2{background:url(../images/txt2.png) no-repeat; background-size:100% 100%}
.titles3{width:103px; background:url(../images/txt3.png) no-repeat; background-size:100% 100%}

.btns,.btn a{display: block; width:102px;height: 31px; margin-left:auto; margin-right:auto; line-height: 31px; background:url(../images/btns_01.png) no-repeat; background-size:100%100%; color:#6f1c0a;cursor: pointer; text-align: center; font-weight:bold; font-size:16px}
.title img{width:90%; margin:10px auto}

.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
/*index*/
.rule{padding:8px 0; position:relative}
.rule p{padding:3px 8px; line-height: 22px; position:relative; z-index:2; color:#fff2b5}
.rule p span{color:#c80000;}
.rule_btn{position:absolute; top:4px; right:5px}
.active_time{display:inline-block}
.sign_wrap{padding:0 0 20px; }
.sign_wrap ul li{float:left; width:25%;}
.sign_wrap ul li em{display:block; margin:10px 0; color:#ffd200; text-align:center; font-style:normal}
.sign_wrap ul li  p{cursor:pointer; position:relative}
.sign_wrap ul li  p span{width:100%; height:100%; background:rgba(0,0,0,.85) url(../images/end.png) no-repeat center center; background-size:75% auto; position:absolute; left:0; top:0; display:none}
.sign_wrap ul li  img{display:block; width:90%; margin:0 auto; border:1px solid #321410; border-bottom:none}
.sign_wrap ul li a{display:block; width:90%; height:22px; margin:0 auto; background:#ffd200; border:1px solid #ffd200; color:#49110f; text-align:center; line-height:22px}
.sign_wrap ul li.spec{width:33.3%}
.sign_wrap ul li.end p span{display:block}
.sign_wrap ul li.overdue a{background:#8b8b8b; border:1px solid #8b8b8b; color:#d9d9d9}
.sign_wrap ul li.current a{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; box-shadow:0 0 5px rgba(255,255,67,1); border:1px solid #fcff00;}


.active_title{background:url(../images/txt4.png) no-repeat; background-size:100% 100%; margin-bottom:10px;}
.active_ctn{margin:0 0 0 10px}
.active_ctn li{position:relative; line-height:25px; color:#f45944}
.active_ctn span{width:18px; height:18px; position:absolute; top:3px; text-align:center; line-height:18px;}
.active_ctn p{margin-left:25px;}

.soft{padding:10px 0; position:relative}
.soft .titles{width:114px; color:#ebccff; font-weight:bold}
.soft_list{padding:5px 0;}
.soft_list li{ float: left; display: inline; width: 90%; margin:10px 5% 0;}
.soft_list li .soft-icon{ width: 70px;height: 70px}
.soft_list li .soft-icon img{ width: 56px;height: 56px; margin:0 auto}
.soft_list li .soft-name{width:70px; margin-top:-5px;height: 20px; line-height: 20px; overflow: hidden; color:#ffd200; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center}
.soft_list li .soft-name a{ color: #ffd200;}
.soft_list li a.downlode{position:absolute; right:10px; bottom:54px; }

#active_ctn li{margin-top:20px; color:#cb3731; font-weight:bold}

/*领取记录*/
.list_title img{display:block; width:80%; margin:20px auto 0}
.list_p{padding:20px 0 10px; color:#fff2b5; text-align:center}
.list li{ width:94%; margin:0 auto; color:#f45944}
.list li p{line-height:30px; word-break:break-all; break-all:word-break}
.list li a{display:block; width:120px; height:33px; margin:10px auto; border-radius:4px; background:#fdb902; line-height:33px; text-align:center; color:#350000}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:300px; height:226px; left:50%; top:50%; margin-left:-150px; z-index: 99999; background:#350000; border:1px solid #aa0900; font-size:15px;}
.tip-con{ margin: 15px 0; padding:0 10px 20px; color:#440e0e;}
.tip-con p{padding:15px 20px 30px; line-height: 22px; word-wrap:break-word; word-break:break-all; font-size:15px; color:#fff2b5}
.tip-mid img{display:block; width:80%; margin:30px auto 0}
.footer{width:100%; height:38px; background:#540800; margin-top:10px;  text-align:center; position:relative; color:#ffffff; line-height:38px}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#fdfbff}
.prompt_02{padding:7px 0 0 90px; color:#ff0000}
.mtop10{margin-top: 10px;}
