/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:0.14rem; font-family:Microsoft Yahei,"微软雅黑"; background: #eaeaea; color: #545454;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#545454; font-size: .14rem;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.banner{width:100%; position: relative;}
.banner img{ width: 100%; display:block;}
.main{padding-bottom: 0.3rem;}
.title{background:#fff; padding: 0.26rem 0.22rem;}
.title h3{height:0.4rem; padding-left:0.2rem; border-left:0.08rem solid #e13a1f; font-size: 0.28rem;}
.order_list li{padding:0 0 0 0.22rem; height:1.42rem; margin-top: 0.07rem; background:#fff; position: relative;}
.order_money span{float:left; width:1.63rem; height:0.94rem; margin-top:0.25rem; background:url(../images/money_bg1.png) no-repeat; background-size:100% 100%; position: relative; text-align: center; color:#fff; font-size: 0.26rem; line-height: 0.96rem;}
.order_money span i{position: absolute; right:-0.3rem; top:-0.2rem; width:0.86rem; height:0.41rem; background:url(../images/money_bg2.png) no-repeat; background-size:100% 100%; text-align: center; line-height: 0.44rem; font-size: 0.24rem; color:#fff; font-style: normal;}
.order_money em{float:left; margin-left:0.14rem; margin-top:0.25rem; font-size: 0.34rem; color:#ff2300; line-height: 0.96rem; font-weight:bold}
.order_money em.disabled_txt{color:#c4c4c4}
.order_num{float:right; width:1.55rem; height:0.95rem; margin-top:0.25rem; margin-right:1.58rem; padding-right:0.25rem; background:url(../images/line_bg.png) no-repeat top right; background-size:0.05rem 0.95rem; text-align: right;}
.order_num p{padding:0.09rem 0 0.16rem; font-size: 0.22rem;}
.order_num p span{font-size:0.28rem; color:#ffa800; vertical-align:middle; display:inline-block; margin:-0.05rem 0 0}
.order_num em{color:#a5a5a5; font-size: 0.2rem;}
.order_list_r{width:1.58rem; height:0.95rem; position: absolute; right:0; top:0.25rem}
.order_list_r span{float:left; width:0.38rem; height:0.38rem; margin-top:0.22rem; border-radius: 50%; cursor: pointer;}
.order_list_r span.minus_btn{ margin-left:0.16rem; background:#fc6054 url(../images/minus_btn.png) no-repeat center center; background-size:100% 100%}
.order_list_r span.add_btn{background:#fc6054 url(../images/add_btn.png) no-repeat center center; background-size:100% 100%}
.order_list_r span.add_btn.disabled_add{background-color:#c4c4c4}
.order_list_r em{float:left; width:0.55rem; height:0.38rem; margin-top:0.22rem; font-size: 0.32rem; color:#f68539; text-align: center; line-height:0.38rem;}
.order_list_r p{padding-top:0.1rem; text-align: center; font-size: 0.2rem; color: #a5a5a5;}
.order_list_r2 span.add_btn{margin-left:0.65rem}
.order_list li.disabled{background:#f6f6f6}
.order_list li.disabled .order_money em{color:#c4c4c4}
.order_list li.disabled .order_num span{color:#c4c4c4}
.order_list li.disabled span.add_btn{background-color:#c4c4c4}
.order_list li.disabled .order_money span{background:url(../images/money_bg3.png) no-repeat; background-size:100% 100%}
.order_list_r3 p{line-height: 0.4rem;}
.user_wrap{margin: 0.14rem 0.22rem; padding:0.17rem; background:#fff; border-radius: 0.1rem; font-size: 0.26rem;}
.user_wrap p{float:left; color:#313131; line-height: 0.66rem;}
.user_wrap p span{color:#a5a5a5}
.user_wrap a{float:right; width:1.58rem; height:0.66rem; background:#fc6054; border-radius: 0.1rem; text-align: center; line-height: 0.68rem; color:#fff; font-size: 0.26rem;}
.rule_wrap{background:#fff; overflow: hidden;}
.rule{margin:0 0.25rem 0.25rem 0.4rem; font-size: 0.24rem; line-height: 0.4rem; text-align: justify;}
.rule li span{color:#ff2300;}
.pay_money{ height:0.9rem; line-height: 0.94rem; position: relative;}
.pay_money p{padding-left:0.1rem; font-size: 0.28rem;}
.pay_money a{display:block; width:2.13rem; height:0.8rem; background:#e54022; border-radius: 0.1rem; position: absolute; right:0; top:0.2rem; font-size: 0.28rem; text-align: center; color:#fff; line-height: 0.8rem;}
.pay_money a.over_btn{background:#cccccc; color:#fff}
.pay_money p span{padding-left:0.15rem; color:#ff5151}
.pay_money em{display: block; width:1.3rem; height:0.9rem; font-size: 0.28rem; color:#c4c4c4; position: absolute; left:2.2rem; top:0; text-align: center;}
.pay_money em i{display: block; width:100%; height:100%; background:url(../images/bg1.png) no-repeat center 0.4rem; position: absolute; left:0; top:0;}
.footer{width:100%; background:#fff; position: fixed; left:0; bottom:0;}
.footer a{display:block; width:2.13rem; height:0.9rem; background:#e54022; border-radius: 0; position: absolute; right:0; top:0; font-size: 0.28rem; text-align: center; color:#fff; line-height: 0.9rem;}
.footer a.disabled_pay{background:#cccccc}
.end_wrap{padding-bottom:1.6rem; background:#fff url(../images/bg2.png) no-repeat left bottom; background-size:100% 4.76rem; overflow: hidden;}
.end_wrap p{padding:0.3rem 0; font-size: 0.28rem; line-height: 0.4rem; text-align: center;}
.end_wrap img{display: block; width:3.31rem; margin: 0.55rem auto 0.18rem;}
.unpay_list{background:#fff; margin-bottom: 0.1rem; padding:0 0.22rem 0.26rem; overflow: hidden;}
.title2 img{display: block; width:1.8rem; margin: 0.56rem auto 0.26rem;}
.order_time{padding-top:0.3rem; font-size: 0.28rem;}
.table1{width:100%; margin-top:0.25rem; margin-bottom: 0.15rem;}
.table1 thead th{height:0.64rem; background:#f68539; font-size: 0.28rem; color:#fff;}
.table1 thead th:nth-of-type(1){border-radius: 8px 0 0 0;}
.table1 thead th:nth-of-type(3){border-radius: 0 8px 0 0;}
.table1 td{height:0.72rem; padding:0 0.03rem; border:1px solid #f68539; border-right: none; border-top:none; text-align: center; font-size: 0.28rem; border-collapse: collapse;}
.table1 tr td:nth-of-type(3){border-right:1px solid #f68539}
.reutrn_btn{display: block; width:3.86rem; height:0.64rem; margin: 0.4rem auto; background:#fef9f4; border:1px solid #f68539; border-radius: 0.1rem; color:#f68539; text-align: center; line-height: 0.64rem; font-size: 0.26rem;}
.pay_log{padding-bottom:0; background:#fff url(../images/bg2.png) no-repeat left bottom; background-size:100% 4.76rem; overflow: hidden;}
.order_tips{width:100%; height:0.54rem; background:#ffe8bc; position: fixed; left:0; bottom:0.9rem; line-height: 0.54rem; color:#e54022; font-size: 0.24rem;}
.order_tips p{text-align: center;}
.order_tips p a{border-bottom: 1px solid red; color:#e54022; font-size: 0.24rem;}
.friend_tip{font-size: 0.24rem; color:#f68539; line-height: 0.4rem;}
