/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; font-size:14px; line-height:20px;}

#main{width:320px; margin:0 auto;}
.content{width:320px; height:100px;}
.content img{display:block; width:320px; height:100px;}
#content3{width:320px; height:100px; background:url(../images/images_03.jpg) no-repeat; overflow:hidden;}
#content3 form{float:left; padding:21px 0 0 72px; width:150px}
.inputtext{width:142px; height:20px; padding:0 2px 0 4px; margin-bottom:2px; background:#fff; border:1px solid #b3b3b3; border-radius:5px; line-height:20px; box-shadow: inset 0 0 5px #ababab;}
#content3 span{float:left; display:block; width:70px; height:70px; margin:10px 0 0 14px; display:inline; background:url(../images/btn_01.png) no-repeat; cursor:pointer; }
#content5,#content6{height:40px;}
#content5 img{height:40px;}
#content6{ width:320px; height:40px; background:url(../images/images_06.jpg) no-repeat}
#content6 a{display:block; width:160px; height:40px; margin-left:80px;}


