/* CSS Document */
.detail_down a,.cloudpush a,.closebtn_login,.morecontent span,.down_pc,#safe_icon li.official_icon span{ background: url("../images/anzhi_icon.png") no-repeat;}

.user_downs{margin:0 0 15px 0;}
.app_detail{width:654px; margin:0 auto; padding:15px 0 20px; border-bottom:1px solid #ebebeb;}
.app_detail_list,.app_detail_list_comment{width:654px; margin:0 auto; padding:26px 0 20px; border-bottom:1px solid #ebebeb;}
.detail_icon{float:left; width:102px; margin:0 15px 0 10px; text-align:center; display:inline; color:#555555;}
.detail_icon a{color:#555555;}
.detail_icon img{display:block; width:72px; height:72px; margin:0 auto;}
.detail_icon ul{width:98px; margin-top:40px;}
.detail_icon ul li{float:left; width:98px; height:30px; margin-top:8px; text-align:center; line-height:30px; font-size:12px;}
.detail_icon ul li a{display:block; width:98px; height:25px;line-height: 25px; border:2px solid #43ac39; color: #43ac39}
.detail_icon ul li a:hover{text-decoration:underline}
.detail_icon ul li#install_phone a{width:78px; padding-left:20px; background-position: 0 0;}
.detail_icon ul li#install_phone a:hover{background-position: 0 -90px;}
.detail_icon ul li#install_wdj a{width:78px; padding-left:20px; background-position: 0 -30px;}
.detail_icon ul li#install_wdj a:hover{background-position: 0 -120px;}
.detail_description{float:left; width:390px; color:#555555;}
.detail_line{ font-size:14px; padding:7px 0;}
.detail_line h3{float:left; padding-right:10px; font-size:18px; color:#252525; font-weight:bold}
.detail_line span.app_detail_version{float:left; padding-top:4px; font-size:16px; color:#252525}
.detail_line span.spaceleft{padding-left:25px;}
#safe_icon li{float:left; width:65px; height:18px; padding-left:26px; color:#69b024; font-size:12px; white-space:nowrap; overflow:hidden}
#safe_icon li.official_icon{ padding-left: 0px;width:50px;}
#safe_icon li.official_icon span{ display:block;width: 28px; height: 19px; background-position:-32px -66px;}
#safe_icon li#safe_icon1{background:url(../images/detail_btn.png) no-repeat 0 -180px;}
#safe_icon li#safe_icon2{background:url(../images/detail_btn.png) no-repeat 0 -198px;}
#safe_icon li#safe_icon3{background:url(../images/detail_btn.png) no-repeat 0 -216px; color:#d19302;}
#safe_icon li#safe_icon4{background:url(../images/detil_white.jpg) no-repeat}
#detail_line_ul{float:left; width:380px; overflow: hidden;}
#detail_line_ul li{float:left; width:180px; min-height:22px; _height:22px; padding:7px 10px 0px 0; _padding:5px 0;}
.detail_down{ width:135px; height:29px; margin-top:3px; overflow:hidden}
.detail_down a{display:block; width:135px; height:29px;line-height:29px;background-image:none;background-color: #43ac39; color: #fff; text-align:center}
.detail_down a:hover{background-color: #4dc642;}
.cloudpush{display: inline; float: left; width: 160px;  height: 42px; margin: 20px 0 0 15px;}
.cloudpush a{ display:block; width:112px; height:42px;line-height:42px;background-position:13px -700px;background-color:#43ac39; color: #fff; font-size: 16px; padding-left: 53px;}
.cloudpush a:hover{ background-color: #4dc642;}
.detail_other{float:left; width:135px;}
.i_code{width:135px;}
.i_code img{display:block; width:135px; height:135px; margin-bottom:2px; }
.i_code span{font-size:14px; padding-left:3px;}
.i_code span a{ color: #43ac39;}
#fenxiang{font-size:12px; line-height:24px;}
#stars_detail{float:left; width:74px; height:15px; margin:1px 15px 0 0; background: url(../images/stars_detail.png) no-repeat 0 0; overflow: hidden; display:inline}

.app_detail_list{width:654px;position:relative}
.app_detail_title{width:654px; padding-left:10px;}
.app_detail_title{ margin-bottom: 15px; height: 18px; line-height: 16px;_line-height:18px;_padding-top:2px; font-size:18px; border-left: 4px solid #43ac39; color:#000000;}
.detail_img_list{width:642px; height:306px; margin:10px 0 0 5px; overflow:hidden; position:relative}
#detail_slider_ul{position:absolute; left:0}
#detail_slider_ul li{float:left; width:206px; height:306px; padding:0 4px;}
#detail_slider_ul li img{display:block; width:200px; height:300px; border:3px solid #959595;}
.app_detail_infor{height:90px; overflow:hidden; padding:0 10px; cursor: pointer;}
.app_detail_infor p{line-height:30px; color:#555555;}
.morecontent{height:18px; padding:15px 15px 0px 15px; cursor: pointer;}
.morecontent span{ float:right; display:block; width: 24px; height:14px;background-position:0 -756px; color:#0054a6; cursor:pointer}
.morecontent span.up{background-position:-29px -756px;}
#detail_silder_left{width:42px; height:84px; background:url(../images/arrow_08.png) no-repeat; position:absolute; left:-11px; top:160px; cursor:pointer; z-index:22}
#detail_silder_right{width:42px; height:84px; background:url(../images/arrow_03.png) no-repeat; position:absolute; right:-10px; top:160px; cursor:pointer; z-index:22}

#comment_box{border:none; padding-bottom:5px;}
.app_detail_title span{float:right; padding: 2px 10px;  height: 18px;  background: #43ac39;  margin-right:10px; font-size:12px; line-height: 18px; color:#fff; cursor:pointer;}
#comment_list li{float:left; min-height:48px; _height:48px; padding:10px 0;  border-bottom:1px solid #ececec; font-size:12px; overflow:hidden;}
img.avatr{float:left; width:48px; height:48px; margin:0 10px; display:inline;}
.comment_list{float:left; width:585px; min-height:48px; _height:48px;}
.comment_list_top{height:22px;}
.comment_list_top span{float:left; width:200px; color:#676767;  font-size:12px;}
.comment_list_top img{float:left; margin-top:2px;}
.comment_list_top em{float:right; font-style:normal}
.comment_list p{line-height:22px;}

.version_old_list p{float:left; width:225px; padding:5px 0; color: #595959;}
.version_old_list input{float:left; margin-top:5px; _margin:0;}
.version_old_list label{ padding:0 5px; font-size: 16px;}
.version_old_list span{ padding-top:2px; font-size:14px;}

.fenxiang_box{height:28px; color:#999; font-size:12px; position:relative; line-height:22px;}
.fenxiang_box a{color:#666;}
.jubao{width:92px; height:33px; background:url(../images/jubao.png) no-repeat; margin:12px 0 10px 10px}
.jubao a{display:block; width:92px; height:33px; text-indent:-9999px}
.dev_claim{float:left; margin:20px 0 0 15px; padding-top:10px; font-size:16px; font-weight:bold; display:inline; overflow:hidden;}
.dev_claim a{text-decoration:underline;}

.advlist{width:255px; height:150px;}
.advlist img{width: 255px; height: 150px; display: block;}

/*#photo{width:690px; margin:0 1px 0 2px;}*/
#photo{width:690px; margin:0 1px 0 2px; min-height:420px; _height:420px; display:none}

.titles_com{ width:100%; height:30px; border-bottom:2px solid #464646; position:relative;}
.titles_com h3{height:27px; padding:0 5px; border-bottom:5px solid #80be44; position:absolute; left:20px; top:0; font-size:18px; color:#1b1b1b; line-height:27px;}
.market_apk_infor{ height:66px; padding:0 0 0 20px; color:#434343; font-size:12px; line-height:22px; overflow:hidden}
.market_apk_more{height:20px; margin:8px 0 15px;}
.market_apk_more span{float:right; height:20px; padding:0 15px; background:url(../images/market_arrow_01.png) no-repeat 0 1px; line-height:20px; cursor:pointer; color:#017fd6;}
.market_apk_more span.up {background: url(../images/market_arrow_02.png) no-repeat 0 2px}
.market_apk_comment{padding-left:10px;}
#comment_list_com li{float:left; width:674px; min-height:48px; _height:48px; padding:15px 0;  font-size:12px; overflow:hidden; color:#434343;}
img.avatr{float:left; width:48px; height:48px; margin:0 10px; display:inline;}
.comment_com{float:left; width:595px; min-height:48px; _height:48px;}
.comment_com_top{height:22px; color:#434343;}
.comment_com_top span{float:left; width:200px; font-weight:bold; font-size:14px;}
.comment_com_top img{float:left; margin-top:2px;}
.comment_com_top em{float:right; font-style:normal; color:#7d7d7d}
.comment_com p{line-height:22px;}

.sides_paret li{border-bottom:none;}
.slider_detail_wrap{height:350px; margin:15px 0 25px;}
#slider_detail_left{float:left; width:20px; height:350px; background:#e5e5e5 url(../images/slider_detail_left01.png) no-repeat center center; cursor:pointer}
#slider_detail_right{float:left; width:20px; height:350px; background:#e5e5e5 url(../images/slider_detail_right02.png) no-repeat center center; cursor:pointer}
.slider_detail_list{float:left; width:649px; height:350px; margin:0 3px; display:inline; overflow:hidden; position:relative;}
#slider_detail_ui{position:absolute; left:0}
#slider_detail_ui li{float:left; width:210px; height:350px; padding:0 10px 0 0;}
#slider_detail_ui li img{display:block; width:210px; height:350px;}

.market_fenxiang_tit{float:left;}

.font24{font-size:24px;}
.fontcolorgreen{ color:#5c8900;}
.open_btn2{width:250px; margin:45px auto 15px;}
.open_btn2 a{ display:block; width:250px; height:40px; background-color: #7fc31e; color:#ffffff; text-align:center; line-height:40px;}
.open_btn2 a:hover{ background-color: #8fdb23}
.openul1{width:565px; min-height:120px; padding:0 15px; margin:10px auto; background:#cccccc; color:#050505;}
.openul1 li{float:left; width:565px; height:60px; border-bottom:1px solid #555555; line-height:55px;}
.openul1 li h3{float:left;}
.openul1 li span{float:right; width:80px; padding:0 0 0 28px;}
.openul1 li span.cloudpush_suc{ background:url(../images/icon_02.png) no-repeat 0 18px; color:#5c8900;}
.openul1 li span.cloudpush_err{ background:url(../images/icon_03.png) no-repeat 0 18px; color:#707070;}
.openul1 li span input{ margin:20px 0 0 0}
.tishi_box{padding:20px 0 0 0; font-size:14px;}
.tishi_box label{padding:0 5px;}
.cloudpush_img img{display:block; width:650px; height:309px; margin:20px auto 0}


.openbox_wrap{width:680px; height:auto; border:1px solid #555555; position:absolute; left:0; top:0; color:#e1e1e1; font-size:16px;z-index:40; color:#555;}
.openbox_wrap .title{ background-color: #fff; position: relative; height: 40px; line-height: 40px; margin-bottom: 0px; margin-top: 15px; font-size: 18px;}
.openbox_wrap .title h2{ height: 40px; line-height: 40px; float: none; border-left: none;}
.openbox2{padding:20px 25px 25px; background-color:#fcfcfc;}
.openbox_white{min-height:200px; padding:20px 20px 20px 60px; _height:200px; background:#fff; border:1px solid #e2e2e2;}
.openbox_white p{font-size:14px; padding:20px 0 20px 95px;}
#register_btn a{background:url(../images/bg_03.png) no-repeat}
a.register1:hover{text-decoration:none; color:#00481F}
.closebtn_login{position:absolute; right:10px; top:8px; width:22px; height:22px; display:block;background-position:-32px -583px; cursor:pointer}
#mark2{ top:0; left:0; position:absolute; z-index:25; background:#000000; filter:alpha(opacity=60); opacity:0.6;}
.getpwd{font-size:12px; margin: 5px 0 0 8px;}

/*hd detail jietu*/
#app_detail_list_hd .detail_img_list{height:217px;}
#app_detail_list_hd #detail_slider_ul li{float:left; width:306px; height:217px; padding:0 7px;}
#app_detail_list_hd #detail_slider_ul li img{display:block; width:306px; height:211px; border:0;}
#app_detail_list_hd #detail_silder_left,#app_detail_list_hd #detail_silder_right{top:135px;}
/*more comment*/
.more_comment{ clear: both;overflow: hidden;*zoom:1;padding:20px 0px 30px 130px}
.more_comment a{ display: block; float:left;width: 260px; height:40px ;  line-height:40px; text-align:center;color: #fff; background-color: #43ac39; font-size: 16px;}
.more_comment span{display: block; float:left;width:200px; font-size: 16px; color: #919191;height:40px ;  line-height:40px;padding-left:10px;}

.screenshots-container {position: relative;overflow: hidden;zoom: 1}
.screenshots-container ul {overflow: hidden;position: relative}
.screenshots-container li { float: left;margin-right: 24px}
.screenshots-container img {display: block;margin: 0 auto;width:200px;height: 330px;}
.screenshots-container .screenshots-scroll {height: 5px;background-color: #dfdfdf;margin: 12px auto;position: relative;border-radius: 5px;-moz-border-radius:5px;-webkit-border-radius: 5px;}
.screenshots-container .screenshots-scroll div {position: absolute;height: 9px;left: 0;top: -2px;background-color: #43ac39;border-radius: 5px;-moz-border-radius:5px;-webkit-border-radius: 5px;}
#safe_icon li#safe_icon5{background:url(../images/ca_dev.jpg) no-repeat}

/*www安智市场详情页20141017*/
#sf-banner{background:url(../images/soft_banner_bg.jpg) no-repeat center; height:623px; margin-top:-17px; clear:both}
.sf-main{width:960px; margin:0 auto; overflow:hidden;}
.sf-mobile-img{padding:52px 70px 49px;}
.sf-mobile-mod{padding:94px 45px 0px 40px;}
.sf-mobile-mod h3{width:446px; height:48px; background:url(../images/Element_bg.png) no-repeat -212px 9px;}
.sf-version{position:relative; width:85px; padding-top:12px; padding-bottom:2px; font-size:20px; color:#42ab3a; vertical-align:middle; text-align:center;}
.ver-module{padding:39px 90px; overflow:hidden;}
.ver-list li{font-size:18px; color:#42ab3a; line-height:28px; text-align:left;}
.down-module{padding:10px 35px;}
.down-module p{padding:15px 0px 0px;}
.sofe-button{border:0px; width:271px; height:88px; cursor:pointer; display:inline-block;}
.down-button{background:url(../images/Element_bg.png) no-repeat 0 -291px;}
.down-button:hover{background:url(../images/Element_bg.png) no-repeat 0 -379px;}
.history{background:url(../images/Element_bg.png) no-repeat 0 -467px;}
.history:hover{background:url(../images/Element_bg.png) no-repeat 0 -555px;}
.boxF-down-button{background:url(../images/Element_bg.png) no-repeat -289px -291px;}
.boxF-down-button:hover{background:url(../images/Element_bg.png) no-repeat -289px -379px;}

.boxA{height:640px;}/*box-A*/
.boxB{height:660px;}/*box-B*/
.boxA-bg{background-color:#fff;}/*box-A*/
.boxB-bg{ background-color:#f9f9f9;}/*box-B*/
.sf-box-module{padding:73px 0px;}

.box-left{float:left;}
.box-right{float:right;}
.box-icon{width:80px; height:80px; display:inline-block; margin-right:20px;}
.box-Soar{margin-top:195px;}
.box-Title{font-size:40px;color:#666666; line-height:50px;}
.box-Intr{font-size:20px;color:#d2d2d2;}

.box-Soar-icon{background:url(../images/Element_bg.png) no-repeat 0 -48px; }

.boxB-Soft{margin-left: -35px;}
.boxB-Soft-module{margin-right: 62px;}
.boxB-Soft-icon{background:url(../images/Element_bg.png) no-repeat -97px -48px;}

.boxC-module{padding:73px 0px;}
.boxC-share-icon{background:url(../images/Element_bg.png) no-repeat -194px -48px;}

.boxD-module{padding:73px 0 73px;}
.boxD-adsolute{width:418px; height:65px; margin-left:430px; margin-top: 290px; background:url(../images/Box_Soar_4_1_bg.png) no-repeat; display:inline;position: absolute; z-index:99;}
.boxD-down{margin-top:0;margin-right: 37px;}
.boxD-down-icon{background:url(../images/Element_bg.png) no-repeat -291px -48px;}

.boxE-module{padding:90px 0px 70px;}
.boxE-btn{width:800px;margin:0 auto; overflow:hidden;}

.boxE-fl li{float:left; padding:0 32.5px}
.boxE-icon{width:130px; height:130px; display:inline-block;}

.boxF-module{text-align:center; margin-top:108px;}
.boxF-module h2{font-size:38px; color:#808080;}
.boxF-version{position:absolute; width:56px; height:36px; font-size:18px;color:#fff; background:url(../images/Element_bg.png) no-repeat -45px 0;; margin-top:-18px;margin-left: -2px;line-height: 35px;}
.boxF-down{margin-top:45px;}

.fl-iconA{background:url(../images/Element_bg.png) no-repeat 0px -144px;}
.fl-iconB{background:url(../images/Element_bg.png) no-repeat -147px -144px;}
.fl-iconC{background:url(../images/Element_bg.png) no-repeat -289px -144px;}
.fl-iconD{background:url(../images/Element_bg.png) no-repeat -431px -144px;}
.fl-Title{font-size:24px; color:#b8b8b8; padding-top:20px;text-align:center;}

.title h3{float: left;}
.wonderful{margin: 10px 20px;}
.wonderful h1{padding-bottom:14px; font-size: 20px;}
.wonderful_tips span{padding-left:25px}
.wonderful_txt{margin-top:10px; padding-top:10px; border-top:1px solid #ececec; text-align: justify; text-indent: 2em; line-height: 25px;}
.wonderful_txt p{margin-bottom: 15px;}
.wonderful_txt img{max-width:100%;}
.wonderful_list{margin: 9px;}
.wonderful_list li{width:100%; height:24px; margin-bottom: 6px; line-height: 24px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.app_detail2{width:654px; margin: 10px auto;}
.title_tips{text-align: center; font-size: 22px;}

.news_list li{padding:0 13px 30px; border-bottom: 1px solid #ececec;}
.news_list li h3{height:70px; font-size: 20px; line-height: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.news_infor{}
.news_img{float: left; width:172px; height:126px;}
.news_img img{display: block; width:172px; height:126px;}
.news_txt{float: right; width:445px; line-height: 22px;}
.news_date{margin-top: 5px;}
.news_hot li.news_hot_spec{height:78px; white-space: normal;}
.news_hot_img{float: left; width:106px; height:78px;}
.news_hot_img img{display: block; width:106px; height:78px;}
.news_hot_txt{float: right; width:155px; font-size: 15px; line-height: 18px;}
.news_hot_txt h3{font-weight: bold; font-size: 15px;}
.news_hot_txt p{margin-top:4px; white-space: normal;}
.news_nav{width:958px; height:38px; margin: -16px auto 0; padding:9px 0; border:1px solid #ECECEC; border-top:none}
.news_nav ul li{display: inline-block; width:129px; height:38px; margin: 0 15px;}
.news_nav ul li a{display: block; width:129px; height:38px; text-align: center; line-height: 38px; font-size: 18px;}
.news_nav ul li a:hover,.news_nav ul li.current a{background:#43ac39; color:#fff; text-decoration: none;}
.news_nav2{margin-bottom:13px; border: none; border-bottom: 1px solid #e6e6e6; margin-top:0}