@charset "utf-8";
/* CSS Document */
#passit_def_div a,#passit_def_div span,#passit_def_div img,
#passit_box,#passit_box_con,#passit_box_con_icon,
#passit_box_con span,#passit_box_con a,
h5#passit_box_con_top,h5#passit_box_con_bottom
{padding:0px;margin:0px;list-style:none; font-family: "Arial","宋体";text-align:left;color:#333;}

#passit_box a,#passit_box img,#passit_box * { padding:0; margin:0; border:0; list-style-type:none; } 
#passit_def_div a,#passit_def_div a:link{border:0; list-style-type:none;}

/*passit_defalt_bar*/
#passit_def_div {
   height:16px;
   line-height:16px;
   clear:both;
}
#passit_def_div img{
	float:left;
	margin-right:2px;
	border:0px solid white;
}
#passit_def_div .passit_default{
	width:50px;
	font-size:12px;
	text-decoration:none;
	line-height:18px!important;
    border:0px solid white;
}
#passit_def_div .passit_txt1{
    width:45px;
}
#passit_def_div a{
  width:16px;
  height:16px;
  line-height:1em;
  margin-right:4px;
  float:left;
  font-size:12px;
  text-decoration:none;
  font-weight:normal;
  color:#333333;
  outline:none;
  overflow:hidden;
}

#passit_def_div a:hover{
  font-size:12px;
  text-decoration:none;
  font-weight:normal;
  color:#333333;
  outline:none;
  background:none;
  filter:alpha(opacity=80);
  opacity:0.8;
}
#passit_def_div a span{
  background-image: url("../images/passit_16_ie6.gif");
  background-repeat: no-repeat;
  border:0px;
  width:16px;
  height:16px;
  line-height:16px;
  display:block;
  cursor:pointer;
  padding:0px;
  float:left;
  vertical-align:middle;
}
.passit_widget{
 border:0px solid white;
 background:none;
 cursor:pointer;
 max-width:200px;
}
/*lc*/
#passit_box { 
	width:258px;
	height:auto;
	display:none;
	position:absolute;
}
#passit_r_top {
	width:258px;
    height:5px;
	overflow:hidden;
	background:url(../images/passit_div_bg.png) no-repeat 0px 0px;
	_background:url(../images/passit_div_bg_ie6.gif) no-repeat 0px 0px;
}
#passit_r_center {
	overflow:hidden;
	background:url(../images/passit_div_bg.png) no-repeat 0px -10px;
	_background:url(../images/passit_div_bg_ie6.gif) no-repeat 0px -10px;
	width:258px;
}
#passit_r_bottom { 
	width:258px;
    height:5px;
	overflow:hidden;
	background:url(../images/passit_div_bg.png) no-repeat 0px -320px;
	_background:url(../images/passit_div_bg_ie6.gif) no-repeat 0px -320px;
}


#passit_box_con { 
	width:248px;
	margin:0 auto;_margin-left:5px;position:relative;background:#fff;
	font-size:12px;
	overflow:hidden;	
	color:#4c4c4c;
}
	
h5#passit_box_con_top,h5#passit_box_con_bottom { padding-left:10px; font-weight:normal; height:22px; line-height:22px; font-size:12px; background:#f2f2f2; overflow:hidden; }
h5#passit_box_con_top { border-bottom:1px solid #e5e5e5; margin-bottom:6px; }
h5#passit_box_con_bottom { border-top:1px solid #e5e5e5; }
h5#passit_box_con_bottom a,h5#passit_box_con_bottom a:hover { font-size:12px; color:#333; }
h5#passit_box_con_bottom a { text-decoration:none; }
h5#passit_box_con_bottom a:hover { text-decoration:underline; }

#passit_box_con_icon {background:#fff; width:248px; padding:0px 3px 0px 3px;  margin:0 auto; overflow:hidden; }

#passit_box_con_icon a,#passit_box_con_icon a:hover { float:left; width:115px; height:22px; line-height:22px; margin:0px 3px 6px 3px; display:block;  display:inline; overflow:hidden; text-decoration:none;   } 
#passit_box_con_icon a { background-color:#ffffff; color:#333;  }
#passit_box_con_icon a:hover { background-color:#f2f2f2; color:#000;  background:url(../images/passit_div_bg.png) no-repeat 0px -293px;_background:url(../images/passit_div_bg_ie6.gif) no-repeat 0px -293px;} 
#passit_box_con_icon a span { width:16px; height:16px; overflow:hidden; display:block; position:relative; left:3px; top:3px; float:left; margin-right:8px; }


/* ly */
#passit_box{overflow:hidden;}
#passit_box a:hover{left:0px;top:0px;border:0px;}
#passit_box_con_icon a span{background-image: url("../images/passit_16_ie6.gif");background-repeat: no-repeat;width:100px;padding-left:20px;line-height:1.3em;*line-height:1.5em;_line-height:16px;cursor:pointer;}
.passit_iframe_mask{ z-index:-1;  width:359px;  height:410px;  position:absolute;  filter:alpha(opacity=0);border:0px;float:left;left:0px;  top:0px;  } 
.passit_div_mask{  z-index:-1;  width:300px;  height:400px;  position:absolute;  filter:alpha(opacity=0);border:0px;float:left;left:0px;  top:0px;  } 
#passit_box_con_icon .icon_more_hover{cursor:pointer;background-color:#f2f2f2; color:#000; background:url(../images/passit_div_bg.png) no-repeat 0px -293px;_background:url(../images/passit_div_bg_ie6.gif) no-repeat 0px -293px;}
#passit_close_btn{cursor:pointer;position: absolute; top: 10px; left: 330px; z-index: 100000000; background:none; width:15px;border:0px;margin:0px;padding:0px;overflow:hidden;height:14px;display:block;}


.passit_widget span{
  height:12px;
  line-height:1.2em;
  vertical-align:bottom;
}
.passit_widget img{
  vertical-align: middle;
}
#passit_def_div .share_count{
	width:36px;
	margin-left:-3px;
	overflow:hidden;
	background-image:url(../images/indexs/value.gif); 
    background-position:0px -64px;
}

#passit_def_div a.share_count:hover{
	background-image:url(../images/indexs/value.gif); 
  	background-position:-36px -64px; 
}
#passit_def_div .share_count span{
  width:36px;
  height:16px;
  display:block;
  font-family:Arial,helvetica,sans-serif;
  text-align:center;
  font-size:11px;
  font-weight:bold;
  color:#565656;
  cursor:default;
  overflow:hidden;
  background:none;
  padding-left:2px;
}
#passit_like .share_count{
	width:50px;
	margin-left:2px;
	height:22px;
	overflow:hidden;
	background-image:url(../images/indexs/value.gif); 
    background-position:0px -99px;
    float:left;
    padding:3px 0px;
}

#passit_like a.share_count:hover{
	background-image:url(../images/indexs/value.gif); 
  	background-position:-50px -99px; 
}
#passit_like .share_count span{
  width:50px;
  height:16px;
  display:block;
  font-family:Arial,helvetica,sans-serif;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  color:#565656;
  cursor:default;
  overflow:hidden;
  background:none;
  padding-left:2px;
}
