/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #b3c677; color: #000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}

.banner img,.title img,.infor_list img{ width: 100%;}
.main{padding:0 8px;}
.title{margin-top: -30px;}
.infor_list{margin-top:24px;}
.btns a{display:block; width:147px; height:57px; margin:24px auto; background:url(../images/btn_01.png) no-repeat; background-size:100% 100%; overflow:hidden; text-indent:-9999px;}
.btns_02 a{background:url(../images/btn_02.png) no-repeat; background-size:100% 100%;}