/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#440e0e}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#440e0e}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}


.main{position:relative; background:url(../images/main_bg3.jpg) no-repeat; background-size:100% 100%}
.maininner{ padding:0 11% 50px; background:url(../images/main_bg1.png) repeat-y; background-size:contain}
.mainbom{position:absolute; left:0; bottom:0; z-index:2}
.mainbom img{width:100%}
/*有通用的地方*/
.wrap{padding:32px 18px 10px 5px; background:url(../images/bg2.png) no-repeat top right; background-size:100% 100%; position:relative}
.rounddot1{position:absolute; left:14px; top:14px; width:8px; height:8px; background:#d6a4ff; border-radius:50%}
.rounddot2{position:absolute; right:24px; top:14px; width:8px; height:8px; background:#d6a4ff; border-radius:50%}

.wrap2{margin:0 15px; padding:10px 10px 0; background:#783bbc; position:relative}
.wrap2_bg{display:block; width:100%; height:5px; background:url(../images/main_bg3.png) no-repeat; background-size:100% 100%; position:absolute; left:0; top:-5px}
.titles{width:93px; height:25px; margin:3px 0 3px; background:url(../images/title_01.png) no-repeat; background-size:100% 100%}
.rule_title2{ background:url(../images/title_02.png) no-repeat; background-size:100% 100%}
.rule_title3{background:url(../images/title_06.png) no-repeat; background-size:100% 100%}
.end_title{background:url(../images/title_07.png) no-repeat; background-size:100% 100%}
.active_title{background:url(../images/title_05.png) no-repeat; background-size:100% 100%; margin-top:12px}
.btns{display:block; width:74px; height:26px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-align:center; line-height:27px; color:#ffde00; font-weight:bold}
.title{padding:10px 0 8px 0; position:relative}
.title h3{font-weight:bold;color:#440e0e}

.banner{width: 100%; margin: 0 auto; background:url(../images/); position:relative; }
.banner img{ width: 100%;}
/*index*/
.rule{padding:10px 0 0 0;}
.rule p{line-height: 22px;}
.rule p span{display:block; color:#fff; font-size:12px; line-height:18px}
.login_wrap{margin:12px 0 0; padding:12px 15px 42px; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; position:relative; color:#ffd452}
.logined{ padding:0 8px; position:relative}
.logined_l{margin-top:12px}
.logined_r{width:74px; height:26px; position:absolute; right:5px; top:25px;}
.logined_r a{background:url(../images/btns.png) no-repeat; background-size:100% 100%;}
.logined_l p{ padding:2px 0;}

.active_ctn{margin-bottom:10px;}
.active_ctn li{position:relative; padding:0 0 0 10px; line-height:22px;}
.active_ctn span{width:20px; position:absolute; top:1px;}
.active_ctn p{margin-left:20px;}
.notice{ margin:12px 0; padding:2px; background:url(../images/notice_bg.png) no-repeat; background-size:100% 100%;}
.notice_list{height:28px; padding:0 15px 0 25px; line-height:28px;}
.btns1 a{display:block; width:105px; height:36px; margin:10px auto; line-height:36px}
.soft{padding:14px 0 10px; position:relative}
.soft .titles{width:125px; background:url(../images/title_03.png) no-repeat; background-size:100% 100%}
.soft_title a{ position:absolute; right:3.5%; top:18px;}
.soft_list{padding:10px 0;}
.soft_list li{ float: left; display: inline; width: 25%;margin-top:10px;text-align: center;}
.soft_list li .soft-icon{text-align: center;}
.soft_list li .soft-icon img{ width: 66px;height: 66px; margin: 0 auto;}
.soft_list li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#912b2b; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li .soft-name a{ color: #912b2b;}
.soft_list li a.downlode{ display: block; width:64px;height: 24px; line-height: 24px; margin: 10px auto; background:url(../images/btns_05.png) no-repeat; background-size:100% 100%; background-clip: padding-box; border-radius:5px; border:1px solid #f25a53; line-height:24px; color:#fff;cursor: pointer; text-align: center; font-weight:bold}

.draw_lots_wrap{padding:1% 0 10%; background:url(../images/bg2.png) no-repeat; background-size:100% 100%; position:relative}
.drawlots_01 img,.draw_light img{width:100%; margin-top:16%}
.draw_light{position:absolute; left:0; top:0; opacity:0}
.active .drawlots_01{animation:lot_pot_ac  0.3s ease 0s 6 alternate forwards;-webkit-animation:lot_pot_ac  0.3s ease 0s 6 alternate forwards;}
@keyframes lot_pot_ac{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(15deg);}
    50%{transform:rotate(0deg);}
    75%{transform:rotate(-15deg);}
    100%{transform:rotate(0deg);}
}
@-webkit-keyframes lot_pot_ac{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(15deg);}
    50%{-webkit-transform:rotate(0deg);}
    75%{-webkit-transform:rotate(-15deg);}
    100%{-webkit-transform:rotate(0deg);}
}
.active .draw_light{animation:light_ac  0.3s ease 1.3s 1 normal forwards;-webkit-animation:light_ac  0.3s ease 1.3s 1 normal forwards; }
@keyframes light_ac{
    0%{transform:scale(0.0,0.0);opacity: 0;}
    100%{transform:scale(1.0,1.0);opacity: 1}
}
@-webkit-keyframes light_ac{
    0%{-webkit-transform:scale(0.0,0.0);opacity: 0;}
    100%{-webkit-transform:scale(1.0,1.0);opacity: 1}
}
.signin li{width:60px; height:80px; background:url(../images/lantern_02.png) no-repeat; background-size:100% 100%; position:absolute; text-align:center; color:#fff; font-weight:bold; line-height:58px; font-size:14px}
.signin li.lighten{background:url(../images/lantern_01.png) no-repeat; background-size:100% 100%; }
.signin li:nth-of-type(1){left:5px; bottom:14%}
.signin li:nth-of-type(2){left:5px; top:46%; margin-top:-40px}
.signin li:nth-of-type(3){left:5px; top:10%}
.signin li:nth-of-type(4){left:50%; top:10%; margin-left:-30px}
.signin li:nth-of-type(5){right:5px; top:10%}
.signin li:nth-of-type(6){right:5px; top:46%; margin-top:-40px}
.signin li:nth-of-type(7){right:5px; bottom:14%}
.draw_lots_btn1{position:absolute; left:10%; bottom:5%}
.draw_lots_btn2{display:block; width:86px; height:34px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; position:absolute; right:10%; bottom:3.5%}
.draw_lots_btn2 span{display:block; width:42px; height:38px; background:url(../images/hand.png) no-repeat; background-size:100% 100%; position:absolute; bottom:-30px; right:-20px; opacity:0.1}
.draw_lots_btn2 span.active2{animation:hand_ac 1s ease-in-out infinite;-webkit-animation:hand_ac 1s ease-in-out infinite; }
@keyframes hand_ac{
    0%{bottom:-30px; right:-20px; opacity: 0.1;}
    100%{bottom:-15px; right:5px; opacity: 1}
}
@-webkit-keyframes hand_ac{
   0%{bottom:-30px; right:-20px; opacity: 0.1;}
    100%{bottom:-15px; right:5px; opacity: 1}
}
.lottery_wrap{position:relative; margin:22px 0 0; min-height:120px; padding:10% 0 10px 15%; background:url(../images/bg3.png) no-repeat; background-size:100% 100%;}
.lottery_info{margin:0 10px; color:#440e0e;}
.lottery_info p{ font-size:14px}
.lottery_info p span{font-size:16px; color:#ff0700}
.lottery{position:relative; margin:8% 20px 0;}
.lottery img{width:100%}
.firecracker_02{position:absolute; left:0; top:0; opacity:0;}
.fireMove{animation:fireMove .6s linear forwards; -webkit-animation:fireMove .6s linear forwards}
.firecracker_03{position:absolute; left:50%; top:-2.2%; width:78%; margin-left:-33%; opacity:0}
.fireMove2{animation:light_ac  0.3s ease 0.7s 1 normal;-webkit-animation:light_ac  0.3s ease 0.7s 1 normal; }
.lottery_wrap  a.lottery_prize{position:absolute; right:15px; top:20%; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;z-index:101;}
.lottery_btns{width:80%; margin:10px auto 0; position:relative}
.lottery_btns span{position:absolute; right:10px; top:0}
.lottery_btns a.disabled,.disabled{background:url(../images/btns_disabled.png) no-repeat; background-size:100% 100%; color:#fff}

/*我的奖品*/
.main2{ background:url(../images/main2_bg.png) repeat-y; background-size:contain;overflow: hidden; position:relative}
.main2_inner{padding: 5% 0 10%; background:url(../images/paper_07.png) no-repeat left bottom; background-size:contain}
.my_prize{padding:15px 15px 8%; margin:0 6%; position:relative; background:#fcd575 url(../images/main2_bg2.png) no-repeat left bottom; background-size:contain; color:#651616}
.my_prize_list li{line-height:25px; font-size:16px; position:relative;}
.my_prize_list li a,.soft_title a,.prize_okr a{display:block; width:90px; height:32px; margin:5px auto 0; padding:0; background:url(../images/btns_04.png) no-repeat; background-clip: padding-box; line-height:33px; font-weight:bold; color:#fff; text-align:center;}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:16px}
.my_prize_list2 p{ padding:6px 0;}
.form-items li{ margin-top: 40px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px; color:#fff; text-shadow:#8b3737 1px 0 0,#8b3737 0 1px 0,#8b3737 -1px 0 0,#8b3737 0 -1px 0;}
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:90%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:7px; background:url(../images/line_bg.png) repeat-x;  margin: 8px 0px 15px; overflow:hidden;}
.my_prize .btns{margin-top:40px}

/*个人信息*/
.main2_top img{width:100%;}
.paper{position:absolute; width:7.1%; z-index:1}
.paper img{width:100%;}
.paper1{ left:0; top:15%}
.paper2{right:1px; top:26%}
.paper3{ left:0; top:40%}
.paper4{right:1px; top:54%}
.paper5{ left:0; bottom:20%}
.paper6{right:1px; bottom:30px}
.paper8{width:6%; left:0; top:32%}
/*结束页*/
.awards_wrap{margin-top:12px}
.awards_wrap img{width:100%}
.awards{background:#fbd471; padding:5% 20px 18%; position:relative; color:#440e0e}
.awards_list{line-height: 22px; text-align:center}
.slide_up{overflow:hidden;height:110px;position: relative;}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:90%; left:50%; top:50%; padding:0 0 20px 0; margin-left:-45%; z-index: 99999; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px 15px 0 15px;padding: 65px 9% 10px 26%; color:#440e0e}
.tip_title h6{ padding:6px; min-height:22px;  color:#fbdd94; font-size:16px; font-weight:bold; line-height:18px;text-align:center}
.tip-con p{padding:0 0 0 20px; line-height: 22px; word-wrap:break-word;word-break:break-all; font-size:14px;}
.tips_btns a{display:block; width:83px; height:30px; margin:15px auto 0; line-height:31px; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center; font-size:16px; font-weight:bold;}
#tip-box2{background:url(../images/dialog_bg2.png) no-repeat; background-size:100% 100%;z-index:100000;}
#tip-box2 .tip-con{margin:0; padding:70px 0 60px}
#tip-box2 img{width:124px; margin:0 auto}
#tip-box2 .tips_btns{width:64%; margin:0 auto}
#tip-box2 .tips_btns a,#tip-box3 .tips_btns a,#tip-box4 .tips_btns a{background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;}
#tip-box3{width:100%; background:url(../images/dialog_bg3.png) no-repeat; background-size:100% 100%; margin-left:-50%}
#tip-box3 .tip_title{margin-top:75px;}
#tip-box3 .tip_title h6,#tip-box4 .tip_title h6{padding-bottom:0; color:#440e0e}
.prize_ok{width:55%; margin:0 auto}
.prize_okl{float:left; width:100px}
.prize_okl img{display:block; width:100px; height:60px}
.prize_okl span{display:block; line-height:22px}
.prize_okr{padding:0 0 0 100px; font-size:13px; line-height:24px}
.prize_okr a {width:57px; height:22px; line-height:22px}
#tip-box3 .tips_btns{margin-bottom:50px}
#tip-box3 .tips_btns a,#tip-box4 .tips_btns a{margin-top:5px}
#tip-box4{width:100%; background:url(../images/dialog_bg4.png) no-repeat; background-size:100% 100%; margin-left:-50%; font-size:12px;}
#tip-box4 .form-items li{margin-top:6px}
#tip-box4 .form-items li input{padding:2px 6px}
#tip-box4 .form-items li label{width:65px; padding-top:4px;}
#tip-box4 .tip_title{margin-top:105px;}
#tip-box4 .form-items li span{margin-left:65px}
#tip-box4 .form_error{padding:0 0 0 65px}
#tip-box4 .tips_btns{margin-bottom:70px}
#tip-box4 .prize_ok{width:65%; margin:0 auto}

.footer{background:#000000; text-align:center; position:relative; color:#fff}
.footer p{padding:12px 10px 10px; line-height:22px}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#651616}
.mtop10{margin-top: 10px;}
@keyframes fireMove{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes fireMove{
	0%{opacity:0}
	100%{opacity:1}
}
@keyframes pound{
    from{transform: none;}
    50% {transform: scale(1.2);}
    to {transform: none;}
}
@-webkit-keyframes pound{
    from{-webkit-transform: none;}
    50% {-webkit-transform: scale(1.2);}
    to {-webkit-transform: none;}
}
.heart {animation: pound 1.2s infinite; -webkit-animation: pound 1.2s infinite;}
