/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:url(../images/body_bg.png) repeat; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; color: #fdb902; line-height:20px}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

.mtop10{margin-top: 10px;}
.main{padding:0 12px 8px; position:relative;}
.main2{padding:45px 0 10px; background:url(../images/bg3.png) no-repeat; background-size:100% auto; overflow:hidden}
.btns{background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; color:#671808; font-size:16px; font-weight:bold; text-align:center;}
.banner{width: 100%; margin: 0 auto; background:url(../images/)}
.banner img{ width: 100%;}
/*index*/
.introduce{position: relative; margin:-40px auto 0; background: url("../images/bg1.png") 0 0 no-repeat; background-size: 100% 100%; overflow:hidden; z-index:-1}
.rule{padding:50px 15% 80px 15%; color:#ffdd81;}
.rule p{line-height: 22px;}
.rule p.strong{font-weight:bold; color:#f2bb28; font-size:16px; line-height:24px;}
.rule p a{float:right; margin-right:20px; display:inline; text-decoration:underline; color:#5a1c80;}
.wrap{background:#450200; margin-top:20px; padding:20px 5px 10px; position:relative}
.coin_01{width:43px; height:41px; background:url(../images/coin_01.png) no-repeat; background-size:100% 100%; position:absolute; right:-10px; top:-13px}
.coin_02{width:32px; height:35px; background:url(../images/coin_02.png) no-repeat; background-size:100% 100%; position:absolute; left:-10px; bottom:-13px}
.coin_03{width:70px; height:81px; background:url(../images/coin_03.png) no-repeat; background-size:100% 100%; position:absolute; right:-10px; bottom:-23px}
#login_wrap{margin:0 12px}
.logined{ padding:0 10px; position:relative}
.logined_r{width:80px; height:26px; position:absolute; right:5px; top:7px;}
.logined_r a,.my_prize_list li a{display:block; width:80px; height:26px; background:url(../images/btns_01.png) no-repeat; background-size:80px 26px; text-align:center; line-height:27px; color:#761f0c; font-weight:bold}
.logined_r a.disabled{background:url(../images/btns_02.png) no-repeat; background-size:80px 26px; color:#464646}
.logined_l p{ padding:2px 0;}
.login{padding-top:15px; padding-bottom:15px}
.login .logined_r{top:13px;}
.star_list{margin: 10px 0px;}
.star_list span{float: left;width:32px;height:32px;line-height:32px;background: url("../images/stars.png") 0 0 no-repeat;background-size: 48px 144px;text-align: center}
.star_list span.star_gold{background-position:0 0; color:#915825}
.star_list span.star_gray{background-position:0 -40px;color: #606060}
.star_list span.star_lightgray{background-position:0 -77px;color: #d0d0d0}
.star_list em{float: left;width:6px;height:32px;background: url("../images/stars.png") 0 0 no-repeat;background-size: 48px 144px;}
.star_list em.spot_gold{background-position:-40px 0px;}
.star_list em.spot_gray{background-position:-40px -40px;}
.star_list em.spot_lightgray{background-position:-40px -76px;}
.lottery_wrap{background:url(../images/bg2.png) no-repeat; background-size:100% 100%; position:relative}
.lottery{width:300px; margin:20px auto 0; position:relative; overflow:hidden}
.lottery img{width:100%;}
.lottery_mark{width:70%; height:70%; background:rgba(0,0,0,0); position:absolute; left:14%; top:14%; transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.lottery_mark li {float:left; width:44%; height:44%; margin:3%;}
.lottery_mark li a{display:block;width:100%; height:100%; transform:rotate(45deg); -webkit-transform:rotate(45deg); text-indent:-99999px}
.line1{width:12px; height:60px; background:url(../images/linebg_01.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; top:-32px; margin-left:-6px}
.title{padding:10px 0 8px 0; position:relative}
.title h3{font-weight:bold; text-shadow:1px 0 0 #e21a00, 0 1px 0 #e21a00, -1px 0 0 #e21a00, 0 -1px 0 #e21a00}
.focus {margin-top:5px; position:relative;}
#focus_slide{width:100%; background:rgba(62,0,0,.85); overflow:hidden;}
#focus_slide ul{width:100%;}
#focus_slide ul li{width:100%; position:relative;float:left; -webkit-tap-highlight-color:rgba(255,0,0,0);}
#focus_slide ul li img{width:100%;}
.focus_dotted{ left:50%; height:40px; bottom:5px; position:absolute;}
.focus_dotted ul{left:-50%; padding-top:16px; position:relative;}	
.focus_dotted li{display:inline-block; width:8px; height:8px; background:#750300; margin:0 3px; overflow:hidden; text-indent:9999px; cursor:pointer; text-align:center}
.focus_dotted .on{ background:#bc1e1a;}

.tables table{width:100%; margin-bottom:10px}
.tables table td,.tables table th{padding:5px}
.tables table th{background:rgba(62,0,0,.85); color:#fdb902}
.tables table td{background:rgba(62,0,0,.5); color:#fdb902; text-align:center; color:#b0d5fb}
.tables table td.txtleft{text-align:left;}
.active_ctn{margin-bottom:10px}
.active_ctn li{position:relative; padding:0 0 0 10px; line-height:22px; color:#f45944; font-weight:bold}
.active_ctn span{width:20px; position:absolute; top:1px}
.active_ctn p{margin-left:20px;}
#active_ctn li{margin-top:10px; padding:0}
#weixin_txt li{color:#fdb902;}
#weixin_txt li:nth-child(2){margin-top:15px; color:#a00500; font-size:14px}
/*第一弹*/
.notice{ margin:18px 0; padding:2px; background:rgba(73,2,0,.65); color:#fff;}
.notice_list{height:28px; padding:0 10px; line-height:28px;}
.title2{margin:20px 0 0 0; text-align:center; font-weight:bold; text-shadow:1px 0 0 #e21a00, 0 1px 0 #e21a00, -1px 0 0 #e21a00, 0 -1px 0 #e21a00}
.lottery_info{margin:20px 10px 0;}
.lottery_info a{float:left; width:92px; height:28px; margin:6px 0 0 0; line-height:28px}
.lottery_info p{float:right; font-size:14px}
.lottery_info p span{font-size:16px; color:#ff0700}
.lottery1_list{width:306px; margin:0 auto; padding:0 0 5px 0}
.lottery1_list li{float:left; width:92px; height:114px; margin:15px 5px 0;}
.lottery1_list li a{display:block; width:92px; height:114px; position:relative;}
.lottery1_list li a div{width:92px; height:114px; position:absolute; left:0; top:0;}
.lottery1_list li img{display:block; width:92px; height:114px;}
.lottery1_list li a .front{z-index:2; transform-style: preserve-3d; transition: transform 0.3s linear 0s; backface-visibility:hidden; -webkit-transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s linear 0s;-webkit-backface-visibility:hidden;}
.lottery1_list li a .front2{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);}
.lottery1_list li a .back{z-index:1; transform: rotateY(-180deg); transform-style: preserve-3d; transition: transform 0.3s linear 0s;backface-visibility:hidden; -webkit-transform: rotateY(-180deg); -webkit-transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s linear 0s;-webkit-backface-visibility:hidden;}
.lottery1_list li a .back2{z-index:3;transform:rotateY(0deg);-webkit-transform:rotateY(0deg);}
.btns1 a{display:block; width:105px; height:36px; margin:10px auto; line-height:36px}
.btns2{width:78%; margin:0 auto 40px}
.btns2 a{display:block; width:110px; height:55px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns2 a:nth-child(2){background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
.main2 .active_ctn li{color:#fdb902;}
.btns3 a{display:block; width:110px; height:55px; margin:0 auto; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns4{width:40%; margin:0 auto}
.btns4 a{width:73px; height:23px; line-height:23px; font-size:14px}
.btns4 a:nth-child(2){width:50px}
/*第二弹*/
#lottery3_btns a:nth-child(1){background:url(../images/btns_05.png) no-repeat; background-size:100% 100%;}
#lottery4_btns a:nth-child(1){background:url(../images/btns_08.png) no-repeat; background-size:100% 100%;}
.egglist{width:90%; margin:20px auto 0;}
.egglist li{float:left; width:50%; position:relative;}
.egg img,.crack1 img,.crack2 img,.crack3 img{width:80%; margin:0 auto}
.crack1,.crack2,.crack3{position: absolute;width:100%;left:0px; top:0px;opacity: 0;}
.light{position: absolute;width:100%;left:0px; top:-20%;opacity: 0}
.light img{width:80%; position:absolute; left:50%; margin-left:-40%}
.hammer{position: absolute;width:40%; right:-11%; top:-5%;}
.hammer img{width:100%}
.egg_btn{display:block; width:94px; height:29px; margin:10px auto; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.egg_btn2{background:url(../images/btns_07.png) no-repeat; background-size:100% 100%;}
.active .hammer{animation: crack_ac 1s 0s normal forwards; -webkit-animation: crack_ac 1s 0s normal forwards;}
.active .crack1{animation: crack_ac 0.7s 0s normal forwards; -webkit-animation: crack_ac 0.7s 0s normal forwards;}
.active .crack2{animation: crack_ac 0.5s 0.5s normal forwards; -webkit-animation: crack_ac 0.7s 0.5s normal forwards;}
.active .crack3{animation: crack_ac 0.5s 1s normal forwards; -webkit-animation: crack_ac 0.7s 1s normal forwards;}
.active .light{animation: light_ac 0.3s 1.3s normal forwards;-webkit-animation: light_ac 0.3s 1.3s normal forwards;}
/*第三弹*/
.lottery3_list li{float:left; width:40%; margin:20px 5% 0;}
.lottery3_list li img{width:100%}
.lottery3_list li span{display:block; padding:10px 0 0; text-align:center;}
/*我的奖品*/
.my_prize{padding:15px; position:relative}
.my_prize_list li{line-height:25px; font-size:16px; position:relative;}
.my_prize_list li a ,.lottery_info2 a:nth-child(2){width:64px; height:26px; margin:5px auto 0; padding:0; background-image: -webkit-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); background-image: -moz-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); background-image: -o-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%) 100%); background-image: -linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); border-radius:4px; border:1px solid #5490d2; line-height:26px; font-weight:bold; color:#fff}
.lottery_info2 a:nth-child(2){float:right; width:90px}
.lottery_info2 p{float:none; padding:10px 0 10px; text-align:center}

.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative}
.my_prize_list2 p{ padding:6px 0;}
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px;}
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:100%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:1px; background:#810400; margin: 8px 0px 15px; overflow:hidden;}

/*结束页*/
.line{width:80%; height:1px; margin:5px auto 0; background:#a92614; overflow:hidden}
.awards{width:80%; margin:0 auto; padding:10px 20px; position:relative; color:#f45944}
.awards h4{padding:0; margin-bottom:10px; text-align:center; font-size:18px}
.awards_list{line-height: 22px; text-align:center}
.slide_up{overflow:hidden;height:110px;position: relative;}

.soft{padding:14px 20px 10px; position:relative}
.soft_title a{display:block; width:80px; height:27px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; text-align:center; line-height:27px; font-weight:bold; position:absolute; right:11%; top:18px; color:#671808}
.soft_list{padding:10px 0;}
.soft_list li{ float: left; display: inline; width: 25%;margin-top:10px;text-align: center;}
.soft_list li .soft_icon{text-align: center;}
.soft_list li .soft_icon img{ width: 66px;height: 66px; margin: 0 auto;}
.soft_list li .soft_name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#fdb902; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li .soft_name a{ color: #fdb902;}
.soft_list li a.download{ display: block; width:64px;height: 26px; line-height: 26px; margin: 10px auto; background-image: -webkit-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); background-image: -moz-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); background-image: -o-linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%) 100%); background-image: -linear-gradient(top, rgba(101, 180, 231, 1) 0%, rgba(31, 97, 183, 1) 100%); border-radius:4px; border:1px solid #5490d2; line-height:26px; color:#ffffff;cursor: pointer; text-align: center; font-weight:bold}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:320px; height:327px; left:50%; top:0; padding:0 0 20px 0; margin-left:-160px; z-index: 99999; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px 15px 0 15px;padding: 96px 12% 10px 14%; color:#2b2b2b}
.tip_title h6{ padding:6px; min-height:22px;  color:#fdb902; font-size:15px; font-weight:bold; line-height:18px;text-align:center}
.tip-con p{padding:14px 0 0; line-height: 22px; word-wrap:break-word;word-break:break-all; font-size:14px; color:#512a12}
.tip-box .btns1 a{width:82px; height:28px; line-height:28px}
#tip-box2 .tip_title,#tip-box3 .tip_title,#tip-box4 .tip_title{margin-right:10%}
#tip-box4 .btns1{margin-top:45px}


.footer{background:#2e0100; text-align:center; position:relative; color:#fff}
.footer p{padding:12px 10px 10px; line-height:22px}
.bold{font-weight:bold;}
.red{color:#ab0500}
@keyframes crack_ac{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes crack_ac{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hammer_ac{
	0%{}
	50%{transform:translate(-3px,-12px) rotate(-35deg);}
	100%{transform:translate(0,0) rotate(0deg);}
}
@-webkit-keyframes hammer_ac{
	0%{}
	50%{-webkit-transform:translate(-3px,-12px) rotate(-35deg);}
	100%{-webkit-transform:translate(0,0) rotate(0deg);}  
}
@keyframes light_ac{
    0%{transform:scale(0.1,0.1);opacity:0;}
    100%{transform:scale(1,1);opacity:1;}
}
@-webkit-keyframes light_ac{
    0%{-webkit-transform:scale(0.1,0.1);opacity:0;}
    50%{opacity:1;}
    100%{-webkit-transform:scale(1.2,1.2);opacity:1;}
}
@keyframes pound{
    from{transform: none;}
    50% {transform: scale(1.2);}
    to {transform: none;}
}
@-webkit-keyframes pound{
    from{-webkit-transform: none;}
    50% {-webkit-transform: scale(1.2);}
    to {-webkit-transform: none;}
}
.heart {animation: pound 1.2s infinite; -webkit-animation: pound 1.2s infinite;}
