/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;background:#f6f6f6; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:25px; color:#1a1a1a}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 15px; outline: none; color:#1a1a1a}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.main{padding:0 18px}
.header{padding:16px 0; border-bottom:1px solid #c2c2c2}
.logo{width:180px; height:24px; background:url(../images/logo_news.png) no-repeat; background-size:180px 24px; }
.title{ padding: 15px 0 5px; font-size: 1.625em; font-weight: 200; line-height: 26px;}
.meta span{ color: #a3a3a3; line-height: 26px; font-size:14px}
.news_img img{display:block; max-width:100%; margin:8px 0;}
.split{font-size:1.125em; line-height:30px; text-indent:2em; text-align: justify;}

.more-to-app{ height:40px; margin-top:10px;}
.more-to-app a{display:inline-block; width:98%; height:40px; padding:0 0 0 2%; background:#649af9; border-radius:6px; line-height:40px; color:#fefefe; position:relative}
.more-to-app a:hover,.more-to-app a:active{background:#507dcc}
.more-to-app i{width:9px; height:15px; background:url(../images/icon.png) no-repeat right center; background-size:9px 15px; position:absolute; right:13px; top:13px}
.more-to-app2 a{background:#ededed; color:#649af9}
.more-to-app2 i{background:url(../images/icon_3.png) no-repeat right center; background-size:9px 15px;}
.head{ width: 100%; height: 32px; margin-top:10px; line-height: 32px; border-bottom: 1px solid #e3e3e3;}
.head h2{display:inline-block; border-bottom:1px solid #649af9; font-size:1.225em; font-weight:500; color:#191919}
.commentlist{width:100%; margin-top:10px;}
.commentlist li{ width:100%; min-height:50px; position:relative}
.comment_img{position:absolute; left:0; top:10px; width:50px; height:50px}
.comment_img img{display:block; width:50px; height:50px}
.comment_txt{margin:0 0 0 60px;}
.comment_txt h4{height:28px; line-height:28px; color:#999999}
.comment_txt h4 span{float:left;}
.comment_txt h4 em{float:right;}
.comment_txt p{width:100%; font-size:1.125em; line-height:22px;}
.relatedlist li{float:left; width:100%; border-bottom: 1px solid #e3e3e3; padding: 10px 0;}
.relatedlist li:last-child{border-bottom:none}
.relatedlist li h2{height:44px; line-height:22px; font-size:1.125em; font-weight:400}
.relatedlist li  p{margin-top:20px; color:#999999; font-size:0.825em}
.thumb{float:right; width: 145px; height:98px; margin-left:10px;}
.thumb img{width: 145px; height:98px;}