/* CSS Document */
.zt_items{margin-top:18px;}
.zt_items_top{width:520px; height:128px; border-bottom:3px solid #8cc20e;}
.zt_items_top img{float:left; width:220px; height:128px;}
.zt_items_txt{float:left; width:300px; height:128px; background:#464646; color:#c9c9c9;}
.zt_items_txt h4{height:52px; color:#99cc00; font-size:18px; text-align:center; line-height:52px; white-space:nowrap; overflow:hidden}
.zt_items_txt h4 a{color:#99cc00;}
.zt_items_txt p{height:60px; padding:0 6px 0 8px; line-height:20px; overflow:hidden}

.ztlist{width:208px;}
.ztlist li{float:left; width:208px; height:148px; border-bottom:1px dashed #B2B2B2}
.ztlist li img{display:block; width:175px; height:102px; margin:12px auto 2px;}
.ztlist li span{display:block; width:180px; height:30px; margin:0 auto; white-space:nowrap; overflow:hidden; text-align:center; line-height:30px; text-overflow:ellipsis;}
.ztlist li.zt_more{height:36px; border-bottom:none; line-height:36px; text-align:center; color:#000000;}
.ztlist li.zt_more a{color:#000000;}


.zt_mainlist{width:720px; margin:0 auto;}
.zt_mainlist li{float:left; width:360px; height:102px; padding:21px 0; border-bottom:1px solid #ebebeb;}
.zt_mainlist li img{float:left; display:block; width:175px; height:102px; margin:0 8px 0 12px; display:inline}
.zt_mainlist li h4{float:left; width:160px; height:30px; font-size:18px; color:#669900; white-space:nowrap; text-align:center; overflow:hidden;}
.zt_mainlist li h4 a{color:#669900;}
.zt_mainlist li p{float:left; width:160px; height:66px; line-height:22px; overflow:hidden;}
 
#zt_detail_top{width:520px; height:175px; overflow:hidden}
#zt_detail_top img{width:300px; height:175px;}
#zt_detail_top .zt_items_txt{width:210px; height:175px; padding:0 5px; overflow:hidden}
#zt_detail_top .zt_items_txt p{height: 100px;}

#zt_detail_list{width:518px; overflow:hidden;}
#zt_detail_list li{float:left; width:518px; height:auto; padding:14px 0 18px; border-bottom:1px solid #ebebeb; position:relative}
.zt_detaillist_top{width:518px; height:48px; font-size:12px; color:#999999;}
.zt_detail_r h4{height:24px; font-size:16px;}
.zt_detail_r h4 a{ color:#669900;}
.app_top{height:22px; line-height:22px}
.app_icon{float:left; width:48px; height:48px; margin:0 18px; display:inline}
.app_icon img{display:block; width:48px; height:48px;}
.app_version{width:90px;}
.app_star{width:130px;}
.app_star span{float:left;}
.app_star img{float:left; margin-top:6px;}
.app_down{position:absolute; right:20px; top:10px; width:100px; height:40px; margin-top:4px;}
.app_down a{display:block; width:100px; height:40px; background:url(../images/down.png) no-repeat; text-indent:-9999px}
.app_down a:hover{background:url(../images/down.png) no-repeat 0 -40px;}
.zt_detail_info{width:490px; padding:12px 6px; margin:15px auto 0; background:#f2f9fb; border:1px solid #e7e7e7; position:relative;}
.zt_detail_info p{width:490px; overflow:hidden; line-height:20px;}
.zt_detail_info span{display:block; width:12px; height:11px; background:url(../images/arrow_01.png) no-repeat; position:absolute; top:-11px; left:90px;}
.app_time{width:130px;}

.hotlist{display:none;}
.tab_zt{width:100%; height:45px; background-image:url(../images/tab_zt.png); background-position:0 0; background-repeat:no-repeat; border-bottom:3px solid #8cc20e; line-height:45px; color:#fff; overflow:hidden; font-size:16px;}
.tab_zt li{float:left; width:193px; height:45px; text-indent:3.2em; cursor:pointer;}
.zt_recommend{display:none;}

.install_zt{width:200px; height:283px; padding:4px; margin-bottom:18px; background:#ebebeb; border:1px solid #d3d3d3;}
.install_title{width:200px; height:42px; background:#464646; line-height:42px;}
.install_title h2{ background:url(../images/android_icon2.png) no-repeat 10px 6px; padding-left:45px; font-size:16px; color:#ffffff;}
#install_left_btn{width:30px; height:30px; background:url(../images/bg2.png) no-repeat -120px -67px; position:absolute; left:5px; top:5px; cursor:pointer}
#install_right_btn{width:30px; height:30px; background:url(../images/bg2.png) no-repeat -150px -67px; position:absolute; right:5px; top:5px; cursor:pointer}
.install_item_title{height:38px; text-align:center; line-height:38px; position:relative;}
.install_zt_cnt{width:200px; height:203px; background:#fff;}
.install_zt_list li{float:left; width:190px; height:86px; padding:14px 2px 0 8px; border-bottom:1px dashed #eaeaea; display:inline;}
.install_zt_list li img.install_icon{float:left; width:48px; height:48px; margin-right:10px; display:inline;}
.install_zt_r{float:left; width:130px; height:70px; position:relative;}
.install_zt_r h4{font-size:16px; height:30px;}
.install_zt_r img{ display:block; height:10px; padding:0 0 10px 0; overflow:hidden;}
.install_zt_r p{height:22px; white-space:nowrap;}
.install_zt_list .down{width:48px; height:24px; position:absolute; left:0; bottom:-6px;}

.stars_zt{ margin:0 0 5px;}
.category_soft {display:none;}
#category_0{display:block;}