/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:0.14rem; font-family:Microsoft Yahei,"微软雅黑"; background: #e33232; color: #fff;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fff; font-size: .14rem;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.banner{width:100%; position: relative;}
.banner img{ width: 100%; display:block;}
.main{padding:0.35rem; background:url(../images/main_bg.png) no-repeat; background-size:100% 100%}
.part1{padding:0.2rem 0.2rem 0; background:url(../images/flow_bg.png) no-repeat; background-size:100% auto}
.btn_nav{position: relative; z-index: 2;}
.btn_nav_l{float:left; }
.part1 a{width:1.62rem; height:0.49rem; background:#ffc503; border:0.04rem solid #be1a1a; border-radius: 25px; font-size: 0.3rem; text-align: center;  line-height: 0.51rem;}
.txt_border{text-shadow:#be1a1a 1px 0 0,#be1a1a 0 1px 0,#be1a1a -1px 0 0,#be1a1a 0 -1px 0;}
.btn_share{float: right;}
.part1 p{width:100%; height:0.87rem; margin:0.25rem 0 0; padding-top:0.1rem; background:url(../images/stars_01.png) no-repeat; background-size:auto; font-size: 0.24rem; color:#fff; text-align: center; line-height: 0.3rem;}
.down_info{height:0.67rem; margin:0 0.2rem; padding:0 0.2rem; border:0.04rem solid #fff; border-radius: 10px; font-size: 0.26rem; color:#fff; line-height: 0.69rem;}
.down_info p{float:left;}
.down_info span{float: right;}
.soft_wrap{padding-top:0.46rem; background:url(../images/stars_02.png) no-repeat; background-size:100% auto}
.soft_list{width: 96%;margin: -0.2rem auto 0;}
.soft_list li{float: left;display:inline;width: 21%;margin: 0.38rem 2% 0;}
.soft_list li p{text-align: center;}
.soft_icon{border:0.06rem solid #fe9d01; border-radius: 20%;}
.soft_list li .soft_icon img{width:96%; border:0.03rem solid #863900; border-radius: 18%;}
.soft_list li .soft_name{width:100%; height:0.24rem; margin: 0.15rem 0 0.13rem; line-height:0.24rem; font-size:0.22rem; text-overflow:ellipsis; white-space:nowrap; overflow: hidden}
.soft_list li a.soft_btn{display:block; width:1.23rem; height:0.45rem; background:#ffc503; border:0.04rem solid #be1a1a; margin:5px auto 0; border-radius: 25px; text-align:center; line-height:0.47rem; font-size: 0.24rem;}
.btn1{display: block; width:3.08rem; height:0.62rem; margin: 0 auto; background:#ffc503; border:0.04rem solid #be1a1a; border-radius: 30px; line-height: 0.64rem; font-size: 0.28rem; color: #fff; text-align: center;}
.footer{height:0.7rem; background:#fc3636; line-height: 0.7rem; text-align: center; font-size: 0.24rem; color:#d9f0a2}
.bg4{margin-top:-0.2rem; padding:0.74rem 0 0.56rem; background:url(../images/stars_03.png) no-repeat; background-size:100% 100%;}
.gray{background:#cecece}
.wrap{margin:0 0.35rem; border:2px solid #fd4242; border-radius: 10px;}
.main2{ padding:0.5rem 0 0.6rem; background:url(../images/stars_05.png) no-repeat; background-size: 100% auto;}
.tips{padding-bottom:1rem; text-align: center;}
.tips p{color:#d9f0a2; font-size: 0.3rem; line-height: 0.3rem;}
.end_wrap img{width:2.2rem; margin: 0.82rem auto 0.6rem;}
.update_wrap{margin: 0 0.2rem;}
.update_wrap p{padding:0.3rem 0 0.68rem}
.update_wrap img{width:2.46rem; margin: 0 auto;}
.rule_b{display:block; padding-bottom: 0.7rem; color:#d7e9ad; font-size: 0.26rem; text-align: center;}
.rule_wrap{position: relative;}
.rule{padding:0 0.2rem; font-size: 0.26rem; line-height: 0.42rem;}
.rule img{display: block; width:4.22rem; height:0.81rem; margin: 0 auto 0.4rem;}
.rule_wrap p{text-align: justify;}
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.guide_down,.guide_install{width:2.84rem; color:#fff; font-size: 0.34rem; text-align: center; line-height: 1.2rem; position: relative;}
.guide_down i{display: block; width:6.01rem; height:4.08rem; background:url(../images/guide_01.png) no-repeat; background-size:100% 100%; position: absolute; left:-0.13rem; top:-0.23rem; z-index: 99999; display: none;}
.guide_install i{background:url(../images/guide_02.png) no-repeat; background-size:100% 100%;}
.guide_open i{background:url(../images/guide_03.png) no-repeat; background-size:100% 100%;}