/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑";}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}
.underline{text-decoration:underline;}
.main{padding:0 0 10px;}
.nav{width:100%; height:36px; border-bottom:1px solid #e0e0e0;}
.nav li{float:left; width:33.3%; height:35px; line-height:35px; text-align:center; color:#8f8f8f; font-size:16px}
.nav li a{display:block; width:100%; height:100%; color:#8f8f8f}
.nav li.current{border-bottom:2px solid #0394f1; color:#0394f1;}
.nav li.current a{color:#0394f1;}

.applist{width:100%;}
.applist li{padding:10px 10px 8px; min-height:62px; border-bottom:1px solid #e6e6e6; position:relative;color:#a5a5a5;}
.applist2 li{padding:10px 10px 2px}
.app_icon{width:60px; height:60px; position:absolute; left:8px; top:11px}
.app_icon img{display:block; width:60px; height:60px;}
.app_info{padding:0 0 0 70px;}
.app_info h4{ padding:2px 0;color:#545454; font-size:18px;}
#list_box .app_info h4{width:69%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.app_code{padding:1px 68px 4px 0; color:#0394f1; word-wrap:break-word; word-break:break-all;}
.app_count{font-size:12px}
.app_count p{float:left; width:34%; height:4px; margin:7px 5px 0 0; background:#dddddd;}
.app_count p span{display:block; height:4px; width:40%; background:#0394f1;}
.app_btn{width:72px; height:28px; border:1px solid #0394f1; border-radius:2px; position:absolute; right:15px; top:26px; line-height:28px; text-align:center; font-size:14px; color:#0394f1; z-index:11}
.app_btn:hover{background:#0394f1; color:#fff;}
.applist2 li .app_btn{width:60px;}
.app_form{height:22px; padding:3px 0 0; line-height:22px;}
.app_form em{float:left; font-style:normal;}
.app_form span{float:right;}
.click_area{position:absolute; left:0; top:0; bottom:0; right:0; z-index:10}

.giftpeck_no{padding:160px 0 0; text-align:center; color:#7a7a7a}

.detail{padding-bottom:42px;}
#detail_app .app_count p{width:60%;}
.detail_title{padding:10px 10px 5px; position:relative;}
.detail_title h6{color:#2b2b2b; font-size:18px}
.detail_title span{position:absolute; right:10px; top:9px; color:#0394f1;}
.detail_cnt{padding:0 10px 5px 10px; color:#a5a5a5; font-size:16px; line-height:24px}
.detail_other{margin:0;}
.detail_other li{padding:8px 15px 8px 10px; border-top:1px solid #e6e6e6;}
.detail_other li a{display:block; width:100%; height:100%; background:url(../images/arrow_bg.png) no-repeat right center; background-size:8px 15px; color:#a5a5a5}
.detail_btn{margin:10px 10px 0;}
.detail_btn a{display:block; width:100%; padding:8px 0;  background:#0394f1; border-radius:5px; color:#fff; font-size:18px; text-align:center;}
.detail_btn a:hover{background:#007ecf;}
.gray a,.gray a:hover{background:#c8c8c8}
.app_gray,.app_gray:hover{color:#a5a5a5; border:1px solid #a5a5a5; background:none}

.applist_more{width:38%; height:30px; margin:15px auto 5px; background:#fff; border:1px solid #0394f1; color:#0394f1; line-height:31px; text-align:center; position:relative}
.applist_more a{display:block; width:100%; height:100%; color:#0394f1; font-size:17px}
.app_loading i{position:absolute; left:40%; width:80px;  font-size:17px; margin-left:-40px; font-style:normal; color:#666;}
.app_loading img{position:absolute; left:68%; width:30px; height:30px;}

/*弹框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute;width: 90%;left:50%;top:50%; padding-bottom:8px; margin-left:-45%; background:#ffffff;  border-radius:4px; z-index: 99999; color:#545454}
.tip_hd{ height:30px; background:#f4f7f8; padding:10px 15px 7px; border-radius:4px 4px 0 0}
.tip_hd h4{font-size:18px;}
.tip-mid{padding:15px 15px; border-bottom:1px solid #e6e6e6;}
.tip-mid p{color:#545454;}
.active_code{display:block; margin:15px 0 8px; padding:4px; border:1px solid #0394f1; color:#0394f1; text-align:center; word-wrap:break-all; }
.tips_btn{display:block; width:100%; margin:10px 0 4px; text-align:center; color:#0394f1; font-size:18px}
.clo{ position: absolute;right: 20px;top: 10px;}
.clo a{ display: block; width:30px; height:30px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}

.footer{width:100%; height:42px; background:#2b2b2b; position:fixed; left:0; bottom:0}
.footer a{display:block; width:70px; height:42px; margin:0 10px 0 10px; text-align:center; line-height:43px; color:#fff; background:url(../images/arrow_bg2.png) no-repeat 0 14px; background-size:8px 15px;}
.footer a.fresh{background:url(../images/fresh_bg.png) no-repeat center right; background-size:25px 21px}