/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:16px; font-family:Microsoft Yahei,"微软雅黑";  background-image: -webkit-linear-gradient(top, rgba(130, 38, 30, 1) 0%, rgba(69, 20, 23, 1) 100%); background-image: -moz-linear-gradient(top, rgba(130, 38, 30, 1) 0%, rgba(69, 20, 23, 1) 100%); background-image: -o-linear-gradient(top, rgba(130, 38, 30, 1) 0%, rgba(69, 20, 23, 1) 100%); background-image: -linear-gradient(top, rgba(130, 38, 30, 1) 0%, rgba(69, 20, 23, 1) 100%); color: #372221;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}
.wordwrap{word-wrap:break-word;word-break:break-all;}

::-webkit-input-placeholder { color:#becaca;}
:-moz-placeholder {color:#becaca;}
::-moz-placeholder {color:#becaca;}
:-ms-input-placeholder {color:#becaca;}

.btns{display:block; width:88px; height:32px; margin:10px auto; background:url(../images/btns_bg.png) no-repeat; background-size:100% 100%; border-radius:4px; color:#fff; font-size:16px; text-align:center; line-height:32px; color:#743206}

.banner{position: relative; width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}
.banner a.detail{ display: block;width:88px; height:31px;line-height:30px;position: absolute;bottom:6px;right:2%; background-position: 0 -32px;background-size:136px 170px; font-size: 16px; color: #f0436e;}
/*公告*/
.notice_wrap{width: 100%;height: 43px; margin-top:5px;line-height: 43px;background-image: -webkit-linear-gradient(top, rgba(253, 195, 51, 1) 0%, rgba(253, 138, 1, 1) 100%); background-image: -moz-linear-gradient(top, rgba(253, 195, 51, 1) 0%, rgba(253, 138, 1, 1) 100%); background-image: -o-linear-gradient(top, rgba(253, 195, 51, 1) 0%, rgba(253, 138, 1, 1) 100%); background-image: -linear-gradient(top, rgba(253, 195, 51, 1) 0%, rgba(253, 138, 1, 1) 100%); border-radius:20px; color: #fff; overflow: hidden;}
.notice{height:39px; margin:2px; border-radius:20px; background:#71211c; line-height:40px; position:relative;}
.notice-icon{ display:block; width: 25px;height:21px;margin:0 0px 0px 8px; background:url(../images/icon_01.png) no-repeat; background-size:25px 21px; position:absolute; left:5px; top:9px;}
.notice-list{margin-right:15px; margin-left:42px}
.notice-list span{color: #fff;padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}
.prompt{ padding:15px 0; font-size:16px; color:#fffffe;}
.prompt_btn{display:block; height:27px}
.prompt_btn i{float:left; width:13px; height:27px; background:url(../images/prompt_btn_bg1.png) no-repeat; background-size:100% 100%}
.prompt_btn span{float:left; padding:0 5px; height:25px; line-height:25px; border-top:1px solid #fdc333; border-bottom:1px solid #fd8a01; color:#fbbf42}
.prompt_btn em{float:left; width:13px; height:27px; background:url(../images/prompt_btn_bg2.png) no-repeat; background-size:100% 100%}
.prompt_btn a{color:#fbbf42}
.subject{margin:0 0 8px; padding:10px; background:#ffcc00; font-size:16px; color:#702e0e;}

.wth{width: 94%; margin:0 auto;}
.white-wrap{width: 94%; margin:10px auto 30px auto; background-color: #fff;}

.main{margin:8px 15px;}
.wrap{width:90%; margin:-22px auto 0; padding:15px 0 0; background:#f9bd40; border:1px solid #fd7801; border-radius:15px; position:relative; z-index:1}
.title_bg{width:100%; height:65px; background:url(../images/title_bg.png) no-repeat; background-size:100% 100%; position:relative; z-index:2}
.title_bg2{margin:20px 0 0; background:url(../images/title_bg2.png) no-repeat; background-size:100% 100%;}
.wrap_bom{width:100%; height:35px; background:#c68f15; border-radius:0 0 15px 15px; overflow:hidden;}
.title_bg2 h3 img{width:135px; height:36px; position:absolute; left:50%; top:-10px; margin-left:-67px}
.wrap2{width:90%; margin:0 auto; padding:15px; border:1px solid #fdc333; border-radius:15px; position:relative; }
/*index*/
.gift{height:280px; position:relative;}
.gift_txt img{display:block; width:100%}
.gift_box{width:155px; height:127px; background:url(../images/gift_box.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; margin-left:-78px; bottom:8px; cursor:pointer; z-index:4}
.gift_box2{width:253px; height:143px; background:url(../images/gift_box2.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; margin-left:-127px; bottom:8px; z-index:2; opacity:0}
.light{width:249px; height:203px; background:url(../images/light.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; margin-left:-128px; top:38px; z-index:3; opacity:0}
.light_open{-webkit-animation:light .6s .1s linear forwards; animation:light .6s .1s linear forwards}
.open{-webkit-animation:open .5s .0s linear forwards; animation:open .5s .0s linear forwards}
/*软件*/
.soft-p{padding:8px 0; color:#ffffff; font-size:16px;}
.soft-list{ width:88%; margin: 5px auto 10px; padding:0px 5px 12px; background:#d6272e; border:3px solid #d27b13; color:#fffefe; border-radius:4px; box-shadow:inset 0 0 20px rgba(144,3,16,1)}
.soft-list a{color:#fffefe;}
.soft-list li{ float: left; display: inline; width: 50%;margin:8px 0px; position:relative;}
.soft-list li .soft-icon{position:absolute; left:10px; top:8px; width:60px; height:60px;}
.soft-list li .soft-icon img{ width: 60px;height: 60px;}
.soft-txt{margin:0 0 0 70px;}
.soft-list li .soft-name{ margin:11px 8px 8px; height: 20px; line-height: 20px; color:#fff; overflow: hidden;}
.soft-list li .soft-name a{ color: #fff;}
.soft-list li a.downlode{float:left; width:56px;height: 25px; line-height: 26px; margin: 0 8px; background: #ffd800; border-radius: 3px; color: #ea5e00;cursor: pointer; text-align:center; font-size:14px}
.btns_app{width:75px; height:28px; margin-top:4px; background:url(../images/btns_bg.png); background-size:100% 100%; margin-right:15px; color:#fff; line-height:26px; color:#743206}

.soft-list2{background:#b2284a; color:#fffefe;}
.soft-list2 li{position: relative;padding:15px 0px;clear: both; overflow: hidden;}
.soft-list2 li .soft_icon{position:relative;float: left; padding:0 10px;}
.soft-list2 li .soft_icon img{width: 60px;height: 60px;}
.soft-list2 li .soft_info h4{padding:2px 85px 4px 0px;line-height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.soft_info .star{height: 13px;}
.soft_info .star img{float:left;width: 13px; height: 13px;}
.soft_info .size{ padding-top: 3px;}
.soft-list2 .downlode{position: absolute; display:block;width:64px;height:25px;line-height:26px;right: 10px;top:25px;  border-radius: 3px; color: #fffefe;cursor: pointer; text-align:center;}
.click_bar{position: absolute; display: block; width:100%; height:100%; top:0px; left: 0px; z-index: 3}

.prizemy_title{margin:20px 15px 0; font-size:18px; color:#fff}
.prizemy_title img{display:block; width:260px; z-index:2; position:relative}
.prize-title{padding:20px 10px 0; font-size:18px;}
.prize-text{padding:5px 10px 0; line-height:28px}
.prize_btns{display:block; padding:4px 10px; background:#aa0f06; border-radius:15px; position:absolute; right:15px; top:10px; color:#fff; font-size:16px}
.prize_btns2{position:static; width:80px; margin:10px auto 0; border-radius:10px; padding:8px; text-align:center}
.btns_tip{background:#aa0f06; border-radius:15px; color:#fff; border:none}
.tips_p{ width:70%; margin:0 auto; padding:20px 0 10px; border:1px solid #fdc333; border-radius:15px; text-align:center; color:#fabe42}
.tips_p img{display:block; width:107px; height:134px; margin:15px auto 0;}

/*detail 活动规则*/
.detail_wrap{ width:91%; margin:-18px auto 20px; background:#febd45; padding:25px 0 15px; border-radius:15px; color:#aa0f06; position:relative;}
.detail_list h4{padding:0 15px 6px; font-size: 18px; font-weight: bold;}
.detail_list  p{padding:0 15px; font-size: 16px; line-height: 25px;}

/*活动结束*/
.end-title{width:260px; height:40px; margin:10px auto; padding:8px 0; line-height:40px; font-size:24px;text-align:center}
.end{padding-bottom:45px; font-size:18px; line-height:28px; font-weight:normal; position:relative;}
.end a{ display:block; padding:15px 10px 10px; font-size:18px; text-decoration:underline; color:#aa0f06}
.end em{padding:0 10px 8px; font-size:16px;}
.end_means{width:66px; height:60px; background:url(../images/end_means.png) no-repeat; background-size:100% 100%; position:absolute; right:10px; bottom:10px;}

/*邮寄地址*/
.form1{width:85%; margin:0 auto; font-size:14px;}
.form_title{margin:15px auto 0;}
.form-item{ margin:12px 0 0; }
.form-item label{ float: left;width:55px; padding:8px 0;}
.form-item .textbox input{float:left; width:68%; padding:8px 12px; background:#fff; border-radius:2px; border:none; font-family: "Microsoft Yahei"; color:#898787;}
.prompt2{padding:5px 0 0;}
.prompt3{padding-left:55px}
.footer img{width:100%}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute;width: 90%;left:50%;top:50%; margin-left:-43.5%; background:#f6ba3b; border-radius:10px; z-index: 99999; color:#512505}
.tip_hd img{width: 107px; height:134px; margin:15px auto 0;}
.tip-mid{padding-bottom:4px;border-radius: 0px 0px 15px 15px;}
.tip-con{padding:15px 25px 25px 25px;margin:0px 4px}
.tip-con p{line-height: 25px; text-align: center;font-size: 16px;}
.clo{ position: absolute; right: -5px; top: 6px;}
.clo a{ display: block; width:38px; height:38px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}
.prize_okl{float:left; width:70px}
.prize_okl img{display:block; width:70px; height:70px}
.prize_okl span{display:block; line-height:22px}
.prize_okr{padding:0 0 5px 80px; font-size:16px; line-height:24px}
.btns2{width:216px; margin:0 auto}
.btns2 a{float:left; margin:15px 6px;}
.btns3{width:288px}
.prize_ok{width:80%; margin:10px auto; font-size:14px}
.tip-box1-inner{width:280px; height:280px; background:#c68f15; border-radius:140px; clip:rect(210px, 280px, 280px, 0); position:absolute; left:0; top:0}
.tip-box1{width:280px; height:280px; border-radius:140px; margin-left:-140px}
.tip-box1 img{width:130px; height:135px}
.tip-box1-inner .btns{position:absolute; left:50%; margin-left:-44px; bottom:15px;}
.tip-box3{top:40%; padding:75px 5px 30px; background:url(../images/tips_bg.png) no-repeat; background-size:100% 100%; color:#fff}
.tips_sim{ margin-bottom:8px; padding:5px; text-align:center; font-size:16px;}
/*share*/
#tip-box-share{background:#ffffff;}
#tip-box-share .tip_hd{ height:30px; margin:0 15px; padding:10px 0 7px; border-bottom:1px solid #e6e6e6;}
#tip-box-share .tip_hd h4{font-size:18px;}
#tip-box-share .tip-mid{padding-bottom:18px;border-radius: 0px 0px 15px 15px;}
#tip-box-share .clo{ position: absolute;right: 20px;top: 10px;}
#tip-box-share .clo a{display: block; width:30px; height:30px;background:url("../images/tip_clo2.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}
.share_wrap img{display:block; width:100%;}
.share_wrap p{width:204px; height:24px; position:absolute; left:50%; margin-left:-102px; top:37%}
.share_wrap p.share_none{width:174px; height:79px; margin-left:-87px; top:29%}
.btns_share .disabled{background:url(../images/share_disabled.png) no-repeat; background-size:100% 100%; color:#191919}
.share_tips li{float:left; width:33.3%; height:40px; margin:25px 0 0;}
.share_tips li a{display:block; width:32px; height:32px; margin:0 auto;}
.share_tips .jiathis_style_32x32 .jiathis_txt{float:none}
.share_tips .jiathis_style_32x32 .jtico{padding-left:0!important} 

/*九宫格抽奖*/
.lottery{width:270px; margin:0 auto 10px; position:relative;}
.lottery img{display:block; width:74px; height:81px; border:3px solid #d27b13; border-radius:2px}
.lottery table{border-collapse: separate; width:100%;}
.lottery td{width:78px;height:85px; padding:5px 6px 5px 6px;}
#my_click {width:78px;height:85px; cursor:pointer;}
.lottery p{position:absolute; width:78px;height:85px; left:96px; top:100px; display:block;}
.lottery p a{display:block; width:78px; height:85px;}
.waitGame{background:url(../images/lottery_disabled.png) no-repeat; background-size:100% 100%}

/*尾部*/
.footer{margin:5px 0 0; padding:20px 10px; background:#c68f15; color:#fff; text-align:center}
.blue{color:#0072bb;}
.redcolor{ color:#f6323a;}
.marauto{margin-left:auto; margin-right:auto}
@keyframes open {
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes open {
      0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes light{
    0%{transform:scale(0.1,0.1);opacity:0;}
	70%{transform:scale(1,1); opacity:1;}
	90%{transform:scale(1.2,1.2); opacity:1;}
    100%{transform:scale(1,1);opacity:0;}
}
@-webkit-keyframes light{
    0%{-webkit-transform:scale(0.1,0.1);opacity:0;}
	70%{-webkit-transform:scale(1.2,1.2); opacity:1;}
	90%{-webkit-transform:scale(1,1); opacity:1;}
    100%{-webkit-transform:scale(1,1);opacity:0;}
}

