/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#f54041; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative;}
.main_wrap{margin:0 12px 20px}
.main2{background:url(../images/bg9.png) no-repeat; background-size:100% auto}
/*有通用的地方*/
.banner{width: 100%; margin: 0 auto; position:relative;}
.banner img{ width: 100%;}
.info_p{margin:6px 0 4px; padding:20px 0 8px; background:url(../images/bg4.png) no-repeat 45% top;color:#fff8cb; text-align: center;}
/*红包翻翻乐*/
.draw_txt{padding:24px 5px 10px 15px; background:url(../images/bg5.png) no-repeat; background-size:100% 100%; text-align:center; color:#fff; font-size:18px}
.draw_txt p{width:80%; margin: 0 auto; padding:10px 0; background:#d13233; border-radius: 20px;}
.draw_txt span{color:#fddf33}
.draw{width:320px;height:290px; margin:0 12px; padding:15px 0; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; border-radius:4px; margin:0 auto; position:relative}
.light_ac{animation:.3s light_action infinite; -webkit-animation:.3s light_action infinite}
.card_wrap{position:relative; width:290px; height:290px; margin:0 auto; background:#feeea8; border-radius: 5px;}
.card_wrap ul li{width:90px; height:90px; position:absolute; left:0; top:0;}
.card{width:90px; height:90px;  position:absolute; left:0; top:0; perspective: 0; -webkit-perspective:0;  transition: 0.2s ease-out; -webkit-transition: 0.2s ease-out;}
.face{width:75px; height:66px; margin: 0.55em auto; background:url("../images/face.png"); background-size:100% 100%; position:absolute; left:50%; top:0; margin-left:-37px; transform:rotateY(180deg); transform-style:preserve-3d;transition: 0.8s ease-out; -webkit-transform:rotateY(180deg); -webkit-transform-style:preserve-3d;-webkit-transition: 0.8s ease-out;backface-visibility:hidden; -webkit-backface-visibility:hidden; z-index:2}
.backface{width:90px; height:80px;  position:absolute; left:0; top:0;box-sizing:border-box; text-align:center; backface-visibility:hidden; -webkit-backface-visibility:hidden; z-index:1;transition: 0.8s ease-out;}
.backface img{width:75px; height:66px; margin: 0.55em auto;}
.card_wrap ul li:nth-child(1){z-index:1; transform:translate3d(0.5rem,0.5rem,0); -webkit-transform:translate3d(0.5rem,0.5rem,0); background:#f7ade7}
.card_wrap ul li:nth-child(2){z-index:2; transform:translate3d(6.3rem,0.5rem,0); -webkit-transform:translate3d(6.3rem,0.5rem,0); background:#ffc445}
.card_wrap ul li:nth-child(3){z-index:3; transform:translate3d(12.1rem,0.5rem,0); -webkit-transform:translate3d(12.1rem,0.5rem,0); background:#76d5eb}
.card_wrap ul li:nth-child(4){z-index:4; transform:translate3d(0.5rem,6.3rem,0); -webkit-transform:translate3d(0.5rem,6.3rem,0); background:#ffc445}
.card_wrap ul li:nth-child(5){z-index:5; transform:translate3d(12.1rem,6.3rem,0);-webkit-transform:translate3d(12.1rem,6.3rem,0); background:#f7ade7}
.card_wrap ul li:nth-child(6){z-index:6; transform:translate3d(0.5rem,12.12rem,0); -webkit-transform:translate3d(0.5rem,12.12rem,0); background:#76d5eb}
.card_wrap ul li:nth-child(7){z-index:7; transform:translate3d(6.3rem,12.12rem,0); -webkit-transform:translate3d(6.3rem,12.12rem,0); background:#f7ade7}
.card_wrap ul li:nth-child(8){z-index:8; transform:translate3d(12.1rem,12.12rem,0); -webkit-transform:translate3d(12.1rem,12.12rem,0); background:#ffc445}
.card:nth-child(2){z-index:1; transform:translate3d(0.5rem,0.72rem,0); -webkit-transform:translate3d(0.5rem,0.72rem,0)}
.card:nth-child(3){z-index:2; transform:translate3d(6.32rem,0.72rem,0); -webkit-transform:translate3d(6.32rem,0.72rem,0)}
.card:nth-child(4){z-index:3; transform:translate3d(12.15rem,0.72rem,0); -webkit-transform:translate3d(12.15rem,0.72rem,0)}
.card:nth-child(5){z-index:4; transform:translate3d(0.5rem,6.55rem,0); -webkit-transform:translate3d(0.5rem,6.55rem,0)}
.card:nth-child(6){z-index:5; transform:translate3d(12.15rem,6.55rem,0);-webkit-transform:translate3d(12.15rem,6.55rem,0)}
.card:nth-child(7){z-index:6; transform:translate3d(0.5rem,12.3rem,0); -webkit-transform:translate3d(0.5rem,12.3rem,0)}
.card:nth-child(8){z-index:7; transform:translate3d(6.32rem,12.3rem,0); -webkit-transform:translate3d(6.32rem,12.3rem,0)}
.card:nth-child(9){z-index:8; transform:translate3d(12.15rem,12.3rem,0); -webkit-transform:translate3d(12.2rem,12.3rem,0)}
.start{width:90px; height:90px; position:absolute; background:url(../images/start.png) no-repeat center center; background-size:100% 100%; left:50%; top:50%; margin-left:-2.75rem; margin-top:-2.75rem; cursor:pointer}
.mask { width:90px; height:90px; background-color: rgba(0, 0, 0, 0.65); border-radius:8px; color: #fff; display: none; line-height: 90px; position: absolute; left:50%; top:50%; margin-left:-2.75rem; margin-top:-2.75rem; z-index: 10; text-align:center; font-size:18px}
.start-tip{width:90px; height:90px; display: none; line-height: 35px; position: absolute; left:50%; top:50%; margin-left:-2.8rem; margin-top:-2.35rem; z-index: 10; text-align:center; font-size:24px; color:#00ffff}
.disabled{background:#b1b0b0 url(../images/bg3.png) no-repeat; background-size:100% 100%;}
.disabled .backface img{border:5px solid #7f7f7f;}
.disabled .start{background:url(../images/start_disabled.png) no-repeat center center; background-size:76px 46px; cursor:auto}
/*九宫格抽奖*/
.lottery_wrap{margin-top:4px; padding-top:20px; background:url(../images/bg10.png) no-repeat; background-size:100% auto;}
.lottery{width:320px;height:286px; margin:0 auto 6px; padding:15px 0; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; border-radius:4px; position:relative}
.lottery_inner{width:276px; margin: 0 auto; padding:5px; background:#feeea8; border-radius: 4px;}
.lottery img{display:block; width:74px; height:74px; margin:4px auto 0}
.lottery table{border-collapse: separate; width:100%;}
.lottery td{width:78px;height:78px; padding:4px 5px 6px 5px; background:#d43434; border:2px solid #feeea8}
#my_click {width:88px;height:86px; cursor:pointer;}
.lottery p{position:absolute; width:89px;height:88px; left:116px; top:114px; display:block;}
.lottery p a{display:block; width:88px; height:86px;}
.lottery td.game_squ1{background:#f7ade7; border-top-left-radius:5px ;}
.lottery td.game_squ2{background:#ffc445;}
.lottery td.game_squ3{background:#76d5eb; border-top-right-radius:5px ;}
.lottery td.game_squ4{background:#ffc445;}
.lottery td.game_squ5{background:#f3431e;}
.lottery td.game_squ6{background:#f7ade7;}
.lottery td.game_squ7{background:#76d5eb; border-bottom-left-radius:5px ;}
.lottery td.game_squ8{background:#f7ade7;}
.lottery td.game_squ9{background:#ffc445; border-bottom-right-radius:5px ;}
.waitGame{background:#d5d5d5 url(../images/lottery_btn_dis.png) no-repeat center center; background-size:74px 74px}
/*软件列表*/
.soft_title p{float:left; width:275px; height:26px; background:url(../images/bg6.png) no-repeat; background-size:100% 100%; color:#fceb06; line-height: 26px; text-indent: 0.3em;}
.soft_title a{float:right; width:62px; height:26px; margin-right:12px; background:url(../images/icon_02.png) no-repeat right 7px; background-size:16px 16px; line-height:26px; color:#fff}
.soft_wrap{background:#fa5665; margin-top:12px}
.soft-list{padding:5px 0 10px; margin:10px 0 0;}
.soft-list li{ float: left; display: inline; width: 33.3%;margin:7px 0px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto; border:3px solid #ffd225; border-radius:18px}
.soft-list li .soft-name{ padding:0 5px; margin-top: 10px;height: 20px; color:#fff; line-height: 20px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis}
.soft-list li .soft-name a{ color: #fff;}
.soft-list li .soft-size{color:#fddf33}
.soft-list li a.download{ display: block; width:70px;height: 29px; border-bottom: 2px solid #d82825; line-height: 30px; margin: 10px auto 0 auto; background:#ffd002; color: #4f120b;cursor: pointer; border-radius:4px;}
.soft2 .soft-list li{ width:50%}
.soft2 .soft-list li .soft-icon img{ width: 146px; height:66px; margin: 0 auto; border:none}
.soft2 .soft-list li a.download{margin-top:6px}
.change_btn{display:block; width:48%; height:46px; background:#ffd225; margin:10px auto 0; border-radius:5px; text-align:center; line-height:46px; font-size:16px; color:#702294}
/*领取记录*/
.lottery_list{background:#e73c3d; margin:0 8px; padding:12px 10px 10px; border:1px solid #bc3132; color:#fceb06}
.lottery_list ul li{height:26px; line-height: 26px;}
.lottery_list ul li.list_spec{padding:6px 0 0; text-align: center; color:#fff; font-size:14px}
.lottery_list a{float:right; color:#fceb06; text-decoration: underline;}
.soft_txt p{height:32px; background:#e03d3f url(../images/bg7.png) no-repeat; background-size: 100% auto; line-height: 32px; color:#fceb06; text-align: center; font-size:13px;}
/*规则说明*/
.rules{padding:15px 10px 15px 15px; background:url(../images/bg8.png) no-repeat 5px 15px; background-size:100px 10px}
.rules h3{color:#fceb06}
.rules ul{margin-top:6px;line-height: 24px;}
/*准备开始和结束页*/
.tips_p2{padding-bottom: 13px; border-bottom: 1px solid #d13233;}
.tips_p img{display:block; width:136px; height:120px; margin:20px auto 0; padding:15px 0; overflow:hidden}
.tips_p p{ color:#fff8cb;}
.tips_p p.txt_spec{ font-size:22px; text-shadow:#7b1c10 2px 0 0,#7b1c10 0 2px 0,#7b1c10 -2px 0 0,#7b1c10 0 -2px 0;text-align:center; color:#fbe000}
.tips_p p.txt_spec2{padding:20px 20px 0 20px; line-break: ;}
.tips_p a,.tip-box a{margin:20px auto; }
.rule_btn{display:block; width:109px; height:36px; background:none; margin:15px auto 5px; border:1px solid #ffd225; border-radius:12px; line-height:36px; text-align:center; color:#ffd225; font-size:16px; font-weight:bold;}
.red_packets{width:50%; min-height:100px; background:#ffae00; border-radius: 4px; margin: 15px auto 10px}
.red_packets_top{background:#feeea8 url(../images/icon_03.png) repeat-x left bottom; padding:15px 20px; border-radius:3px 3px 0 0}
.red_packets_top p{color:#4f120b; text-align: center;}
.red_packets_bom p{padding:5px 20px 14px; text-align: center; color:#ffff00}
.red_packets_bom p span{display:block; padding:5px 0 0; color:#fff; font-size: 24px; font-weight: bold;}
.magtop12{margin-top: 12px;}
@keyframes light_action{
	0%{background-image:url(../images/bg1.png);}
	100%{background-image:url(../images/bg2.png);}
}
@-webkit-keyframes light_action{
	0%{background-image:url(../images/bg1.png);}
	100%{background-image:url(../images/bg2.png);}
}
.games{position:absolute;top:50%;left:50%;z-index:10;display:none;margin-top:-2.55rem;margin-left:-2.8rem;width:90px;height:82px;color:#0ff;text-align:center;font-size:18px;line-height:80px}.end_games{position:absolute;top:50%;left:50%;z-index:10;display:none;margin-top:-2.55rem;margin-left:-2.8rem;width:90px;height:82px;color:#0ff;text-align:center;font-size:18px;line-height:80px}


.tip-box2{ position:absolute;width: 90%; left:50%;top:50%; background:#fff; border-radius:15px; margin-left:-45%; z-index: 99999; font-size:15px; color:#818181}
.tip-title{height:38px; padding:0 0 0 15px; border-radius:15px 15px 0 0; background: #f4f7f8; line-height:36px; position:relative}
.tip-title h6{background:url(../images/fudong_logo.png) no-repeat 0 center; background-size:28px 28px; padding-left:32px; font-size:16px; color:#545454}
.tip-title span{position:absolute; right:10px; top:6px; width:28px; height:28px; background:url(../images/tip_clo.png) no-repeat; background-size:100% 100%; cursor:pointer}
.tip-con{ margin: 15px 0 0; padding: 10px 0 25px; border-bottom:1px solid #e6e6e6; text-align:center;}
.btns_close{display:block; height:38px; color:#19d5fd; line-height:38px; text-align:center; font-size:16px}
