/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:url(../images/body_bg.jpg) repeat; font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; color: #6f4c33; line-height:20px}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

.mtop10{margin-top: 10px;}
.padside{padding-left:40px; padding-right:15px;}
.main{position:relative}
#main_user{margin:0 10px; padding:0 10px; background:url(../images/main_bg.png) repeat-y; background-size:100% auto}
.banner{width: 100%; margin: 0 auto; background:url(../images/)}
.banner img{ width: 100%;}
.banner_bg{position: relative; margin:0 auto; background: url("../images/banner_bg.png") 0 0 no-repeat; background-size: 100% auto;}

/*活动规则*/
.rule{padding: 38px 30px 20px 40px; color:#6f4c33; font-size:14px;}
.rule p{line-height: 20px;}
.rule p.strong{font-weight:bold;}
.rule p a{float:right; margin-right:20px; display:inline; text-decoration:underline; color:#5a1c80;}
/*公告*/
.notice{height:30px; margin:12px 0 0; padding:0 20px; border-radius:20px; background:rgba(109,45,16,.34); line-height:30px; color:#6d2d10; font-size:16px;}
.notice2{position:absolute; left:0; top:0; background:rgba(255,255,255,.6); border-radius:0; color:#8b133a}

.logined{margin:20px 0 0 15px; font-size:16px; position:relative}
.logined_r{position:absolute; right:10px; top:0;}
.logined_r a,.my_prize_list li a{display:block; width:74px; height:32px; background:url(../images/btn_01.png) no-repeat; background-size:100% 100%; text-align:center; line-height:32px; font-weight:bold; color:#cd392a}
.logined_r a.login_btn{width:94px; height:37px; line-height:37px}
.logined_l p{ padding:8px 0; font-weight:bold; color:#cd392a}
.star_list{margin: 5px 0px;}
.star_list span{float: left;width:25px; height:25px; margin-right:3px; line-height:27px;background: url("../images/stars.png") 0 0 no-repeat;background-size: 25px 75px;text-align: center; display:inline; color:#5e3111; font-weight:bold}
.star_list span.star_gold{background-position:0 0; }
.star_list span.star_gray{background-position:0 -25px;}
.star_list span.star_lightgray{background-position:0 -50px;}
.line{height:2px; margin:20px 15px 0 40px; background:url(../images/line_bg.png) no-repeat; background-size:100% 100%; overflow:hidden}
.prize_index{position:relative; margin:10px 0 0 10px}
.prize_index p{height:30px; background:url(../images/stars_02.png) no-repeat left center;background-size:25px 25px; padding:0 0 0 30px; color:#cd392a; line-height:30px}
.prize_index a{display:block; position:absolute; right:10px; top:8px; width:94px; height:37px; background:url(../images/btn_02.png) no-repeat; background-size:100% 100%; text-align:center; line-height:37px; font-weight:bold; color:#cd392a}
.table_list{width: 100%;text-align: center;font-size: 12px; border:1px solid #442e19}
.table_list th{padding: 5px 0px; background:#704931; color: #f7eca0;border-right: 1px solid #442e19;}
.table_list td{padding: 5px 0px;border-right: 1px solid #442e19;border-top: 1px solid #442e19;}
.table_list th:last-child,.table_list td:last-child{border-right: 0;}
.instruction{padding:10px 0; font-weight:bold}
.active_ctn li{position:relative; padding:0 0 0 10px; line-height:22px}
.active_ctn span{width:20px; position:absolute; top:1px}
.active_ctn p{margin-left:20px;}
.title{padding:10px 0 8px 0; position:relative}
.title h3{color:#6f4c33; font-weight:bold}

.mod{margin: 10px 10px 10px; position:relative}

/*转盘抽奖*/
.lottery{background:url(../images/lottery_bg.png) no-repeat; background-size:100% 100%}
.rotate {width:280px; height:280px;  margin:25px auto 0; position: relative; overflow}
.rotate-con{width:100%;}
.rotate-con img{position:absolute; left:0; top:0; z-index:2}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 46%;height: 46%;margin-top: -23%;margin-left: -23%;background: url(../images/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;z-index:9999}
.pointer-disabled{background: url(../images/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%; z-index:11}
.lottery_bg2{width:122px; height:102px; background:url(../images/lottery_bg2.png) no-repeat; background-size:100% 100%; position:absolute; left:-18%; bottom:-2%; z-index:3}

/*我的奖品*/
.my_prize{padding:10px 25px 0 25px; color:#6f4c33}
.my_prize_list li{line-height:25px; font-size:16px; position:relative}
.my_prize_list li a {margin:0 auto}
.my_prize_list2{margin:10px 0 0 0; padding:5px 0; background:#ecc163; color:#6f4c33}
.my_prize_list2 li{ position:relative}
.my_prize_list2 p{ padding:6px 10px;}
.box_bottom{margin:0 10px}
.box_bottom img{width:100%}
.btns{margin-top:20px}
.btns a{display:block; width:178px; height:40px; margin:0 auto; background:#f16600; border:3px solid #e8ba32; border-radius:30px; background-clip: padding-box; text-align:center; line-height:40px; color:#ffecb5; font-size:18px}
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:120px;padding-top: 10px;}
.form-items li span{display:block;margin-left: 120px;}
.form-items li input{ width:100%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff;}
.form_error{display:block; padding:8px 0 0 120px; color:red}
.split{height:1px; background:#d58f31; margin: 15px 0px; overflow:hidden;}


/*结束页*/
.awards{padding:30px 20px; position:relative;}
.awards .line_right{top:-32px;right:75px}
.awards .line_left{top:-32px;left:75px}
.awards .title{padding:0; margin-bottom:10px}
.awards-list{line-height: 22px;}
.slide_up{overflow:hidden;height:110px;position: relative;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 275px; height:350px; left:50%; top:0; margin-left:-138px; z-index: 99999;background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px;padding: 190px 9% 10px; font-size:18px; color:#e8ba32}
.tip-con p{ line-height: 22px; word-wrap:break-word;word-break:break-all; text-align:center}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
.tip-box .btns a{width:134px; height:30px; line-height:30px; position:absolute; left:50%; margin-left:-67px; bottom:0}
#tip-box1 .tip-con{padding-top:210px;}

.leaves_top{position:absolute; left:0px; top:-14px; width:34px; height:52px; background:url(../images/leaves_02.png) no-repeat; background-size:100% 100%}
.leaves_bottom{position:absolute; left:20px; bottom:-50px; width:59px; height:49px; background:url(../images/leaves_01.png) no-repeat; background-size:100% 100%}
.leaves_center{position:absolute; right:10px; top:150px; width:51px; height:41px; background:url(../images/leaves_03.png) no-repeat; background-size:100% 100%}
.leaves_table{position:absolute; right:5%; top:60%; width:36px; height:37px; background:url(../images/leaves_04.png) no-repeat; background-size:100% 100%}
.lottery .leaves_center{right:-15px; top:90px; z-index:999}
.footer{ text-align:center; position:relative; font-weight:bold}
.footer p{padding:10px; line-height:22px}
.bold{font-weight:bold;}