/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #eed3fe; color: #000000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

.mtop{margin-top: 15px;}
.notice-icon,.ranking .num,.ranking td a.refresh{ background: url("../images/common_icon.png") 5px 0 no-repeat; background-size:50px 250px;}

.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
.banner_bg{position: relative; margin:0 auto;padding-bottom:25px;background: url("../images/banner_bg.jpg") 0 0 no-repeat; background-size: 100% 100%;}
.banner_end{background: url("../images/banner_bg2.jpg") 0 0 no-repeat; background-size: 100% 100%;}
/*结束页*/
.banner_bg2{position: relative; margin:0 auto;}
.banner_bg2 img{ width: 100%;}

/*活动规则*/
.rule{padding: 38px 30px 20px 40px; color:#ad65d9; font-size:14px;}
.rule p{line-height: 20px;}
.rule p.strong{font-weight:bold; color:#702e99;}
.rule p a{float:right; margin-right:20px; display:inline; text-decoration:underline; color:#5a1c80;}
/*公告*/
.notice{height:30px; margin:12px 0; padding:0 20px; background:rgba(211,115,220,.34); line-height:30px; color:#702e99; font-size:16px}
.notice2{position:absolute; left:0; top:0; background:rgba(255,255,255,.6); border-radius:0; color:#8b133a}

/**/
.main{float:left; width:100%; height:100%; position:relative; background: url("../images/main_bg.jpg") 0 0 no-repeat; background-size: 100% 100%;}
#main_user{padding:25px 0; background: url("../images/main_bg2.jpg") 0 0 no-repeat;}
#main_user1{padding:25px 0; background: url("../images/main_bg2.jpg") 0 0 no-repeat; background-size:100% 100%}
.prize_list{padding:0 2% 0 0; color:#fff}
.prize_list li{float:left; width:39%; height:150px; margin:1% 0 1% 2%; padding: 4.5%; background:url(../images/prize_bg.png) no-repeat; background-size:100% 100%; position:relative}
.prize_list li h4{font-size:16px; color:#f5be36;text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;}
.prize_over{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/prize_bg2.png) no-repeat; background-size:100% 100%}
.prize_info{position:relative; padding:10px 0;}
.prize_info span{float:left; margin:10px 0 0; font-size:12px}
.prize_info em{position:absolute; left:0; bottom:2px; color:#ff5959; font-size:16px;text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;}
.prize_info img{float:right;width:72px; height:70px}
.prize_time{padding:7px 0 0;}
.prize_time span{display:inline-block; padding:3px; background:#ff5959; border-radius:2px;}
.pagebars{width:324px; margin:0 auto}
.pagebars a{float:left; display:block; width:142px; height:44px; margin:0 10px;  background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-indent:-99999em;}
.pagebars a.next{background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
.rule_more{padding:15px; color:#ac61da; line-height:23px; font-size:15px}
.btns_05{position:absolute; right:15px; top:12px; width:130px; height:38px; background:url(../images/btns_05.png) no-repeat; background-size:100% 100%; line-height:38px; text-align:center; color:#fff; font-size:16px}
.prize_list2{padding:0 2% 0 0; color:#fff}
.prize_list2 li{float:left; width:39%; height:150px; margin:1% 0 1% 2%; padding: 4.5%; background:url(../images/prize_bg.png) no-repeat; background-size:100% 100%}
.prize_list2 li h4{font-size:16px; color:#f5be36;text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;}
.prize_info2 img{display:block; width:65px; height:77px; margin:5px auto 0;}
.prize_shapes{width:75px; height:6px; background:#fff; margin:7px auto; position:relative; font-size:12px}
.prize_shapes i{display:block; width:10px; height:6px; background:#ff5757}
.prize_shapes span{position:absolute; left:-31px; bottom:5px;}
.prize_shapes em{position:absolute; right:-30px; bottom:5px}
.prize_info_btn a{display:block; width:70px; height:22px; border-radius:8px; background-image: -webkit-linear-gradient(top, rgba(255, 215, 218, 1) 0%, rgba(255, 179, 70, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 215, 218, 1) 0%, rgba(255, 179, 70, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 215, 218, 1) 0%, rgba(255, 179, 70, 1) 100%); background-image: -linear-gradient(top, rgba(255, 215, 218, 1) 0%, rgba(255, 179, 70, 1) 100%); border:1px solid #de942c; margin:0 auto 5px; color:#fff; text-align:center; line-height:22px;}
/*软件*/
.title{padding:10px 0 0 10px; position:relative}
.title h3{color:#814aa5; font-weight:bold}
.title p{padding:5px 0; color:#fff; font-size:16px}
.prize_btn{position:absolute; right:2%; top:10px; display:block;width:110px; height:30px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; line-height:30px; text-align:center; color:#fff}
.refresh{position:absolute; right:90px; top:12px; width:46px; height:28px; background:url(../images/refresh_bg.png) no-repeat; background-size:100% 100%;text-indent:-99999px}
.btn_change{position:absolute; right:15px; top:0; width:64px;height: 25px; line-height: 26px; margin: 13px auto 10px auto; background-image: -webkit-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -moz-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -o-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); border:1px solid #7b19b7; border-radius: 4px; color: #fff;cursor: pointer; text-align:center; line-height:25px}
.mod{margin: 10px 10px 10px;  border-radius:8px;background:#f4b8ff; position:relative}
.soft-list{padding:5px; margin:10px 0 0;}
.soft-list li{ float: left; display: inline; width: 25%;margin:7px 0px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto;}
.soft-list li .soft-name{margin-top: 10px;height: 20px; color:#702e99; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #702e99;}
.soft-list li a.downlode{ display: block; width:64px;height: 25px; line-height: 26px; margin: 13px auto 10px auto; background-image: -webkit-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -moz-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -o-linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); background-image: -linear-gradient(top, rgba(247, 192, 255, 1) 0%, rgba(187, 85, 255, 1) 100%); border:1px solid #f66dff; border-radius: 4px; color: #fff;cursor: pointer;}
.prompt2{ text-align: center; font-size: 18px;margin-top: 35px; color:#8b133a}
.prompt4{margin-bottom: 5px; text-align: center; font-size: 18px;}

/*轮播图*/
.slideBox{ position:relative; overflow:hidden;margin: 4px 10px 0;padding: 5px; background-color: #cb72ff; }
.slideBox .bd{ position:relative;}
.slideBox .bd li{ position:relative;text-align:center;}
.slideBox .bd li img{ width:100%;}
/*登录以后*/
.line_left{width:13px; height:63px; background:url(../images/line_left.png) no-repeat; background-size:100% 100%; position:absolute; left:85px; top:-20px; z-index:2}
.line_right{width:13px; height:63px; background:url(../images/line_right.png) no-repeat; background-size:100% 100%; position:absolute; right:85px; top:-20px; z-index:2}
.line_left2,.line_right2{height:108px; top:-76px}
.line_left2{background:url(../images/line_left2.png) no-repeat; background-size:100% 100%;left:75px;}
.line_right2{background:url(../images/line_right2.png) no-repeat; background-size:100% 100%; right:75px}
.logined{position:relative;min-height:55px; margin-top:22px; padding:15px 40px 15px 40px; background:url(../images/login_bg.png) no-repeat; background-size:100% 100%;}
.logined ul{ line-height: 22px; color: #fff;}
.logined ul li{float:left}
.soft_icon{position: absolute;top:50%;right:10px;margin-top: -30px;}
.soft_icon img{width: 60px; height: 60px;}
.user_info{position: absolute;top:20px;right:6%;}
.user_info a{float:right; display: block;width: 98px;height: 38px;background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; line-height: 38px;text-align: center; color: #fff; font-size:16px; font-weight:bold}

/*我的奖品*/
.my_prize{margin:0px 10px;padding:10px; background-color: #f4b8ff; border-radius:10px;color:#702e99}
.my_prize_list li{line-height:25px; font-weight:bold; font-size:16px;}
.my_prize_list2 li{margin:10px 0 0; position:relative}
.my_prize_list2 p{margin:0 82px 0 0; padding:5px 8px; background:#f8d4ff}
.my_prize_list2 span{position:absolute; right:0; top:6px; width:70px; height:35px; background:#fbe5ff; color:#808080; text-align:center; line-height:35px}
.my_prize_list2 span.lottery_no{color:#6faf00}
.my_prize_list2 span.lotteryed{color:#f5554d}
/*联系信息*/
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:120px;padding-top: 10px;}
.form-items li span{display:block;margin-left: 120px;}
.form-items li input{ width:100%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff;}
.btn_submit{margin-bottom: 30px;}
.btn_submit a{ display: block;margin:0 auto;width: 142px; height: 40px; line-height: 40px; text-align: center; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; font-size:16px; color:#fff; text-align:center; font-weight:bold }
.split{height:1px; background:#db9deb; margin: 15px 0px; overflow:hidden;}


/*获奖名单页*/
.awards{padding:30px 20px; position:relative;}
.awards .line_right{top:-32px;right:75px}
.awards .line_left{top:-32px;left:75px}
.awards .title{padding:0; margin-bottom:20px}
.awards-list{line-height: 22px; color:#fff}
.awards_btns{position:absolute; right:0; top:0; display:block; width:148px; height:38px;background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; text-align:center; color:#fff; line-height:38px; font-size:15px}
.slide_up{overflow:hidden;height:110px;position: relative;}

/*提示框*/
#body-bg,#body-bg2{position:fixed;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%;left:50%;top:45%; margin-left:-45%;padding: 15px 0px; z-index: 99999;background:url(../images/tips_bg1.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px;padding: 100px 9% 75px;}
.tip-con p{ line-height: 22px; color: #fff;word-wrap:break-word;word-break:break-all;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
#tip-box2 .tip-con p,#tip-box3 .tip-con p,#tip-box4 .tip-con p,#tip-box5 .tip-con p{text-align:center}
#tip-box3 .tip-con p{padding:20px 0 8px}
.btns_false{position:absolute; left:50%; bottom:50px; margin-left:-52px; display:block; width:104px; height:38px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; line-height:38px; text-align:center; color:#fff; font-size:16px; font-weight:bold}
.win_sure{margin:60px 0 0; color:#fff; font-size:16px}
.win_sure h4{padding:0 0 3px 0; color:#f5be36;text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;}
.win_shapes{width:100%; height:8px; background:#fff; margin:6px 0 4px;}
.win_shapes i{display:block; width:10%; height:8px; background:#ff5759}
.win_sure ul{width:100%;}
.win_sure ul li{float:left; width:50%}
.win_num{padding:10px 0;}
.win_num_l{float:left; width:40%; height:26px; background:#fff; position:relative}
.win_num_l input{width:40%; padding:0 30%; height:26px; border:0; text-align:center}
.win_num_l span{display:block; width:20px; height:20px; position:absolute; top:3px; background:#d9d9d9; color:#8f8f8f; font-weight:bold; text-align:center; line-height:20px; cursor:pointer}
.win_num_l span.win_reduce{left:3px;}
.win_num_l span.win_add{right:3px;}
.win_num_r{float:left; width:60%}
.win_num_r span{float:left; height:26px; padding:0 2px; margin-left:2px; background:#fff; color:#5c5c5c; display:inline; cursor:pointer; font-size:12px; line-height:26px;}
.win_num_r em{float:left;height:26px;margin-left:2px;display:inline;font-size:12px; line-height:26px;}
#win_sure_btns{width:248px; margin:5px auto 0}
#win_sure_btns a{float:left; display:block; width:104px; height:38px; margin:0 10px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; line-height:38px; text-align:center; color:#fff; font-size:16px; font-weight:bold}
.yellow{color:#ffd500;}



.footer{ background:#714687; text-align:center; color:#fff;}
.footer p{padding:10px; line-height:22px}


