@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body,button,input,select,textarea{font:12px/21px Microsoft YaHei,tahoma,arial,\5b8b\4f53;}
ol,ul{list-style:none}
img{border:0}
.clearfix{zoom:1}
.clearfix:after,.clearfix:before{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clear { clear: both; height: 0; line-height: 0; font-size: 0; overflow: hidden;}
/**/
.az-zyxq-bg{background-color:#fff;padding:20px;}
.az-zyxq-module{width:100%; margin:0 auto;}
.az-zyxq-toplogo{text-align:center; margin-top:20px;}
.az-zyxq-bykh{ font-size:20px; color:#393939;text-align:center; margin-top:20px;}
.az-sofeweave-xz{margin:0 auto; margin-top:22px;width:124px;}
.az-sofeweave-xz li{font-size:14px; font-family:Microsoft YaHei,tahoma,arial; color:#aaaaaa;}
.az-down-bt{margin-top:40px; text-align:center;}
.az-down-bt .submit{width:200px; background-color:#7fc31e; border:none; line-height:42px;cursor:pointer; font-size:22px;font-family:Microsoft YaHei,tahoma,arial; font-weight:normal;letter-spacing:0.075em;color:#fff;}
.az-down-sm{padding:20px 0px 0px;;font-size:14px; font-family:Microsoft YaHei,tahoma,arial; color:#aaaaaa; text-align:center;}
/*contant*/
.az_xqsm_contant{width:100%; margin:0 auto; background-color:#fff;}
.az_xqsm_contant p{text-align:center;/* display:flex;*/ margin-bottom:-8px;}
@media screen and (max-width:480px){
	.az_xqsm_contant p img{display:inline-block; width:470px; margin:0 auto;}}
@media screen and (max-width:380px){
	.az_xqsm_contant p img{display:inline-block; width:370px; margin:0 auto;}}
@media screen and (min-width:280px) and (max-width:380px){
	.az_xqsm_contant p img{display:inline-block; width:310px; margin:0 auto;}}

footer{ margin-top:10px; font-size:14px;font-family:Microsoft YaHei,tahoma,arial;}
#az_footer{ padding:8px 0px; border-top:1px slild #c4df9b; text-align:center; border-top:1px solid #efefef; color:#444444; line-height:23px; height:70px;}
#az_footer p a,.topbtn{padding:0 9px;}
.topbtn{cursor:pointer;}
#az_footer a{color:#444; text-decoration:none;}