/* CSS Document */

body, div, span, applet, object, iframe,input, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption{ text-align:left;}
ins{ text-decoration: none;}
del{ text-decoration: line-through;}
input,select,img{ vertical-align:middle;}
input,textarea,select{font:12px '����';  }
fieldset, img { border: 0; }
address,code,caption,th,cite,dfn,em,var{font-style:normal;}
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }
q:before, q:after { content:""; }
legend{ display:none;}
a {color: #333; text-decoration:none; outline:none;}
a:hover { color:#996C33; text-decoration:underline;}
body{ margin:0 auto; font:12px/1.8 '����'; color:#3d3d3d; background:url(../images/body_bg.jpg) repeat;}
.wrapper{ margin:0 auto; width:1002px;  }