/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#3866a4; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#000000}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#000000}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; background:rgba(28,57,92,.46); padding:0 0 20px 0;}

.main2{background:#082240; overflow:hidden;}
/*有通用的地方*/
.wrap{background:#1c395c; margin:45px 6.5%; border-radius:5px; position:relative; z-index:1; color:#482608}
.titles{padding:5px 0; color:#e9a63f; font-size:18px; font-weight:bold}
.btns{display:block; width:117px; height:35px; margin:0 auto; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.title{height:36px; background:url(../images/title_bg.png) no-repeat; background-size:100% 100%; color:#fed13d; text-align:center; position:relative; line-height:36px;}
.title h3{color:#fed13d; font-size:18px; font-weight:bold; letter-spacing:2px}
.title img{display:inline-block; width:124px; margin-top:7px}
.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
/*index*/
.rule{ padding:13px 15px 15px; border-bottom:1px solid #1e5184;}
.rule p{ padding:3px 8px; line-height: 22px; position:relative; z-index:2; color:#e9a63f}
.rule p span{color:#c80000;}
.active_time{display:inline-block}

.btns1 a{display:block; margin:10px auto;}
.soft{padding:0 15px 10px; position:relative; z-index:2}
.soft p{ padding:3px 0; color:#e9a63f; line-height:22px}
.soft a.download{ display: block; width:196px;height: 49px; margin: 0 auto 10px; background:url(../images/btns.png) no-repeat; background-size:100%100%; text-indent:-9999px}
.soft a.registered{background:url(../images/btns_03.png) no-repeat; background-size:100% 100%}
.soft a.end{background:url(../images/btns_04.png) no-repeat; background-size:100% 100%}
.game_info{padding:8px 15px 0;}
.game_info p{color:#e9a63f; line-height:22px; word-break:break-all; word-wrap:break-word}
.focus {margin:12px 15px 40px; position:relative;}
#focus_slide{min-height:140px; background:#51adb4; overflow:hidden;}
#focus_slide ul{width:100%;}
#focus_slide ul li{width:100%; position:relative;float:left; -webkit-tap-highlight-color:rgba(255,0,0,0);}
#focus_slide ul li img{width:100%;}
.focus_dotted{ left:50%; height:40px; bottom:-35px; position:absolute;}
.focus_dotted ul{left:-50%; padding-top:16px; position:relative;}	
.focus_dotted li{display:inline-block; width:8px; height:8px; background:#152b45; margin:0 5px; overflow:hidden; 
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; text-indent:9999px; cursor:pointer; text-align:center
	}
.focus_dotted .on{ background:#77889d;}
.share_btn{display:block; width:117px; height:35px; margin:0 auto; background:url(../images/share_btn.png) no-repeat; background-size:100% 100%; text-indent:-9999px}

/*我的奖品*/
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#e9a63f}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:16px}
.my_prize_list2 p{ padding:6px 0;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px; color:#fed13e;}
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:90%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:11px; background:url(../images/line_bg.png) no-repeat; background-size:100% 100%;  margin: 8px 0px 15px; overflow:hidden;}
.my_prize .btns{background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; margin-top:40px; color:#000; font-size:18px}
/*结束页*/
#end_wrap {padding-bottom:30px}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:295px; height:210px; left:50%; top:50%; margin-left:-147px; z-index: 99999; background:#052647; border:1px solid #015079; border-radius:10px; font-size:15px;}
.tip-con{ margin: 15px 15px 0 15px; padding:20px 30px 10px 20px; color:#fff;}
.tip_title h6{ padding:2px 0 20px; min-height:20px; color:#fff; font-size:18px; font-weight:bold; line-height:18px;text-align:center}
.tip-con p{padding:0 0 20px 20px; line-height: 22px; word-wrap:break-word;word-break:break-all; font-size:15px; color:#fff}
.tips_btns a{display:block;  width:122px; height:36px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.footer{width:100%; height:42px; background:#00517b;  text-align:center; position:relative; color:#fff; line-height:43px}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#e9a63f}
.prompt_02{padding:5px 0 0 90px; color:red}

