.insInfo button {border: medium none; cursor: pointer; height: 20px; text-align: center; width: 62px;}
.insInfo button {background: url("http://w.qhimg.com/images/v2/webapp/soft/20110627/bgall.png") no-repeat scroll 0 0 transparent;border: 0 none;}
.installInfo button,.insInfo button{ border:none; cursor:pointer;}
.installInfo button{ width:80px; height:24px; }
/*焦点图按钮状态*/
button.ins2{ background-position:-316px -30px;}/*下载中*/
button.ins2On{ background-position:-399px -30px;}
button.ins3{ background-position:-316px -59px;}/*安装中*/
button.ins3On{ background-position:-399px -59px;}
button.ins4{ background-position:-316px -91px;;}/*已安装*/
button.ins4On{ background-position:-399px -91px;}
button.ins6{ background-position:-316px 0px;}/*立即安装*/
button.ins6On{ background-position:-399px 0px;}
/*列表按钮状态*/
button{ width:62px; height:20px; margin-top:2px;}
button.ins01{ background-position:0 0;}/*一键安装*/
button.ins01On{ background-position:-62px 0;}
button.ins02{ background-position:0 -27px;}/*已安装*/
button.ins02On{ background-position:-62px -27px;}
button.ins03{ background-position:0 -54px;}/*安装中*/
button.ins03On{ background-position:-62px -54px;}
button.ins04{ background-position:0 -80px;}/*下载中*/
button.ins04On{ background-position:-62px -80px;}
button.ins05{ background-position:0 -110px;}/*下载*/
button.ins05On{ background-position:-62px -110px;}