/* CSS Document */
.app_detail,.app_detail_list{widht:565px; margin:0 9px 0 10px; padding:26px 0 20px; border-bottom:1px solid #ebebeb;}
.detail_icon{float:left; width:85px; margin:0 20px 0 10px; text-align:center; display:inline;}
.detail_icon img{display:block; width:48px; height:48px; margin:0 auto;}
.detail_icon h6{padding:15px 0 0 10px; font-size:14px; color:#666666;}
.detail_icon span{font-size:18px; color:#651e0e;}
.detail_description{float:left; width:310px;}
.detail_line{color:#999999; font-size:12px; padding:5px 0}
.detail_line h3{float:left; padding-right:10px; font-size:18px; color:#000}
.detail_line span.app_detail_version{float:left; padding-top:8px;}
.detail_line span.spaceleft{padding-left:25px;}
.detail_down{width:132px; height:42px; margin-top:20px; overflow:hidden}
.detail_down a{display:block; width:132px; height:42px; background:url(../images/btn.png) no-repeat 0 0; text-indent:-9999px;}
.detail_other{float:left; width:122px;}
.i_code{width:122px;}
.i_code img{display:block; width:109px; height:109px; padding:5px; margin-bottom:10px; border:1px solid #b2b2b2;}
.i_code span{color:#999999; font-size:12px; padding-left:10px;}
.detail_other ul li{float:left; width:112px; height:26px; padding-left:10px; line-height:26px;}
.detail_other ul li a{ color:#0054a6; font-size:12px;}
#stars_detail{float:left; margin:2px 0 0;}
.app_detail_list{width:550px; padding-left:10px; position:relative}
.app_detail_title{ padding-bottom:10px; font-size:18px; color:#336600;}
.detail_img_list{width:460px; height:306px; margin:10px 0 0 30px; overflow:hidden; position:relative;}
.border_none{border:none;}
#detail_slider_ul{position:absolute; left:0}
#detail_slider_ul li{float:left; width:206px; height:306px; padding:0 15px;}
#detail_slider_ul li img{display:block; width:200px; height:300px; border:3px solid #959595;}
.app_detail_infor{height:60px; overflow:hidden}
.app_detail_infor p{line-height:20px;}
.morecontent{height:24px;}
.morecontent span{ float:right; padding:0 20px; height:24px; background:url(../images/arrow_02.gif) no-repeat right center; line-height:22px; color:#0054a6; cursor:pointer}
.morecontent span.up{background:url(../images/arrow_03.gif) no-repeat right center;}
#detail_silder_left{width:42px; height:84px; background:url(../images/arrow_08.png) no-repeat; position:absolute; left:-11px; top:160px; cursor:pointer; z-index:22}
#detail_silder_right{width:42px; height:84px; background:url(../images/arrow_03.png) no-repeat; position:absolute; right:-10px; top:160px; cursor:pointer; z-index:22}
