/* CSS Document */
.banner{width:800px; height:210px; margin:20px auto 0;}
#banner_focus{width:800px; height:210px; position:relative; overflow:hidden}
#banner_ul{position:absolute; left:0;}
#banner_ul li{float:left; width:800px; height:210px;}
#banner_ul li img{display:block; width:800px; height:210px;}
#banner_ol{height:22px; padding:0 10px; background:#000000;  position:absolute; bottom:5px; right:5px;}
#banner_ol li{float:left; width:10px; height:10px; margin:5px 5px; background:url(../images/bg2.png) no-repeat -100px -67px; display:inline; cursor:pointer; overflow:hidden}
#banner_ol li.current{background:url(../images/bg2.png) no-repeat -100px -80px;}


.content_wrap{width:800px; height:auto; margin:18px auto 0;}
#content_wrap1 .recommend,#content_wrap2.recommend{height:488px; overflow:hidden}