/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #fff4d2; color: #000000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

.mtop{margin-top: 15px;}
.notice-icon,.ranking .num,.ranking td a.refresh{ background: url("../images/common_icon.png") 5px 0 no-repeat; background-size:50px 250px;}

.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
.banner_bg{position: relative; margin:0 auto;padding-bottom:25px;background: url("../images/banner_bg.jpg") 0 0 no-repeat; background-size: 100% 100%;}
.banner_end{background: url("../images/banner_bg2.jpg") 0 0 no-repeat; background-size: 100% 100%;}
/*结束页*/
.banner_bg2{position: relative; margin:0 auto;}
.banner_bg2 img{ width: 100%;}

/*活动规则*/
.rule{padding: 20px 40px; color:#eb4e61; font-size:16px;}
.rule p{line-height: 22px;}
/*公告*/
.notice{height:46px; margin-bottom:18px; padding:0 20px; border-radius:20px; background-image: -webkit-linear-gradient(top, rgba(255, 120, 138, 1) 0%, rgba(253, 62, 77, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 120, 138, 1) 0%, rgba(253, 62, 77, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 120, 138, 1) 0%, rgba(253, 62, 77, 1) 100%); background-image: -linear-gradient(top, rgba(255, 120, 138, 1) 0%, rgba(253, 62, 77, 1) 100%); line-height:46px; color:#fff; font-size:16px}
.notice2{width:100%; padding:0; position:absolute; left:0; top:0; background:rgba(255,255,255,.6); border-radius:0; color:#8b133a}
.notice2 .notice-list{margin:0 20px;}
/**/
.main{position:relative; padding:20px; background: url("../images/main_bg.jpg") 0 0 no-repeat; background-size: 100% 100%;}
#main_user{background: url("../images/main_bg2.jpg") 0 0 no-repeat; background-size: 100% 100%}
.mod{position: relative; margin-top: -48%;}
.mod_bd{height: 540px; background-image: -webkit-linear-gradient(top, rgba(253, 71, 91, 1) 0%, rgba(253, 102, 111, 1) 100%); background-image: -moz-linear-gradient(top, rgba(253, 71, 91, 1) 0%, rgba(253, 102, 111, 1) 100%); background-image: -o-linear-gradient(top, rgba(253, 71, 91, 1) 0%, rgba(253, 102, 111, 1) 100%); background-image: -linear-gradient(top, rgba(253, 71, 91, 1) 0%, rgba(253, 102, 111, 1) 100%); color:#fff}
.mod_hd img,.mod_ft img{width: 100%;}

/*排行榜*/
.ranking_hd{width:200px;margin:0 auto 18px auto; padding:18px 0 0; text-align: center;font-size: 18px;}
.ranking_hd img{width: 100%;}
.ranking{width:85%;margin: 0px auto;}
.ranking td{height:44px;text-align: center;word-break: break-all}
.ranking td a.refresh{ display: block;margin:5px auto 7px auto;width:60px ;height: 31px; text-indent: -9999px;}
.ranking td a.btn_change{display: block;margin:0 auto;width: 54px; height: 30px; line-height: 30px; color: #000;  background-image: -webkit-linear-gradient(top, rgba(255, 236, 112, 1) 0%, rgba(249, 162, 12, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 236, 112, 1) 0%, rgba(249, 162, 12, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 236, 112, 1) 0%, rgba(249, 162, 12, 1) 100%); background-image: -linear-gradient(top, rgba(255, 236, 112, 1) 0%, rgba(249, 162, 12, 1) 100%); text-align: center;border-radius: 3px;-webkit-border-radius: 3px;border:1px solid #ffea00; text-stroke：none;}
.ranking .num{display: block;margin:0 auto;width: 38px;height: 41px;text-indent: -9999px;}
.ranking .first{ font-size: 16px; font-weight:bold}
.ranking .first .num{ background-position:center -43px; }
.ranking .second{font-size: 16px; font-weight:bold}
.ranking .second .num{background-position:center -94px;}
.ranking .third{font-size: 16px; font-weight:bold}
.ranking .third .num{background-position:center -147px;}

.soft li{margin-bottom:8px; text-align: center}
.soft li img{ display:inline-block;width: 55px; height: 55px;}
.soft li a{ display: block;width: 100%; height: 100%; color:#fff}
.soft li a p{color:#fff; font-weight:normal;}

.prompt2{ text-align: center; font-size: 18px;margin-top: 35px; color:#8b133a}
.prompt4{margin-bottom: 5px; text-align: center; font-size: 18px;}
.f_prize_hd{ position: relative;margin: 0 10px 0 0;height: 30px; line-height: 30px;}
.f_prize_hd h4{font-size: 16px; color:#e13145}
.f_prize_hd a{ position: absolute;right:15px; bottom:-17px; display: block;width: 140px; height: 38px; background:url(../images/btns_01.png) no-repeat; text-indent:-9999px; background-size:100% 100%; z-index:9999999}
/*轮播图*/
.slideBox{ position:relative; overflow:hidden;margin: -4px 0 0;padding: 5px; background-color: #e03953;border-radius: 5px;-webkit-border-radius: 5px; }
.slideBox .bd{ position:relative;}
.slideBox .bd li{ position:relative;text-align:center;}
.slideBox .bd li img{ width:100%;}
/*登录以后*/
.logined{position:relative;padding: 10px 5px 10px 0;margin: 20px 0px 0 0px;}
.logined ul{line-height: 22px; color: #a91646;}
.logined ul li{float:left}
.soft_icon{position: absolute;top:50%;right:10px;margin-top: -30px;}
.soft_icon img{width: 60px; height: 60px;}
.user_info{position: absolute;top:-4px;right:0;}
.user_info a{float:right; display: block;width: 98px;height: 38px;background-image: -webkit-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); line-height: 38px;text-align: center; color: #fff; background-color: #5ca6ff; border-radius: 5px; font-size:16px; font-weight:bold}
/*抽奖*/
.lottery{margin:0 12%}
.lottery_t{width:100%; height:37px; background:url(../images/lotter_bg1.png) no-repeat; background-size:100% 100%}
.lottery_out{padding:0 0 20px; background:#fd4150}
.lottery_inner{width:208px; margin:0 auto;}
.slotMachine{width:62px; height:91px; margin:0 2px; overflow:hidden; display:inline-block;}
.slot{width:62px; height:91px; border-radius:5px;}
.slot0{background:#bd212d url(../images/prize/prize_00.png) no-repeat; background-size:100% 100%}
.slot1{background:#bd212d url(../images/prize/prize_01.png) no-repeat; background-size:100% 100%}
.slot2{background:#bd212d url(../images/prize/prize_02.png) no-repeat; background-size:100% 100%}
.slot3{background:#bd212d url(../images/prize/prize_03.png) no-repeat; background-size:100% 100%}
.slot4{background:#bd212d url(../images/prize/prize_04.png) no-repeat; background-size:100% 100%}
.slot5{background:#bd212d url(../images/prize/prize_05.png) no-repeat; background-size:100% 100%}
.slot6{background:#bd212d url(../images/prize/prize_06.png) no-repeat; background-size:100% 100%}
.slot7{background:#bd212d url(../images/prize/prize_07.png) no-repeat; background-size:100% 100%}
.slot8{background:#bd212d url(../images/prize/prize_08.png) no-repeat; background-size:100% 100%}
.slot9{background:#bd212d url(../images/prize/prize_09.png) no-repeat; background-size:100% 100%}
.slot10{background:#bd212d url(../images/prize/prize_10.png) no-repeat; background-size:100% 100%}
.slot11{background:#bd212d url(../images/prize/prize_11.png) no-repeat; background-size:100% 100%}
.slot12{background:#bd212d url(../images/prize/prize_12.png) no-repeat; background-size:100% 100%}
.lottery_txt{margin-top:-6px; padding:40px 20px 20px; background:url(../images/lotter_bg2.png) no-repeat; background-size:100% 100%; position:relative;}
.lottery_txt p{color:#fff; font-size:16px; line-height:26px}
.lotter_push{display:block; width:71px; height:45px; background:url(../images/lotter_bg3.png) no-repeat; background-size:100% 100%; position:absolute; right:16%; top:-12px;}
.btns_02{display:block; width:142px; height:44px; margin:15px auto; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns_02_disabled{background:url(../images/btns_02_disabled.png) no-repeat; background-size:100% 100%;}
.lottery_hd{ position: relative;margin: 3px 10px 10px 10px;padding-top:8px;min-height: 42px;}
.lottery_hd h4{width:68%;padding:0px 10px;font-size: 14px;line-height: 34px; color:#8b133a; font-size:16px}
.lottery_hd a{ position: absolute;right:0px;top:50%;margin-top: -25px;  display: block;width: 98px;height: 38px;background-image: -webkit-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); background-image: -linear-gradient(top, rgba(255, 139, 146, 1) 0%, rgba(253, 63, 78, 1) 100%); line-height: 38px;text-align: center; color: #fff; background-color: #5ca6ff; border-radius: 5px; font-size:16px; font-weight:bold}
/*我的奖品*/
.my_prize{margin:0px 6px;padding: 10px; background-color: #ffd8ea;border: 5px solid #e03953; border-radius:8px;color:#8b133a}
.my_prize_list li{line-height:25px;}
.my_prize_list2{ margin-top: 15px;}
.my_prize_list2 li{width:80%;margin:0px auto 15px auto;padding:5px; line-height:20px;border-radius:3px;-webkit-border-radius:3px;box-shadow:1px 1px 1px #ff9914;-webkit-box-shadow:1px 1px 1px #ff9914;background-color: #ff9914; text-align: center; color: #fff;}

/*联系信息*/
.form-items{}
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:120px;padding-top: 10px;}
.form-items li span{display:block;margin-left: 120px;}
.form-items li input{ width:100%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff;}
.btn_submit{margin-bottom: 30px;}
.btn_submit a{ display: block;margin:0 auto;width: 142px; height: 44px; line-height: 44px; text-align: center; background:url(../images/btns_sub.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.split{height:1px; background:#e9b2c8; margin: 15px 0px; overflow:hidden;}


/*获奖名单页*/
.awards{margin:20px 0 10px;padding: 20px; background-color: #ffd8ea;border: 5px solid #e03953; border-radius:8px;color:#8b133a; position:relative; }
.awards_h{position:absolute; top:10px; width:43px; height:38px;}
.awards_left{ left:20px; background:url(../images/awards_bg1.png) no-repeat; background-size:100% 100%}
.awards_right{right:20px; background:url(../images/awards_bg2.png) no-repeat; background-size:100% 100%}
.awards h6{padding:5px 0 20px; font-size:18px; text-align:center}
.awards-list{line-height: 22px;}
.slide_up{overflow:hidden;height:110px;position: relative;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%;left:50%;top:50%; margin-left:-48%;padding: 15px 0px; z-index: 99999;background:url(../images/tips_bg1.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px;padding: 20px 9% 75px;}
.tip-con p{ line-height: 22px; color: #fff;word-wrap:break-word;word-break:break-all;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
#tip-box2 .tip-con p,#tip-box3 .tip-con p{text-align:center}
#tip-box3 .tip-con p{padding:20px 0 8px}
.btns_false{position:absolute; left:50%; bottom:50px; margin-left:-52px; display:block; width:104px; height:38px; background:url(../images/btns_false.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.yellow{color:#ffd500;}
#tip-box3  .btns_false{background:url(../images/btns_true.png) no-repeat; background-size:100% 100%;}
.tip_person{position:absolute; right:-30px; top:-50px; width:154px; height:268px; background:url(../images/tips_bg2.png) no-repeat; background-size:100% 100%;}



