/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{background:#27323e; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#dbbcff}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#dbbcff}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width:100%;}
.banner img{width:100%;}
.app_top{height:9.225rem; background:url(../images/bg1.png) no-repeat; background-size: 100% 100%;}
.app_top img{display: block; width:5.375rem; height:5rem; margin: 0 auto;}
.app_top p{color:#fff; font-size:0.7rem; text-align: center;}
.btns{display: block; width:7.8rem; height:2.775rem; background:url(../images/btn_bg2.png) no-repeat; background-size: cover; margin: 0.1rem auto 0; text-align: center; line-height: 2.6rem; color:#fff4d5; font-size: 16px; font-weight: 700; text-shadow:#2a0700 2px 0 0, #2a0700 0 2px 0, #2a0700 -1px 0 0, #2a0700 0 -1px 0; font-size: 1rem;}
.part{position: relative; z-index: 3;}
.part img{width:100%}
.part1{width:100%}

.part1 .btns,.part2 .btns{position: absolute; left:50%; margin-left:-3.9rem; bottom:-1.3875rem; z-index: 4;}
.part2{margin-top:-0.5rem; z-index: 2;}
.part3{margin-top:-0.5rem; z-index: 1;}
.part4{background:url(../images/bg5_new.png) no-repeat; background-size: 100% 100%;}
.app_list{padding:4.25rem 1rem 3%}
.app_list li{position: relative; min-height:3.05rem;}
.app_img{position: absolute; left:0; top:0; width:3.05rem; height:3.05rem; background:url(../images/bg6.png) no-repeat; background-size:100%; border-radius: 4px;}
.app_img img{display: block; width:2.125rem; height:2.125rem; box-shadow:0px 0px 6px #075972; margin:12px auto;}
.app_info{margin: 0 3.8rem 0 3.4rem;}
.app_info h3{padding:0.4rem 0 0.3rem; height:1rem; line-height:1rem; font-size: 0.85rem; color:#fff}
.app_info p{color:#ffea59; height:0.85rem; font-size: 0.6rem; text-shadow:#1f1b1f 1px 0 0, #1f1b1f 0 1px 0, #1f1b1f -1px 0 0, #1f1b1f 0 -1px 0;}
.app_info p span{color:#32f3f3}
.app_btn{position: absolute; right:3px; top:50%; width:2.8rem; height:1.35rem; margin-top:-0.675rem; background:url(../images/btn_bg3.png) no-repeat; background-size:100% 100%; text-align: center; line-height: 1.35rem; font-size: 0.55rem; color:#fff0c3; text-shadow:#211108 2px 0 0, #211108 0 2px 0, #211108 -2px 0 0, #211108 0 -2px 0;}
.part5{ padding:10px 4%; background:url(../images/bg7.png) repeat-y; background-size: 100% auto;}
.part5 h3{width:6.35rem; height:1.225rem; margin: 0.25rem auto; background:url(../images/txt.png) no-repeat; background-size:100% 100%; text-indent: -99999px; overflow: hidden;}
.part5 ul li{line-height:30px; font-size: 16px; color:#d2e8ff; text-shadow:#191417 2px 0 0, #191417 0 2px 0, #191417 -2px 0 0, #191417 0 -2px 0;}
.part5 p{height:32px; margin-top:5px; color:#ffe789; font-size: 16px; text-shadow:#191417 2px 0 0, #191417 0 2px 0, #191417 -2px 0 0, #191417 0 -2px 0; line-height: 32px; text-align: center;}
.part6{margin-top:-20%}
.part6 img{display: block; width:100%}
