/* CSS Document */
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #f9fe40; color: #372221;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}
.cnr{text-align:right}
.padbom40{padding-bottom:40px;}
.padbom60{padding-bottom:60px;}
.padbom80{padding-bottom:80px;}

::-webkit-input-placeholder { color:#becaca;}
:-moz-placeholder {color:#becaca;}
::-moz-placeholder {color:#becaca;}
:-ms-input-placeholder {color:#becaca;}

.mtop{ margin-top: 35px;}
.mtop1{ margin-top: 20px;}
.mbot{margin-bottom: 8px;}
.ptop{ padding-top: 10px;}

.pbot{padding-bottom: 25px;}

.notice-icon{background: url("/images/spring2015/common_icon.png") no-repeat; background-size:144px 180px;}
.banner{position: relative; width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}
.banner a.detail{ display: block;width:88px; height:31px; background:#fe3000; border-radius:3px; line-height:30px; position: absolute; bottom:6px; right:2%; font-size: 16px; color: #f9fe40;}
/*公告*/
.notice{width: 100%;height: 26px; line-height: 26px;background-color:#82dc00; color: #fff; overflow: hidden; }
.notice-icon{ float: left; display: inline; width: 20px;height:20px;margin:2px 0px 0px 5px; background-position: -1px -75px}
.notice-list span{color: #fff;padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}

.wth{margin:0 10px;}
.wrap_bg1{width: 100%; min-height:205px; background:url(/images/spring2015/wrap_bg1.jpg) no-repeat right top; background-size:198px 375px}
.wrap_bg2{width: 100%; background:url(/images/spring2015/wrap_bg2.jpg) no-repeat left top; background-size:contain;}
.white-wrap{width: 94%; margin:10px auto 30px auto; background-color: #fff;}

/*index*/
.tips_p{padding:10px 10px 0; font-size:18px; text-align:center;}
.progress p{padding:25px 0 10px; font-size:22px; text-align:center; color:#001d0b;}
.progress span{display:block; width:302px; height:46px; padding:2px; margin:0 auto; background:#d0d600; border-radius:20px;}
.progress  a{width: 302px; height:46px; background:#232f20; border-radius:20px; display:block; position:relative;}
.progress  a i{ width:300px; height:44px; margin:1px; background:url(/images/spring2015/progress_bg.jpg) repeat-x; background-size:auto 44px; display:block; border-radius:19px; clip:rect(0px, 0px, 44px, 0px); position:absolute; left:0; top:0}
/*抽奖*/
.rotate {width: 100%;padding:15px 0px 10px;}
.rotate-con {position: relative;width:96%;margin: 0 auto;}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 50%;height: 50%;margin-top: -25%;margin-left: -25%;background: url(/images/spring2015/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.pointer-disabled{background: url(/images/spring2015/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%;}
.prompt{padding: 5px 0; color: #00b13d; font-size:14px}
/*软件*/
.soft-list{margin: 10px 10px 40px; padding:5px; border-radius:8px; border:3px solid #040000; border-color:rgba(4,0,0,.2); background:url(/images/spring2015/soft_list_bg.jpg) no-repeat left bottom; background-size:contain;}
.soft-list li{ float: left; display: inline; width: 25%;margin:7px 0px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto;}
.soft-list li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #372221;}
.soft-list li .soft-size{ color: #f46600;height: 22px; line-height: 22px;overflow: hidden;}
.soft-list li a.downlode{ display: block; width:64px;height: 25px; line-height: 26px; margin: 13px auto 10px auto; background-color: #82dc00; border:2px solid #040000;border-color:rgba(4,0,0,.6); border-radius: 3px; color: #fff;cursor: pointer; text-shadow: 1px 1px 1px #840000;}

/*详情*/
.title{width:143px; height:64px; margin:10px 0; background:url(/images/spring2015/title_bg.png) no-repeat; background-size:143px 64px;}
.title h2{color:#fff; font-size:18px; padding:35px 0 0 6px}
.part{margin-top:10px; margin:0 10px; color:#147701; background:url(/images/spring2015/soft_list_bg.jpg) no-repeat left bottom; background-size:198px 327px;}
.part_out{background:url(/images/spring2015/wrap_bg2.jpg) no-repeat left bottom; background-size:215px 375px}
.part_inner{  padding:10px; background:url(/images/spring2015/bg_02.jpg) no-repeat right top; background-size:200px 290px}
.part h4{font-size: 16px;padding-bottom: 6px; font-weight:bold}
.part p{line-height:25px;font-size: 14px;}
.part p span{ padding-right: 20px;}
.part2{margin-top:10px; margin:0 10px; color:#147701;}
/*结束*/
.awards-list{padding:5px 10px;line-height: 25px;}
.awards-list dd{clear: both;overflow:hidden}
/*邮寄地址*/
.form_title{margin:15px auto 10px;}
.form-item{padding:20px 15px 15px 15px; margin-top:20px; background:rgba(0,0,0,.2); border-radius:2px;}
.form-item label{ float: left;width:70px;color: #fff}
.form-item .textbox{margin-left: 70px;}
.form-item .textbox input{width: 98%;font-family: "Microsoft Yahei"; color:#fff;background: none; border:none;font-size: 14px;}
/*按钮*/
.btns{ width: 100%;}
.btns a{width: 202px; height:110px; margin:0 auto; background:url(/images/spring2015/btn_01.png) no-repeat; background-size:202px 110px; display:block}
.btns_disabled a{background:url(/images/spring2015/btn_01_disabled.png) no-repeat; background-size:202px 110px;}
.btns_update a{width:286px; height:123px; background:url(/images/spring2015/btn_02.png) no-repeat center top; background-size:286px 123px}
.btns_04 a{width:228px; height:50px; margin-top:10px; background:url(/images/spring2015/btn_04.png) no-repeat; background-size:228px 50px;}
.btns_03 a{background:url(/images/spring2015/btn_03_def.png) no-repeat; margin-top:20px;  background-size:202px 110px;}
.btns_03 a.actived{background:url(/images/spring2015/btn_03.png) no-repeat; background-size:202px 110px;}
.btns_05 a{width:228px; height:50px; margin-top:10px; background:url(/images/spring2015/btn_05.png) no-repeat; background-size:228px 50px;}
.btns_06 a{width:228px; height:50px; margin-top:10px; background:url(/images/spring2015/btn_06.png) no-repeat; background-size:228px 50px;}
.btns_07,.btns_11,.btns_12{width:174px; height:71px; margin:0 auto; background:url(/images/spring2015/tips_bg.png) no-repeat center top; background-size:174px 71px}
.btns_07 a,.btns_11 a,.btns_12 a{display:block; width:174px; height:71px; background:url(/images/spring2015/tips_text_01.png) no-repeat center 37px; background-size:76px 28px}
.btns_11 a{background:url(/images/spring2015/tips_text_02.png) no-repeat center 37px; background-size:76px 28px}
.btns_12 a{background:url(/images/spring2015/tips_text_03.png) no-repeat center 37px; background-size:76px 28px}
.btns_08 a{width:202; height:86px; background:url(/images/spring2015/btn_08.png) no-repeat center top; background-size:202px 86px}
.btns_09 a{width:172px; height:37px; margin-top:20px; background:url(/images/spring2015/btn_09.png) no-repeat; background-size:172px 37px;}
.btns_10 a{width:213px; height:92px; background:url(/images/spring2015/btn_10.png) no-repeat; background-size:213px 92px; }
.btns_13 a{width:202px; height:86px; background:url(/images/spring2015/btn_07.png) no-repeat center top; background-size:202px 86px}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 72%;padding:1%;left:50%;top:50%;margin-left:-37%; background-color: #ffffff; border-radius: 6px;z-index: 99999;}
.tip-con{padding:10px; color: #fe3000}
.tip-con h4{padding:0 0 10px 0}
.tip-con h4 img{width:100%;}
.tip-con p{margin-bottom:10px; line-height: 20px; text-align: center;}
.tip-con p span{color: #ef481c}
.clo{ position: absolute;right: -16px;top: -16px;}
.clo a{ display: block; width:45px; height:45px; background:url(/images/spring2015/close_btn.png) no-repeat; background-size:45px 45px; text-indent: -9999px;}

.mask{height:90px; background:rgba(0,0,0,.2)}
/*prize*/
.prize_title{width:202px; height:82px; background:url(/images/spring2015/prize_title_bg.png) no-repeat; background-size:202px 82px; display:block}
.prize_title h2{padding:40px 0 0 55px; font-size:18px; color:#fff;}
.prize_list{margin-top:10px; padding:10px}
.prize_list dt{padding-bottom:7px;font-size:20px; font-weight:bold; color:#fe3000}
.prize_list dd p{line-height:25px;}
/*尾部*/
.footer{max-width:640px;}
.footer img{width: 100%;margin-top: 40px;}
.colorred{color:#fe3000}
.ptop1{padding-top: 35px;}
.prompt1{color:#66ad00;}
.prompt2{color:#fe3000; margin-top:20px}
.border1{border:3px solid #040000; border-color:rgba(4,0,0,.2); border-radius:8px;}
