/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #543661; color: #543661;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fff; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}

.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
/*结束*/
.end{width:100%;position: absolute; top:0px; left: 0;padding: 5px 0px; text-align: center; color:#fff; background-color: #ff9914; font-size: 16px; line-height: 25px;}
.end p{ padding: 0px 5px;}

.title{padding:0px 15px;color: #ffecad;font-size: 18px;}
/*活动规则*/
.rule{position:relative;z-index:2;margin-top:-40%;padding:18% 10% 10% 10%;background:url("../images/tabs_bg.png") 0 0 no-repeat;background-size:100% 100%;color:#a05e00;}
.rule dl{}
.rule dl dt{font-size: 16px;color: #e69800}
.rule dl dd{line-height: 22px;font-size: 14px;}
.rule dl dd.blue{margin-top:8px;line-height: 20px;color: #00fcff; font-size: 14px;}
/*公告*/
.notice{margin-top:10px;width: 100%;height: 40px; line-height: 40px;background-color:rgba(255,255,255,0.2); color:#ffecad; font-size: 15px; }
.notice span{padding-right: 20px;}
/*按钮*/
.btns{width:95px;height: 32px;margin:0 auto;background: url("../images/btns.png") 0 0 no-repeat;background-size: 100px 200px;}
.btns.mtop{margin-top: 10px;}
.btns a{display:block;height:30px;background: url("../images/btns.png") 0 0 no-repeat;background-size: 100px 200px;text-indent: -9999px;}
.btns a.btn_download{background-position: 30px -34px;}
.btns a.btn_install{background-position: 30px -86px;}
.btns a.btn_open{background-position: 30px -113px;}
.btns a.btn_update{background-position: 30px -60px;}
.btns a.btn_back{background-position: -34px -34px;}
.btns a.btn_submit{background-position: -34px -60px;}
/**/
.main{position:relative;width: 100%;background: url(../images/film_bg.png) 0 40px no-repeat;background-size:100% auto;}

/*软件*/
.app_box{margin-top:20px;padding:10% 15% 14% 15%;background: url("../images/tabs_bg2.png") 0 0 no-repeat;background-size: 100% 100%;}
.app_box h4{font-size: 16px; color:#ca8500}
.app{margin-top: 15px;}
.app_m{ width:100%;float:left;display: inline;margin-top:20px;}
.app_name{margin-left:70px; height:22px;margin-right:98px;color: #ca8500;overflow: hidden;}
.app_l{float:left; width:60px; margin-left:-100%; }
.app_l img{width: 60px; height: 60px;margin: 0 auto;}
.app_r{float:left;display:inline;width:95px; margin-left:-95px;margin-top: 15px; }

.col{padding:0px 22px 0px 20px;line-height:30px;}
.col_l{float: left;}
.col_l span{color: #eb0c14}
.col_r{float: right;}
.col_r a{display: block;width: 100px; height: 30px;line-height:30px;text-align:center;background: url("../images/btn_prize.png") 0 0 no-repeat; background-size: 100px 30px;}
/*九宫格抽奖*/
.lottery{width:300px;margin:0 auto;padding:25px 0px;background: url("../images/lottery_box.png") 0 0 no-repeat;background-size: 100% 100%; }
.lottery_inner{position:relative;width:280px;margin:0 auto;padding:20px 0px;background: url(../images/mod_bg.png) 0 0 no-repeat;background-size: 100% 100%;}
.snag{position: absolute;width: 25px;height: 34px;left: 50%;top:-10px;margin-left: -12px;}
.snag img{width: 100%;}
.lottery img{width: 80%;margin: 0 auto;}
.lottery table{border-collapse: separate; width:92%;margin: 0 auto;}
.lottery td{width:72px;height:72px;text-align:center;vertical-align:middle;background-color: #9959b5;border-radius: 5px;background-size: 100% 100%;background-position: 0 0;background-repeat: no-repeat;}
.lottery p{position:absolute; width:76px;height:76px; left:101px; top:142px;}
.lottery p.waitGame{background: url("../images/lottery_btn_gray.png") 0 0 no-repeat;background-size: 100% 100%;}
.lottery p a{display:block; width:76px; height:76px;background: url("../images/lottery_btn.png") 0 0 no-repeat;background-size: 100% 100%;}
.prompt{padding:10px 20px;color: #543661;}
/*流程图*/
.slideBox{ position:relative;margin:10px 15px 0px 15px;}
.slideBox .prev,.slideBox .next{ position:absolute; display:block; width:30px; height:50px; left:-18px; top:50%;margin-top:-25px;background-position:4px -34px; text-align:center;cursor: pointer;}
.slideBox .next{ left:auto; right:-18px;background-position:-32px -34px;}
.slideBox .bd{border:2px solid #ffffff;box-shadow:0px 0px 5px #fff }
.slideBox .bd li{text-align:center;}
.slideBox .bd li img{ vertical-align:top; width:100%;}
.copyright{margin:20px 0px;color: #c185db;text-align: center}
/*登录以后*/
.login{position:relative;margin:15px 0px;padding: 15px;background-color: rgba(255,255,255,0.2);}
.login ul{margin-right:100px;line-height: 22px; color: #fff;}
.login ul.ends{padding: 15px 0px; font-size: 16px;}
.login ul li span{padding-left: 10px;}
.btn_log{position: absolute;top:50%;right:15px;margin-top: -20px;}
.btn_log a{display: block;width: 96px;height: 40px; line-height: 40px;font-size:16px;text-align: center; color: #543661; background: url("../images/btns.png") 0 -158px no-repeat;background-size: 100px 200px;}
.btn_log.info a{font-size: 14px;}

.mod{padding:50px 20px;background: url("../images/film_bg.png") 0 0 no-repeat;background-size: 100% 100%;color: #543661}
.mod_hd{padding-bottom:10px;border-bottom: 1px solid #b3a4a9}
.mod_hd h4{padding:10px 0px;font-weight:bold;text-align: center}
.mod_hd p{line-height:25px;text-align: center}
.mod_hd ul li{line-height: 25px;}
.mod_inner{padding:30px 10px 20px 10px;background-color: #ffd54b}
.mod_con{position:relative;padding:20px 15px 40px 15px;background: url("../images/mod_bg.png") 0 0px no-repeat; background-size: 100% 100%;}
.prompt1{margin-top: 15px;}
/*联系信息*/
.form-items{margin-bottom:30px;}
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:115px;padding-top: 7px;font-weight: bold;}
.form-items li span{display:block;margin-left: 115px;padding:6px;background-color:#fff;}
.form-items li input{width:100%;color: #000;border: none; font-family: Microsoft Yahei,"微软雅黑";background-color:#fff;font-size: 14px;}
.form-items li.error{padding-left:115px; color:#ff5959;margin-top: 5px;}

/*获奖名单*/
.awards_list{padding:0px 25px;line-height: 22px;}
.awards_list h4{font-size: 16px;margin-bottom: 10px;}
.slide_up{overflow:hidden;height:132px;position: relative;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);z-index: 99998;}
.tip-box{ position:absolute;width:260px;left:50%;top:50%;margin-left:-160px;padding: 50px 30px 40px 30px; z-index: 99999;background: url("../images/tabs_bg.png") 0 0 no-repeat;background-size: 100% 100%;}
.tip-box h4{text-align: center;color: #543661;font-weight: bold;}

/*我的奖品*/
.my_prize_list{margin-top: 5px;}
.my_prize_list li{padding:4px 5px; text-align: center; color: #543661;font-size: 14px;}
