/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #db3e45; color: #550202;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#550202; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

.banner{}
.banner img,.prize_bg img,.mod img,.propmt img{width: 100%;}
.propmt{margin-bottom:-15px;padding-top:15px;color: #fff;text-align: center;}
.prize{position: relative;}
.prize ul{position: absolute;left:50%;bottom:24%;width: 78%;margin-left: -40%;}
.prize ul li{float: left;width:21%;margin: 0px 2%;background-color: #ddbc87;border-radius: 10px; }
.prize ul li img{width: 100%;}
.btns{width: 84%;margin:8% auto;}
.btns a{float: left;width: 42%;}
.btns a.ml{margin-right: 15%;}
.btns a img{width: 100%;}

