/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0; font-size:14px; color:#333; font-weight:normal; font-family:"微软雅黑"}
fieldset,img {border: 0;}
a{text-decoration:none; color:#333;}
.clear{clear:both;}
ul,li{list-style:none;}
#header{height:40px; background:url(../images/header_bg.gif) repeat-x;text-align:center;}
#header h2{line-height:36px; font-size:22px; color:#fafafa; text-shadow: 0 -1px 0 #000;}
#main{padding:7px 10px 10px;}
.infor_txt p{color:#373737; font-size:16px; text-indent:2em; line-height:22px; text-align:justify;text-justify:inter-ideograph}
.infor_image img{width:296px; height:176px; margin:10px auto; display:block;}
.infor_other{width:100%;}
.infor_other p{color:#7f7f7f; font-size:14px;}
.infor_other p span.info_other_l{width:60%; display:inline-block;}
#footer{height:46px; padding:0 10px; background:#272727; position:relative}
.logo a{width:114px; height:37px; background:url(../images/logo.png) no-repeat; display:block; position:absolute; top:5px;}
.download{width:114px; height:27px; background:url(../images/download.png) no-repeat; text-align:center; line-height:27px; position:absolute; top:9px; right:10px;}
.download a{width:114px; height:27px; display:block; font-size:12px; color:#fff; text-shadow: 0 -1px 0 #000;}