/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#fff; font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; line-height:22px; color:#000000}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#000000}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}

.banner img{ width: 100%;}
.main{margin:0 10px}
.btn_01{display:block; width:138px; height:42px; margin:12px auto; background:url(../images/btn_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.title{margin-top:16px; margin-bottom:10px}
.title h3{font-size:16px; color:#2b8bff; font-weight:bold}
.wrap{margin-top:4px; overflow:hidden}
.wrap h6{padding:0 0 5px; font-size:16px; font-weight:bold}
.wrap img{width:100%; margin-bottom:15px;}
.btn_02{display:block; width:138px; height:28px; margin:15px auto 30px; border-radius:3px; background:#ffe2bc; line-height:28px; text-align:center}
