@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear { clear: both; height: 0; line-height: 0; font-size: 0; overflow: hidden;}
ul,li{list-style:none;}
body{ font-family:Microsoft YaHei,tahoma,arial; color:#252525; font-size:14px; line-height:20px; min-width:320px;}
.banner{margin:8px}
.banner img{display:block; width:100%;}
.content{padding-bottom:10px; margin:0 10px}
/*down load soft*/
.app-items-list li{width:100%; border:1px solid #ececec; position:relative; margin:0 0 8px}
.itmes-icon{position:absolute; width:48px; height:48px; border-radius:5px; left:8px; top:9px;}
.itmes-icon img{width:48px; height:48px;}
.items-info{position:relative; min-height:58px; margin-right:5px; padding:6px 65px 0 65px;}
.items-info h4{height:28px;  margin-bottom:2px; line-height:28px;  font-size:16px; color:#3e3e3e; font-weight:normal; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*zt_detail p*/
.items-info p{ clear:both; padding:0 0 10px 0px; color:#3e3e3e; font-size:14px; line-height:24px;}

.items-score{float:left;}
.items_size{float:right; color:#7fc31e; margin-left:10px; font-size:13px}
.items-score span{ /*color:#598527;*/ padding-right:3px;}
.items-score span em{ font-style:normal;}
.down-btn{display:block; width:68px; height:32px; background:#7fc31e; color:#ffffff; text-align:center; line-height:32px; position:absolute; top:12px; right:10px;}
.clickarea{position:absolute; left:0; top:0; bottom:0; right:0; display:block;}
