/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; background: #210000; color: #fff2b5;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fff2b5; font-size: 16px;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}
.wordwrap{word-wrap:break-word;word-break:break-all;}
.space{height:0px; overflow:hidden}

.btns{display:block; width:76px; height:30px; margin:10px auto; background:#23b4ff; border-radius:4px; color:#fff; font-size:16px; text-align:center; line-height:30px;}
#slotMachineButton1{width:132px; height:37px; line-height:37px; font-size:18px;}
/*.banner{margin:9px 9px 0;}*/
.banner img{ width: 100%;vertical-align: bottom;}
.main{padding:0 9px 9px; position:relative}
.wrap{margin-top:38px; padding-bottom:10px; background:rgba(62,0,0,.85); position:relative}
/*公告*/
.notice{width: 100%;height: 32px; margin-top:0; padding-bottom:0; background:#c33430; line-height: 33px;overflow: hidden; position:relative}
.notice-icon{width: 25px;height:21px;margin:7px 0px 0px 12px; background:url(../images/icon_01.png) no-repeat; background-size:22px 18px; position:absolute; left:0; top:0}
.notice-list{margin:0 10px 0 45px}
.notice-list span{padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}
.title h3{display:inline-block; width:118px; height:28px; padding-left:10px;  background-size:100% 100%;  position:absolute; left:-1px; top:-28px; font-size:17px; font-weight:bold; line-height:26px;}
.title h3.style1{text-indent:0; }
.infor{ padding:10px 10px 0 13px; line-height:26px}
.infor p{font-size:16px}
.infor a {float: right; padding: 1px 10px;  margin-top: 10px; border: 1px solid #ffd200; border-radius: 15px; color: #ffa800;}

.login{ padding:20px 10px 15px; position:relative}
.login_r{width:168px; height:26px; position:absolute; right:0; top:22px;}
.login_r a{display:block; width:78px; height:26px;  background-size:100% 100%;text-align:center; line-height:27px; font-weight:bold; font-size:13px; color:#6d1010; position:absolute}

.login_l p{ padding:3px 0 2px;}
.sign_wrap2{padding-bottom:10px}
.star_list{width:290px; margin: 0 auto 10px; padding:20px 0 10px; color:#d0d0d0}
.star_list span{float: left; width:40px;height:40px;line-height:42px; text-align: center; font-size:14px}
.star_list em{width:90%; height:100%;  display:block}
.star_list em img{display:block; width:100%; height:100%;}
.star_list5 span{margin:0 0 0 16px}
.star_list6 span{margin:0 0 0 8px}
.star_list8 span{width:36px; height:36px}
.sign_wrap{padding:0 0.6% 20px 1%;}
.sign_wrap ul li{float:left; width:25%;}
.sign_wrap ul li  p{margin-top:15px; position:relative}
.sign_wrap ul li  p span{width:100%; height:100%; position:absolute; left:0; top:0; display:none}
.sign_wrap ul li  img{display:block; width:90%; margin:0 auto; border:1px solid #400c8e; border-bottom:none; cursor:pointer;}
.sign_wrap ul li a{display:block; width:90%; height:34px; margin:0 auto; border:1px solid #400c8e; color:#4a055b; text-align:center; line-height:34px;text-shadow:0 0 0.4em #c04ee9; font-weight: bold; font-size: 17px;}
.sign_wrap ul li.spec{width:33.3%}
.sign_wrap ul li.end p span{display:block}
.sign_wrap ul li.overdue a,.sign_wrap ul li.current a{ color:#fff;text-shadow:0 0 0.4em #c04ee9;}

.sign_wrap ul.sign6 li{width:33.3%}
.sign_wrap ul.sign5 li{width:33.3%}
.sign_wrap ul.sign5 li.spec{width:50%}

.soft{padding:10px 0; position:relative}
.soft .titles{width:114px; color:#ebccff; font-weight:bold}
.soft-list{padding:5px 0;}
.soft-list li{ float: left; display: inline; width: 90%; height:70px; margin:10px 5% 0;}
.soft-list li .soft-icon{width: 70px;height: 70px; position:absolute; left:10px; top:25px;}
.soft-list li .soft-icon img{ width: 64px;height: 64px; margin:0 auto}
.soft-info{margin:0 70px 0 70px}
.soft-list li .soft-name{width:100%; height: 20px; margin-bottom:4px; line-height: 20px; overflow: hidden; color:#ffd200; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.soft-list li .soft-name a{ color: #ffd200;}
.soft-list li .soft-info1{height:20px; font-size:14px}
.soft-list li .soft-info2{height:20px; font-size:14px}
.soft-list2{padding:5px 0 0; margin:10px 0 0;}
.soft-list2 li{ float: left; display: inline; width: 25%; margin:7px 0px;text-align: center;}
.soft-list2 li .soft-icon{text-align: center;}
.soft-list2 li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto; border:2px solid #fff; border-radius:8px}
.soft-list2 li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list2 li .soft-name a{ color: #fff;}
.lottery_info{ padding:0 0 8px;}
.lottery_info p{float:left; padding:15px  0 0 12px; font-size:17px}
.lottery_info a{margin-right:8px; display:inline}
.lottery_info a.myprize_btn{background:#ffb83b}
.swiper-container {width: 96%; margin:10px auto 0;}
.swiper-slide {width:33.3%;}
.swiper-slide img{width:100%;display:block}

.prize_list{padding:12px}
.prize_list a{display:block; width: 137px; height: 36px; border-radius:2px; background:#a6a6a6; margin: 0 auto; line-height: 36px;text-align: center;}
.btns2{width:314px; margin:25px auto}
.btns2 a.r{float:right}
.form-items {margin:0 12px 12px}
.form-items li{ margin-top: 30px; padding:0 10px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px; }
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:90%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form-items li textarea{width:90%; height:48px; padding:10px 6px; border:none; font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff;}
.form_error{display:block; padding:8px 0 0 90px; color:red}

/*获奖信息*/
.list_title img{display:block; width:80%; margin:20px auto 0}
.list_p{padding:20px 0 10px; color:#fff; text-align:center}
.prize_list li{ width:98%; margin:0 auto; padding:10px 0; border-bottom:1px solid #730404; }
.prize_list li:last-child{border-bottom:none}
.prize_list li p{line-height:30px; word-break:break-all; break-all:word-break}
.prize_list li p span{color:#de0000; font-weight:bold}
.prize_list li a{display:block; width:88px; height:26px; margin:10px auto; background:#ffd200; line-height:26px; text-align:center; color:#420b0a}

.btns_wrap{margin-top:15px; padding:25px 12px 15px;position:relative}
.btns_wrap a{height:30px; line-height:30px; border-radius:2px; text-align:center; line-height:30px; color:#fff; font-size:16px}
.btns_wrap a.disabled{background:rgba(35,180,255,.5)}

.end_info{padding:20px 10px 0 16px; line-height:26px; }

.prize_infor{padding:10px 10px 5px 13px;}
.sign_num{padding-bottom:10px; border-bottom:1px solid #7a0000}
.sign_num span{font-size:22px; color:#ff0000;}
.prize_infor ul li{margin-top:20px;}
.yellow{color:#ffb83b}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width: 90%; left:50%;top:50%; background:rgba(62,0,0,.8); border:1px solid #a70900; margin-left:-45%; z-index: 99999; color:#818181}
.tip-con{ margin: 15px 0; padding: 10px 0 15px; text-align:center;}
.tip-con h3{text-align:center; color:#ffa800; font-size:26px; font-weight:bold}
.tip-con p{padding:20px 0 25px; color:#facd00; font-size:18px}
.tip-con a{display:block;}
.ptop38{ padding-top: 38px;}
.prompt{margin:20px 4% 20px 6%;  line-height:24px}

