/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background: #2a0a0a; color: #000000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#730b91; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
::-webkit-input-placeholder { color:#d9d2c4;}
:-moz-placeholder {color:#d9d2c4;}
::-moz-placeholder {color:#d9d2c4;}
:-ms-input-placeholder {color:#d9d2c4;}

.btns a,.title span{background: url("../images/common_icon.png") 0 0 no-repeat;background-size: 140px 280px;}

.banner{position:relative;width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
/**/
.main{position:relative;width: 100%; background:url(../images/bg.jpg) repeat-y; background-size:100% 100%}
.mod{margin:20px 8px 0;}
.mod_t{height:32px; background:url(../images/mod_t.png) no-repeat; background-size:100% 100%;}
.mod_b{height:32px; background:url(../images/mod_b.png) no-repeat; background-size:100% 100%;}
.mod_m{background:url(../images/mod_m.png) no-repeat; background-size:100% 100%;}
/*提交*/
.input_box{width: 60%;height:40px;margin: 0 auto;background: url("../images/input_bg.png") 0 0 no-repeat;background-size: 100% 100%;}
.input_box input{width:92%;padding:0px 4%;height: 40px;background:none;border:none;font-family: "Microsoft Yahei","微软雅黑";font-size: 14px;}
.prompt{padding-bottom: 15px;}
.prompt img{width: 30%;margin: 0 auto;}
.tip{padding:10px 0px;width:60%;margin: 0 auto;color: #fff;}
/*软件*/

.soft_list{width: 80%;margin: 0 8% 0px 12%;}
.soft_list li{float: left;display:inline;width: 30%;margin: 0px 1%; padding:2% 0; background: #690b0d; border:1px solid #873b34}
.soft_list li a{display: block;width: 70%; padding:15%;}
.soft_list li p{text-align: center;color: #fed07a}
.soft_list li .soft_icon img{width: 80%; margin:0 auto}
.soft_list li .soft_name{margin-top: 5px;}
.soft_list li .soft_name,.soft_list li .soft_size{width:100%;height:22px;line-height:22px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden}
.soft_list li a.soft_btn{display:block; width:63px; height:30px; padding:0; border:none; background: url("../images/common_icon.png") 0 0 no-repeat;background-size: 113px 223px; background-position:0 -45px; margin:5px auto 0; text-align:center; line-height:28px; color:#7b2800; font-weight:bold}
/*活动奖品*/
.prize_list{width: 80%;margin: 0px 6% 0px 14%;}
.prize_list li{float: left; display:inline; width:40%; margin: 0px 10% 4% 0px; }
.prize_list li img{width: 100%;}
/*按钮*/
.btns a{ display: block;width:82px; height:40px;margin: 0 auto;line-height:38px;background-position: 0px -55px;text-align: center;color: #7b2800;font-size: 16px; letter-spacing:2px; font-weight:bold}
.btns a.btn_upgrade{width:133px; height:46px;line-height:44px;background-position: 0px 0px;}
/*参与步骤*/
.step{text-align:center;}
.step_bd img{width: 80%; margin:0 auto}
/*活动规则*/
.rule{padding:20px 0 0; text-align:center;}
.rule_bd img{width: 80%; margin:0 auto}
/*标题*/
.title{width:150px;height:50px; line-height:50px;margin:0 auto 15px; background: url("../images/title_bg.png") 0 0 no-repeat;background-size: 150px 50px;color: #f9bf71;text-indent: -9999px;}
.title span{display: block;}
.title span.step_hd{background-position: 29px -98px;}
.title span.rule_hd{background-position: 29px -210px;}
.title span.soft_hd{background-position: 29px -137px;}
.title span.prize_hd{background-position: 29px -174px;}
.title span.awards_hd{background: none;text-indent: 0;color: #fff;font-size: 16px;}
/*获奖名单*/
.awards_list{width:90%; margin: 5% auto 0; line-height: 22px; color: #fff; background: url("../images/sub_bg.jpg") 0 0 no-repeat; background-size: 100% 100%;}
.slide_up{overflow:hidden;height:220px;position: relative;}
/*升级*/
.upgrade_tip{padding: 50px 0px 30px;}
.upgrade_tip img{width: 100%;}
/*版权*/
.copyright{margin-top:40px;padding:20px 0px;background-color: #000000}
.copyright img{width: 100%;}
.expression img{display:block; width:107px; height:132px; margin:0 auto}


