/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#000000;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; background:#ebebeb; font-size:14px; line-height:20px;}

#main{width:320px; margin:0 auto;}
#banner{width:320px; margin-top:8px; position:relative}
#banner img{display:block; width:320px;}
#active_intro,#active_process{min-height:120px; padding:0 10px; margin:10px 0; background:#ffffff; border-radius:4px; border-bottom:1px solid #cdcdcd}
#active_intro h6,#active_process h6{padding:10px 0 7px; margin-bottom:10px; font-size:16px; font-family:微软雅黑; font-weight:normal; border-bottom:1px solid #d5d7d7;}
#active_intro p{padding-bottom:15px; color:#7a7a7a;}

#banner a{ position:absolute; left:35px; bottom:10px; display:block; width:68px; height:80px}
#banner a#tab02{left:127px}
#banner a#tab03{left:221px}

#active_process img{width:300px;}
#active_process .formlist{height:32px; line-height:32px; margin-top:10px;}
#active_process .formlist label{float:left; width:80px; height:32px;}
#active_process .formlist input.inputtext{float:left; width:208px; height:29px; padding:0 4px; background:#fff; border:1px solid #efefef; border-radius:4px;}
#active_process p{padding:15px 0; color:#ff8a00;}
.form_btn a{display:block; width:80%; height:46px; margin:10px auto; background:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e1e1e1)); background: -moz-linear-gradient(top, #f5f5f5, #e1e1e1); -webkit-box-shadow:0 2px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 2px 1px rgba(0, 0, 0, 0.3); box-shadow:0 2px 1px rgba(0, 0, 0, 0.3);
 border-radius:5px; text-align:center; line-height:49px; font-size:18px; color:#666; text-shadow: 0 1px 1px #fff; }
 
.list{ min-height:120px; margin:10px 0; padding:0 10px; background:#ffffff; border-radius:4px; border-bottom:2px solid #cdcdcd}
.list_head{padding:10px 0; border-bottom:1px solid #d5d7d7}
.list_img{float:left; width:64px; height:64px;}
.list_img img{display:block; width:64px; height:64px;}
.list_right{float:left; width:226px; padding-left:10px;}
.list_right h6{font-size:18px; padding:0 0 8px; font-weight:normal}
.list_right span{font-size:16px;}
.list_txt{padding-top:10px;}
.list_btn{ padding-bottom:10px; text-align:right; font-size:18px; color:#7fbb6a;}
.list_btn a{ color:#7fbb6a;}

.tabhead{width:320px; min-height:84px; margin:10px 0; background:url(../images/nav_bg.png) no-repeat left bottom; background-size:contain;}
.tabhead a{float:left; width:66px; height:90px; margin-left:30px; display:inline}
.tabhead a.tabhead_01{background:url(../images/nav_01.png) no-repeat;}
.tabhead a.tabhead_02{background:url(../images/nav_02.png) no-repeat;}
.tabhead a.tabhead_03{background:url(../images/nav_03.png) no-repeat;}
.tabhead a.current{ background:url(../images/nav_cur.png) no-repeat}
.items{display:none;}
