/* CSS Document */
.zt_items{margin-top:18px;}
.zt_items_top{width:695px; height:128px;}
.zt_items_top img{float:left; width:220px; height:128px;}
.zt_items_txt{float:left; width:474px; height:127px; background-color:#fafafa; border-right: 1px solid #d6d6d6;border-top: 1px solid #d6d6d6;}
.zt_items_txt h4{height:48px; font-size:18px; text-align:center; line-height:55px;}
.zt_items_txt h4 a{color:#000}
.zt_items_txt p{height:60px; padding:0 10px 0 12px; color:#555555; line-height:20px; overflow:hidden}
.zt_items_txt p a{color:#555555;}
.zt_items_txt a:hover{ color:#7fc31e;}

.ztlist{width:253px;}
.ztlist li{float:left; display:inline ;margin: 0px 10px; width:233px; height:148px; border-bottom:1px solid #dfdfdf}
.ztlist li img{display:block; width:170px; height:100px; margin:12px auto 2px;}
.ztlist li span{display:block; width:180px; height:30px; margin:0 auto; white-space:nowrap; overflow:hidden; text-align:center; line-height:30px; text-overflow:ellipsis;}
.ztlist li.zt_more{height:36px; border-bottom:none; line-height:36px; text-align:center; background-color: #eee;}
.ztlist li.zt_more a{}
.zt_more_new{height:36px;width:253px; border-bottom:none; line-height:36px; text-align:center; background-color: #eee;}
.zt_more_new a{ color: #747474;}
.zt_mainlist{width:960px; margin:0 auto;}
.zt_mainlist li{float:left; display: inline; width:468px; height:102px; padding:15px 0; border:1px solid #ebebeb; margin-bottom: 20px; }
.zt_mainlist li.mr20{ margin-right: 20px;}
.zt_mainlist li img{float:left; display:block; width:175px; height:102px; margin:0 8px 0 12px; display:inline}
.zt_mainlist li h4{float:left; width:270px; height:30px; font-size:18px; color:#669900; white-space:nowrap; text-align:center; overflow:hidden;}
.zt_mainlist li h4 a{}
.zt_mainlist li p{float:left; width:260px;padding:0px 5px; height:66px; line-height:22px; overflow:hidden;}
 
#zt_detail_top{width:695px; height:128px; overflow:hidden}
#zt_detail_top img{width:220px; height:128px;}
#zt_detail_top .zt_items_txt{width:474px; height:128px;}
#zt_detail_top .zt_items_txt p{height:100px;}

#zt_detail_list{width:693px; overflow:hidden;}
#zt_detail_list li{float:left; display:inline; width:663px; margin:0px 15px; height:auto; padding:28px 0px 23px 0px; border-bottom:1px solid #ebebeb; position:relative}
.zt_detaillist_top{ height:48px; font-size:12px;}
.app_info{ float: left; width:490px;}
.app_info h4{height:24px; font-size:16px; clear: both; overflow: hidden;}
.app_info h4 a{ float: left; color: #000;}
.app_info h4 a:hover{color: #7fc31e}
.app_info h4 span.official_icon{ float: left; display:inline; margin: 3px 0px 0px 10px; width: 28px; height: 19px; background:url("../images/anzhi_icon.png") no-repeat -32px -66px;}
.app_top{height:22px; line-height:22px; color: #555;}
.app_icon{float:left; width:48px; height:48px; margin-right:15px; display:inline}
.app_icon img{display:block; width:48px; height:48px;}
.app_version{width:90px;}
.app_star{width:130px;}
.app_star span{float:left;}
.app_star img{float:left; margin-top:6px;}
.app_down{position:absolute; right:5px; top:40px; width:110px; height:40px;}
.app_down a{display:block; width:70px; padding-left: 40px; height:40px; line-height: 40px; color: #fff; background: url("../images/anzhi_icon.png") 10px -777px no-repeat #7fc31e;}
.app_down a:hover{}
.app_down .pop_code{ position: absolute; border:1px solid #d6d6d6;left:-115px;top:-35px;  padding:2px; background-color: #fff;z-index: 10}
.app_down .pop_code img{width: 100px; height: 100px;}
.zt_detail_info{width:430px;color: #555}
.zt_detail_info p{width:430px; white-space: nowrap; text-overflow:ellipsis;overflow:hidden; line-height:20px;}
.app_time{width:130px;}

.hotlist{display:none;}
.tab_zt{width:100%; height:45px; background-image:url(../images/tab_zt.png); background-position:0 0; background-repeat:no-repeat; border-bottom:3px solid #8cc20e; line-height:45px; color:#fff; overflow:hidden; font-size:16px;}
.tab_zt li{float:left; width:193px; height:45px; text-indent:3.2em; cursor:pointer;}
.zt_recommend{display:none;}

#install_left_btn,#install_right_btn{ background: url("../images/anzhi_icon.png") no-repeat;}
.install_zt{width:255px; height:175px;  margin-bottom:18px;}
.install_item_title{height:31px; text-align:center; line-height:31px; position:relative; width:253px; border:1px solid #d6d6d6;border-bottom:none; background-color: #eee;}
#install_left_btn{width:12px; height:21px;background-position:-1px -818px; position:absolute; left:15px; top:4px; cursor:pointer}
#install_right_btn{width:12px; height:21px;background-position:-23px -818px;  position:absolute; right:15px; top:4px; cursor:pointer}

.line54{padding-top:1px;}
.line54 li{height:55px; border-bottom:none;}
.line54 .recommend2_down{ bottom:12px}

.stars_zt{ margin:0 0 5px;}
.category_soft {display:none;}
#category_0 {display:block;}