/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#000; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#dbbcff}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#dbbcff}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:0 10px 40px; background:url(../images/bg1.jpg) no-repeat; background-size:100% auto}
.banner{width:100%; position:relative}
.banner img{display:block; width:100%}
.app{width:80px; margin:0 auto}
.app img{display:block; width:80px; height:80px}
.app a{display:block; width:80px; height:28px; margin-top:10px; background:#e6a925; border-radius:4px; text-align:center; line-height:28px; color:#ffffff; font-weight:bold}
.infor{padding:0 14px}
.infor h3{ line-height:36px; color:#feeac0; font-size:24px}
.infor p{color:#ffffff; line-height:34px}
.wrap{ padding:10px; margin-top:22px; background:rgba(32,35,64,.72); border:1px solid #0080c2}
.infor_img img{display:block; width:100%;}