/* CSS Document */
/*appitem*/
.item_wrap{margin-bottom:20px;}
.item_sub{height:40px; background:#ebebeb; line-height:40px; font-size:16px;}
.item_sub li{float:left; padding-left:30px; cursor:pointer}
.item_sub li.currentcolor{color:#336600;}
.itemlist{width:100%; font-size:16px;}
.itemlist dt{ width:100%; height:58px; background:#f4faf9; border-bottom:1px solid #ebebeb; overflow:hidden}
.itemlist dt h2{ height:35px; margin-top:12px; background:url(../images/item_icon.png) no-repeat 18px 0; text-align:center; line-height:35px; font-size:16px;}
.itemlist dt h2 span{padding:0 4px;}
.itemlist dd{float:left; width:99px; height:35px; border-bottom:1px dashed #B2B2B2; line-height:35px; text-indent:1.2em; overflow:hidden}
.itemlist dd a:hover{color:#336600}
.itemlist dd.border_solid{border-bottom:1px solid #ebebeb;}
.itemlist dd.border_none{border-bottom:0;}
#itemlist2 dt h2{ background-position:18px -72px;}
#itemlist3 dt h2{ background-position:18px -36px;}
#itemlist4 dt h2{ background-position:18px -108px;}
#itemlist5 dt h2{ background-position:19px -144px;}

/*applist*/
.app_list ul{width:572px; margin-left:5px; overflow:hidden}
.app_list ul li{float:left; width:568px; height:65px; padding-top:14px; border-bottom:1px solid #ebebeb; font-size:12px; color:#999999; overflow:hidden}
.app_icon{float:left; width:48px; height:48px; margin:0 8px; display:inline}
.app_icon img{display:block; width:48px; height:48px;}
.app_info{float:left; width:400px; height:65px;}
.app_top{width:100%; height:28px; line-height:24px; white-space:nowrap; overflow:hidden}
.app_name{width:100px; font-size:14px; color:#669900}
.app_name a{color:#669900}
.app_version{width:75px;}
.app_downnum{width:120px;}
.app_list ul li p{width:95%; height:24px; white-space:nowrap; overflow:hidden; font-size:13px;}
.app_down{float:left; width:100px; height:40px; margin-top:4px;}
.app_down a{display:block; width:100px; height:40px; background:url(../images/down.png) no-repeat; text-indent:-9999px}
.app_down a:hover{background:url(../images/down.png) no-repeat 0 -40px;}
.app_star{width:100px;}
.app_star span{float:left;}

.search_hot{margin-bottom:20px;}
.search_hot #bj_recommend2{height:488px; overflow:hidden;}
.search_no{width:300px; min-height:433px; _height:433px; padding-top:55px; margin:0 auto; text-align:center;}
.search_no img{  width:104px; height:122px; margin-bottom:25px;}
.search_no p{color:#555555; line-height:24px;}
.search_no p a{color:#337b10;}

/*itemgame*/
#item_game{width:198px; overflow:hidden;}
#item_game li{float:left; width:198px; height:59px; border-bottom:1px solid #ebebeb; line-height:59px; text-align:center; letter-spacing:1px; font-size:16px;}
#item_game li a:hover{color:#336600}
#online_games li{border-bottom:1px dotted #B2B2B2;}
#item_game li.currentitem{ background:url(../images/arrow_item.png) no-repeat 40px center; color:#0f6309; font-weight:bold}
#item_game li.currentitem a{color:#0f6309;}

.xtgj,.shgj,.meiti,.tongxin,.yuedu{display:none;}