/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:微软雅黑;}
body{font-size:14px; color:#202020;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#202020;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
ul,li{list-style:none;}
.fontbold{font-weight:bold;}
.margin_top{margin-top:20px;}
.l{float:left;}
.r{float:right;}
.border_none{border:none;}
.margin_bom{ margin-bottom:10px;}

.border_three{border:1px solid #d6d6d6; border-top:none; background:#ffffff;}
.center{text-align:center;}

.content{width:790px; margin:10px auto 0; overflow:hidden}
.content_left{float:left; width:580px;}
.title{width:100%; height:28px; background:#464646; border-bottom:3px solid #8cc20e; line-height:31px; color:#fff; position:relative; overflow:hidden}
.title a{color:#fff;}
.title a.current2 { color: #ACACAC; text-decoration: none;}
.title h2{float:left; background:url(../images/android_icon.png) 11px 8px no-repeat; color:#fff; padding-left:50px; font-size:16px;}
.title h3{font-size:14px;}
.title span.space{float:left; padding:0 5px;}
.title span.more{ position:absolute; right:10px; top:0; font-size:14px;}
.sides{float:right; width:200px;}

.recommend{width:571px; padding-left:7px;}
.recommendhover{ background:url(../images/bg_01.gif) repeat;}
.recommend li{float:left; width:109px; height:122px; margin:0 2px; display:inline; position:relative;}
.recommend li .recommend_icon{width:48px; height:48px; padding:13px 30px 8px; display:block}
.recommend li .recommend_icon img{display:block; width:48px; height:48px;}
.recommend li .recommend_name{width:100%; display:block;}
.stars{width:62px; height:12px; margin:7px auto 0; background: url(../images/stars.png) no-repeat 0 0; overflow:hidden}
.down{width:48px; height:24px; border:1px solid #7fc31e; position:absolute; bottom:5px; left:30px; display:none;}
.down a{display:block; width:44px; height:20px; margin:2px; background:#7fc31e; text-align:center; line-height:20px; color:#fff;}

.recommend2{width:100%;}
.recommend2 li{float:left; width:100%; height:60px; border-bottom:1px solid #e1e7e6; line-height:55px; position:relative; overflow:hidden}
.recommend2_icon{float:left; width:37px; height:37px; margin:10px 8px 0 7px; display:inline;}
.recommend2_icon img{display:block; width:37px; height:37px;}
.recommend2_name{float:left; width:90px; white-space:nowrap;}
.down_num{float:left; width:64px; white-space:nowrap; font-size:12px; color:#666666; overflow:hidden}
.recommend2_down{width:48px; height:24px; border:1px solid #7fc31e; position:absolute; bottom:18px; right:10px; display:none;}
.recommend2_down a{display:block; width:44px; height:20px; margin:2px; background:#7fc31e; text-align:center; line-height:20px; color:#fff;}
.recommend2 li.morelist{width:100%; height:41px; background:#f4faf9; text-align:center; line-height:41px;}

/*search rank*/
#bj_recommend2 li{float:left; width:198px; height:60px; border-bottom:1px solid #e1e7e6; line-height:56px; position:relative; overflow:hidden}
#bj_recommend2 li .rank_num{float:left; width:20px; height:20px; margin:19px 12px 0; background:url(../images/rankbg_01.png) no-repeat; line-height:20px; text-align:center; color:#ffffff; display:inline;}
#bj_recommend2 li .rank_numpre{background:url(../images/rankbg_02.png) no-repeat;}
#bj_recommend2 .rank_title{float:left; width:115px; display:inline; white-space:nowrap; overflow:hidden;}
#bj_recommend2 li span.rank_icon{float:left; width:22px; height:21px; margin:20px 0 0 5px; background:url(../images/rank_bg2.png) no-repeat; display:inline}
#bj_recommend2 li span.rank_icon1{ background-position:0 0;}
#bj_recommend2 li span.rank_icon2{background-position:0 -21px;}
#bj_recommend2 li span.rank_icon3{background-position:0 -42px;}
.bj_recommend{display:none;}

/*title tab*/
.hotlist{display:none;}
.tab_title,.tab_title2{width:100%; height:28px; background-image:url(../images/title_bg.png); background-position:0 0; border-bottom:3px solid #8cc20e; line-height:28px; color:#fff; overflow:hidden; font-size:16px;}
.tab_title li{float:left; width:86px; height:28px; padding-left:14px; cursor:pointer;}
.content_wrap3{height:562px; background:#fff;}

.paihang{display:none;}
.tab_title2{background-position:0 0;}
.tab_title2 li{float:left; width:100px; height:28px; text-align:center; cursor:pointer; }

/*fenye*/
.pagebars{width:95%; padding:10px; text-align:right;}
.pagebars a{display:inline-block; height:20px; padding:0 6px; background:#b3b3b3; margin-right:1px; line-height:20px; color:#fff;}
.pagebars a.selected{background:#000;}

/*footer*/
.footer{width:800px; margin:0 auto; padding-bottom:15px;}
.footer_bg{height:27px; background:#464646 url(../images/footer_bg.jpg) no-repeat right top; margin:10px 0 15px; border-top:3px solid #8cc20e;}
.footer p{text-align:center; line-height:27px; font-size:12px;}
.cursor_pointer{cursor:pointer;}
