/* CSS Document */
.app_detail,.app_detail_list{widht:565px; margin:0 9px 0 10px; padding:26px 0 20px; border-bottom:1px solid #ebebeb;}
.detail_icon{float:left; width:102px; margin:0 20px 0 10px; text-align:center; display:inline;}
.detail_icon img{display:block; width:72px; height:72px; margin:0 auto;}
.detail_icon a{display:block; width:102px; height:36px; margin:15px auto; background:url(../images/install_bg.png) no-repeat;}
.detail_description{float:left; width:420px;}
.detail_line{ font-size:14px; padding:7px 0;}
.detail_line h3{float:left; padding-right:10px; font-size:18px; color:#252525; font-weight:bold}
.detail_line span.app_detail_version{float:left; padding-top:4px; font-size:16px; color:#252525}
.detail_line span.spaceleft{padding-left:25px;}
#safe_icon li{float:left; width:96px; height:21px; color:#69b024; font-size:12px; white-space:nowrap; overflow:hidden}
#safe_icon li img{float:left; width:21px; height:21px; margin:0 5px 0 0; display:inline}
#safe_icon li span{float:left; height:21px; line-height:21px;}
#detail_line_ul{float:left; width:420px;}
#detail_line_ul li{float:left; width:210px; height:22px; padding:7px 0 4px; _padding:5px 0;}
#stars_detail{float:left; width:74px; height:15px; margin:1px 15px 0 0; background: url(../images/stars_detail.png) no-repeat 0 0; overflow: hidden; display:inline}

.app_detail_list{width:550px; padding-left:10px; position:relative}
.app_detail_title{ padding-bottom:10px; font-size:18px; color:#336600;}
.detail_img_list{width:530px; height:252px; margin:10px 0 0 5px; overflow:hidden; position:relative;}
.border_none{border:none;}
#detail_slider_ul{position:absolute; left:0}
#detail_slider_ul li{float:left; width:170px; height:252px; padding:0 4px;}
#detail_slider_ul li img{display:block; width:164px; height:246px; border:3px solid #959595;}
.app_detail_infor{height:60px; overflow:hidden}
.app_detail_infor p{line-height:20px;}
.morecontent{height:24px;}
.morecontent span{ float:right; padding:0 20px; height:24px; background:url(../images/arrow_02.gif) no-repeat right center; line-height:22px; color:#0054a6; cursor:pointer}
.morecontent span.up{background:url(../images/arrow_03.gif) no-repeat right center;}
#detail_silder_left{width:42px; height:84px; background:url(../images/arrow_08.png) no-repeat; position:absolute; left:-11px; top:145px; cursor:pointer; z-index:22}
#detail_silder_right{width:42px; height:84px; background:url(../images/arrow_03.png) no-repeat; position:absolute; right:-10px; top:145px; cursor:pointer; z-index:22}

#comment_box{border:none; padding-bottom:5px; padding-left:5px;}
#comment_list{}
#comment_list li{float:left; width:550px; min-height:48px; _height:48px; padding:10px 0;  border-bottom:1px solid #ececec; font-size:12px; overflow:hidden;}
img.avatr{float:left; width:48px; height:48px; margin:0 10px; display:inline;}
.comment_list{float:left; width:475px; min-height:48px; _height:48px;}
.comment_list_top{height:22px;}
.comment_list_top span{float:left; width:200px; color:#669900; font-weight:bold; font-size:14px;}
.comment_list_top .stars{width:62px;}
.comment_list_top img{float:left; margin-top:2px;}
.comment_list_top em{float:right; font-style:normal}
.comment_list p{line-height:22px;}

#comment_form textarea{width:540px; height:110px; padding:4px; border:1px solid #c9c9c9}
.comment_score{float:right; width:250px; height:30px; padding:15px 0;}
.comment_score span{float:left; padding:5px 0 0 0;}
.comment_score ul li{float:left; width:14px; height:16px; margin:7px 2px 0; background:url(../images/stars_02.png) no-repeat 0 0; overflow:hidden; display:inline; cursor:pointer;}
.comment_score input{float:right; width:90px; height:30px;}