/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:微软雅黑;}
body{font-size:14px; color:#202020; height:100%;}
html{ width:100%; height:100%; overflow:visible;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#202020;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
ul,li{list-style:none;}
.fontbold{font-weight:bold;}
.margin_top{margin-top:20px;}
.l{float:left;}
.r{float:right;}
.border_none{border:none;}
.margin_bom{ margin-bottom:10px;}

.border_three{border:1px solid #d6d6d6; border-top:none; background:#ffffff; _zoom:1}
.center{text-align:center;}
/*commen header*/
.header_wrap{width:100%; height:80px; min-width:790px; max-width:986px; _width:790px; margin:0 auto;}
.header{height:70px; padding-top:10px; margin:0 20px 0 10px;}
.logo{float:left; width:60px; height:63px;}
.logo a{display:block; width:60px; height:63px; background:url(../images/logo.png) no-repeat; text-indent:-9999px; overflow:hidden}
.header_r{float:left; width:auto}
.header_r h2{float:left; width:380px; padding:15px 20px 0; font-size:20px;}
.header_r a{float:left; width:143px; height:42px; margin-top:10px; background:url(../images/down_01.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.header_r a:hover{background:url(../images/down_01h.png) no-repeat;}

.nav{height:40px; background:#53b31f url(../images/nav_bg.jpg) top center no-repeat;}
.nav_inder{min-width:790px; max-width:986px; _width:790px; height:40px; margin:0 auto; line-height:40px; position:relative}
.nav ul{margin-left:10px;}
.nav ul li{float:left; margin:0 2px; display:inline; font-size:17px; color:#ffffff; font-weight:550; text-shadow:0 1px 0 #000; letter-spacing:3px;}
.nav ul li.current{background:#0f6309;}
.nav ul li.current a{color:#4cec16;}
.nav ul li a{ display:block; padding:0 28px; color:#ffffff;}
.nav ul li a:hover{ background:#0f6309; color:#4cec16; text-decoration:none}
.search_top{width:253px; height:30px; margin-top:4px; background:#ffffff; border:1px solid #555555; position:absolute; right:20px;}
#search_txt{float:left; width:200px; height:24px; padding:3px 5px; border:0; line-height:24px; color:#999999;}
#search_btn{position:absolute; right:2px; top:2px;}

.content{ padding:10px 0 0; min-width:790px; max-width:986px; _width:790px; margin:0 auto;}
.sides{float:right; width:210px; margin-right:20px; display:inline; overflow:hidden}
.content_left{margin:0 240px 0 10px; _margin-right:237px; }


.title{height:28px; background:#464646; border-bottom:3px solid #8cc20e; line-height:31px; color:#fff; position:relative; overflow:hidden;}
.title a{color:#fff;}
.title a.current2{color:#acacac; text-decoration:none}
.title h2{float:left; background:url(../images/android_icon.png) 11px 8px no-repeat; color:#fff; padding-left:50px; font-size:16px;}
.title h3{font-size:14px;}
.title span.space{float:left; padding:0 5px;}
.title span.more{ position:absolute; right:10px; top:0; font-size:14px;}
.changewidth_box{max-width:736px; min-width:540px; overflow:hidden;}

.recommend{float:left; padding-left:7px; overflow:hidden; display:inline;}
.recommendhover{ background:url(../images/bg_01.gif) repeat;}
.recommend li{float:left; width:105px; height:122px; display:inline; position:relative;}
.recommend li .recommend_icon{width:48px; height:48px; padding:13px 0 8px; margin:0 auto; display:block}
.recommend li .recommend_icon img{display:block; width:48px; height:48px;}
.recommend li .recommend_name{width:100%; display:block;}
.stars{width:62px; height:12px; margin:7px auto 0;  background:url(../images/stars.png) no-repeat; overflow:hidden}
.down{width:50px; height:26px; margin:3px auto 0; display:none;}
.down img{display:block; width:50px; height:26px;}

.recommend2_down span{display:block; width:44px; height:20px; margin:2px; background:#7fc31e; text-align:center; line-height:20px; color:#fff;}
.recommend2{width:100%;}
.recommend2 li{float:left; width:100%; height:60px; border-bottom:1px solid #e1e7e6; line-height:55px; position:relative; overflow:hidden}
.recommend2_icon{float:left; width:37px; height:37px; margin:10px 4px 0 4px; display:inline;}
.recommend2_icon img{display:block; width:37px; height:37px;}
.recommend2_name{float:left; width:88px; white-space:nowrap;}
.down_num{float:left; width:74px; white-space:nowrap; font-size:12px; color:#666666; overflow:hidden; text-overflow:ellipsis;}
.recommend2_down{width:50px; height:26px; position:absolute; bottom:18px; right:10px; display:none;}
.recommend2_down img{display:block; width:50px; height:26px;}
.recommend2 li.morelist{width:100%; height:41px; background:#f4faf9; text-align:center; line-height:41px;}


/*search rank*/
#bj_recommend2 li{float:left; width:208px; height:60px; border-bottom:1px solid #e1e7e6; line-height:56px; position:relative; overflow:hidden}
#bj_recommend2 li .rank_num{float:left; width:20px; height:20px; margin:19px 12px 0; background:url(../images/rankbg_01.png) no-repeat; line-height:20px; text-align:center; color:#ffffff; display:inline;}
#bj_recommend2 li .rank_numpre{background:url(../images/rankbg_02.png) no-repeat;}
#bj_recommend2 .rank_title{float:left; width:120px; display:inline; white-space:nowrap; overflow:hidden;}
#bj_recommend2 li span.rank_icon{float:left; width:22px; height:21px; margin:20px 0 0 5px; background:url(../images/rank_bg2.png) no-repeat; display:inline}
#bj_recommend2 li span.rank_icon1{ background-position:0 0;}
#bj_recommend2 li span.rank_icon2{background-position:0 -21px;}
#bj_recommend2 li span.rank_icon3{background-position:0 -42px;}
.bj_recommend{display:none;}

.app_ullist2{height:244px; overflow:hidden; _position:relative}

/*title tab*/
.hotlist{display:none;}
.tab_title,.tab_title2{width:100%; height:28px; background-image:url(../images/title_bg.png); background-position:0 0; border-bottom:3px solid #8cc20e; line-height:28px; color:#fff; overflow:hidden; font-size:16px;}
.tab_title li{float:left; width:104px; height:28px; cursor:pointer; text-align:center}
.content_wrap3{height:562px; background:#fff;}

.paihang{display:none;}
.tab_title2{background-position:0 -84px;}
.tab_title2 li{float:left; width:70px; height:28px; text-align:center; cursor:pointer; }
/*fenye*/
.pagebars{width:92%; padding:10px; text-align:right;}
.pagebars a{display:inline-block; height:20px; padding:0 6px; background:#b3b3b3; margin-right:1px; line-height:20px; color:#fff;}
.pagebars a.selected{background:#000;}

/*footer*/
.footer{min-width:790px; max-width:986px; _width:790px; margin:10px auto 0; padding-bottom:15px; position:relative;}
.footer_bg{height:27px; background:#464646 url(../images/footer_bg.jpg) no-repeat right top; margin:0 0 15px; border-top:3px solid #8cc20e;}
.footer p{text-align:center; line-height:27px; font-size:12px;}
.cursor_pointer{cursor:pointer;}
.jubao{width:72px; height:26px; background:url(../images/jubao.png) no-repeat; overflow:hidden; position:absolute; right:220px; top:45px;}
.jubao a{display:block; width:72px; height:26px; text-indent:-9999px}

/*openbox*/
.openbox{width:680px; height:auto; padding:20px 25px 25px; background:#000000; border:1px solid #555555; position:absolute; left:0; top:0; color:#e1e1e1; font-size:18px; display:none; z-index:10}
.open_title{height:45px; border-bottom:1px solid #555555; position:relative}
.open_title h6{ font-size:24px;}
.open_title span{ position:absolute; right:-2px; top:-2px; width:34px; height:34px; background:url(../images/bg2.png) no-repeat -190px -25px; cursor:pointer; overflow:hidden}
.open_title2{padding:10px 0;}
.report_list label{float:left; padding:10px 30px 10px 10px;}
.report_list label input{margin-right:25px;}
#report_soft textarea{width:670px; height:104px; margin:5px 0 0; padding:5px; background:#ffffff; border:4px solid #3d3d3d}
.open_btn{padding:50px 0 0 85px;}
.open_btn a{float:left; display:block; width:140px; height:33px; margin-left:70px; display:inline; text-align:center; line-height:33px; text-decoration:none; overflow:hidden}
.open_btn a.submit_btn{ background:url(../images/login_bg.gif) repeat-x 0 0; border:1px solid #336600; color:#ffffff;}
.open_btn a.cancel{ background:url(../images/login_bg.gif) repeat-x 0 -33px; border:1px solid #898989; cursor:pointer}
#mark{ top:0; left:0; position:absolute; z-index:1; background:#000000; filter:alpha(opacity=60); opacity:0.6;}
#report_footer textarea{width:670px; height:180px; margin:5px 0 0; padding:5px; background:#ffffff; border:4px solid #3d3d3d}

#scrollbar1{height:100%; overflow:hidden;}
.scrollbar{background-position: 0 0; height: 100%; position: absolute; right: 3px; width: 6px; z-index: 9;}
.track {float: right; height: 100%; position: relative; width: 6px;}
.loading{padding:60px 0; text-align:center;}