/* CSS Document */
.ztflash_box{ min-width:790px; max-width:986px; _width:790px; margin:10px auto 0;}
.ztflash{ height:210px; margin:0 20px 0 10px; overflow:hidden; position:relative; _width:760px;}
.ztflshcont{ width:333333px; height:170px; }
.ztflshcont img{ float:left; }
.ztflashimg{ _width:590px;height:210px; float:left; cursor:pointer;}
#storeimgs{position:absolute; right:35px; top:180px; z-index:100000;}
#storeimgs li{float:left; width:16px; height:16px; margin:0 5px 0 0; overflow:hidden; cursor:pointer; background-color:#FFFFFF; opacity:0.6; border:1px solid #DEDEDE; text-align:center; line-height:16px;}
#storeimgs li.flashhover{background-color:#458401; border:1px solid #7eec00; opacity:1;filter: Alpha(opacity=100); color:#fff;}

#changewidth_box1 ul{height:488px; overflow:hidden; _position:relative}
.changewidth_box2 ul{height:244px; overflow:hidden; _position:relative}
.changewidth_box2 .border_three{ height:245px; overflow:hidden;}
#zt_index{width:540px; height:175px; margin:0 auto 10px; overflow:hidden; position:relative}
#ztfocus_ul{ position:absolute; left:-188px;}
#ztfocus_ul li{float:left; width:300px; height:175px; padding:0 2px;}
#ztfocus_ul li img{display:block; width:300px; height:175px;}
#zt_index_left{width:38px; height:75px; background:url(../images/arrow_inddx02.png) no-repeat; position:absolute; left:75px; top:50px; z-index:100; cursor:pointer; display:none}
#zt_index_right{width:38px; height:75px; background:url(../images/arrow_inddx01.png) no-repeat; position:absolute; right:78px; top:50px; z-index:100; cursor:pointer; display:none}
.mart_zt{width:114px; height:175px; background:#000000; filter:alpha(opacity=60); opacity:0.6; position:absolute; top:0; z-index:10}
#mart_zt_left{left:0;}
#mart_zt_right{right:0; width:117px}

.ztindex{height:102; overflow:hidden;}
.ztindex ul{height:102px; overflow:hidden;}
.ztindex ul li{float:left; width:175px; height:102px;}
.ztindex ul li img{display:block; width:175px; height:102px;}
.ztindex ul li.nomargin{margin-right:0;}