/*滚动条样式*/
.jScrollPaneContainer {position: relative;overflow: hidden;z-index: 1;}
.jScrollPaneTrack {position: absolute;cursor: pointer;right:3px;top: 0;height: 100%;background: #aaa;}
.jScrollPaneDrag {position: absolute;background: #666;cursor: pointer;overflow: hidden;}
.jScrollPaneDragTop {position: absolute;top: 0;left: 0;overflow: hidden;}
.jScrollPaneDragBottom {position: absolute;bottom: 0;left: 0;overflow: hidden;}
a.jScrollArrowUp {display: block;position: absolute;z-index: 1;top: 0;right:3px;text-indent: -2000px;overflow: hidden;/*background-color: #666;*/height: 9px; }
a.jScrollArrowUp:hover {/*background-color: #f60;*/}
a.jScrollArrowDown {display: block;position: absolute;z-index: 1;bottom: 0;right:3px;text-indent: -2000px;overflow: hidden;/*background-color: #666;*/height: 9px;}
a.jScrollArrowDown:hover {/*background-color: #f60;*/}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {/*background-color: #f00;*/}
/*a.jScrollArrowUp {background: url(../images/basic_arrow_up.gif) repeat-x 0 0;}
a.jScrollArrowUp:hover {background-position: 0 -15px;}
a.jScrollArrowDown {background: url(../images/basic_arrow_down.gif) repeat-x 0 0;}
a.jScrollArrowDown:hover {background-position: 0 -15px;}*/
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {background-position: 0 -30px;}
.osX .jScrollPaneTrack {background: url(../images/tack.png) -6px top repeat-y;}
.osX .jScrollPaneDrag {background: url(../images/tack.png) -24px top repeat-y;}
.osX .jScrollPaneDragTop {background: url(../images/tack.png) -18px no-repeat;height: 3px; font-size:0; overflow:hidden;}
.osX .jScrollPaneDragBottom {background: url(../images/tack.png) -30px no-repeat;height: 3px;font-size:0; overflow:hidden;}
.osX a.jScrollArrowUp {height:3px;background: url(../images/tack.png) left top no-repeat  ;}
.osX a.jScrollArrowUp:hover {background-position: 0 0;}
.osX a.jScrollArrowDown {height: 3px;background: url(../images/tack.png) -12px top no-repeat;}
.osX a.jScrollArrowDown:hover {background-position: 0 0;}
/* IE SPECIFIC HACKED STYLES */
* html .osX .jScrollPaneDragBottom {bottom: -1px;}
/* /IE SPECIFIC HACKED STYLES */
/*/滚动条样式*//* CSS Document */


/* Tiny Scrollbar */


#scrollbar1  { height:100%;overflow:hidden;}
#scrollbar1 .viewport {height:100%; overflow: hidden; position: relative; }
#scrollbar1 .overview {list-style: none; position: absolute; left:0; top: 0; padding: 0; margin: 0; width:100%;}
#scrollbar1 .scrollbar{ position:absolute; height:100%; background-position: 0 0; width: 6px;right:3px; z-index:9; }
#scrollbar1 .tracktop{height:3px; width:6px; position:absolute; left:0; top:0; overflow:hidden;font-size:0; }
#scrollbar1 .trackbt{height:3px; width:6px; position:absolute; left:0; bottom:0;_bottom:-1px overflow:hidden;font-size:0; }
#scrollbar1 .track {    height: 100%; width:6px; position:relative; float:right; }
#scrollbar1 .thumb { background: url(../images/tack.png) -24px top repeat-y;  width:6px; cursor: pointer; overflow: hidden; position: absolute; top: 0;  }
#scrollbar1 .thumb .start { background: url(../images/tack.png) -18px  top no-repeat;height: 3px;  width: 6px; position:absolute; left:0; top:0; font-size:0; overflow:hidden;}
#scrollbar1 .thumb .end{ background: url(../images/tack.png) -30px bottom  no-repeat;height: 3px;  width: 6px; position:absolute; left:0; bottom:0;_bottom:-1px; font-size:0; overflow:hidden;}
#scrollbar1 .disable { display: none; }
