/* CSS Document */
/*税率弹窗*/
.add_acount_list{width:100%; padding-bottom:20px; position:relative}
.add_acount_item{float:left; width:50%; min-height:31px; margin-bottom:5px; line-height:28px; font-size:12px;}
.add_acount_item label{float:left; width:100px}
.add_acount_item .inputtext{width:198px;}
.add_acount_item select{float:left; width:198px; height:28px; border:1px solid #dcdcdc; line-height:28px; margin-right:3px; display:inline}
.add_acount_tips{float:left; }
.add_acount_errors{padding-left:100px;}

#edit_channel_newbox,#show_channel_newbox{width:980px;}
#edit_channel_newbox h6,#show_channel_newbox h6{width:100%}
#edit_channel_newbox h6 small,#show_channel_newbox h6 small{font-size:14px; font-weight:normal;}
.edit_channel_item{float:left; width:220px; margin-bottom:20px; line-height:28px;}
.edit_channel_item label{float:left;}
.edit_channel_item .inputtext{width:60px;}
.edit_channel_list .title h2{ padding-right:60px; font-weight:normal; font-size:16px;}

#edit_channel_newbox .config_list_tips,#accout_edit_newbox .config_list_tips{top:0; left:210px;}
#edit_channel_newbox .title_tips_arrow,#accout_edit_newbox .title_tips_arrow{width:9px; height:14px; left:-9px; top:15px; background:url(../images/arrow_02.png) no-repeat}
#accout_edit_newbox .config_list_tips{left:130px;}

#edit_accout_newbox{width:980px;}



