/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:"微软雅黑",Arial,sans-serif;}
body{background:#f1f1f1; font-size:14px; color:#000000;}
h1,h2,h3,h4,h5,h6{text-shadow:0 0 0 gray;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#000000;}
a:hover{text-decoration:underline;}
.clear{clear:both; height:0; overflow:hidden}
ul,li{list-style:none;}
.inputfile{ height:30px; font-size:17px; position:absolute; top:0; left:100px; opacity:0; filter:alpha(opacity=0); _width:310px;}

/*commen header*/
.header{width:100%; height:122px; background:url(../images/header_bg.png) repeat;}
.logo{float:left; width:480px; height:76px; margin:25px 0 0 20px; display:inline;}
.logo a{display:block; width:480px; height:76px; background:url(../images/logo.png) no-repeat; text-indent:-9999px; overflow:hidden}
.header_r{float:right; width:250px; height:22px; margin:90px 20px 0 0; display:inline; color:#ffffff;}
.header_r a{float:right; padding:0 10px; background:url(../images/header_space.png) no-repeat left center; height:22px; color:#fff;}
.header_r span{float:right; padding:0 10px; height:22px;}

.main{width:100%; padding:20px 0 0; min-height:400px; _height:400px;}
.sidebars{float:left; width:198px; margin-left:20px; padding-bottom:60px; background:#fff; border:1px solid #dcdcdc; display:inline;}
#sieds_menu li{margin-top:5px;}
#sieds_menu li h4{height:32px; padding-left:20px; line-height:32px; font-weight:bold; cursor:pointer; position:relative;}
#sieds_menu li h4 span{display:block; width:12px; height:12px; position:absolute; top:11px; right:20px; background:url(../images/icon_down.png) no-repeat;}
#sieds_menu li h4 span.hidesub{background:url(../images/icon_up.png) no-repeat;}
#sieds_menu li p{height:26px;}
#sieds_menu li p.current a{color:#49890c; font-weight:bold}
#sieds_menu li p a{ display:block; padding-left:35px; line-height:26px; text-decoration:none;}
#sieds_menu li p.current a{color:#097c25;}

div.content{margin:0 0 0 22px; min-height:400px; width:98%;}
.inputtext{float:left; width:140px; height:28px; padding:0 2px; border:1px solid #dcdcdc; margin-right:5px; display:inline;}
.search_box{width:98%; padding:20px 0 4px; background:#fff; border:1px solid #dcdcdc;}
.nav_page{height:35px; line-height:32px; color:#090909;}
.search_box h3{padding:0 0 20px 20px; font-size:16px}
.search_table{ width:98%; margin-left:20px; font-size:12px;}
.search_table td{padding-bottom:17px;}
.search_item_text,.search_table select{width:94px; height:28px; padding:0 4px; background:#fff; border:1px solid #dcdcdc; line-height:28px;}
.search_table select{width:94px; height:28px; padding:0; border:1px solid #dcdcdc; font-size:12px;}
.search_btn{display:block; width:98px; height:28px; background:url(../images/repeat_bg_01.png) repeat-x; border:1px solid #bdbdbd; text-align:center; line-height:28px; cursor:pointer; font-size:16px;}
.search_more_btn{color:#0078ff; padding-right:8px; background:url(../images/search_btn_bg1.png) no-repeat right center; cursor:pointer; font-size:12px;}
.search_more_btn_up{background:url(../images/search_btn_bg2.png) no-repeat right center;}
.search_more_type{ display:block; width:78px; height:28px; background:url(../images/repeat_bg_02.png) repeat-x; border:1px solid #bdbdbd; text-align:center; line-height:28px; cursor:pointer}
.search_btn2{border:1px solid #bdbdbd;}
.search_btn2:hover{border:1px solid #bdbdbd;}

.config_list_tips{ width:360px; padding: 6px 12px; background:#fff; border:3px solid #dcdcdc; position:absolute; left:100px; top:-85px; display:none; border-radius:5px;}
.title_tips{float:left; width:22px; height:24px; background:url(../images/icon_002.png) no-repeat; cursor:pointer;}
.tablelist_box p{padding-top:12px; font-size:12px; text-align:right;}
.table_list{width:98%; margin-top:10px; font-size:12px; line-height:20px; border-collapse:collapse; color:#252525;}
.table_list thead th{height:38px; background:url(../images/thead_bg.png) repeat; border:1px solid #dcdcdc; font-size:14px; color:#252525; text-align:center}
.table_list thead th a{display:block; width:100%; height:100%; line-height:36px; position:relative;}
.table_list thead th a span{width:14px; height:13px; background:url(../images/arrow_bg_01.png) no-repeat; display:block; position:absolute; right:5px; top:13px;}
.table_list thead th a span.arrow_up{ background:url(../images/arrow_up_bg.png) no-repeat;}
.table_list thead th a span.arrow_down{ background:url(../images/arrow_down_bg.png) no-repeat;}
.table_list tbody td{min-height:28px; padding:5px 10px; background:#fff; border:1px solid #dcdcdc; text-align:center; word-break:break-all; word-wrap:break-word;}
.table_list tbody .blue{ color:#0078ff;}
.table_list tbody tr.selected td{ background:#e6e6e6;}
.right{text-align:right;}
.table_list tbody td.left{text-align:left;}
.table_list a,.search_box a,.search_btn a{border-bottom:0;}
.search_btn a:hover,.search_box a:hover{text-decoration:none;}
.table_btna a{ display:inline-block; width:46px; height:22px; margin:5px 2%; _margin:5px 2px; background:url(../images/btn_01.png) no-repeat; text-align:center; line-height:22px; color:#2d90ff;}
.table_btna a:hover{text-decoration:none; background:url(../images/btn_01h.png) no-repeat;}
.table_btna a.table_btna2{width:71px; background:url(../images/btn_02.png) no-repeat;}
.table_btna a.table_btna2:hover{background:url(../images/btn_02h.png) no-repeat;}
.table_btna a.table_btna3{width:94px; background:url(../images/btn_03.png) no-repeat;}
.table_btna a.table_btna3:hover{background:url(../images/btn_03h.png) no-repeat;}
.accout_infor li{ padding:5px 0; border-bottom:1px dashed #dcdcdc;}
.accout_infor li.novorder{border-bottom:0;}

/*分页*/
.pagebars table{width:98%; height:30px; border:1px solid #dcdcdc; border-top:none; background:#fff; font-size:12px}
.pagebars table td{padding:5px 10px;}
.pagebars table td.blue a{color:#2d90ff;}
.pagebars_right a,.pagebars_right span{ display:inline-block; padding:0 5px; margin:0 2px;}
.pagebars_right .current{background:#f0f0f0; border:1px solid #dcdcdc;}
.pagebars_right .inputtext2{width:50px; height:20px; margin:0 3px; padding:0 3px; border:1px solid #dcdcdc;}
.underline{text-decoration:underline;}

.table_infors{padding-top:30px; line-height:24px; font-size:12px;}
.newbox_tips2{padding:25px 0 0 80px; font-size:12px;}
.red{color:#ff0000;}


/*newbox*/

.newbox1{width:560px; min-height:120px; _height:120px; background:#fff; border:1px solid #c4c4c4; padding:15px 15px 35px; position:absolute; left:10px; top:10px; box-shadow: 0 0 21px rgba(0, 0, 0, 0.35); z-index:10000;  color:#090909;}


.newbox h6{font-size:18px; color:#1b1b1b;}
.newbox h6 span{font-size:12px; color:#e60012;}
.newbox_cnt{ margin-top:10px; padding:15px 0 0 0; border-top:1px solid #c4c4c4; color:#000000;}
.newbox_tips{padding-top:35px; padding-bottom:40px; text-align:center; font-size:18px; font-weight:bold;}
#mark{ top:0; left:0; position:absolute; z-index:100; background:#000000; filter:alpha(opacity=0); opacity:0;}

.open_close_btn a,.open_close_btn input{ display:inline; float:left; width:160px; height:28px; margin:25px 0 0 75px; background:url(../images/btn_bg_01.png) repeat-x; line-height:28px; text-align:center; border:1px solid #bdbdbd; color:#434343; cursor:pointer}
.open_close_btn a:hover,.open_close_btn input:hover{text-decoration:none}
.content_inner{float:left; width:96%; background:#fff; padding:20px; border:1px solid #dcdcdc;}
.title_item{ height:33px; padding-bottom:20px;}
.title_item h2{float:left; height:32px; border-bottom:1px solid #c4c4c4; font-size:16px; font-weight:bold;}
.title_tips{float:left; width:22px; height:24px; background:url(../images/icon_002.png) no-repeat; cursor:pointer;}
.managers_wrap{padding:10px; height:350px; border:1px solid #dcdcdc; background:#fff; overflow:hidden; overflow-y:auto;}
.managers_title{height:20px;}
.managers_title span{float:left; width:32px; height:20px; background:url(../images/icon_down.png) no-repeat 2px 2px;  cursor:pointer}
.managers_title span.hidesub{background:url(../images/icon_up.png) no-repeat 2px 2px;}
.managers_cnt{padding:0 10px 20px 20px;}
.config_list_tips{ width:380px; padding: 6px 12px; background:#fff; border:3px solid #dcdcdc; position:absolute; left:100px; top:-85px; display:none; border-radius:5px;}
.title_tips_arrow{width:16px; height:9px; display:block; background:url(../images/arrow_01.png) no-repeat; position:absolute; left:60px; bottom:-9px; _bottom:-20px}
