/* CSS Document */

.add_manager_form{width:392px; margin:0 auto;}
.add_manager_list{float:left; width:392px; margin-bottom:15px; clear:both}
.inputtext{float:left; width:140px; height:28px; padding:0 2px; border:1px solid #dcdcdc; margin-right:5px; display:inline;}
.add_manager_list input.inputtext{float:left; width:275px;}
.add_manager_list .search_btn{float:left;}
#add_manager_list2{width:390px; height:250px; overflow-y:auto; overflow-x:hidden;}

.copy_managers_form{width:280px; height:30px; margin:0 auto; padding:20px 0 25px; line-height:30px;}
.copy_managers_form label{float:left; width:80px;}
.copy_managers_form select{float:left; width:140px; height:28px; padding:0 2px; border:1px solid #dcdcdc; margin-right:5px; display:inline;}

.add_accout_managers_form{width:392px; margin:0 auto; padding-top:20px;}
.add_accout_managers_list{float:left; width:392px; margin-bottom:15px; clear:both}
.add_accout_managers_list label{float:left; width:100px; line-height:28px}


.accout_change_cnt h6{padding-top:10px; font-size:14px; font-weight:bold}

.config_list{width:100%; position:relative;}
.config_list_cnt{padding-bottom:5px;}
.form_item{min-height:30px; margin:0 0 20px; line-height:28px;}
.form_item label{float:left; width:135px; }






