/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;  font-weight:normal; font-family:"微软雅黑",Arial,sans-serif;}
body{min-width:960px; background:#ffffff; font-size:14px; color:#202020;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#202020;}
a:hover{text-decoration:underline;}
.clear{clear:both; /*height:0;*/ overflow:hidden;}
ul,li{list-style:none;}
.fontbold{font-weight:bold;}
.margin_top{margin-top:20px;}
.l{float:left;}
.r{float:right;}
.border_none{border:none;}
.margin_bom{ margin-bottom:20px;}
.word_break{word-break:break-all;}

.border_three{border:1px solid #d6d6d6; border-top:none; background:#ffffff;}
.center{text-align:center;}
/*commen header*/
.topbar_box{height:30px; background:#ededed; border-bottom:1px solid #d8d8d8; font-size:12px; overflow:hidden}
.topbar{width:1024px; height:25px; margin:0 auto; padding-top:3px; color:#555555; line-height:24px;}
.topbar a{color:#555555;}
.topbar a.red{color:red;}
.topbar a span{color:#37a50c;}
.topbar_l{float:left; height:25px;}
.topbar a{float:left;}
.topbar a#sina_weibo{width:24px; height:24px; background:url(../images/index_bg.png) no-repeat 0 0;}
.topbar a#sina_weibo:hover{background:url(../images/index_bg.png) no-repeat 0 -195px;}
.topbar a#qq_weibo{width:24px; height:24px; background:url(../images/index_bg.png) no-repeat 0 -24px;}
.topbar a#qq_weibo:hover{background:url(../images/index_bg.png) no-repeat 0 -219px;}
#message_top{ background:url(../images/index_bg.png) no-repeat 0 -48px; padding-left:28px;}
#email_top{ background:url(../images/index_bg.png) no-repeat 0 -70px; padding-left:28px;}
.topbar p span{float:left; padding:0 8px; color:#ccc;}
.topbar p span em{float:left; font-style:normal;}
.topbar_r{float:right;}
.topbar_r em{ font-style:normal; padding:0 2px;}
.topbar p .red{color:#CE0421;}
.red{color:red;}

/*header begin*/
.header_top{height:92px; background:url(../images/header_bg.png) repeat;}
.header{width:1024px; height:92px; margin:0 auto;}
.logo{float:left; width:307px; height:65px; margin-top:13px;}
.logo a{display:block; width:307px; height:64px; background:url(../images/logo.png?v3) no-repeat; text-indent:-9999px; overflow:hidden}

.nav{float:right; width:630px; height:30px; margin:62px 0 0;}
.nav ul{width:630px; height:30px; margin:0 auto;}
.nav ul li.mainmenu{float:left; width:105px; height:30px; font-size:16px; color:#ffffff;}
.nav ul li.current{ background:url(../images/mainmenu_bg.png) no-repeat; color:#097c25;}
.nav ul li.current a{color:#49880b;}
.nav ul li a{ display:block; width:105px; height:30px;  color:#ffffff; line-height:30px; text-align:center}
.nav ul li a:hover{ color:#49880b; text-decoration:none}
.header_bottom{width:100%; height:50px; }
.header_bg{background:#fff url(../images/header_bottom_bg.png) left bottom repeat-x;}
.header_bottom_sub{width:1024px; margin:0 auto; line-height:35px;}
.header_bottom_sub a{float:left; height:25px;width:91px; text-align:center; color:#615f5f; font-size:16px; line-height:25px;margin-top:5px; display:inline; }
.header_bottom_sub a:hover{text-decoration:none; color:#80be44; font-weight:bold;}
.header_bottom_sub a.current_sub{ background:url(../images/tab_click_bg.png) 0 0 no-repeat; color:#fff;}
.header_bottom_sub a.current_sub:hover{color:#fff; font-weight:100;}
.header_bottom_sub span{float:left; margin:0 10px; color:#80be44; display:inline;}
.submenu{display:none;padding-top:4px;padding-left:415px;}
/*header end*/

.content{width:1024px; margin:0 auto; min-height:500px; _height:500px;}
.content_left{float:left; width:695px;}
.title{width:100%; height:33px; margin-top:10px; border-bottom:1px solid #80be44; line-height:33px; position:relative;}
.title a.current2{color:#acacac; text-decoration:none}
.title h2{float:left; padding-left:25px; font-size:16px;}
.title h2 span{ display:block; height:30px; padding:0 5px; border-bottom:3px solid #80BE44;}
.title h3{font-size:14px;}
.title span.space{float:left; padding:0 5px;}
.title span.more{ position:absolute; right:10px; top:0; font-size:14px;}
.sides{float:right; width:255px;}

.tab_title{width:390px; height:23px; line-height:23px; color:#5d5d5d;}
.tab_title li{float:left; width:90px; height:23px; background:#f0f0f0; border:1px solid #dcdcdc; margin-right:10px; display:inline; cursor:pointer; text-align:center; position:relative;}
.tab_title li.current{ background:#f7f0ec; border:1px solid #f0cab0;}
.tab_title li span{display:block; width:20px; height:21px; background:url(../images/title_bg.png) no-repeat -242px -180px; position:absolute; right:5px; top:-4px; line-height:20px; text-align:center; z-index:10; color:#fff;}

.sides{float:left; width:170px; margin-top:15px; min-height:500px; _height:500px; padding:15px 0; background:url(../images/repeatbg_01.png) repeat; border:1px solid #e5e5e5}
.sides a{text-decoration:none;}
.sides_search{float:left; width:140px; height:24px; margin:3px 0 8px 15px; display:inline}
.sides_search_txt{float:left; width:103px; height:22px; padding:0 2px; background:#eeeeee; border:1px solid #dcdcdc; border-right:0; line-height:22px;}
.sides_search_btn{float:left; width:32px; height:24px;}
.soft_upload_menu{height:35px;  font-size:16px; line-height:35px;}
.soft_upload_menu a{width:130px; display:block; padding-left:30px;}
.soft_upload_menu a.current{background:url(../images/icon_line.png) no-repeat 15px 11px; color:#097c25;}
#sieds_menu li h4{height:35px; background:url(../images/icon_06.png) no-repeat 10px 11px; padding-left:30px;  font-size:16px; line-height:35px; cursor:pointer}
#sieds_menu li h4.hidebg{ background:url(../images/icon_04.png) no-repeat 10px 11px; }
#sieds_menu li p{height:30px;}
#sieds_menu li p a{ display:block; padding-left:40px; line-height:30px;}
#sieds_menu li p.current a{ background:url(../images/icon_line.png) no-repeat 30px 10px; color:#097c25;}

.soft_right{/*float:right; width:830px;*/ padding:18px 0px 15px 0px; color:#595959;}
.soft_right a{color:#535353; text-decoration:none}


/*fenye*/
.pagebar_wrap{height:30px; margin:30px 0; line-height:30px; color:#313131;}
.deleteall{float:left; width:350px;}
.deleteall_l{float:left; padding-left:29px; _padding-top:5px;}
.deleteall_btn a{float:left; width:102px; height:32px;/* background: url(../images/btns.png) no-repeat 0 -75px;*/ background-color:#bfe49d; border:1px solid #7EC03A; margin-left:12px; line-height: 32px;text-align: center; display:inline;}
.deleteall_btn a:hover{/*background: url(../images/btns.png) no-repeat 0 -110px;*/ background-color: #cfe9b7; border: 1px solid #7ec03a; cursor:pointer; line-height: 32px;text-align: center; text-decoration:none}
.pagebar{float:right; width:530px; height:30px;  font-size:12px;}
.pagebar_l{float:left; padding:0 10px;}
.pagebar_r{float:right;}
.pagebar_l a{float:left; height:17px; margin-right:6px; margin-top:4px; padding:0 5px; border:1px solid #e6e6e6; text-align:center; line-height:17px;}
.pagebar_l a.this{ background-color: #dcdcdc; border:1px solid #dcdcdc;}
.pagebar_l a.disable{color:#C4C4C4; border:1px solid #c7c7c7;}
.pagebar_l .pre,.pagebar .next{width:55px;}
.pagebar_l span.points{float:left; margin:11px 7px 0 0; line-height:11px; display:inline; font-family:"Arial";}
.pagebar_r span,.pagebar_r input{float:left;}
.pagebar_r input{ margin:4px 0 4px 4px; display:inline}
.pagebar_r input.pageinput{width:40px; height:18px; padding:0 2px; border:1px solid #d9d9d9}

/*footer*/
.footer{height:100px; margin:30px auto 0; padding:20px 0; background:#d2d2d2; position:relative;}
.footer p{text-align:center; line-height:27px; font-size:12px;}
.cursor_pointer{cursor:pointer;}
.footer img{display:none;}

/*footerbar*/
html {
	_background-image: url(about:blank);
	_background-attachment: fixed;
}
#float_bar{width:149px; height:150px; position:fixed; bottom:160px; right:1px; overflow:hidden; _position:absolute; _top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 180));}
#float_bar h3,#float_bar h4{width:149px; height:62px; overflow:hidden;}
#float_bar h4{margin-top:25px;}
#float_bar h3 a,#float_bar h4 a{ display:block; width:62px; height:62px; background:url(../images/float_bar.png) no-repeat right 0; position:absolute; right:0;}
#float_bar h4 a{background:url(../images/float_bar.png) no-repeat right -62px;}
#float_bar h3.hover{background:url(../images/float_bar.png) no-repeat 0 -124px;}
#float_bar h4.hover{background:url(../images/float_bar.png) no-repeat 0 -186px;}


/*newbox*/
.newbox{width:450px; min-height:120px; _height:120px; padding:15px 15px 25px; background:#f8f8f8; border:1px solid #c1c1c1; position:absolute; left:10px; top:10px; box-shadow: 0 0 21px rgba(0, 0, 0, 0.35); z-index:1000; display:none; color:#555; word-break:break-all; word-wrap:break-word;}
.newbox h6{font-size:16px; color:#1b1b1b;}
.newbox h6 span{font-size:12px; color:#e60012;}
.newbox h6 em{display:block; width:35px; height:35px; background:url(../images/close_04.png) no-repeat; position:absolute; top:8px; right:10px; cursor:pointer}
.open_close_btn a{ display:block; width:102px; height:32px; margin:25px auto 0; background:url(../images/btns.png) no-repeat 0 -75px; text-align:center; line-height:32px;}
.open_close_btn a:hover{ background-position: 0 -110px; text-decoration:none;)}
#getpassword .open_close_btn a,#edit_email .open_close_btn a,#suggest_send  .open_close_btn a,#edit_phone .open_close_btn a,#soft_detail_modify .open_close_btn a,#apply_pro .open_close_btn a{float:left; margin-left:90px; display:inline;}
#bind_phone .open_close_btn a{float:left; margin-top:15px; margin-right:80px; display:inline;}
.newbox_cnt{ margin-top:10px;/* padding:15px 0 0 0;*/ border-top:1px solid #dcdcdc;}
.newbox_btn{min-height:120px; padding-top:20px; line-height:26px; letter-spacing:1px;}
.newbox_tips{padding-top:25px; padding-bottom:10px; text-align:center;}
.newbox_game{}
.newbox_game li{float:left; width:49%;text-align:center;}
.newbox_game li dl dt input.input_dy{background-color:#ffb81f; width:89px; height:89px; border:none; cursor:pointer; color:#ffffff; font-size:16px;}
.newbox_letter{}
.newbox_letter li{text-align:right; overflow:hidden; padding:5px 0px;}
.newbox_letter li span.year{padding:0 10px;}
#getpassword .register_list label,#edit_email .register_list label{width:65px;}
#mark{ top:0; left:0; position:absolute; z-index:100; background:#000000; filter:alpha(opacity=0); opacity:0;}
#report_footer textarea{width:670px; height:180px; margin:5px 0 0; padding:5px; background:#ffffff; border:4px solid #3d3d3d}

/*right table*/
.soft_search_table{ width:820px; margin:10px 0 10px 10px; border-collapse: collapse;}
.soft_search_table input.soft_search_name{width:198px; height:28px; padding:0 4px; background:#eeeeee; border:1px solid #dcdcdc;  line-height:28px;}
.soft_search_table select{width:150px;}
.search_type{ height:55px; text-align:center;}

.soft_table{/*width:830px;*/border-collapse: collapse; line-height:24px; font-size:12px; margin-top:20px;}
.cutover_tab,.cutover_tab1{background:url(../images/packs_form_bg.png) repeat-x; height:44px; color:#5f6873; margin-top:20px;}
.cutover_tab3,.cutover_tab4{background:url(../images/packs_form_bg.png) repeat-x; height:44px; color:#5f6873; }
.cutover_tab li{width:256px;float:left;text-align:center; display:block;}
.cutover_tab li a{ display:block; width:256px; padding:12.5px 0px;}
.cutover_tab li a.cursor{background:url(../images/packs_form_bg_1.png) no-repeat; color:#4d9e25;}
.cutover_tab li a:hover{text-decoration: none;}

.soft_table input[type=checkbox]{ border:none; background:none;}


.cutover_tab1 li{width:171px;float:left;text-align:center; display:block;}
.cutover_tab1 li.cutover_last{width:168px}
.cutover_tab1 li a{ display:block; width:172px; padding:12.5px 0px;}
.cutover_tab1 li a.cursor{background:url(../images/packs_form_bg_2.png) no-repeat; color:#4d9e25; height:19px;}
.cutover_tab1 li a:hover{text-decoration: none;}
/*软件评论*/
.cutover_tab2{float:left;}
.cutover_tab2 li{float:left;width:102px; height:32px; margin-right:10px; font:14px/28px Microsoft YaHei,tahoma,arial;text-align:center; background: url(../images/review_date_button.png) no-repeat scroll 0 0;cursor:pointer;}
.cutover_tab2 li a{ display:block; width:102px; padding:2.5px 0px;}
.cutover_tab2 li a.cursor{background: url(../images/review_date_button.png) no-repeat 0 -34px;color:#4d9e25;}
.cutover_tab2 li a:hover{text-decoration: none;}
/*用户资料*/

.cutover_tab3 li{width:341px;float:left;text-align:center; display:block;}
.cutover_tab3 li a{ display:block; width:341px; padding:12.5px 0px;}
.cutover_tab3 li a.cursor{ height:19px; background:url(../images/packs_form_bg_3.png) no-repeat; color:#4d9e25;}
.cutover_tab3 li a:hover{text-decoration: none;}
.cutover_tab li a em,.cutover_tab1 li a em,.cutover_tab2 li a em,.cutover_tab3 li a em,.cutover_tab4 li a em{font-style:normal;}

.cutover_tab4 li{width:512px;float:left;text-align:center; display:block;}
.cutover_tab4 li a{ display:block; width:512px; padding:12.5px 0px;}
.cutover_tab4 li a.cursor{background:url(../images/packs_form_bg_4.png) no-repeat; color:#4d9e25;}
.cutover_tab4 li a:hover{text-decoration: none;}


/*用户资料修改*/
.alter{}
.alter li{overflow:hidden; margin-top:20px;}
.alter li dl.alter_title{float:left;text-align:right; width:100px;}
.alter li dl.alter_name{ margin-top:10px;}
.alter li dl.alter_rdata{float:left; margin-left:20px;}
.alter li dl.alter_rdata .inputalter{height:34px; border:1px solid #dcdcdc; width:250px; padding:2px 5px;}
.margin15{ margin:0 15px;}
.margin10{ margin-right:10px; vertical-align:middle;}
.padding5{ padding-top:5px;}
.top13{ margin-top:13px; vertical-align:bottom;}
.modify_baseinfo{ width:102px; height:32px; background-color: #bfe49d; color:#555555;border: 1px solid #7ec03a; cursor:pointer;}
.modify_baseinfo:hover{ width:102px; height:32px; background-color:#cfe9b7; color:#555555;border: 1px solid #7ec03a; cursor:pointer;}
.alter li dl.alter_rdata .selectalter{height:34px; border:1px solid #dcdcdc; width:255px;}
.soft_table{/*width:830px;*/border-collapse: collapse; line-height:24px; font-size:12px; margin-top:20px;}
.soft_table_title{background-color:#EBEBEB; height:44px; margin-top:20px; color:#595959; font-size:14px; text-align:center; line-height:44px;}
.cutover_tab{background:url(../images/packs_form_bg.png) repeat-x; height:44px; margin-top:30px; color:#5f6873;}
.cutover_tab li{width:256px;float:left;text-align:center; display:block;}
.cutover_tab li a{ display:block; width:256px; padding:12.5px 0px;}
.cutover_tab li a.cursor{background:url(../images/packs_form_bg_1.png) no-repeat; color:#4d9e25;}
.cutover_tab li a:hover{text-decoration: none;}

.cutover_tab{background:url(../images/packs_form_bg.png) repeat-x; height:44px; margin-top:20px; color:#5f6873;}
.cutover_tab li{width:256px;float:left;text-align:center; display:block;}
.cutover_tab li a{ display:block; width:256px; padding:12.5px 0px;}
.cutover_tab li a.cursor{background:url(../images/packs_form_bg_1.png) no-repeat; color:#4d9e25; height:19px;}
.cutover_tab li a:hover{text-decoration: none;}

.soft_table a:hover{text-decoration:none;}
.soft_table thead th{background-color:#EBEBEB; height:44px; margin-top:20px; color:#595959; font-size:14px;}
.soft_table thead th.left{text-align:left; padding-left:68px;}
.soft_table thead th a{display:block; line-height:28px; position:relative}
.soft_table thead th a:hover{text-decoration: none;}
.soft_table thead th b{width:10px; height:16px; background:url(../images/arrow.png) no-repeat; display:block; position:absolute; right:15px; top:9px;}
.soft_table thead th span{width:12px; height:16px; background:url(../images/bothway.png) no-repeat; display:block; position:absolute; right:7px; top:9px;}
.soft_table thead th select{border:1px solid #dcdcdc;color:#595959;}
.option_change{background:none; border:none!important;font-size:14px;color:#595959;}
.option_change option{color:#595959; background-color:#ffffff; border:none!important;font-size:14px;}
.soft_table thead th i.icon_12{width:14px; margin-left:5px;position:absolute;background:url(../images/icon_12.png) no-repeat; padding:7px; margin-top:7px;}
.soft_table thead th i.icon_13{width:12px; margin-left:5px;position:absolute;background:url(../images/icon_13.png) no-repeat; padding:8px 6px; margin-top:4px;}
.soft_table thead th i.icon_13cursor{width:12px; margin-left:5px;position:absolute;background:url(../images/icon_13.png) no-repeat 0 -18px; padding:8px 6px; margin-top:4px;}

.soft_table tbody td { height: 48px; padding:10px; border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; text-align: center; word-break:break-all; word-wrap:break-word;}
.soft_table tbody td span{color:#2B58C9;}
.soft_table tbody .icon_cation{background:url(../images/icon_cation.png) no-repeat 90% 50%;}
.soft_table tbody td { height: 48px; padding:10px; border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; text-align: center; word-break:break-all; word-wrap:break-word;}
.remain_number{width:120px; height:11px; background:url(../images/remain_number_0.png) no-repeat scroll; overflow:hidden;}
.soft_table tbody td span{color:#2B58C9;}
.soft_table tbody .icon_cation{background:url(../images/icon_cation.png) no-repeat 90% 50%;}
.soft_table tbody td .softlist{ border:none!important;}
.soft_table tbody td .softlist a.softexp{ background-color:#7db554; color:#ffffff; display:block; width:40px;font-size:14px; position:relative}

.soft_table tbody td table td .new_red{width:35px; margin-left:0px;position:absolute; background:url(../images/sdk_new.png?v3) no-repeat scroll 0 0px; padding:10px 5px;}
.soft_table tbody td table td .top_dis18{left:20px; top:-6px;}
/*用户资料_子账号权限*/
.soft_tableA{border-collapse: collapse; line-height:24px; font-size:12px; width:100%}
.soft_table_row{}
.soft_table_row li.row_li{border-bottom:1px solid #dcdcdc; padding-top:30px; padding-bottom:30px; overflow:hidden;}
.soft_table_row li dl,.soft_table_row1 li{float:left;word-break:break-all; word-wrap:break-word;}
.soft_table_row li dl.checkbox,.soft_table_row1 li dl.checkbox{width:55px;text-align:center;padding-top:6px;}
.soft_table_row li dl.checkbox .checkbox_border,.soft_table_row1 li dl.checkbox .checkbox_border{ border:1px solid #dcdcdc;}
.soft_table_row1{float:left; overflow:hidden}

.official{width:38px; position:absolute; background:url(../images/official_new_1.png) no-repeat; padding:6px 19px;}
.soft_table tbody td span{color:#2B58C9;}
.soft_table tbody .icon_cation{background:url(../images/icon_cation.png) no-repeat 90% 50%;}
.soft_table tbody td.left{text-align:left;}

.soft_list_infor{ width:100%; line-height:18px;}
.soft_list_infor img{float:left; width:64px; height:64px;}
.soft_list_infor .soft_list_infor_right{ float:left; padding-left:10px; text-align:left; position:relative}
.soft_list_infor .soft_list_infor_right em{ float:left; width:100px; text-align:left; color:#808080;word-break:break-all; word-wrap:break-word;position:relative}
.soft_list_infor .soft_list_infor_right a{color:#055cc6}
.soft_list_infor .soft_list_infor_right .official{width:38px;position:absolute; background:url(../images/official_new_1.png) no-repeat 8px 0; padding:10px 14px; margin-top:-5px;}
.soft_list_infor  em{font-size:12px; font-style:normal}
.unsafe_icon{position:absolute; width:45px; height:45px; left:85px; top:-15px; background:url(../images/icon_unsafe.png) no-repeat; _FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='http://dev.anzhi.com/images/icon_unsafe.png'); _background:none;}
.pingbi_icon{position:absolute; width:48px; height:48px; left:45px; top:-15px; background:url(../images/icon_pingbi.png) no-repeat; _FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='http://dev.anzhi.com/images/icon_pingbi.png'); _background:none;}
.soft_table tbody td.blue{color:#2b58c9;}
.soft_table tbody td.blue a{color:#2b58c9;}
.soft_table tbody td.green{color:#097c25;}
.soft_table tbody td.green a{color:#097c25;}
.soft_table tbody td.gray{color:#959595;}
.soft_table tbody td.gray a{color:#959595;}
.soft_table tbody td font.org{color:#ff9329;}
.soft_table tbody td.orange_yellow{color:#ff9329;}
.soft_table tbody td.underline a{text-decoration:underline;}
/**/
.soft_table tbody td div.checkbox_change{float:left; border:1px solid #e5e5e5; display:inline-block; cursor:pointer;}
.soft_table tbody td input.checkbox_menu_change{background-color:#CFE9B7; width:120px; height:34px; font-size:14px; color:#595959; border:1px solid #7EC03A;cursor:pointer;}
.soft_table tbody td input.checkbox_menu_change:hover{ background-color:#CFE9B7;border:1px solid #7EC03A;cursor:pointer }
.logined_infor{/*padding:0px 0 15px; height:120px;*/}
.logined_infor img{display:block; width:96px; height:96px; margin:0 auto; border:1px solid #d5d5d5;}
.logined_infor p{padding:0 30px 10px; line-height:26px;/* text-align:center;*/ color:#616161;font-size:18px;}

.index_title{height:33px; background:url(../images/repeatbg_01.png) repeat; border-bottom:1px solid #80be44;line-height:30px}
.index_title h3{float:left; height:33px; background:url(../images/index_bg.png) no-repeat 5px -95px; padding-left:40px;}
.index_title h3 span{display:inline-block; height:30px; padding:0 5px; line-height:30px; border-bottom:3px solid #80be44; color:#595959;}
.index_title span.more{float:right; margin-right:5px; line-height:33px; display:inline}
.index_title span.more a{ color:#595959;}
.index_title span.space{float:left; padding:0 5px;}
.index_title h2{float:left; font-size:12px;}

.textarea_style{color:#999999;}

.audit_ieda{ padding:5px 5px 5px 15px; background:#f7f0ec; border:1px solid #f0cab0;}
.audit_ieda h6{float:left; width:75px; color:#dd6008; font-size:14px; line-height:22px}
.audit_ieda .audit_ieda_txt{float:left; width:713px; font-size:12px; line-height:22px; word-break:break-all;}

/*导航登录弹出框*/
.formitem{float:left; height:30px; margin:15px 0 7px; line-height:30px; overflow:hidden; color:#555555;}
.formitem label{float:left; width:70px;  padding:0 5px 0 0; text-align:right;}
.formitem input{float:left; width:230px; height:28px; padding:0 4px; border:1px solid #cecece; background-color:#ffffff; line-height:28px;}
.formitem input.currentstate{border:1px solid #b6b6b6;}
.login_check {padding: 0 0 10px 75px; color:#ce0421;}
.cookies_index{float:left; width:100%; /*height:22px; */padding:10px 0 5px 0;}
.cookie_indexlist{float:left; width:110px; margin-left:75px; font-size:12px; overflow:hidden; white-space:nowrap; display:inline; color:#616161;}
.getpassword_index{ float:right; padding:0 40px 0 0; height:22px; text-align:right; font-size:12px;}
.getpassword_index a{color:#2b58c9; text-decoration:none;}
#loginnewbox form{width:420px; margin:0 auto;}
#loginnewbox .open_close_btn a{float:left; margin-left:75px; display:inline;}

#pop_btn_register{_width:100%; margin-top:30px; border-top:1px  solid #d2d2d2; position:relative; zoom:1;}
#pop_btn_register span{ width:110px; height:22px; background:#f8f8f8; color:#a0a0a0; font-size:12px; position:absolute; left:160px; top:-11px; text-align:center; line-height:22px;}

.dialog_btns01 a,#pop_btn_register a{display:block; width:192px; height:42px; margin:25px auto; background:url(../images/btn_03.png) no-repeat; text-align:center; line-height:42px; color:#fff; font-size:18px;}
.dialog_btns01 a:hover,#pop_btn_register a:hover{ background:url(../images/btn_04.png) no-repeat; text-decoration: none; font-size:18px; color:#fff;}
.dialog_btns03 input{width:191px;margin:25px auto 0 auto; background:none; border:none;}
.dialog_btns03 input.input_button{display:block;height:42px;background:url(../images/btn_03.png) no-repeat; font-size:18px; color:#ffffff; text-align:center; cursor:pointer}
.dialog_btns03 input.input_button:hover{background:url(../images/btn_04.png) no-repeat;}
.dialog_btns04{}
.dialog_btns04 a{display:block;height:42px; margin:25px auto;margin-bottom:0px; text-align:center; line-height:42px; color:#fff; font-size:18px;}
.dialog_btns04 a.az-remind{background:url(../images/btn_05.png) no-repeat; width:304px;}
.dialog_btns04 a.az-remind:hover{ background:url(../images/btn_06.png) no-repeat;}
/*2014-4 迭7content*/
.section_Mod{background:url(../images/section_title_bg.jpg) repeat-x; height:20px;}
.section_title{background-color:#ffffff; font:18px/22px Microsoft YaHei,tahoma,arial; color:#78b340; padding:0px 5px;}
.creat_sw_art{margin-top:20px;}
.creat_sw_mod{width:870px;height:80px; margin:0 auto;}
.creat_menu_button{width:306px; height:44px;background:url(../images/apply_release_1.png) no-repeat scroll 0 0; cursor:pointer; border:none; font:18px/28px Microsoft YaHei,tahoma,arial; color:#ffffff;}
.creat_menu_button:hover{width:306px; height:44px;background:url(../images/apply_release_1.png) no-repeat scroll 0px -43px; cursor:pointer;}

.upload_sw_art{border-bottom: 1px dashed #d9d9d9; margin-top:20px;}
.upload_sw_art2{margin-top:20px;}
.upload_sw_mod{width:870px;height:80px; margin:0 auto;}
.upload_sw_center{ text-align:center; line-height:40px;}
.upload_sw_mod ul{}
.upload_sw_mod ul li{float:left;width:118px;height:40px;}
.upload_sw_mod ul li p{font:16px/28px Microsoft YaHei,tahoma,arial; color:#595959;letter-spacing:0.2em;margin-top:50px; text-align:center;}
.upsoft_green_bg_1{background:url(../images/upsoft_green_bg_1.png) repeat-x;}
.upsoft_green_bg_2{background:url(../images/upsoft_green_bg_2.png) repeat-x;}
.upsoft_green_bg_3{background:url(../images/upsoft_green_bg_3.png) repeat-x;}
.upsoft_green_bg_4{background:url(../images/upsoft_green_bg_4.png) repeat-x;}
.upsoft_green_bg_4_1{background:url(../images/upsoft_green_bg_4_1.png) repeat-x;}
.upsoft_green_bg_5{background:url(../images/upsoft_green_bg_5.png) repeat-x;}
.upsoft_green_bg_6{ background:url(../images/upsoft_green_bg_6.png) no-repeat;}
.upsoft_green_bg_7{ background:url(../images/upsoft_green_bg_7.png) no-repeat;}
.upsoft_gree_gray_bg_3{background:url(../images/upsoft_green_gray_bg_3.png) no-repeat;}
.upsoft_gray_bg_1{background:url(../images/upsoft_gray_bg_1.png) repeat-x;}
.upsoft_gray_bg_2{background:url(../images/upsoft_gray_bg_2.png) repeat-x;}
.upsoft_gray_bg_3{background:url(../images/upsoft_gray_bg_3.png) repeat-x;}
.upsoft_gray_bg_4{ background:url(../images/upsoft_gray_bg_4.png) no-repeat;}
.upsoft_gray_bg_5{ background:url(../images/upsoft_gray_bg_5.png) no-repeat;}

.upload_menu_mod{width:306px;margin:20px auto 20px auto;}
.upload_menu_bg{background:url(../images/apply_release_1.png) no-repeat scroll 0 0; height:44px;width:500px;}
.upload_menu_bg:hover{background:url(../images/apply_release_1.png) no-repeat scroll 0px -43px; height:44px;}
.upload_menu_button{width:306px; height:44px;background:none; border:none; cursor:pointer;}
/*礼包申请 激活码提示框 2014-5-13*/
.activecode{ width:385px; height:128px; position:absolute;left:446px; top:40px; border:1px solid #f1f1f1; background:#fafafa;}
.activecode p{ margin:5px 0 0 10px;line-height:22px; font-size:12px; color:666666;}
.activecode_img{ width:300px; height:80px; margin:10px 0 10px 10px;}
.activecode_img img{ display:block;}
/*申请模块*/
.cation_slider{border-bottom:1px solid #e6e6e6; padding-left:20px;}
.cation_slider td{padding:20px 0px;}
.cation_slider td p{font-size:14px;}
/*我的软件*/
.uploadify-button,.uploadify-button:hover{ text-indent: -9999px; height:44px; line-height: 44px; width:306px;}
.uploadify-button{background:url(../images/upload_img.png) no-repeat scroll 0 0!important;}
.uploadify-button:hover{background:url(../images/upload_img.png) no-repeat scroll 0 -43px!important;}


/*软件管理*/
.inputbutton_A{ width:116px; height:34px; font:16px/28px Microsoft YaHei,tahoma,arial;color:#595959;background-color:#bfe49d;border:1px solid #7EC03A; cursor:pointer}
.inputbutton_A:hover{background-color:#CFE9B7;border:1px solid #7EC03A;cursor:pointer }
.inputbutton_A[type=button]{cursor:pointer;}
.inputbutton_A1{ width:116px; height:36px; font:16px/28px Microsoft YaHei,tahoma,arial;color:#595959;background-color:#bfe49d;border:1px solid #7EC03A; cursor:pointer}
.inputbutton_A1[type=button]{cursor:pointer;}
.inputbutton_B{ width:116px; height:36px; font:16px/28px Microsoft YaHei,tahoma,arial;color:#fffefe; background:url(../images/inputbutton_B.png) no-repeat scroll 0 0px; border:none;}
.inputbutton_B:hover{background:url(../images/inputbutton_B.png) no-repeat scroll 0 -36px;}
.inputbutton_B[type=button]{cursor:pointer;}
/*历史记录*/
.tory{height:65px;margin-top:20px; margin-bottom:20px;}
.tory li{float:left;}
.tory li.module{padding:20px 10px;}
.tory li.module span{color:#2b58c9;}
/*软件浮动*/
.lication{width:360px;border:1px solid #dcdcdc; margin-top:15px; background-color:#ffffff; position:absolute; right:23.7%;}
.lication_drift{background:url(../images/lication_drift.png) no-repeat; position:absolute; width:15px; height:12px; padding:6px; margin-top:-8px;/* margin-left:172.5px*/}
.lication_part1{}
.lication_part1 li{float:left; width:52px; padding:10px;}
.lication_part1 li dl{text-align:center;}
.lication_part1 li dl dt{ width:52px; height:52px;}
.lication_part1 li dl dd{font:14px/26px Microsoft YaHei,tahoma,arial;color:#2b58c9;}
.lication_btn_1{background:url(../images/lication_btn_1.png) no-repeat;}
.lication_btn_1_2{background:url(../images/lication_btn_1_2.png) no-repeat;}
.lication_btn_2{background:url(../images/lication_btn_2.png) no-repeat;}
.lication_btn_2_2{background:url(../images/lication_btn_2_2.png) no-repeat;}
.lication_btn_3{background:url(../images/lication_btn_3.png?v3) no-repeat;}
.lication_btn_3_2{background:url(../images/lication_btn_3_2.png?v3) no-repeat;}
.lication_btn_4{background:url(../images/lication_btn_4.png) no-repeat;}
.lication_btn_4_2{background:url(../images/lication_btn_4_2.png) no-repeat;}
.lication_btn_5{background:url(../images/lication_btn_5.png) no-repeat;}
.lication_btn_5_2{background:url(../images/lication_btn_5_2.png) no-repeat;}
/**/
.icon_font_fail{color:#fb4747;}
.icon_doubt,.icon_fail,.icon_comment{height:34px;float:left;margin-left:10px; margin-top:6px;}
.icon_doubt{width:20px;font:normal; background:url(../images/appfirst_btn_02.png) no-repeat scroll 0 5px;}
.icon_fail{width:20px;font:normal; background:url(../images/appfirst_btn_03.png) no-repeat scroll 0 5px;}
.icon_comment{width:250px;font:14px/26px Microsoft YaHei,tahoma,arial;}
/*分页模块*/
.cation_page{height:30px; margin-top:20px;margin-bottom:30px; clear:both; text-align:right; font-size:14px; line-height:30px; color:#595959;}
.cation_page a{height:30px; padding:0px 9px; margin:0 2px; border:1px solid #e5e5e5; color:#595959; background:#ffffff; text-decoration:none; display:inline-block;}
.cation_page a.cursor{height:30px; padding:0px 9px; margin:0 2px; border:1px solid #e5e5e5; color:#595959; background:#ebebeb; text-decoration:none; display:inline-block;}
.cation_page .text_enter{width:30px;height:30px; /*padding:0px 9px;*/ margin:0 5px; border:1px solid #e5e5e5; color:#595959; background:#ffffff; text-align:center;}
.cation_page .search_mod{display:inline-block; height:32px; text-align:center; margin:0 2px; vertical-align:top;border:1px solid #e5e5e5; cursor:pointer}
.cation_page .search_mod input.search_button{width:120px;height:32px; font-size:14px; line-height:26px;color:#595959;background-color:#bfe49d;border:1px solid #7EC03A; cursor:pointer;}
.cation_page .search_mod input.search_button:hover{background-color:#CFE9B7;border:1px solid #7EC03A; cursor:pointer;}
input.search_button1{width:120px;height:32px; font-size:18px; line-height:26px; cursor:pointer;color:#595959;background-color:#bfe49d;border:1px solid #7EC03A;}
input.search_button1:hover{background-color:#CFE9B7;border:1px solid #7EC03A;cursor:pointer}
.cutover_cnt{display:none;}

/*查看反馈建议页面 2014-5-9*/
.feedback{ margin:20px;}
.feedback h2{ line-height: 20px;}
.feedback h2 em{ line-height:15px; padding-left:20px; font-style:normal; font-size:14px; color:#ea8e47;}
.feedback p{ line-height:20px; margin:20px 0 0 0; font-size:14px;}
.feedback p a{ color:#2b58c9;}

/*等待审核 未通过 2014-5-9*/
.remind{ margin-bottom:20px; padding-left:5px;}
.remind h2{ font-size:14px; }
.remind p{ margin:20px 0 0 0; font-size:14px;}
.remind dl{ overflow:hidden;}
.remind dl p.name{width:80px; text-align:right; float:left;}
.remind dl p.q_name{margin-left:20px; float:left;}
/*密码找回 重置 2014-5-9*/
.password_form{line-height:26px; margin:20px 0 5px; padding-left:55px;}
.password_form label{ height:34px; width:100px; text-align:right; float:left;}
.password_input{ height:34px; line-height:25px; vertical-align:middle; width:250px; border:1px solid #CCCCCC;}

/*邮箱验证 2014-5-9*/
.remind em{ display:block; font-style:normal; font-size:14px; line-height:25px;}
.remind em a{ color:#2b58c9;}

/* SDK申请成功 SDK签订协议企业交谈功 2014-5-14 */
.modify_contact{ margin-left:20px;}
.modify_contact p{ height:30px; line-height:30px;}
.modify_contact p a{ color:#2b58c9;}
.procotol{ width:735px; height:225px; border:1px solid #dcdcdc; overflow-y:scroll; margin:20px;}
.procotol h2{ margin:20px 0 0 15px;color:#595959; font-size:16px; font-weight:bold;}
.procotol p{ margin:15px 0 0 15px; font-size:14px; line-height:35px;}
/*SDK申请接入成功 2014-5-15*/
.apply_success{ width:725px;}
.apply_success p{ font-size:16px; line-height:30px; margin:22px 0 0 15px;}
.apply_success form{ font-size:14px;}

.SDK{ width:725px;font-size:16px;}
.SDK_modleA{float:left; width:475px!important; width:470px;_width:470px;*width:468px; margin-left:20px; margin-top:20px;}
.SDK_btnA{}
.SDK_btnA .SDK_font14{font-size:14px; overflow:hidden;}
.SDK_btnA .SDK_font14 span{float:left;}
.SDK_btnA .SDK_font14 li{margin-top:20px;overflow:hidden;}
.SDK_btnA .SDK_font14 li dl{ float:left; margin-right:20px;}
.SDK_btnA .SDK_font14 li dl.titleA{width:130px;text-align:right;}
.SDK_btnA .SDK_font14 li dl.t_blank{/*margin-left:20px;*/word-break:break-all; word-wrap:break-word; width:285px;}
.SDK_btnA .SDK_font12{font-size:12px; overflow:hidden;}
.SDK_modleB{float:left; width:275px!important; width:255px;}
.SDK_btnB{float:right; margin-right:20px; margin-top:20px;}
.SDK_upfile{position:absolute;width:300px; height:34px;padding-left:-244px;color: rgb(0, 0, 0);filter:alpha(opacity=0);-moz-opacity:0; opacity:0;z-index:1000; font-size: 14px; cursor:pointer;}

.SDK a{ color:#2b58c9;}
.SDK label{ width:152px; height:40px; float:left; margin-right:20px; font-size:14px; text-align:right;}
.SDK span{ height:40px; float:left;}
.SDK input{ width:300px; height:30px; border:1px solid #CCCCCC;}

.nav_browse_subcat{ }
.nav_super_cat{width:225px; float:left; margin-right:20px; margin-top:20px;}
.nav_subcats{}
.nav_subcats li.nav_first{background-color:#f7f7f7;}
.nav_subcats li.nav_first1{background:url(../images/icon_upgrade.png) no-repeat scroll top left #f7f7f7;}
.nav_subcats li.nav_first,.nav_subcats li.nav_first1{padding:18px 20px; border-bottom:1px solid #dcdcdc;}
.nav_subcats li.nav_linestart,.nav_subcats li.nav_linestart{background:url(../images/buquanziliao_bg.png) no-repeat scroll 2px 20px #f7f7f7;/* width:224px; height:85px; margin-left:-18px;*/}
.nav_subcats li.nav_linestart1{background:url(../images/buquanziliao_bg_1.png) no-repeat scroll 0px 0px #f7f7f7;/* width:224px; height:85px; margin-left:-18px;*/}

.nav_subcats_wrap{float:left; width:776px; border:1px solid #dcdcdc;margin-top:20px; min-height:480px; padding-bottom:20px;}
.nav_subcats_wrap .comment_data{}
.comment_data p{font:16px/28px Microsoft YaHei,tahoma,arial;text-align:center; color:#595959;}
.comment_data p span{margin-left:20px;}
.comment_data p span a{color:#2b58c9; font:14px/22px Microsoft YaHei,tahoma,arial;}
.comment_data p span a:hover{ text-decoration:none;}
.nav_subcats_wrap .comment_data1{}
.comment_data1 .comment_mod1{padding:10px;}
.comment_data1 .comment_mod1 h1{font-size:16px; color:#595959;}
.comment_data1 .comment_btn{}
.comment_data1 .comment_btn li{margin-top:20px; overflow:hidden;}
.comment_data1 .comment_btn li dl{float:left;}
.comment_data1 .comment_btn li .comment_logo_btn{width:75px;}
.comment_data1 .comment_btn li .comment_logo_new{background: url(../images/icon_new.png) no-repeat scroll top right;}

.comment_title{float:left; width:130px; padding-right:15px; text-align:right; font-weight:bold; font-size:14px;}
.comment_ver{width:300px; float:right;border:1px solid #dcdcdc; background-color:#f8f8f8; margin-top:34.5px; padding:10px;font-size:14px;}
.comment_ver dl p{ float:left; padding:10px 0px;}

/*SDK 流程图*/
.SDK_process{ height:27px; margin: 20px 20px 0 20px;}
.SDK_process ul li{ float:left;}
.SDK_process ul li .dl1{ width:10px;height:27px;float:left;background-color:#80be44;}
.SDK_process ul li .dl2{ width:130px;height:27px;float:left;font:16px/27px Microsoft YaHei,tahoma,arial;background-color:#80be44; text-align:center; color:#ffffff;}
.SDK_process ul li .dl3{ width:16px;height:27px;float:left;background: url(../images/attach_nav_bg.png) no-repeat;}
/*sdk更新和测试未成功的右边框*/
.SDK_pay{ width:250px; height:85px; margin-right:20px; background:#f8f8f8; border:1px solid #cccccc; float:right;}
.SDK_pay p{ font-size:14px; margin:5px 0 0 10px; line-height:25px;}
.SDK_pay a{ color:#2b58c9;}

.order_form_img_block{padding:20px 0;}
.order_form_img_date{margin:0 auto;overflow:hidden; width:730px;background-color:#e5e5e5;}
.order_form_img_date li a{ text-decoration:none; color:#595959;}
.order_form_img_date li a:hover{text-decoration:none; color:#ffffff;}
.order_form_img_date li a dl.cursor{ background-color:#f4b121; color:#ffffff;}
.order_form_img_date li a dl{width:145px; height:33px;text-align:center;float:left;border-right:1px solid #cccccc; padding-top:12px;}
.order_form_img_date li a dl.border_none{border:none!important;}

.striving h2{ padding:15px 0 0 5px; font-size:16px; }
.time_base{ padding:5px 5px 0px;}
.time_base ul li{ background:url(../images/plat_line.png) repeat-y;  margin-left:2px;}
.time_base ul li span{ float:left; font-size:14px; line-height:30px; padding-left:22px;background:url(../images/plat_green_03.png) no-repeat; margin-left:-2px;}
.time_base ul li p{ line-height:30px; padding-left:118px;}
.plat_line{background:url(../images/plat_line.png) repeat-y; margin-left:2px;}
.plat_top{background:url(../images/plat_top.png) no-repeat; margin-left:2px; height:25px;}
.plat_bottom{background:url(../images/plat_bottom.png) no-repeat; height:50px;margin-left:2px;}

/*我的软件*/
.soft_search{ margin:30px 0; overflow:hidden;}
.soft_search_input{width:190px; height:32px;line-height:32px; border:1px solid #dcdcdc; padding:0px 5px; background-color:#fff}
.soft_search_split{margin-left:20px; display:inline}
.soft_search_select{width:190px; padding:5px 0px;border:1px solid #dcdcdc; font-size:14px; background-color:#fff}

/*创建游戏*/
.game_type{ font-size:18px; margin:20px 0px;}
.creat_game_list{ float:left; padding:0px 40px 0px 30px}
.creat_game_list p{}
.creat_game_list p.creat_game_info{ margin-top:10px;}

/*财务管理*/
.finance_navs{background-color:#ebebeb;padding:20px 0px; }
.finance_nav_item{ margin:0 auto; width:606px;}
.finance_nav_item a{ float:left; display:block; width:120px; height:25px; line-height:25px; border:1px solid #ccc; text-align:center; border-right:none;}
.finance_nav_item a:hover{ text-decoration:none}
.finance_nav_item a.active{ background-color:#F90; color:#fff;}
.finance_nav_item a.last{ border-right:1px solid #ccc}
.chart_area{ padding:10px;}
.f_tab{ background-color:#ccc; width:100%; font-size:14px;}
.f_tab th{ background-color:#ebebeb; padding:10px;}
.f_tab td{ background-color:#ffffff; padding:10px; text-align:center}
.f_tab td a{ color:#06F;}
.f_tab td a:hover{ text-decoration:none}
.order_search{ margin-top:15px;}
.order_search_item{ margin-bottom:15px;}
.order_search dl label{ display:block;width:80px;height:32px;line-height:32px; text-align:right; float:left;}
.order_search dl input{ float:left; display:inline;}
.order_search dl span{ float:left; display:block; height:32px; line-height:32px;padding-left:5px;}
.order_search dl input.query_radio1{ margin-top:10px;}
.order_search dl input.query_radio2{ margin-top:10px; margin-left:40px;}

/*申请联运游戏*/
.select_ly_game{ margin:30px 0px 30px 5px; font-size:16px; font-weight:bold}
.ly_game_type{ margin-bottom:30px; margin-left:5px;}
.ly_game_type dt{ font-weight:bold}
.ly_game_type dd{ margin-left:17px; position:relative; margin-bottom:80px;}
.ly_type_tip{ border:1px dashed #CCC; padding:5px; position:absolute; top:25px;left:5px;}
.btn_box{ text-align:center; margin-top:60px;}