/* CSS Document */
/*appclaim*/
.claim_notice{padding:20px 15px; font-size:14px;}
.claim_notice p{line-height:32px;}
.claim_notice p.font14{ line-height:28px;}
.claim_notice p a{color:#0672bc; text-decoration:underline}
.yellowcolor{color:#ff8400;}
.redcolor{color:#CE0421;}
.claim_notice form{float:left; width:410px; margin:0 0 20px;}
.claim_notice form label{float:left; width:240px; font-size:18px; color:#252525;}
.claim_notice form label em{font-size:12px; font-style:normal;}
.claim_notice form .inputclaim_text{float:left; width:250px; height:31px; margin:20px 10px 0 0; padding:0 5px; background:#f5f5f5; border:1px solid #d8d8d8; line-height:31px; display:inline;}
.claim_notice form span{float:left; margin-top:5px; font-size:12px;}
.claim_notice_right{float:right; width:350px;}
#appclaim_btn a{float:left;}
#appclaim_btn{padding-left:0; padding-top:25px;}

.openbox2{background:#fff; padding:10px 30px; display:none; position:absolute; z-index:1000}
#report_claim,#view_claim,#report_claim_detail,#sub_report_claim{width:580px; min-height:350px; _height:350px; max-height:680px;}
#sub_report_claim{ overflow:hidden;}
#report_claim,#view_claim,#report_claim_detail{ overflow-y:auto;}
#report_message{width:450px; min-height:180px; _height:180px;}
.openbox2_title{ font-size:16px; position:relative;}
.openbox2_title span{position:absolute; right:-15px; top:2px; width:40px; height:35px; background:url(../images/close_02.jpg) no-repeat; cursor:pointer}
.claimlist{margin-top:20px;}
.claimlist label{float:left; width:100%; height:30px; line-height:30px;}
.claimlist label span{font-size:12px; color:#a0a0a0;}
.claimlist .report_list_input{float:left; width:400px; height:28px; padding:0 4px; background:#ffffff; border:1px solid #dcdcdc; line-height:28px;}
.claimlist textarea{float:left; width:100%; height:98px; margin-top:5px; background:#ffffff; border:1px solid #d8d8d8;}
.claimlist .claim_detail_infor{float:left; width:100%; min-height:24px; _height:24px; margin-top:5px; font-size:12px; word-break:break-all; word-wrap:break-word;}
.claimlist ul{float:left; margin-top:5px;}
.claimlist ul li{float:left; width:104px; height:110px; margin-right:10px; display:inline; position:relative; overflow:hidden}
.claimlist ul li .suggest_imgbox{width:102px; height:78px; background:url(../images/case_01.jpg) no-repeat center center; border:1px solid #D8D8D8;}
.claimlist ul li label{width:102px; height:24px; text-align:center; padding:0;}
.claimlist ul li input.inputfile5{width:102px; height:78px;  position:absolute; top:0; z-index:10; cursor:pointer; font-size:130px; opacity:0; filter:alpha(opacity=0); overflow:hidden}
.claimlist ul li img{display:block; width:102px; height:78px;}
.suggest_delete{ margin-top:2px; height:22px; line-height:22px; text-align:center}
.suggest_delete a{color:#0258ba; text-decoration:underline;}
.suggest_tips{float:left; padding:15px 0 0 0; color:red; font-size:12px; color:#a0a0a0;}
.claim_btn{float:left; width:102px; height:32px; margin:20px 0 0 0; background:url(../images/btns.png) no-repeat 0 -75px; display:inline; line-height:32px; text-align:center; font-size:16px; cursor:pointer;}
.claim_btn:hover{background:url(../images/btns.png) no-repeat 0 -110px; text-decoration:none}

/*claim_list*/
.soft_table2{width:1022px; margin:10px auto 30px; border-collapse:collapse; font-size:12px;}

/*suggest_list*/
.send_suggest{ height:42px; padding:20px 0 5px 30px; line-height:42px;}
.send_suggest a{float:right; width:192px; height:42px; background:url(../images/btns.png) no-repeat 0 -32px; font-size:16px; text-align:center}
.send_suggest a:hover{box-shadow: 0 0 4px rgba(128, 190, 68, 0.75); text-decoration:none}
.send_suggest2{ height:23px; padding:20px 0 5px 0; line-height:23px;}
.send_suggest2 a{float:left; width:108px; height:23px; background:#f0f0f0; border:1px solid #dcdcdc; font-size:14px; text-align:center}
.send_suggest2 a:hover{text-decoration:none}
.batch_btn{float:left; padding-left:18px;}
.batch_btn input{float:left; margin:8px 10px 0; display:inline;}
.batch_btn a{float:left; width:88px; height:26px; margin-right:10px; background:url(../images/page3_bg_01.gif) repeat-x; border:1px solid #d9d9d9; line-height:26px; text-align:center; display:inline; color:#595959; text-decoration:none;}
.batch_btn a.batch_readed{ background-position:0 -26px; color:#fff; border:1px solid #319800;}


/*suggest_send*/
.message_title{ width:830px; height:30px; margin:15px 0 0; padding:10px 0 0 0; position:relative}
.message_search{height:29px; position:absolute; right:0; top:7px;}
.message_inputext{float:left; width:196px; height:28px; padding:0 2px; margin:1px 5px 0 0; border:1px solid #dcdcdc; background:#eeeeee; line-height:28px; display:inline;}
.message_inputimage{float:left;}
.message_search select{float:left; width:158px; margin:5px 0 0 10px;  display:inline;}
.message_list{display:none;}

/*suggest_detail*/
.suggest_questions{width:1022px; margin:0 auto; padding:10px 0;}
.suggest_questions li{float:left; width:1022px; min-height:80px; _height:80px; padding:0 0 10px 0; margin-bottom:18px; background:#f2f5ef; border:1px solid #d7e5d4; position:relative;}
.suggest_ask_top{ padding:0 15px; height:29px; border-bottom:1px solid #e2ebdd; line-height:29px;}
.suggest_user{float:left;}
.suggest_other{float:right; font-size:12px}
.suggest_questions li .suggest_question{padding:12px 15px;}
.suggest_line{border-top:1px dashed #609e53; border-bottom:0;}
.showimg{display:block; height:22px; padding:0 15px 8px 0px; line-height:22px; color:#055cc6;}
.showimg:hover{text-decoration:none;}
.suggest_img dl dd img{display:block; width:316px; height:210px; margin:10px 15px;}

#suggest_send form textarea{width:435px; height:108px; margin:10px 0 0; padding:5px; border:1px solid #dcdcdc; font-size:14px;}

.suggest_send_box{width:1022px; padding-bottom:15px; background:#f2f6f8; border:1px solid #c6dbeb;}
.suggest_send_box h6{ height:29px; padding-left:15px; border-bottom:1px solid #d9e8f1; line-height:29px; font-size:14px;}
.suggest_send_box form{padding:15px;}
.suggest_send_box form textarea{width:980px; height:110px; padding:4px 5px; border:1px solid #e5e5e5; color:#aaaaaa; font-size:14px}
.suggest_send_box form ul{}

.claim_detail_name{float:left; width:100%; min-height:22px; _height:22px; padding:15px 0 10px;}
.claim_detail_name li{float:left; width:50%; min-height:22px; _height:22px; line-height:22px;}
.claim_detail_name li em{float:left; width:70px; font-style:normal;}
.claim_detail_name li span{float:left; width:205px; word-break: break-all; word-wrap:break-word;}

#report_claim .audit_ieda{margin-top:0;}
#report_claim .audit_ieda p{width:480px;}


.claim_upload{position:relative;}
.claim_upload .claim_upload_text{float:left; width:290px; height:28px; margin:0 10px 0 0; background:#ffffff; border:1px solid #dcdcdc; display:inline}
.claim_upload_btn{float:left; width:110px; height:31px; color:#595959;background-color:#bfe49d;border:1px solid #7EC03A; line-height:31px; text-align:center; cursor:pointer}
.claim_upload_file,.feedback_upload_file,.info_upload_file{position:absolute; width:410px; height:31px; top:0; left:90px; opacity:0; filter:alpha(opacity=0); overflow:hidden; background:#ffffff; cursor:pointer}
.claim_upload_tips{float:left; padding:10px 0 0 80px; font-size:12px}
#report_claim .open_close_btn a,#report_claim_detail .open_close_btn a{float:left; margin-left:110px; display:inline}
#claim_upload_pdf_show,#claim_upload_pdf{float:left; width:390px; padding:10px;  margin:10px 0 0 80px; background:#eeeeee; display:inline;}
#claim_upload_pdf_show li,#claim_upload_pdf li{float:left; width:100%; height:22px; background:url(../images/icon_11.png) no-repeat left center;}
#claim_upload_pdf_show li .claim_upload_url,#claim_upload_pdf li .claim_upload_url{float:left; width:80%; margin-left:30px; display:inline; white-space:nowrap; overflow:hidden; font-style:normal}
#claim_upload_pdf_show li span,#claim_upload_pdf li span{color:#535353; padding-left:20px; font-size:12px; cursor:pointer;}
#claim_upload_box{ padding-top:5px;}
.claim_delete_btn{float:left; padding-left:15px; height:31px; color:#595959; cursor:pointer; line-height:31px;}
.claimlist textarea.claim_report_textarea{width:460px; height:44px; padding:5px; background:#ffffff; border:1px solid #dcdcdc; font-size:12px;}
#claim_add_btn{color:#055cc6;}
#report_claim_detail .report_list_input{width:460px}
#view_claim .claimlist label.width_80,#report_claim_detail .claimlist label.width_80,#report_claim .claimlist label.width_80{width:80px;}
#tags_centent2,#tags_links2{font-size:12px;}


