@charset "utf-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,option,textarea,p,blockquote,th,td,table,tr,td,iframe{padding: 0; margin: 0;}
body {font-family:"微软雅黑",Arial,Helvetica,sans-serif; font-size:12px; color:#000000; line-height:22px;}
iframe,fieldset,img {border:0;} 
ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal; font-size: 100%;}
a{text-decoration:none; color:#000000;}
a:hover{text-decoration:underline;}
.clear{clear:both;}

