/* CSS Document */
.main_r{width:100%;}
.current_h3{font-size:14px; font-weight:bold; text-align:center; height:40px; line-height:40px;}
.recPos{width:100%; border:1px solid #d6d6d6; padding-bottom:20px; text-align:center;}
.recPos thead{width:100%; height:28px; background:url(../images/title_bg.gif) repeat-x;}
.recPos thead td{ border-bottom:1px solid #d6d6d6;}
.recPos thead td.thead_position{ position:relative;}
.parent_tr{height:35px; background:url(../images/td_bg.gif) repeat-x; position:relative;}
.parent_td1{position:relative;}
.on{width:11px; height:11px; margin:10px 0 0 10px; background:url(../images/jian_bg.gif) no-repeat;}
.on a{display:block; width:11px; height:11px;}
.off{width:11px; height:11px; margin:10px 0 0 10px; background:url(../images/add_bg.gif) no-repeat;}
.off a{display:block; width:11px; height:11px;}

.sub_tab{width:100%; text-align:center;}
.sub_tab td{height:25px; border-bottom:1px solid #d6d6d6;}
.recBtn_bg{height:17px; border-right:1px solid #acacac; border-bottom:1px solid #acacac; background:url(../images/btn_bg.gif) repeat-x; line-height:17px;}
#addPos{width:70px; position:absolute; right:20px; top:5px; line-height:17px;}

.currentNav{height:28px; background:url(../images/title_bg.gif) repeat-x; border:1px solid #d6d6d6; border-bottom:1px solid #fff; position:relative; overflow:hidden;}
.currentNav_l{float:left; width:40%; line-height:32px; padding-left:15px;}
.currentNav_r{position:absolute; width:400px; height:28px; right:10px; top:3px;}
.currentNav_r a{ display:inline-block; width:60px; margin-right:8px; text-align:center; line-height:17px;}
.currentNav_r a.currentSel{border:none; border-left:1px solid #acacac; border-top:1px solid #acacac; font-weight:bold; color:red;}
.softlist_tab{width:100%; border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6; padding-bottom:20px; text-align:center;}
.softlist_tab td{height:25px; border-bottom:1px solid #d6d6d6; border-right:1px solid #d6d6d6;}
.softlist_tab thead{background:#fbfce2;}
.soft_all{float:left; width:9%; height:25px; margin:10px 0 0 0;}
.soft_btnr{float:left;height:25px; margin:8px 0 5px 0;}
.soft_btnr a{display:inline-block; width:45px; height:17px;  margin-right:8px;}
.soft_btnr a.softbtn1{width:120px;}

.currentNav2{height:28px; margin-bottom:5px; position:relative; overflow:hidden;}
.currentNav2_l{float:left; width:40%; line-height:32px; padding-left:15px;}
.currentNav2_r{float:right; height:28px; right:10px; top:3px;}
.currentNav2_r a{ display:inline-block; padding:0 15px;; margin-right:8px; text-align:center; line-height:17px;}
.currentNav2_r a.currentSel{border:none; border-left:1px solid #acacac; border-top:1px solid #acacac; font-weight:bold; color:red;}

