/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #331613; color: #000000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#730b91; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
::-webkit-input-placeholder { color:#d9d2c4;}
:-moz-placeholder {color:#d9d2c4;}
::-moz-placeholder {color:#d9d2c4;}
:-ms-input-placeholder {color:#d9d2c4;}

.cnt{text-align: center;}

.btns a,.slideBox .hd ul li,.app_r a,.server ul li{background: url("../images/common_icon.png") 0 0 no-repeat;background-size: 90px 180px;}

.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
/**/
.main{position:relative;width: 100%; z-index:2}
.mod{width:84%;margin: 0 auto 15px auto;padding:3%;background-color: rgba(255,255,255,0.31);}
.mod.pt0{padding-top: 0px;}
.radius{border-radius: 5px;}
.mod_t{width:84%;margin: 0 auto;padding:0px 3%;height:30px;background: url("../images/mod_t.png") 0 0 no-repeat;background-size:165px 30px;}
.mod_t h4{color: #fff;font-size: 16px;padding-top: 10px;font-weight: bold;}
.mod p{line-height: 22px;}
.mod_hd{width:90%;margin:0 auto 10px auto;color: #fff;font-size: 16px;}
.mod_hd img{width:90%;}
/*签到*/
.form_item{width: 100%;margin: 15px auto;}
.sign_btn{float:right;padding-top: 3px;}
.input_box{margin-right:90px;width:auto;}
.input_box input{width:96%;padding:0px 2%;height: 40px;border-radius:5px;border:none;background-color: #fff;font-family: "Microsoft Yahei","微软雅黑";font-size: 14px;}
/*按钮*/
.btns{width:74px;margin: 0 auto;}
.btns.pt10{padding-top: 10px}
.btns a{ display: block;width:74px; height:37px;line-height:37px;background-position: 0px -43px;text-align: center;color: #834428;font-weight:bold;}
.btns.gray a{ background-position: 0px -86px;color: #565656;cursor: default}
/*活动规则*/
.rule,.lot_rule{color:#fff;}
.rule h4,.lot_rule h4{ margin-bottom:5px;font-size: 16px; text-align:center; font-weight:bold}
.rule p,.lot_rule p{font-size: 14px;line-height: 22px;}
.rule p.b_hd{font-weight: bold;font-size: 16px;}
.rule p img{width: 100%}
.rule p span{color: #ff4b4b}
/*抽奖规则*/
.lot_rule{}
.lot_rule p{margin-bottom: 15px;}
.lot_rule h4{margin-bottom: 15px;}
.lot_rule img{width: 100%;margin: 0 auto;}
.r_text{margin: 20px 0px 10px 0px}
.r_text p{margin-bottom: 0px;color: #000;}
.r_text p span{color: #ff4b4b}
/*奖品设置*/
.slideBox{ position:relative;width: 90%;margin:20px auto;}
.slideBox .hd{position: absolute;left: 20px;bottom:10px;z-index: 5}
.slideBox .hd ul{ clear: both;overflow: hidden;}
.slideBox .hd ul li{display:inline;float: left;width: 16px;height: 16px;background-position: 0px -142px;margin-right: 5px;}
.slideBox .hd ul li.on{background-position: -23px -142px;}
.slideBox .bd{margin:0px auto;}
.slideBox .bd li{text-align:center;padding: 0px}
.slideBox .bd li img{ width:100%;margin:0 auto;}

/**/
.app{width: 92%; margin: 0 auto;}
.app_m{ width:100%;float:left;display: inline;margin-top:20px;}
.app_name{margin-left:70px; height:22px;margin-right:98px;color: #fff;overflow: hidden;}
.app_l{float:left; width:60px; margin-left:-100%; }
.app_l img{width: 60px; height: 60px;margin: 0 auto;}
.app_r{float:left;display:inline;width:88px; margin-left:-88px;margin-top: 14px; }
.app_r a{display: block;width: 88px; height: 35px;line-height:35px;color:#834428;text-align: center;font-weight: bold}
/*获奖名单*/
.awards-list{width:84%;margin: 0 auto 15px auto;padding:10px;line-height: 22px;color: #0f2e61;background: url("../images/sub_bg.jpg") 0 0 no-repeat;background-size: 100% 100%;}
.slide_up{overflow:hidden;height:110px;position: relative;}
/*新服*/
.server{width: 84%;margin: 0 auto;padding:3%;color: #092e4a;background: url("../images/sub_bg.jpg") 0 bottom no-repeat;background-size: 100% auto;}
.server h4{margin-bottom: 5px;}
.server ul{}
.server ul li{float: left;display: inline;margin-right: 18px;padding-left:20px;background-position: 0px -160px; }
.copyright{margin:20px 0px 30px 0px;text-align: center;color: #8e5f5a;}
/*尾部*/
.footer{width: 100%; margin-top:-28%; position:relative;}
.footer img{width: 100%;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 300px;left:50%;top:50%;margin-left:-150px;background:url("../images/tip_box.png") 0 0 no-repeat; background-size:100% 100%;z-index: 99999;}
.tip-con{padding: 30px 15px;color: #083059;}
.tip-con h4{padding-bottom:10px;margin-bottom:15px;border-bottom: 1px solid #9aaec9}
.btn_submit{}
.btn_submit a{}
/*联系信息*/
.form_items li{ margin-bottom: 20px;clear: both;overflow: hidden;}
.form_items li label{float: left;width:80px;padding:10px 0px;}
.form_items li label em{color: #f14040}
.form_items li span{display:block;width: auto;margin-left: 90px;}
.form_items li input{width:90%;padding:10px 10px;border:none; color: #666;  font-family: Microsoft Yahei,"微软雅黑";background-color: #fff;}
.prompt_submit{color: #fffc00;}


