/* CSS Document */
/* CSS Document */

html,body,p,span,ul,dl,li{margin:0; padding:0;}
.gb{ margin:0 auto;width:100%;}
#l1{height:174px; background:url(../images/1.jpg) top center no-repeat scroll transparent;}
#l2{height:209px; background:url(../images/2.jpg) top center no-repeat scroll transparent;}
#l3{height:152px; background:url(../images/3.jpg) top center no-repeat scroll transparent;}
#l4{height:233px; background:url(../images/4.jpg) top center no-repeat scroll transparent;}
.dbox{width:988px; margin:0 auto;height:209px; position:relative;}
.desbox{width:988px; margin:0 auto;height:152px; position:relative;}
.dbox a{width:138px; height:44px; display:inline-block; background:url(../images/btn.jpg) no-repeat scroll transparent; text-align:center; text-indent:-9999px; position:absolute; top:134px; left:640px;}
.dbox a:hover{background:url(../images/btn_o.jpg) no-repeat scroll transparent; }
.desbox ul{ list-style:none; position:absolute;left:325px; top:30px;}
.desbox ul li{height:16px; line-height:16px; color:#FFFFFF; font-family:"宋体";font-size:12px; margin-bottom:15px;}
.code{width:132px; height:132px;top:10px; right:25px; position:absolute;}
