/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background:#004967; color:#e2edff;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
::-webkit-input-placeholder { color:#4065af;}
:-moz-placeholder {color:#4065af;}
::-moz-placeholder {color:#4065af;}
:-ms-input-placeholder {color:#4065af;}

.cnt{text-align: center;}
.martop20{margin-top:-20px;}
.pad10{padding:10px}
.pad15{padding:15px}
.padtop10{padding-top:10px}

.banner{ position:relative;width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
/*main*/
.main{background:url(../images/bg_01.jpg) no-repeat; background-size:100% 100%; margin:-100px 0 0; overflow:hidden}
.main_iner{padding:10px; background:url(../images/bg_02.png) no-repeat;}
.title{width:183px; height:22px; background:url(../images/title_bg.png) no-repeat; background-size:100% 100%; position:relative;}
.mod{background:rgba(0,96,255,.2); border:1px solid #49779d; line-height:24px; position:relative;}
.mod h6{font-size:18px; color:#007eff;}
.mod p{color:#b0ccfa; font-size:16px}
.points_list{ padding:1% 0 2%;}
.points_list li{float:left; width:32.1%; margin-left:1%; display:inline; position:relative;}
.points_list li img{display:block; width:100%; margin-bottom:3%;}
.points_txt{position:absolute; left:7px; bottom:6px;}
.points_txt p{ font-size:12px; line-height:16px; overflow:hidden}
.points_txt p span{color:#f00;}
.points_list li em{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/sold.png) no-repeat; background-size:100% 97%}

.mod_bg{width:112%; height:111%; background:url(../images/mod_bg.png) no-repeat; background-size:100%; position:absolute; left:-5.5%; top:-4.5%}
.main2{position:relative; background:url(../images/bg_03.jpg) no-repeat; background-size:100% 100%; overflow:hidden}
.prize_index{width:230px; height:218px; padding:10px; background:url(../images/prize_bg.png) no-repeat; position:absolute; right:0; top:30px}
.prize_index ul{width:190px; height:60px; margin:40px 0 0 40px; overflow:hidden}
.line{width:200px; height:1px; margin:15px 0 12px 22px; background:#3f6295; overflow:hidden;}
.prize_index p {width:190px;  padding:0 0 0 40px;}
.main2 .btns{margin-top:300px;}
.btns{display:block; margin:15px auto; width:126px; height:34px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.points_login,.login_user{padding:17px 0 20px 15px; color:#a8c5f3; line-height:20px}
.points_login a{float:left; width:62px; height:36px; margin-right:10px; display:inline; background:url(../images/login_btn.png) no-repeat; background-size:100% 100%}
.login_user a{float:left; width:62px; height:58px; margin-right:10px; display:inline;  background:url(../images/login_btn2.png) no-repeat; background-size:100% 100%}
.main3{min-height:288px; overflow:hidden; position:relative; background:url(../images/bg_04.jpg) no-repeat; background-size:100% 100%;}
.soft_wrap{position:absolute; left:50%; width:250px; height:228px; padding:30px 0; margin-left:-153px; background:url(../images/soft_bg.png) no-repeat; background-size:100%;}
.soft-list{width: 100%; margin: 0px auto;}
.soft-list li{ float: left; display: inline; width: 33.3%;margin-top:7px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 40px;height: 40px; margin: 0 auto;}
.soft-list li .soft-name{height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #719ce3;}
.soft-list li a.download{ display: block; width:56px;padding:2px 0px 1px; margin: 0 auto;background-image: -webkit-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); border:1px solid #ffa466;border-radius:6px;color:#000;cursor: pointer;font-size:13px;text-align: center;}
#soft-list1 li{width:50%; margin:16px 0 0;}
.soft_btn{display:block; width:57px; height:118px; background:url(../images/soft_btn.png) no-repeat; background-size:100% 100%; border:1px solid #fff; border-left:none; position:absolute; top:50%; margin-top:-59px;right:-57px;}
.main4{min-height:288px; overflow:hidden; margin-top:-100px; background:url(../images/bg_06.jpg) no-repeat; background-size:100% 100%;}
.main4 .soft_wrap{margin-left:-125px}
/*奖品设置*/
.slide_txt{margin:300px 15px 0;}
.slideBox{ position:relative;width: 100%;margin:0 auto; padding:15px 0;}
.slideBox .bd{margin:0px 20px;border:5px solid #d2e3ff; border-radius:5px;box-shadow:0 0 15px rgba(255,255,255,.75)}
.slideBox .bd li{ text-align:center;}
.slideBox .bd li img{ width:100%;  margin:0 auto; }
.slideBox p{ padding:180px 0 0; text-align:center; color:#000000}

.prize_main{padding:20px 10px 200px; background:url(../images/bg_05.jpg) no-repeat; background-size:100% 100%;}
.prize_title{padding:20px 0 0; text-align:center; font-size:18px}
.mod2{margin:15px; padding:15px 0; background:rgba(255,255,255,.2)}
.mod2 p{text-align:center; color:#fff}
/*邮寄地址*/
.form1{width:90%; margin:0 auto;}
.form_title{margin:15px auto 0;}
.form-item{padding:12px 15px; margin:8px 0 0;}
.form-item label{ float: left;width:70px; padding-right:5px; color: #ffffff; line-height:26px; text-align:right}
.form-item .textbox{margin-left: 75px;}
.form-item .textbox input{ width: 98%; padding:7px 3px; border-radius:4px; box-shadow:4px 4px 4px rgba(158,158,158,.5) inset; font-family: "Microsoft Yahei";background: #fff; border:none;font-size: 14px;}
.prompt2{padding:5px 0 0 90px;}
.prize_main .btns{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%;}
#btns_03{margin-top:60px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;}
#clobox{margin-top:60px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%;}
#btns_04{margin-top:30px; width:146px; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
#btns_05{background:url(../images/btns_05.png) no-repeat; background-size:100% 100%;}

.prize_list{width:95%; margin:10px auto; border-top:1px solid #4e89b3}
.prize_list li{width:100%; float:left; margin:10px 0 0;}
.prize_list span{float:left;}
.prize_list a{float:right; width:75px; padding:2px 0px 1px; background-image: -webkit-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); background-image: -linear-gradient(top, rgba(255, 194, 114, 1) 0%, rgba(255, 84, 0, 1) 100%); border:1px solid #ffa466;border-radius:6px;color:#000;cursor: pointer;font-size:13px;text-align: center;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute;width: 90%;left:50%;top:50%;margin-left:-45%; z-index: 99999;}
.tip-mid{padding-bottom:4px;border-radius: 0px 0px 15px 15px;}
.tip-con{padding:35px 25px 25px;margin:0px 4px; color:#fff}
.tip-con p{line-height: 25px; text-align: center;font-size: 18px; color:#fff}
.tip-con #btns_03{margin-top:30px;}
.tip-btns{width:280px; margin:0 auto;}
.tip-btns a{float:left; width:126px; margin:30px 7px 25px; display:inline}


.prized{padding:40px 15px 0 20px;}
.prized ul{height:85px; margin:10px 0 0;}
.prized a,.prize_index a{width:105px; margin-top:20px; background:url(../images/prize_btn.png) no-repeat; background-size:100% 100%;}
/*尾部*/
.footer{width: 100%; margin-top:-50px}
.footer img{width: 100%;}
.redcolor{ color:#f6323a;}
.prompt1{width:90%; margin:15px auto 0}

