/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#000000;}
.clear{clear:both;}
ul,li{list-style:none;}
::-webkit-input-placeholder { color:#a5a5a5;}
:-moz-placeholder {color:#a5a5a5;}
::-moz-placeholder {color:#a5a5a5;}
:-ms-input-placeholder {color:#a5a5a5;}
body{ font-family:'微软雅黑'; background:#fff; font-size:14px; line-height:20px;}
#banner img{display:block; width:100%;}
#main{width:320px; margin:0 auto; padding:0 0 10px}
#active_acnouce{min-height:20px; padding:10px; border-bottom:1px solid #e6e6e6; font-size:17px; color:#19d5fd; line-height:26px}
#active_intro{min-height:120px; padding:0 10px; margin-top:10px; background:#ffffff; color:#a5a5a5}
#active_intro form{width:100%; position:relative;}
.inputtext{ width:68%; height:29px; padding:0 1%; margin-top:10px; background:#fff; border:1px solid #e6e6e6; line-height:29px;font-family:微软雅黑;}
.submit_btns{display:block; width:58px; height:32px; background:#19d5fd; border-radius:4px; text-align:center; line-height:32px; position:absolute; right:10px; top:10px; color:#ffffff; font-size:14px; font-weight:bold; border:0;}
.submit_btn{display:block; width:58px; height:32px; background:url(../images/submit_bg.png) no-repeat; text-align:center; line-height:32px; position:absolute; right:10px; top:38px;}
#active_intro h6{padding:10px 0 7px; margin-bottom:10px; font-size:16px; font-family:微软雅黑; font-weight:normal; border-bottom:1px solid #e6e6e6; color:#5b5b5b}
#active_intro p{padding-bottom:15px; color:#737373;}
.user_luck{ padding-bottom:15px;}
.user_luck li{ width:99%; height:24px; margin-left:1%; line-height:24px; color:#737373}
.user_luck li span{padding-left:22px;}