/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#000000;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; height:100%; font-size:14px; line-height:20px; color:#000000;}

#main{height:100%; background-image: -webkit-linear-gradient(top, rgba(1, 219, 255, 0.8) 0%, rgba(0, 168, 255, 0.8) 48%, rgba(3, 136, 254, 0.8) 100%); background-image: -moz-linear-gradient(top, rgba(1, 219, 255, 0.8) 0%, rgba(0, 168, 255, 0.8) 48%, rgba(3, 136, 254, 0.8) 100%); background-image: -o-linear-gradient(top, rgba(1, 219, 255, 0.8) 0%, rgba(0, 168, 255, 0.8) 48%, rgba(3, 136, 254, 0.8) 100%); background-image: -linear-gradient(top, rgba(1, 219, 255, 0.8) 0%, rgba(0, 168, 255, 0.8) 48%, rgba(3, 136, 254, 0.8) 100%);
box-shadow:inset 0 0 25px #70ffe2; border-radius:8px;}

#uninstall{height:100%; color:#05294b;}
.uninstall_des{height:82px; margin:-10px 0 14px -10px; padding-left:90px; background:url(../images/logo2.png) no-repeat;}
.uninstall_des p{padding:15px 0 0 0; font-size:16px; line-height:26px;}
.uninstall_des p span{color:#ffde00}
.uninstall_list{width:100%; position:relative}
.uninstall_list input{position:absolute; left:-1000px; clip:rect(0,0,0,0); z-index:-1}
.uninstall_form{border-top:1px solid #80dcfb; border-color:rgba(255,255,255,.5);}
.uninstall_form .uninstall_list_checkbox{ display:block; width:100%; padding:23px 0; margin:0 auto; background:url(../images/checkbox_01.png) no-repeat right 17px; background-size:32px 32px; border-bottom:1px solid #80dcfb;  border-color:rgba(255,255,255,.5); font-size:16px; font-family:"微软雅黑";  cursor:pointer}
.uninstall_list_checkbox.checked{ background:url(../images/checkbox_02.png) no-repeat right 17px; background-size:32px 32px;}
.uninstall_form p{ padding:5px 0 8px 5px; color:#666666; font-size:14px;}
.uninstall_form_btn input{ display:block; width:100%; height:38px; margin:30px auto 0; background:url(../images/btns_01.png) no-repeat center top; background-size:100% 100%; border:none; border-radius:5px; color:#ffffff; font-size:18px; font-family:"微软雅黑"; cursor:pointer; }

#main1{width:240px; height:240px; position:absolute; left:50%; top:50%; margin-left:-120px; margin-top:-165px; background:url(../images/battle_icon_01.png) no-repeat center center;}
#main1 p{padding:195px 0 0 0; text-align:center; line-height:24px; color:#05294b; font-size:18px;}

.about_logo{margin:1px auto 0; background:url(../images/battle_logo.png) no-repeat center 0;}
.slogan{display:block; margin:0 auto; padding:170px 0 0 0; max-width:100%;}
.about_logo p{padding:0; text-align:center; line-height:24px; color:#fff; font-size:16px;}

.service{position:absolute; width:320px; height:45x; left:50%; bottom:14px; margin-left:-160px;}
.service p{line-height:22px; color:#86ebff; font-size:16px; text-align:center;}
.service p a{color:#86ebff;}

/*#screen_spc{background:url(../images/stars.png) no-repeat center top; background-size:contain}*/
/*约战分享页*/
.wrap{margin-top: 60px;}
.d_logo{text-align: center}
.d_logo img{width: 82px; height: 82px;}
.desc{text-align: center;font-size: 17px;color: #ababab}
.desc a{color: #ababab}
.version{width: 140px;margin: 15px auto;}
.version li{line-height:25px;font-size: 16px;color: #ababab}
.d_download{}
.d_download a{display:block;margin:0 auto;width:200px;height: 45px;line-height:45px;text-align:center;background-color:#84c031;color: #fff;font-size: 22px;}
.view_h{text-align:center;margin-top:15px;}
.view_h a{font-size: 16px;color: #ababab}