@charset "utf-8";
/* CSS Document */
.classified{ border:1px solid #ececec; margin:10px;}
.classified li{ height:40px; line-height:40px; margin:8px; border-top:1px solid #ececec; background:url(../images/arrow_02.png) no-repeat right center;}
.classified li a{ display:block; width:100%; height:40px;}
.classified li a font{ padding:0 10px; font-size:16px; color:#202020;}
.classified li a span{ font-size:14px; color:#7fc31e;}

.zt_top{ margin:10px; min-height:92px; padding:10px; position:relative; border:1px solid #ececec;}
.zt_top a,.zt_items li a{ display:block; width:100%; height:100%;}
.zt_info{ margin-right:160px; }
.zt_info h4,.zt_items_info h4{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:18px; font-weight:normal; color:#666666;}
.zt_info p,.zt_items_info p{ font-size:14px; color:#000; line-height:20px; margin-top:10px; height:40px; overflow:hidden;}
.zt_top img{ width:155px; height:92px; display:block; position:absolute; right:10px; top:10px;}
.zt_items li{ min-height:68px; padding:10px; margin:10px; position:relative; border:1px solid #ececec;}
.zt_items li a img{ display:block; width:117px; height:68px; position:absolute; left:10px; top:10px;}
.zt_items_info{ margin-left:130px;}
