/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #66dce6; color: #372221;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}

::-webkit-input-placeholder { color:#becaca;}
:-moz-placeholder {color:#becaca;}
::-moz-placeholder {color:#becaca;}
:-ms-input-placeholder {color:#becaca;}

.mtop{ margin-top: 35px;}
.mtop1{ margin-top: 20px;}
.mtop2{margin-top:10px;}
.mbot{margin-bottom: 8px;}
.ptop{ padding-top: 10px;}
.ptop1{padding-top: 45px;}
.pbot{padding-bottom: 25px;}


.banner{position: relative; width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}
.banner a.detail{ display: block;width:88px; height:31px;line-height:30px;position: absolute;bottom:6px;right:2%; background-position: 0 -32px;background-size:136px 170px; font-size: 16px; color: #f0436e;}
/*公告*/
.notice{width: 100%;height: 26px;line-height: 26px;background-color:#1c91db; color: #fff; overflow: hidden; }
.notice-icon{ float: left; display: inline; width: 25px;height:21px;margin:2px 0px 0px 5px; background:url(../images/icon_01.png) no-repeat; background-size:25px 21px;}
.notice-list span{color: #fff;padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}
.prompt{ padding:0 0 8px; font-size:16px; color:#0072bb;}
.prompt a{color:#0072bb;}

.wth{width: 94%; margin:0 auto;}
.white-wrap{width: 94%; margin:10px auto 30px auto; background-color: #fff;}

.main{margin:8px 6px;}
.wrap{border:2px solid #fff; border-radius:8px;}

/*软件*/
.soft-p{padding:8px 0; color:#1d9dff; font-size:16px;}
.soft-list{ margin: 0 auto; padding:6px 5px 0;}
.soft-list li{ float: left; display: inline; width: 25%;margin:7px 0px;text-align: center;}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 60px;height: 60px; margin: 0 auto;}
.soft-list li .soft-name{margin-top: 6px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #372221;}
.soft-list li .soft-size{ color: #f46600;height: 20px; line-height: 20px;overflow: hidden;}
.soft-list li a.downlode{ display: block; width:64px;height: 25px; line-height: 26px; margin: 6px auto 8px auto; background-color: #189bd3; border:2px solid #2e7381; border-radius: 3px; color: #fff;cursor: pointer;}

.soft-list2 li{position: relative;padding:15px 0px;clear: both; overflow: hidden;}
.soft-list2 li .soft_icon{position:relative;float: left; padding:0 10px;}
.soft-list2 li .soft_icon img{width: 60px;height: 60px;}
.soft-list2 li .soft_info h4{padding:2px 85px 4px 0px;line-height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.soft_info .star{height: 13px;}
.soft_info .star img{float:left;width: 13px; height: 13px;}
.soft_info .size{color: #f46600; padding-top: 3px;}
.soft-list2 .downlode{position: absolute; display:block;width:64px;height:25px;line-height:26px;right: 10px;top:25px; background-color: #189bd3; border:2px solid #2e7381; border-radius: 3px; color: #fff;cursor: pointer; text-align:center }
.click_bar{position: absolute; display: block;width:100%;height:100%;top:0px;left: 0px;z-index: 3}


.prize-title,.end-title{padding:20px 0 0 0; font-size:20px;text-align:center}
.prize-title span{color:#f6323a}
.prize-text{padding:10px 10px 0; font-size:16px; color:#505050; line-height:28px}
.btns{display:block; width:160px; height:38px; margin:10px auto; background:#fff609; border:1px solid #6e4107; border-radius:4px; color:#6e4107; font-size:18px; text-align:center; line-height:39px;}
.btns_tip{background:#ff6263; color:#fff; border:none}
.tips_p{padding:10px 0 10px}

.title{width:118px; height:40px; margin:0 0 10px 0; background:#2da3ff; border:1px solid #fff; border-radius:6px; text-align:center; line-height:41px; color:#fff; font-size:18px}

.detail_list h4{font-size: 18px; font-weight: bold; padding-bottom: 6px; color:#f6323a;}
.detail_list  p{font-size: 16px; line-height: 25px; color:#505050;}

.end{padding:10px 10px 8px; font-size:18px; color:#505050; line-height:28px}
.end a{ display:block; padding:15px 0 10px; font-size:18px; text-decoration:underline;}
.end em{font-size:16px; color:#7e7a7a;}

/*邮寄地址*/
.form1{width:90%; margin:0 auto;}
.form_title{margin:15px auto 0;}
.form-item{padding:12px 15px; margin:8px 0 0; background:#fff; border-radius:4px; border:1px solid #747172;}
.form-item label{ float: left;width:70px;color: #898787;}
.form-item .textbox{margin-left: 70px;}
.form-item .textbox input{width: 98%;font-family: "Microsoft Yahei"; color:#898787;background: none; border:none;font-size: 14px;}
.prompt2{padding:5px 0 0;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998; display:none}
.tip-box{position:absolute;width: 90%;left:50%;top:50%;margin-left:-45%; background:#fff; border-radius:4px; z-index: 99999;}
.tip_hd img{width: 142px; height:142px; margin:15px auto 0;}
.tip-mid{padding-bottom:4px;border-radius: 0px 0px 15px 15px;}
.tip-con{padding:0px 25px 25px 10px;margin:0px 4px}
.tip-con p{padding-bottom:10px; line-height: 25px; text-align: center;font-size: 18px;}
.clo{ position: absolute;right: -7px;top: -8px;}
.clo a{ display: block; width:45px; height:45px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}

/*老虎机投资*/
.lottery{width:90%; margin:0 auto; padding-bottom:1px; border-radius:4px; background:#880204;}
.lottery_inner {width:270px; margin:0 auto; padding:10px 0 0 0;}
.slotMachine{width:80px; height: 128px; margin:0 2px; overflow: hidden; display: inline-block;}
.noBorder{border:none !important; background: transparent !important;}
.slot{width:80px; height:128px;}
.slot1{background-image: url("../images/lottery_sl1.png");}
.slot2{background-image: url("../images/lottery_sl2.png");}
.slot3{background-image: url("../images/lottery_sl3.png");}
.slot4{background-image: url("../images/lottery_sl4.png");}
.slot5{background-image: url("../images/lottery_sl5.png");}

.subject{margin:0 0 8px; padding:10px; font-size:16px;}
.tips_sim{ margin-bottom:8px; padding:5px; text-align:center; font-size:16px;}

/*九宫格抽奖*/
.lottery2{width:306px; background:#07afd6; margin:0 auto; padding:1px; border:2px solid #fff; borer-raduis:4px; position:relative;}
.lottery2 img{display:block; width:100px; height:100px;}
.lottery2 table{border-collapse: separate; width:100%;}
.lottery2 td{width:100px;height:100px; padding:1px; text-align:center;vertical-align:middle;}
#my_click {width:100px;height:100px; cursor:pointer;}
.lottery2 p{position:absolute; width:100px;height:100px; left:100px; top:100px; display:block;}
.lottery2 p a{display:block; width:100px; height:100px;}


/*转盘抽奖*/
.rotate_tips{padding:0 0 8px; text-align:center;}
.rotate {width: 300px; margin:0 auto;position: relative;}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 46%;height: 46%;margin-top: -23%;margin-left: -23%;background: url(../images/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.rotate-pointer-disabled {position: absolute;top: 50%;left: 50%;width: 46%;height: 46%;margin-top: -23%;margin-left: -23%;background: url(../images/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}

.rotate_list{width:60px; height:78px; position:absolute; left:0; top:0; left:50%; top:50%; z-index:10}
.rotate1{  margin-left:5px; margin-top:-118px; background: url(../images/lottery_ro1.png) no-repeat 0 0; transform: rotate(25deg); -webkit-transform: rotate(25deg);}
.rotate2{  margin-left:50px; margin-top:-70px; background: url(../images/lottery_ro2.png) no-repeat 0 0; transform: rotate(65deg); -webkit-transform: rotate(65deg);}
.rotate3{  margin-left:46px; margin-top:-7px; background: url(../images/lottery_ro3.png) no-repeat 0 0; transform: rotate(105deg); -webkit-transform: rotate(105deg);}
.rotate4{  margin-left:6px; margin-top:32px; background: url(../images/lottery_ro4.png) no-repeat 0 0; transform: rotate(145deg); -webkit-transform: rotate(145deg);}
.rotate5{  margin-left:-60px; margin-top:35px; background: url(../images/lottery_ro5.png) no-repeat 0 0; transform: rotate(208deg); -webkit-transform: rotate(208deg);}
.rotate6{  margin-left:-104px; margin-top:-8px; background: url(../images/lottery_ro6.png) no-repeat 0 0; transform: rotate(258deg); -webkit-transform: rotate(258deg);}
.rotate7{  margin-left:-104px; margin-top:-70px; background: url(../images/lottery_ro7.png) no-repeat 0 0; transform: rotate(295deg); -webkit-transform: rotate(295deg);}
.rotate8{  margin-left:-60px; margin-top:-112px; background: url(../images/lottery_ro8.png) no-repeat 0 0; transform: rotate(338deg); -webkit-transform: rotate(338deg);}


/*尾部*/
.footer{max-width:640px;}
.footer img{width: 100%;}

.blue{color:#0072bb;}
.redcolor{ color:#f6323a;}
