/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #fff; color: #000;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}

section{ background-color: # #8c1301}
::-webkit-input-placeholder { color:#becaca;}
:-moz-placeholder {color:#becaca;}
::-moz-placeholder {color:#becaca;}
:-ms-input-placeholder {color:#becaca;}

a.btnAni.cur{-webkit-transition:all 0.1s;-moz-transition:all 0.1s;-o-transition:all 0.1s;transition:all 0.1s;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}

.ptb{ padding-top: 15px;padding-bottom: 15px;}
.ptop{padding-top: 15px;}
.pbot{padding-bottom: 50px;}

.topbar{width:100%;height:51px; background-color: #0294f0; border-bottom:1px solid #0367a6;}
.topbar a{float:left; width:22px; height:22px;margin:15px 0px 0px 8px; background: url("../images/btn_back.png") 0 0 no-repeat; background-size: contain;}
.topbar h2{float:left; height:26px; padding:15px 0px 10px 8px;font-size:20px; color:#fff;}

.banner{position: relative; width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}

.wrap_hd img{width:100%;}
.wrap{position:relative;width: 100%;margin: 0 auto;background: url("../images/con_mid.jpg") top left no-repeat; background-size:100% 100%; z-index: 2}
.leg{position:absolute;width:2.5%;top:0px;right: 0px;}
.leg img{width: 100%;}
.con{width: 80%;margin:0 auto;padding-top: 1px;}
.con_title{width:182px;height:42px;margin: 15px auto; background: url("../images/title_icon.png") 0 0 no-repeat;background-size:228px 171px;text-indent: -9999px;text-align: center; }
.con_title.rule_hd{ background-position:0px -90px; }
.con_title.rob_hd{width:218px;height:38px; background-position:0px -135px; }
.con_title.r_rate_hd{background-position:0px -45px;}
.rule_bd p{line-height: 25px; color: #000;}
.rule_bd p.last{ line-height: 22px;}
.rule_bd p.last span{ color: #a10000}

/*流程图*/
.slideBox{ position:relative; overflow:hidden; margin:0px auto;border:2px solid #e4c9a0; }
.slideBox .hd{ position:absolute; bottom:5px; left:50%;margin-left: -95px; z-index:1; }
.slideBox .hd li{ display:inline-block; width:15px; height:2px;  background-color:#d2d2d2; text-indent:-9999px; overflow:hidden; margin:0 3px;}
.slideBox .hd li.on{ background-color:#81be44;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(../images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;}

/*软件*/
.soft-list{width: 100%; margin: 0 auto;}
.soft-list li{ float: left; display: inline; width: 25%;margin:7px 0px;text-align: center;}
.soft-list li p{}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 58px;height: 58px; margin: 0 auto;}
.soft-list li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #372221;}
.soft-list li .soft-size{ color: #f46600;height: 22px; line-height: 22px;overflow: hidden;}
.soft-list li a.downlode{ display: block; width:62px;padding:6px 0px 5px; margin: 10px auto; background:url("../images/btn_icon.png") 0 -86px  no-repeat;text-shadow:0px 1px 0px #000;background-size:148px 148px;color:#ffffff;cursor: pointer;font-size:13px;text-align: center}

/*返利比例*/
.r_rate img{width: 100%}
.end_title{padding-top:5px;text-align: center;font-size: 15px; color: #e23100}
.prompt{padding-top:5px;text-align: center;font-size: 13px;}

/*按钮*/
.btns{ width: 100%;}
.btns a{ display: block;height: 40px;line-height: 40px; margin:0 auto;background:url("../images/btn_icon.png") 0 0 no-repeat;background-size:148px 148px; text-align: center; text-indent: -9999px;}
.btns a.change_btn{width:150px;background-position: 0px 0px;}

/*尾部*/
.footer{max-width:640px; position: relative;}
.footer img{width: 100%;margin-top: -1px;}
.copyright{position:absolute;top:5px;left: 13%; font-size: 12px;}
