@charset "utf-8";
/* CSS Document */

html {color:#000;background:#ebebeb;-webkit-text-size-adjust: none;min-width:350px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body,button,input,select,textarea{font:14px/21px Microsoft YaHei,tahoma,arial,\5b8b\4f53;}
ul,li{list-style:none;}
h1,h2,h3,h4,h5{font-style:normal;}
.clear { clear: both; height: 0; line-height: 0; font-size: 0; overflow: hidden;}

/*gundong*/
#kuaixun { width:320px; margin:5px auto 0 auto;/*display:inline;*/ }
#kuaixun marquee{width:320px; margin:0 auto;background:url(../images/world_bg.png) repeat-x scroll;padding:8px 0px;}
#kuaixun marquee a { font-size:14px;color:#cda600; padding:0 5px;text-decoration:none; }

/*main*/
.main{margin:0 auto;}
.main_part{margin:0 10px; min-width:320px;}
.banner{width:320px; margin:0 auto;}
.banner .explan{float: right; height: 23px; background:url(../images/banner_description_bg.png) no-repeat 0px 0px; position: relative; width: 75px; margin-top: -32px; margin-right: 3px;}
.prompt{width:320px;color:#fff;margin:4px auto 0px auto;background:url(../images/world_bg.png) repeat-x scroll 0px -46px; padding:10px 0px;}
.prompt p{ text-align:center;}
.promp_title{width:320px; margin:0 auto; padding:12px 0px;}
.promp_title .promp_title_con{background:url(../images/banner_description_bg.png) no-repeat 0px -33px; width:94px; height:24px; margin:0 auto;}
/*prompt_phone_module*/
.prompt_phone_module{width:320px;color:#fff;margin:4px auto 0px auto;background:url(../images/world_bg.png) repeat-x scroll 0px -248px; height:98px;}
.prompt_phone_module p{ padding:5px 10px 5px 10px; font-size:14px;}
.prompt_phone_module p.winner{font-size:18px; padding:15px 0px;text-align:center}
.prompt_phone_module p label{color:#515151;}
.prompt_phone_module p input.input_number{background:url(../images/banner_description_bg.png) no-repeat scroll 0px -257px; border:none; width:160px; line-height:27px; height:27px;font-size:14px;color:#515151;}
.prompt_phone_module p input.input_submit{background:url(../images/banner_description_bg.png) no-repeat scroll 0px -220px; border:none; width:71px; line-height:27px; height:27px; font-size:14px;color:#fff; cursor:pointer;}
.prompt_phone_module p input.margin_left_12{margin-left:12px;}
/*game prompt part1*/
.game_part1{width:320px; margin:0 auto;}
.game_part1 .time_title{font:14px; padding:3px 14px; color:#332900; background:url(../images/world_bg.png) repeat-x scroll 0px -115px;}
.game_part1 .host_sides{height:100px;border-bottom:1px solid #d9d9d9; padding:0px 16px;}
.game_part1 .host_sides .twofold{background:url(../images/vs.png) no-repeat center; padding:12px 23px;overflow:hidden;}
.game_part1 .host_sides .twofold .rank_A{padding:0px 12px; float:left;}
.game_part1 .host_sides .twofold .rank_A .country_1,.game_part1 .host_sides .twofold .rank_B .country_2{ padding:0px 5px; overflow:hidden; display:inline-block;}
.game_part1 .host_sides .twofold .rank_A .name,.game_part1 .host_sides .twofold .rank_B .name{color:#548931; text-align:center; overflow:hidden;}
.game_part1 .host_sides .twofold .rank_B{padding:0px 12px; float:right;}
.game_part1 .support_sides{padding:0px 16px; font-size:14px; line-height:30px;}
.game_part1 .support_sides li{float:left;}
.game_part1 .support_sides li.middle{margin:0 3%;}
.game_part1 .support_sides li dt{color:#8d8d8d; text-align:center;}
.game_part1 .support_sides li dd{background:url(../images/banner_description_bg.png) no-repeat 0px -67px; width:89px; text-align:center; height:35px; color:#332900;}
.game_part1 .support_sides li dd:hover{background:url(../images/banner_description_bg.png) no-repeat 0px -112px; width:89px; text-align:center; height:35px;}
.game_part1 .support_sides li dd a{ width:89px;color:#332900; text-decoration:none; line-height:34px;}
.game_part1 .support_sides li dd a:hover{ color:#fff;}
.game_limit{overflow:hidden;padding:10px 0;}
.game_limit p{ margin-left:25%;color:#ff0000;position:absolute;}
/*app downloads*/
.app_part2{width:300px; margin:20px auto 0px auto; background-color:#fff; padding:10px;border-bottom:1px solid #d5d7d7;}
.app_part2_title{color:#332900;}
.app_down_module{margin-top:20px;overflow:hidden;}
.app_down_module li{float:left; padding:10px 11px;}
.app_down_module li dl dt,.app_down_module li dl dd{ text-align:center;}
.app_down_module li dl dd p.name{font-size:13px;}
.app_down_module li dl dd p.size{font-size:12px;color:#8a8a8a; text-align:center;}
.app_down_module li dl dd p.download_bg{background:url(../images/banner_description_bg.png) no-repeat scroll 2px -157px; text-align:center;}
.app_down_module li dl dd p.download_bg:hover{background:url(../images/banner_description_bg.png) no-repeat scroll 2px -189px; text-align:center;}
.app_down_module li dl dd p.download_bg a{font-size:12px; line-height:22px; color:#84d152; padding:2px 10px;text-decoration:none;}
.app_down_module li dl dd p.download_bg a:hover{font-size:12px; line-height:22px; color:#fff; text-decoration:none;}
.app_change{width:320px; margin:0 auto; background:url(../images/world_bg.png) repeat-x scroll 0px -153px; padding:14.5px 0px;}
.app_change p.change_menu{font-size:18px; text-align:center; color:#84d152; line-height:30px;}
/*Activity Description*/
.act_part3{width:320px; margin:10px auto 0 auto; background-color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-bottom:1px solid #d8d8d8;}
.act_part3_title_module{border-bottom:1px solid #d5d7d7; padding:10px 0px;}
.act_part3_title{font-size:16px; color:#000; margin-left:25px;}
.act_part3 .act_sides{padding:10px 20px; font-size:14px; color:#7a7a7a; line-height:24px;}
/*.act_part3 .act_blank{background:url(../images/world_bg.png) repeat-x scroll 0 -208px; height:4px;}*/

.prizes_part4{width:320px; margin:10px auto 0 auto; background-color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-bottom:1px solid #d8d8d8;}
.prizes_part4 .title_module{padding:10px 0px;}
.prizes_part4 .title_module .prizes{padding:0 20px; color:#6d6d6d;}
.prizes_part4 .art_btn{padding:10px 20px; color:#6d6d6d;}
.prizes_part4 .art_btn li{ overflow:hidden; line-height:26px; font-size:14px; color:#7a7a7a;}
.prizes_part4 .art_btn li.margin_top20{margin-top:20px;}
.prizes_part4 .art_btn li dl dt.awards{float:left;word-wrap: break-word;word-break: normal; width:175px; margin-top:13px;}
.prizes_part4 .art_btn li dl dd.pic_zone{float:right;}
.prizes_part4 .art_btn li dl dd.pic_zone ul li dd.subject{width:93px;background:url(../images/world_bg.png) repeat-x scroll 0px -222px;position:absolute; color:#fff;text-align:center; line-height:16px; font-size:14px; margin-top:-20px;}
/*Restrictions*/
.res_part5{border-bottom:1px solid #ebebeb; padding-bottom:10px;}
.res_part5 p.remind{font-size:16px; color:#398905;}
.res_part5 p.comment{font-size:14px; color:#332900; padding:10px 0px;}
/**/
.top_part7{width:282px; margin:10px auto;}
.top_part7 a{font-size:14px;color:#332900; line-height:35px; cursor:pointer;}
.top_part7 a p{background:url(../images/banner_description_bg.png) no-repeat 0px -294px; height:35px; text-align:center;}
/*scratch*/
.scratch_module{width:320px; height:78px;margin:0 auto;background:url(../images/scratch_bg.png) repeat-x 0px 0px;}
.scratch_module p.placard{text-align:center; padding:30px 0px; color:#332900;}
.scratch_part6{width:320px; margin:0 auto;}
.scratch_list{}
.scratch_list li{height:74px; background:url(../images/scratch_bg.png) repeat-x 0px -88px; margin-top:7px;}
.scratch_list li dl dt.teams,.scratch_list li dl dd.teams{padding:10px 5px; height:28px;}
.scratch_list li dl dt.teams p.left_btn,.scratch_list li dl dd.teams p.left_btn{float:left; margin-top:8px; color:#332900;}
.scratch_list li dl dt.teams p.left_btn span .2sec_team_btn,.scratch_list li dl dd.result p.left_btn span .2sec_team_btn{margin-left:10px;}
.scratch_list li dl dt.teams p.right_btn,.scratch_list li dl dd.teams p.right_btn{float:right;}
.scratch_list li dl dt.teams p.right_btn input.scratch_menu,.scratch_list li dl dd.teams p.right_btn input.scratch_menu{background:url(../images/scratch_menu_bg.png) no-repeat scroll; width:36px; height:36px; border:none; cursor:pointer;}
.scratch_list li dl dd.result{padding:0px 5px;}
.scratch_list li dl dd.result p.left_btn{float:left; color:#548931;}
.scratch_list li dl dd.result p.left_btn span.2sec_team_btn{margin-left:10px;}
.scratch_list li dl dd.result p.right_btn{float:right; color:#6d6d6d; padding-right:5px;}
/**/
.scratch_part6 .rasp,.scratch_btn .rasp{ background-color:#84d152;padding:10px 10px 0;}
.scratch_btn{width:320px; margin:10px auto;}
.scratch_btn .rasp .rasp_top_module{background-color:#dcdcdc;width:301px; height:124px;}
#rasp_card{text-align:center; color:#fff; font-size:21px; border-bottom:1px solid #6aa742; padding:10px 0px;}
.scratch_btn .rasp p .rasp_form{padding:5px 0px; color:#332900;}
.scratch_btn .rasp p .rasp_form span{padding:0px 10px;}
.scratch_btn .rasp .rasp_top_module p.award{text-align:center; color:#332900; padding-top:16px;}
.scratch_btn .rasp .rasp_top_module p.award font.money{font-size:24px;color:#ff0000; font-style:italic; font-weight:bolder;padding:0px 10px;}
.scratch_btn .rasp .rasp_top_module p.notice{color:#332900; padding:21px 16px;}
.scratch_btn .rasp .rasp_top_module p.join{color:#332900; padding:41px 16px;}
.border_bot{border-bottom:1px solid #d5d7d7;}

