/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; color:#252525; font-size:14px; line-height:20px;}


#logowrap{height:32px; padding:8px 10px; position:relative;}
#logo{position:absolute; left:8px; top:7px; width:72px; height:32px; background:url(../images/logo.png) no-repeat 0 0; background-size:72px 32px; -webkit-background-size:72px 32px; display:block; text-indent:-9999px}
#search{height:27px; margin:0 0 0 85px; border-radius:5px; border:1px solid #71b32b; position:relative;}
#search .search_txt{width:83%; height:27px; border:none; background:none; text-indent:0.5em; line-height:27px; color:#cccccc;}
.search_btn{position:absolute; right:0; top:-1px}

.mainnav{height:40px; background:url(../images/nav_bg.png) repeat-x; border-radius:5px 5px 0 0;}
.mainnav li{float:left; width:16%; height:32x; margin:8px 2% 0; font-size:18px; color:#ffffff;}
.mainnav li a{display:block; height:30px; padding-top:2px; color:#ffffff; text-align:center }
.mainnav li.current1 a{color:#669900; height:29px; background:#ebebeb; border-radius:5px 5px 0 0; border-top:1px solid #44613b;}

.subnav{ height:33px; background:#ebebeb; line-height:33px; border-bottom:3px solid #ebebeb;}
.subnav li{float:left; width:32%; margin-left:1%; text-align:center; font-size:16px;}
.subnav li a{display:block; height:30px;}
.subnav li.current2{height:33px; border-bottom:3px solid #669900;}
.subnav li.current2 a{color:#669900;}

.more{width:60%; height:30px; background:#edf5e1; border-radius:5px; margin:10px auto; line-height:30px; color:#669900; text-align:center;}
.more a{display:block; width:100%; height:30px; text-align:center; line-height:30px; color:#669900; font-size:16px;}

.scroll{width:320px; height:120px; margin:0 auto;  position:relative; overflow:hidden;}
.scroll_az{width:320px; height:120px; margin:0 auto;  position:relative; overflow:hidden;}
.mod_01{float:left; width:320px;}
.mod_01 img{display:block; width:320px; height:120px;}
.dotModule_new {padding:0 5px;height:11px;line-height:6px;-webkit-border-radius:11px;background:rgba(45,45,45,0.5);position:absolute;bottom:5px;right:10px;z-index:11;}
#slide_01_dot {text-align:center;}
#slide_01_dot span {display:inline-block;margin:0 3px;width:5px;height:5px;vertical-align:middle;background:#f7f7f7;-webkit-border-radius:5px;}
#slide_01_dot .selected {background:#66ff33;}

.app-items-list li{width:100%; border-bottom:1px solid #c4df9b; position:relative;}
.itmes-icon{position:absolute; width:48px; height:48px; border-radius:5px; left:8px; top:9px;}
.itmes-icon img{width:48px; height:48px;}
.items-info{position:relative; min-height:58px; margin-right:5px; padding:6px 65px 0 65px;}
.items-info h2{height:28px;  margin-bottom:2px; line-height:28px;  font-size:16px; font-weight:normal; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.items-score{float:left;}
.items_size{float:right; color:#898989;}
.items_size span{color:#598527; padding-right:3px;}
.down-btn{display:block; width:47px; height:26px; background:#71b32b; /*box-shadow:0 1px 0 #4A6940; -webkit-box-shadow:0 1px 0 #4A6940;*/ border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color:#ffffff; text-align:center; line-height:26px; position:absolute; right:3px; top:16px; z-index:99999;}
.clickarea{position:absolute; left:0; top:0; bottom:0; right:0; display:block;}

.goback_wrap{height:33px; padding-top:7px; background:url(../images/nav_bg.png) repeat-x; border-radius:5px 5px 0 0; position:relative;}
.goback{width:45px; height:26px; padding-right:8px; background:url(../images/goback.png) no-repeat; text-align:right; line-height:25px; position:absolute; left:10px; top:7px; font-size:14px; color:#fff;}
.goback_wrap p{height:26px; margin-left:80px; line-height:25px; font-size:16px; white-space: nowrap; overflow:hidden}


#footer{background:#e0ebcc; padding:8px 0px; border-top:1px slild #c4df9b; text-align:center; color:#444444; line-height:23px; height:100px;}
#footer p a,.topbtn{padding:0 9px;}
.topbtn{cursor:pointer;}
#footer a{color:#444444}
#footer img{display:none;}

/*浮动底部下载*/
.adrift_module{ width:100%;padding:5px 10px; background: url(../images/fudong_bg.png) repeat; position:fixed;bottom:0; z-index:999999;}
.adrift_btnA{color:#ffffff;}
.adrift_btnA,.adrift_btnA dl{float:left;}
.adrift_btnA dl.adrift_margin15{margin-left:8px;}
.adrift_btnA dl p{/* line-height:21px;margin-top:5px;*/}
.adrift_btnA dl p.font18{font-size:16px; margin-top:2px;}
.adrift_btnA dl p.font14{font-size:12px;}

.adrift_btnB{float:right; margin-right:20px;}
.adrift_btnB .down_button{background-color:#7fc31e;  color:#ffffff;text-align:center; padding:5px; margin-top:5px; cursor:pointer;}
.adrift_btnB .down_button a{font-size:14px;}
/*提示模块*/
.prompt{margin-top:20px; margin-bottom:20px;overflow:hidden;}
.prompt_module{margin:0 auto; width:350px;}
.prompt_module dl{ float:left; background-image:url(../images/prompt_bg.png);}
.prompt_module dl.btn_A{background-position:10px -102px;}
.prompt_module dl.btn_B{background-position:0 -51px; background-repeat:repeat-x; line-height:26px; color:000000; padding:12px 10px;}
.prompt_module dl.btn_B a{color:#7fc31e; padding:0 10px;text-decoration:underline;}
.prompt_module dl.btn_C{ background-position:0 0px;}
.prompt_module dl.btn_A,.prompt_module dl.btn_C{ background-repeat:no-repeat; width:26px; height:46px;}

.c_app{margin:8px 0 -10px 0px;}
.c_app li{ clear: both; overflow: hidden; position:relative; padding: 10px;border-top:1px solid #ccc;}
.c_app li.on{ background-color: #cecece}
.c_app li .click_bar{position: absolute;top:0px; left: 0px; display: block; width: 100%; height: 100%;z-index: 1;-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.c_app_icon{ float: left;}
.c_app_icon img{ display:block;width:38px; height: 38px; }
.c_app_info{margin-left:45px;margin-right:55px;}
.c_app_info h4{line-height: 20px;font-weight: bold;line-height: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.c_app_info .c_app_size{padding-top:2px;font-size: 12px; line-height:16px;color: #828282 }
.c_download{position: absolute;top:17px;right:10px;z-index: 2;}
.c_download a{ display: block; width:45px; height:22px; line-height: 22px; border: 1px solid #0294f0; border-radius: 3px;-webkit-border-radius:3px; background-color: #eee; color: #0294f0; text-align: center;-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.c_download a.on{ background-color: #0294f0; color: #ffffff}