@charset "utf-8";
@-webkit-keyframes opacity{
	from{
		opacity:0
	}

	to{
		opacity:1
	}

}

.D{
	-webkit-animation:opacity 0.3s ease-in-out
}

.close,.DClose{
	background:url(/images/nd_close_menu.png) no-repeat;
	/*background:url(../img/v1/b1_120329.png) no-repeat*/
}

.close,.DClose{
	position:relative;
	z-index:50;
	display:block;
	float:right;
	width:42px;
	height:42px;
	overflow:hidden;
	text-align:left;
	text-indent:-9999em;
	margin-top:2px;
	*margin-top:3px;
	/*background-position:-232px -84px;*/
	border:0;
	outline:none;
	cursor:pointer
}

.close:hover,.DClose:hover{
	background:url('/images/nd_close_menu.png') no-repeat scroll 0% 0% transparent
}

.D{
	/*background:url(../img/v2/b2_20131129.png) no-repeat*/
}

.D{
	/*width:100%;*/
	height:100%;
	position:absolute;
	top:0;
	/*left:0;*/
	z-index:999
}

.D .bg{
	background:#000;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	filter:alpha(opacity=35);
	-moz-opacity:0.35;
	opacity:0.35;
	-height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight:document.body.offsetHeight + 'px')
}

.D .CR{
	position:absolute;
	background-color:#ffa030;
	top:26%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 2px 0 #e07900;
	width:285px;
	margin-left:17px;
}
.D .CR h1{
	font:20px/52px Microsoft YaHei,tahoma,arial,\5b8b\4f53;
	color:#f90000;
	padding-left:15px;
	text-shadow:0px 1px 1px #840000;
	border-bottom:1px solid #e50000;}
.D .CR p{text-align:center;}
.D .CR p.active-tx{
	font:16px/24px Microsoft YaHei,tahoma,arial,\5b8b\4f53;
	color:#fff;
	text-shadow:0px 1px 1px #840000;
	padding:0px 7px;}
.D .CR p.active-module{
	height:90px;
	margin-top:15px;}
.D .CR p.again-award{padding:6px 0 10px;}
.again-submit{
	width:129px;
	height:36px;
	border:none;
	background:url(/images/button_change.png) no-repeat center;
	font:16px/26px Microsoft YaHei,tahoma,arial,\5b8b\4f53;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	text-shadow:0px 1px 1px #840000;
	padding-bottom:4px;}
.D .DWrap{
	position:relative;
	padding:15px 15px 2px;
	*margin:-1px 0;
	*zoom:1;
	background-color:#fff;
	border:1px solid #8E8E8E
}

.D .DWrap::after{
	content:' ';
	position:absolute;
	display:block;
	left:-4px;
	top:-4px;
	z-index:-1;
	width:100%;
	height:100%;
	padding:1px;
	border:3px solid #9C9C9C;
	border-color:rgba(51,51,51,0.1);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}

.D .DTitle{
	overflow:hidden;
	margin:-15px -15px 0;
	padding:15px 0 0 15px;
	*zoom:1;
	cursor:move
}

.D .SA{
	display:none
}

.D .top{
	padding-top:0;
	color:#333
}

.D .bot{
	height:37px;
	margin:5px 0;
	margin:5px 0 8px\0
}

.D .close,.D .DClose{
	position:absolute;
	top:-15px;
	right:-15px;
	float:none
}

.D .DCont .close{
	display:none
}
