/* CSS Document */
#install li{border-bottom:1px solid #c4df9b;}
.install_title{height:27px; background:#f4f7f6; font-size:16px; color:#669900; padding:3px 0 0 10px;}
.classfied ul li{padding:7px 0; border-bottom:1px solid #c4df9b; background:url(../images/arrow_02.png) no-repeat right center; position:relative}
.classfied ul li a{width:100%; height:100%; display:block; position:absolute; left:0; top:0}
.classfied ul li h2{ display:inline-block; padding-left:10px; font-size:16px; color:#555555; font-weight:normal; _display:inline}
.classfied ul li span{ padding-left:10px; color:#a3d39c}

.zt_top{padding:10px; min-height:92px; position:relative}
.zt_top h4{ font-size:16px; color:#669900;}
.zt_top img{display:block; width:155px; height:92px; position:absolute; right:10px; top:10px;}
.zt_top_info{margin-right:160px; color:#555555;}
.zt_top_info p{height:60px; line-height:20px; overflow:hidden}

.zt_items li{padding:10px; min-height:68px; border-top:1px solid #c4df9b; position:relative}
.zt_items li img{ position:absolute; left:10px; top:10px; display:block; width:117px; height:68px;}
.zt_tiems_info{margin-left:130px; color:#555555;}
.zt_tiems_info h4{ font-size:16px; color:#669900;}
.zt_tiems_info p{height:40px; line-height:20px; overflow:hidden;}
.zt_items li a,.zt_top a{display:block; width:100%; height:100%;}

.zt_info{padding:10px; border-bottom:3px solid #8cb340;}
.zt_info span{color:#898989; font-size:12px;}
#zt_list p{clear:both; padding:0 10px 0 65px; _padding-left:40px;}
#zt_list li{padding-bottom:10px;}
#zt_list .items-info{min-height:52px;}

#search2{height:22px; margin:1px 5px 0 120px; background:#e1e1e1; border-radius:5px; border:1px solid #ebebeb; position:relative;}
#search2 .search_txt{ height:22px; border:none; background:none; text-indent:0.5em; line-height:22px}
#search2 .search_btn{position:absolute; right:-2px; top:-1px}

#search_no{width:280px; min-height:290px; padding-top:30px; margin:20px auto;}
#search_no img{display:block; width:104px; height:122px; margin:0 auto;}
#search_no p{padding-top:20px; color:#555555; line-height:24px;}

#classfied_nav li{width:49%;}
#install li.bordernone,.classfied li.bordernone{border:0;}

#applist_search{min-height:390px;}