@charset "utf-8";
/* CSS Document */

/* 公共样式 */
body,a,span,var,em,strong,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,img,input,div,dl,dt,dd{margin:0;padding:0;}
body{font-size:12px; font-family:Microsoft Yahei,"微软雅黑";background-color:#ffffff}
ol,ul{list-style-type:none;}
a,img{border:none;}

/*内容模块*/

.mod{min-width: 320px; max-width: 480px; margin: 0 auto;}
.mod img{ width:100%; display: block;}
.download{ position:relative;}
.download a{ position: absolute;left:28%;top:26%; display: block; width: 45%; height: 23%; text-indent: -9999px;}
.join{position:relative;}
.join a{ position: absolute;left:23.5%;top:12%; display: block; width: 51%; height: 25%; text-indent: -9999px;}