/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #48a3e9; color: #fff;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fff; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

.cnt{text-align: center;}
.fl{float: left;}
.fr{float: right}
.wth{width: 95%;}
.mtop{margin-top: 15px;}

.notice_icon,.slideBox .prev,.slideBox .next{ background: url("../images/rebate_draw/common_icon.png") 5px 3px no-repeat; background-size:60px 90px;}

.banner{width: 100%; margin: 0 auto;}
.banner img{ width: 100%;}
/*结束*/
.end{width:100%;position: absolute; top:0px; left: 0;padding: 5px 0px; text-align: center; color:#fff; background-color: #ff9914; font-size: 16px; line-height: 25px;}
.end p{ padding: 0px 5px;}

.mod{margin: 0px 10px 20px 10px;padding: 10px; background-color: #3669fb; -webkit-border-radius: 10px;-moz-border-radius:10px;border-radius: 10px;box-shadow:-3px 3px 0px #274285}
.mod p{line-height: 22px;}
.mod_hd{position:relative;margin-bottom:5px;color: #fff;font-size: 18px;}
.mod_hd span{ float: left;margin-top: 5px;}
.mod_hd .chang_btn{ float: right;padding:5px 6px; margin: 0px auto; background-color:#fff668; border:2px solid #1b6bc5;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-moz-border-radius:6px;color:#ff5959;cursor: pointer;text-align: center;}
.mod_hd .btn_myprize{position:absolute;right:0px; top:1px;padding: 1px 10px; background-color: #fff668;color: #ff5959;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.mod_hd.mtop{margin-top: 15px;}
.col{margin: 5px auto;}
.prompt{margin-top: 10px;}
/*活动规则*/
.rule{color:#ffffff;}
.rule dl{margin-bottom: 5px;}
.rule dl dt{font-size: 18px;}
.rule dl dd{line-height: 24px;font-size: 15px;}
.rule dl dd.blue{margin-top:8px;line-height: 20px;color: #00fcff; font-size: 14px;}
/*公告*/
.notice{width: 100%;height: 30px; margin-bottom:20px;line-height: 30px;background-color:#ff1ffc; color: #fff; overflow: hidden; }
.notice_icon{ float: left; display: inline; width: 40px;height:30px;}
.notice_list{width:auto;margin-left: 40px;}
.notice_list span{color: #fff;padding-right: 20px;}

/**/
.main{position:relative;width: 100%;background: url("../images/rebate_draw/main_bg.jpg") 0 0 no-repeat; background-size: 100% auto;}

/*软件*/
.soft-list{width: 100%; margin: 0px auto;}
.soft-list li{ float: left; display: inline; width: 25%;margin-top:7px;text-align: center;}
.soft-list li p{}
.soft-list li .soft-icon{text-align: center;}
.soft-list li .soft-icon img{ width: 56px;height: 56px; margin: 0 auto;}
.soft-list li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #fff;}
.soft-list li .soft-size{ color: #f46600;height: 22px; line-height: 22px;overflow: hidden;}
.soft-list li a.downlode{ display: block; width:56px;padding:6px 0px 5px; margin: 10px auto; background-color:#fff668; border:2px solid #1b6bc5;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-moz-border-radius:6px;color:#ff5959;cursor: pointer;font-size:13px;text-align: center;}
/*返利*/
.rebate{}
.rebate li{margin-bottom:2px;padding:0px 10px;line-height:30px;color:#fff;background-color: #8f92fa;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;text-shadow: 1px -1px 1px #0a0204;-webkit-text-shadow: 1px -1px 1px #0a0204;-moz-text-shadow: 1px -1px 1px #0a0204;letter-spacing: 1px;clear: both; overflow: hidden}
.rebate li span{float: left;width:138px}
.rebate li em{float: right;width: 122px;}
.split{}
.split img{width: 100%;}
/*转盘抽奖*/
.rotate {width: 100%;padding:15px 0px 10px;}
.rotate_con {position: relative;width:95%;margin:20px auto 0px auto;}
.rotate_pointer {position: absolute;top: 50%;left: 50%;width: 40%;height: 40%;margin-top: -22%;margin-left: -20%;background: url(../images/rebate_draw/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.rotate_pointer_gray{position: absolute;top: 50%;left: 50%;width: 40%;height: 40%;margin-top: -22%;margin-left: -20%;background: url(../images/rebate_draw/pointer_gray.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.btn_rotate{ display: block;padding: 7px; background-color: #fff668;color: #ff5959;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
/*流程图*/
.slideBox{ position:relative;width: 90%;  margin:10px auto 0px auto;}
.slideBox .prev,.slideBox .next{ position:absolute; display:block; width:30px; height:50px; left:-18px; top:50%;margin-top:-25px;background-position:4px -34px; text-align:center;cursor: pointer;}
.slideBox .next{ left:auto; right:-18px;background-position:-32px -34px;}
.slideBox .bd{margin:0px 12px;border:2px solid #e4c9a0; }
.slideBox .bd li{text-align:center;}
.slideBox .bd li img{ vertical-align:top; width:100%;}
.copyright{margin-top:10px;color: #00fcff}
/*登录以后*/
.login{position:relative;}
.login ul{margin-right:95px;line-height: 22px; color: #fff;}
.login ul.ends{padding: 15px 0px; font-size: 16px;}
.btn_log{position: absolute;top:50%;right:0px;margin-top: -20px;}
.btn_log a{display: block;width: 90px;height: 40px; line-height: 40px;font-size:16px;text-align: center; color: #ff5959; background-color: #fff668; border-radius: 8px;-webkit-border-radius: 8px;}
.btn_log.info a{font-size: 14px;}

/*我的奖品*/
.my_prize_list,.my_prize_list2{margin-top: 10px;}
.my_prize_list li{margin:0px 5px 5px 5px;padding:20px 5px; background-color: #ff1ffc; text-align: center; color: #fff;font-size: 18px;}
.my_prize_list2 li{margin:0px 5px 5px 5px;padding:5px 5px;background-color: #ff1ffc; text-align: center; color: #fff;font-size: 14px;}
/*联系信息*/
.form-items{margin-bottom:30px;}
.form-items li{ margin-top: 20px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:120px;padding-top: 7px;}
.form-items li span{display:block;margin-left: 120px;padding:6px;border:2px solid #fff668;border-radius: 3px;-webkit-border-radius: 3px;background-color:#fff;}
.form-items li input{ width:100%;color: #000;border: none; font-family: Microsoft Yahei,"微软雅黑";background-color:#fff;}
.form-items li.error{padding-left:120px; color:#ff5959;margin-top: 5px; }
.btn_submit{margin: 10px 0px;}
.btn_submit a{ display: block;margin:0 auto;width: 100px; height: 30px; line-height: 30px; text-align: center; background-color: #fff668;border-radius: 6px;color: #ff5959}
.split{margin: 15px 0px;}
.split img{width: 100%;}

/*获奖名单*/
.awards_list{line-height: 22px;}
.slide_up{overflow:hidden;height:88px;position: relative;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 98%;left:50%;top:50%;margin-left:-49%;padding: 15px 0px; z-index: 99999;}
.tip-con{ margin: 15px;padding: 15px; border-radius: 5px;background-color: #ff9914;}
.tip-con p{ line-height: 25px; text-align: center;color: #fff;}

/*尾部*/
.footer{width: 100%}
.footer img{width: 100%;}
