/* CSS Document */
/*公共样式*/
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #ffffff; color: #001d0b;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
.cl{overflow:hidden;}
.clear{clear:both;overflow:hidden;}

html,body{width: 100%; height: 100%;}

::-webkit-input-placeholder { color:#c3c3c3;}
:-moz-placeholder {color:#c3c3c3;}
::-moz-placeholder {color:#c3c3c3;}
:-ms-input-placeholder {color:#c3c3c3;}

.notice-icon,.mod-title,.tip-box .clo,#my_button a.gray-btn,.more-con span,.az-logo span.az-version,#gameContent table td.current{ background: url("../images/common_icon.png") no-repeat; }

.banner{position: relative; width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}
.banner a{}
.banner a.rule{ display: block;width:60px; height:18px;line-height:18px;position: absolute;bottom:6px;right:3%; border-radius: 10px; font-size: 12px;background-color: #ff6600; color: #fff; box-shadow: 0 3px 0px #a31300;}
.banner a.join{ display: block;width:60px; height:18px;line-height:18px;position: absolute;bottom:6px;right:3%; border-radius: 10px; font-size: 12px;background-color: #ffee31; color: #ff0090;box-shadow: 0 3px 0px #ff0090;}

/*公告*/
.notice{width: 100%;height: 24px;line-height: 24px;background-color:#00b13d; color: #fff; overflow: hidden; }
.notice-icon{ float: left; width: 30px;height:24px;background-position:6px -38px;}
.notice-list{}
.notice-list span{color: #fff;padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}

.white-wrap{ width: 94%; margin: 0 auto;}
.gray-wrap{width: 100%;padding:15px 0px; background-color: #f0f2f1}
.prompt-col{padding:10px 0px;color: #239ee2;}
.prompt-col a.my-prize{ float: right; color: #239ee2;}
.prompt-mid{ padding:10px 0px;text-align: center;color: #00b13d;}
.act-end{ margin-top: 20px;}
.act-end p{line-height: 22px; text-align: center;color: #00b13d;font-size: 16px; }
.act-end p img{width:150px;height: 100px;}
/*抽奖*/
#gameContent{ position:relative;width:298px; height:297px; margin:0 auto;background:url(../images/lottery_bg.png) no-repeat scroll;border:none;font-size: 16px;color:#fff;overflow:hidden;}
#gameContent table{width:307px;height: 303px;}
#gameContent table td{width:88px;height:93px;padding-right:8px;padding-bottom:6px;text-align:center;vertical-align:middle;}
#gameContent table td.current{background-position:-56px -40px; color: #ffe66f;}
#my_button {position:absolute;left: 98px;top:97px;z-index:999;}
#my_button a{display:block;width:102px;height:102px;}
#my_button a.gray-btn{background-position:-48px -152px; cursor: default;}

.lottery ul{}
.lottery ul li{ float: left; display: inline; width: 95px;height:75px; padding-top:26px;margin-right:7px;line-height:20px;text-align: center; color: #fff; }
.lottery ul li.lottery-btn{ position: relative;}
.lottery ul li.lottery-btn a{ position:absolute;top:-4px;left:-4px;display: block;width:102px; height: 102px; text-indent: -999px;z-index:5;cursor: pointer;}
.lottery ul li.lottery-btn a.gray-btn{background-position:-48px -152px; cursor: default;}
.lottery ul li.current{background-position:-56px -40px; color: #ffe66f;}
.lottery ul li.mr-none{ margin-right: 0px;}

#act-end{}
#SIM{ width: 99%;margin:0 auto;height:30px;line-height:30px;text-align: center; border:1px solid #00b13d;}
.prize-hd{width: 100%;padding-bottom:12px;border-bottom:1px solid #c9dbcf;text-align: center;color:#00b13d;}
.contact-info{width: 90%; margin: 0 auto;}
.contact-info .prompt-02{text-align: center; color:#229fe2; font-size: 20px; padding: 12px 0px 20px 0px;}
.contact-info .prompt-03{color:#00b13d;padding-left:6px;}
.form-items{}
.form-items li{ margin-top: 10px;}
.form-items li input{ width: 98%;padding:10px 6px;border:none;border-radius: 3px; color: #666;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff;}
.prompt-submit{ color: #e22222; margin-top: 5px;padding-left: 6px;}

/*软件*/
.soft-list{width: 95%; margin: 0 auto;}
.soft-list li{ float: left; display: inline; width: 25%;margin-bottom:15px;text-align: center;}
.soft-list li p{}
.soft-list li .soft-icon{}
.soft-list li .soft-icon img{ width: 64px; vertical-align: bottom;}
.soft-list li .soft-name{margin-top: 5px;height: 20px; line-height: 20px; overflow: hidden;}
.soft-list li .soft-name a{ color: #001d0b;}
.soft-list li .soft-size{ color: #72b288;height: 22px; line-height: 22px;overflow: hidden;}
.soft-list li a.downlode{ display: block; width:64px;height: 25px; line-height: 26px; margin: 5px auto 0px auto; background-color: #00b13d; border-radius: 3px;box-shadow: 0 1px 0px #0b8d37; color: #fff;cursor: pointer;}

.mod-title{ height: 33px;line-height: 33px;margin: 15px 0px 10px 0px;padding-left:10px;background-position:0 0; color: #fff; font-size: 16px;}
.mod-con{width: 90%;margin: 0 auto;}
.introduct{line-height:20px;cursor: pointer; overflow: hidden;}
.more-con{ cursor: pointer;margin-top: 5px;}
.more-con span{float: right; display:block;height:20px;line-height:20px;padding-right: 16px;background-position:25px -162px;color: #8c9d93;}
.more-con span.up{background-position:25px -188px;}
.history-wrap{width: 95%;margin: 0 auto; text-align: center;}
.history-wrap img{ width: 100%; vertical-align: bottom;}

.regional{line-height: 20px;}
.college-list{ overflow: hidden;cursor: pointer;}
.college-list li{ line-height:20px;}
.report-list li{ clear: both; overflow: hidden;}
.report-list li em{ float: left;width:70px;height:25px;line-height: 25px;}
.report-list li a{display:block;height:25px;line-height: 25px;color: #00b13d; overflow: hidden;}

.mtop{ margin-top: 15px;}
.ptop{ padding-top: 15px;}
.ptb{padding:10px 0px; }
.bor-top{ border-top:1px solid #c9dbcf;}
.btns{ width: 100%;}
.btns a.short-btn{ display: block;width: 40%;height: 30px;line-height: 31px; margin:0 auto; background-color: #1d9dff;border-radius:3px;box-shadow: 0 2px 0px #007bd8;color:#fff;text-align: center;}
.btns a.long-btn{ display: block;width: 60%;height: 30px;line-height: 31px; margin:0 auto; background-color: #1d9dff;border-radius:3px;box-shadow: 0 2px 0px #007bd8;color:#fff;text-align: center;}

/*我的奖品*/
.prize-list{}
.prize-con{ padding: 10px;}
.prize-con h4{ color: #00b13d;}
.prize-con h4 span{ padding-right: 10px;}
.prize-con p{margin-top: 10px; font-size: 14px;}
.prize-date{margin-top: 10px;}
.prize-date span{ float: right; color: #c8d0cb}

/*活动规则*/
.rule-list{margin-top: 15px;}
.rule-list h4{}
.rule-list ul{}
.rule-list ul li{ line-height: 22px;}
.rule-list ul li span{padding-right: 10px;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 230px;left:50%;top:50%;margin-left:-115px; border-radius: 5px; color: #1d9dff; background-color: #fff;box-shadow:0 2px 0px #e4e4e4;z-index: 99999;}
.tip-box h4{height: 30px; line-height: 30px;padding-left: 10px; border-bottom:1px solid #ccc;}
.tip-con{padding: 10px;}
.tip-con p{ line-height: 20px; text-align: center;}
.tip-con p img{ width: 108px;height: 105px;}
.tip-box .clo{ position: absolute;width:32px;height:32px;background-position:-1px -71px;right: -16px;top:-16px; text-indent: -9999px;}

/*m站信息*/
.az-wrap{margin:25px 0px 45px 0px;}
.az-logo{ width:179px;margin:0 auto; position: relative;}
.az-logo img{ width:179px;height: 144px; vertical-align: bottom;}
.az-logo span.az-version{position: absolute;width:25px;height:23px;padding:7px 0px 0px 5px;top:4px;right: 26px;background-position:-6px -117px;color: #fff;}
.az-info{width:138px; ;margin:15px auto 0px auto; color:#c2c2c2;font-size:16px;text-align:left;}
.az-info li{ height: 25px; line-height: 25px;}
.az-btn{width: 100%; margin: 15px 0px;}
.az-btn a{ display: block; width: 60%;height: 40px; margin: 0 auto; line-height: 40px; background-color: #7fc31e;font-size: 16px; color: #fff; text-align: center;}

