@charset "utf-8";
/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0; font-weight:normal;font-family: microsoft yahei;}
body{background:#e5e5e5;}
ul,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.main{ padding-top:19px; padding-bottom:30px;}
.logo{width:110px; height:84px; margin:0 auto; -webkit-background-size:152px 117px;}
.logo img{ width:110px; height:84px;}
.main h1{text-align:center; font-size:14px; color:#919191; line-height:37px; height:35px;}
.main h3{  margin-bottom:15px; margin-left:15px; font-size:15px; color:#666;}
.main h3 span{ margin-right:10px; color:#808080; float:right;}
.main h4{ margin:18px 0px 10px 15px; font-size:15px; color:#a5a5a5}
.infor{margin:3px 6px 0px;}
.infor_1,.infor_2{ border-top:1px solid #fff; border-bottom:2px solid #d8d8d8; border-radius:5px; background:#eff2f2; margin-bottom:3.7px;}
.arrow a span { float:right; width:15px; height:21px; background:url(../images/icons.png) no-repeat -83px -2px;}
.line{margin:0px 10px;height:1px; background-color:#d6d6d6;}
.infor_1 a,.infor_2 a{ display:block; padding:10px 10px 9px; height:28px; line-height:28px;color:#515151;font-size:14px; cursor:pointer; outline:none;}
.infor_1 a span,infor_2 a span{ float:right; line-height:30px; color: #808080;}
.infor_1 a em{ display:inline-block; width:25px; height:28px; margin-right:5px; vertical-align:middle;}
.infor_1 a em.qq{ background:url(../images/qq_icon.png) no-repeat; background-size:18px; margin-top:4px;}
.infor_1 a em.phone{background:url(../images/phone_icon.png) no-repeat;background-size:18px; margin-top:3px;}
.infor_1 a em.sina{background:url(../images/sina_icon.png) no-repeat;background-size:21px; margin-top:6px;}
.infor_1 a em.dev{background:url(../images/dev_icon.png) 0 1px no-repeat;background-size:18px;}
.infor_1 a em.weixin{background:url(../images/weixin_icon.png) no-repeat;background-size:21px; margin-top:5px;}
.protocol{width:100%; height:30px;position:fixed;bottom:0; z-index:100;}
.protocol p{text-align:center; font-size:15px;}
.protocol a{color:#969696;}
/*新版介绍*/
#banner_focus_new{width:100%; position:relative; overflow:hidden}
.banner_small{overflow:hidden;}
#banner_ul_new{  overflow:hidden; position:absolute; overflow:hidden;}
#banner_ul_new li{  float: left; overflow:hidden;}
#banner_ul_new li img{display:block; background-position:center top;}
#banner_ol_new{height:14px; padding:0 10px; position:absolute; bottom:10px; left:38%;}
#banner_ol_new li{float:left; width:15px; height:4px; margin:5px 3px; background:#bde3f8; display:inline; overflow:hidden}
#banner_ol_new li.current{background:#24a2e9;}
/*弹框*/
.new_box{ position:absolute; left:15%; top:35%; right:15%; padding:14px 18px; border-radius:5px; background:#e8e8e8; z-index:999;}
.new_box h1{ height:35px; font-size:18px; color:#2b2b2b; border-bottom:1px solid #b4b4b4;}
.new_box p{ margin-top:8px; line-height:24px; font-size:16px; word-break:break-all; color:#666;}
.new_box p a{ color:#008aea;}
.new_box p em{ display:inline-block; width:26px; height:26px; margin-left:4px; vertical-align:bottom; background:url(../images/little_logo.png) no-repeat 0px 2px; background-size:20px;}
.button{ margin:24px 0px 0px; }
.concel,.submit{ height:35px; width:45%; font-size: 17px; color:#fff; border:none; cursor:pointer;}
.concel{ margin-right:5%;  background:#767676;}
.submit{ background:#008aea; float:right;}
.black_color{ width:100%; height:100%; z-index:400; position:absolute; background:#000; top:0px; opacity:0.5;}
