/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #c80122; color: #fff;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{display: block;}
a{text-decoration:none;color:#001d0b; font-size: 14px;}
a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}

.ptb{ padding-top: 15px;padding-bottom: 15px;}
.ptop{padding-top: 15px;}
.pbot{padding-bottom: 50px;}

.topbar{width:100%;height:51px; background-color: #f12a2a; border-bottom:1px solid #be0120;}
.topbar a{float:left; width:22px; height:22px;margin:15px 0px 0px 8px; background: url("../images/yuanxiao_images/btn_back.png") 0 0 no-repeat; background-size: contain;}
.topbar h2{ height:26px;line-height: 26px; white-space: nowrap; overflow: hidden; padding:15px 0px 10px 8px;font-size:20px; color:#fff;}

.banner{width: 100%;min-width: 320px; margin:0 auto; text-align: center;}
.banner img{ width: 100%;vertical-align: bottom;}

.wrap{width: 90%;margin: 0 auto;}
.rule_hd{width:80px;margin-bottom:5px;border:1px solid #fffa00;line-height:20px;color: #fffa00;text-align: center;}
.rule_bd p{line-height: 25px; color: #fff;}
.rule_bd p.last{ line-height: 22px;}
.rule_bd p span{color: #fffa00}
.rule_bd p a{color: #fffa00;text-decoration: underline;}

/*软件*/
.soft_hd{width:210px;height:36px;margin:20px auto 10px auto;background: url("../images/yuanxiao_images/game_gift.png") no-repeat 0 0;background-size:210px 36px;text-indent: -9999px;}
.soft_bd{}
.soft_bd li{position: relative;padding:15px 0px;border-bottom:1px solid #d94e65;clear: both; overflow: hidden;}
.soft_bd li.last{border-bottom: none;}
.soft_icon{position:relative;float: left;padding-right: 10px;}
.soft_icon img{width: 65px;height: 65px;}
.soft_icon .zf_icon{position: absolute;top:0px;left:0px;}
.soft_icon .zf_icon img{width: 36px;height: 36px;}
.soft_info{}
.soft_info h4{padding:3px 85px 4px 0px;line-height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 16px;}
.soft_info .star{height: 13px;}
.soft_info .star img{float:left;width: 13px; height: 13px;}
.soft_info .size{font-size: 12px;padding-top: 6px;font-family: Microsoft Yahei, "微软雅黑"}
.soft_btn{position: absolute; display:block;width:75px;height:32px;line-height:32px;right: 0px;top:20px; background:url("../images/yuanxiao_images/soft_btn.png") 0 0 no-repeat;background-size:75px 32px;text-align: center;color: #db1910;z-index: 5;font-size: 16px; }
.click_bar{position: absolute; display: block;width:100%;height:100%;top:0px;left: 0px;z-index: 3}

/*结束*/
.end_title{padding-top:10px;text-align: center;font-size: 15px; color: #fff}
.end_icon{padding-top:15px;}
.end_icon img{width:149px; height:99px;margin: 15px auto;}
.prompt{padding-top:5px;text-align: center;font-size: 13px;}

/*尾部*/
.copyright{margin:10px 0px 15px;font-size: 12px;}
