/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#f2fcfe; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#1d1f21}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#1d1f21}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:20px 12px 12px; background:url(../images/bg2.jpg) no-repeat left bottom; background-size:100% 100%}
.main2{padding:5% 3%; background:url(../images/bg3.jpg) no-repeat; background-size:100% 100%; overflow:hidden}

/*有通用的地方*/
.wrap{min-height:60px; padding:0 0 25px; margin-bottom:20px; background:#90d0ff; border-radius:20px; position:relative}
.wrap_title{padding:15px 0; background:#4bacf5; border-radius:20px 20px 0 0; color:#feeb76; font-size:30px; text-align:center}

.btns{display: block; width:94px;height: 30px; margin-left:auto; margin-right:auto; line-height: 33px; background:url(../images/btns_05.png) no-repeat; background-size:100%100%; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px; text-shadow:-1px -1px 1px rgba(0,0,0,.5)}
.title{position:relative}
.title img{width:80%; margin:10px auto 5px}
.title h3{padding:5px 0 20px; text-align:center; font-weight:bold}
.title p{padding-bottom:14px; padding-left:50px; color:#ffd274}
.title a{position:absolute; right:0; bottom:10px; width:95px; height:25px; background:url(../images/txt5.png) no-repeat; background-size:100% 100%; text-indent:-9999px}

.banner{width: 100%; margin: 0 auto; position:relative;  z-index:2}
.banner img{ width: 100%;}
.rule_time{width:210px; height:34px; margin:10px auto 0; background:url(../images/title_bg1.png) no-repeat; background-size:100% 100%; text-align:center; line-height:34px; text-shadow:1px 0 1px rgba(255,255,255,.72); color:#013346}

/*index*/
/*活动规则*/
.rule{padding:30px 35px 20px; background:url(../images/bg3.png) no-repeat; background-size:100% 100%; color:#fff; font-size:14px;}
.rule p{line-height: 24px;}
.rule p.rule_title{ width:106px; height:22px; margin:6px auto 0; font-weight:bold; color:#fff; text-align:center; font-size:15px; position:relative; text-shadow:1px 0 1px rgba(255,255,255,.72); color:#013346}
.rule_title i{position:absolute; display:block; width:12px; height:12px; background:url(../images/icon_02.png) no-repeat; background-size:100% 100%; top:6px}
.rule_title i.l{left:5px;}
.rule_title i.r{right:5px;}
.rule p span{color:#fcff05}
.rule a{color:#fcff05; text-decoration:underline}
.login_wrap{margin-bottom:10px; padding:12px 20px; background:url(../images/bg1.png) no-repeat; background-size:100% 100%;}
.logined{ position:relative}
.logined_r{position:absolute; right:-10px; top:-2px;}
.logined_l p{padding:3px 0 2px; color:#fff}
.login{}

.notice{ margin:20px auto 10px; padding:2px; background:#4babff; border-radius:20px; color:#013346; position:relative;text-shadow:1px 0 1px rgba(255,255,255,.72);}
.notice_list{height:28px; padding:0 15px; line-height:28px;}
.notice i{position:absolute; left:50%; top:-6px; width:9px; height:6px; margin-left:-5px; background:url(../images/icon_01.png) no-repeat; background-size:100% 100%}

.soft{margin-top:20px; padding:10px 12px; background:url(../images/bg5.png) no-repeat; background-size:100% 100%; position:relative}
.soft .titles{text-align:center; color:#002967}
.soft_list{padding:5px 0;}
.soft_list li{ float: left; display: inline; width: 90%; margin:10px 5% 0;}
.soft_list li .soft-icon{ width: 56px;height: 56px; margin-left:12px}
.soft_list li .soft-icon img{ width: 56px;height: 56px;}
.soft_list li .soft-name{ margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#bbe6ff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li .soft-name a{margin-left:11px; color: #bbe6ff;}
.soft_list li a.downlode{display: block; width:94px;height: 30px; margin-left:auto; margin-right:auto; line-height: 30px; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px; text-shadow:-1px -1px 1px rgba(0,0,0,.5); position:absolute; right:22px; bottom:54px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%}

.prize_wrap{margin:18px 0 0; padding:12% 0 6%; background:url(../images/bg4.png) no-repeat; background-size:100% 100%}
.prize_list{padding:0 2% 10px 0; color:#fff}
.prize_list li{float:left; width:35%; height:196px; margin:1% 0 1% 5%; padding:5px 4% 5%; background:url(../images/prize_bg.png); background-size:100% 100%; border-radius:10px; border:1px solid #6f5fa8; position:relative; font-size:12px; line-height:18px; line-height:14px}
.prize_list li img{display:block; width:64px; height:64px; background:#3edafc; margin:8px auto 5px; padding:10px; border:1px solid #fff; box-shadow:0 0 0 1px #00728f}
.prize_list li h4{color:#fff; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:14px; color:#e5530a; line-height:18px; text-shadow:0 0 1px #e1eeff}
.prize_list li p{color:#063574}
.line{width:98%; height:2px; margin:5px auto 0; background:url(../images/line_bg.png) no-repeat; background-size:100% 100%;}
.prize_list li a{display:block; width:92px; height:24px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; margin:3px auto 0; text-align:center; line-height:22px; color:#fff}
.prize_over{position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/prize_bg2.png) no-repeat; background-size:100% 100%}
.prize_time{width:96px; padding:4px; margin:2px auto; background:#ea531e;  border-radius:2px;}
.prize_time span{display:inline-block; padding:3px 4px; background:url(../images/time_bg.png) no-repeat; background-size:100% 100%; border-radius:2px; font-weight:bold; font-size:14px}

.pagebars{width:202px; margin:0 auto}
.pagebars a{float:left; display:block; width:81px; height:30px; margin:0 10px;  background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-indent:-99999em;}
.pagebars a.next{background:url(../images/btns_04.png) no-repeat; background-size:100% 100%;}
.rule_more{ color:#1a5099; line-height:24px}
.rule_more ul{padding:3% 3% 3% 5%;}
.rule_more span{float:left; width:16px; height:16px; margin:4px 5px 0 0; background:#1a5099; border-radius:50%; text-align:center; line-height:16px; color:#d6edff; display:inline}
/*我的奖品*/
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#ffd274}
.my_prize_list{padding:15px; margin-bottom:20px; background:#aedcfd; border-radius:20px 20px 0 0; color:#1a5099;}
.my_prize_list li{line-height:25px; font-size:15px; position:relative;}
.my_prize_list li a {display:block; width: 120px; height: 31px; margin:8px auto 0; background: url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:15px}
.my_prize_list2 p{ padding:6px 0;}
.form-items{width:90%; padding:0 4% 30px; margin-top:20px;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left; width:90px; padding-top: 8px; color:#1a5099;}
.form-items li span{display:block; margin-left: 90px;}
.form-items li input{ width:90%; padding:8px 6px; background:#b3defd; border:none; color: #000; font-family: Microsoft Yahei,"微软雅黑"; color:#1a5099}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:1px; background:#b9945e;  margin: 35px 0px 15px; overflow:hidden;}
.my_prize .btns,.rule_more .btns{margin:40px auto 0; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; line-height:30px}

.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{padding-left:15px; color:#dd0a17}
.prompt_02{padding:7px 0 0 90px; color:#de0a17}
.prompt_03{color:#001e33}

/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%; left:50%;top:50%; background:#d6edff; border-radius:15px; margin-left:-45%; z-index: 99999; font-size:15px; color:#164e9b}
.close_btn{width:40px; height:40px; background:url(../images/close_btn.png) no-repeat; background-size:100% 100%; position:absolute; right:-14px; top:-14px; cursor:pointer}
.tip-con{ margin: 15px;padding: 15px 5% 75px;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
.tip-con p{ line-height: 22px;word-wrap:break-word;word-break:break-all;}
.tip-con-inner{padding:20px; background:#acdbff; border-radius:15px}
.tip-con-inner a{margin-top:20px;}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
.tip-box .btns{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%}

.tip-box .btns_false{background:url(../images/btns_06.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; bottom:35px; margin-left:-51px;}
.yellow{color:#ffd500;}
.prompt_05{padding-top:10px; color:#4c0000}
.prompt_03{padding:5px 0;}
.win_sure{margin:0 0 0 40px; color:#cf0000; font-size:14px;}
.win_sure h4{padding:0 0 5px 0; font-size:16px; font-weight:bold; color:#164e9b}
.win_num{padding:6px 0; color:#164e9b}
.win_num p{float:left}
.win_num_l{float:left; width:40%; height:26px; background:#b2ddff; position:relative}
.win_num_l input{width:40%; padding:0 30%; height:26px; background:#b2ddff; border:0}
.win_num_l span{display:block; width:20px; height:20px; position:absolute; top:3px; background:#164e9b; color:#5bb8ff; font-weight:bold; text-align:center; line-height:20px; cursor:pointer}
.win_num_l span.win_reduce{left:3px;}
.win_num_l span.win_add{right:3px;}

#win_sure_btns{width:218px; margin:15px auto 0}
#win_sure_btns a{float:left; display:block; width:84px; height:30px; margin:2px 10px; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%;  line-height:30px; font-size:14px}

#tip-box6 .tip-con{padding: 15px 5% 75px;}
#tip-box6 .tip-con p,#tip-box8 .tip-con p{text-align:left}
