/* CSS Document */
body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family:'微软雅黑'; font-size:14px; line-height:20px;}

#main{width:320px; margin:0 auto;}
.content{width:320px; height:98px;}
.content img{display:block; width:320px; height:98px;}
#content6{width:320px; height:43px; background:url(../images/images_06.jpg) no-repeat; position:relative}
#activity_btn{ display:block; position:absolute; right:78px; top:0; width:83px; height:40px;}
#close_btn{ display:block; position:absolute; right:14px; top:0; width:65px; height:40px;}

