/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:0.14rem; font-family:Microsoft Yahei,"微软雅黑"; background: #e33232; color: #fff;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fff; font-size: .14rem;}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.banner{width:100%; position: relative;}
.banner img{ width: 100%; display:block;}
.user_wrap{padding:0.2rem 0 0 0}
.user_name{padding-left:0.5rem; font-size: 0.38rem;}
.user_name span{display: inline-block; height:0.62rem; padding:0 0.4rem; border:0.02rem solid #fff; border-radius: 0.35rem; line-height: 0.62rem;}
.user_wrap a{display: block; width:5.58rem; height:2.02rem; margin: 0.32rem auto 0.6rem; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; text-indent: -9999px;}
.user_wrap a.flow_geted{background:url(../images/btns_02.png) no-repeat; background-size:100% 100%;}
.sign_wrap{padding:0.5rem 0.3rem 0; background:url(../images/line_bg.png) no-repeat; background-size:100% auto}
.sign_txt{font-size: 0.31rem; text-align: center;}
.sign_list ul{ margin-top:0.24rem; margin-bottom: 0.45rem; background:url(../images/line_bg2.png) no-repeat; background-size:100% auto;}
.sign_list ul li{float:left; width:0.61rem; margin-right:0.21rem; text-align: center; display: inline; font-size: 0.18rem;}
.sign_list ul li.margin_no{margin-right:0}
.sign_list ul li i{display: block; width:0.61rem; height:0.61rem; background:url(../images/sign_01.png) no-repeat; background-size:100% 100%;}
.sign_list ul li.signed i{background:url(../images/sign_02.png) no-repeat; background-size:100% 100%;}
.sign_list ul li span{display: block;}
.sign_list ul li em{display: block; font-style: normal;}
.txt_border{text-shadow:#be1a1a 1px 0 0,#be1a1a 0 1px 0,#be1a1a -1px 0 0,#be1a1a 0 -1px 0;}
.soft_wrap{margin-top:0.25rem; padding-top:0.6rem; background:url(../images/line_bg.png) no-repeat; background-size:100% auto}
.change_btn{float:right; padding-right:0.3rem; font-size: 0.26rem;}
.soft_list{width: 96%;margin: 0 auto;}
.soft_list li{float: left;display:inline;width: 21%;margin: 0.4rem 2% 0;}
.soft_list li p{text-align: center;}
.soft-icon{border:0.06rem solid #fe9d01; border-radius: 20%;}
.soft_list li .soft-icon img{width:96%; border:0.03rem solid #863900; border-radius: 18%;}
.soft_list li .soft-name{width:100%; padding: 0.17rem 0 0.13rem; line-height:0.24rem; font-size:0.24rem; text-overflow:ellipsis; white-space:nowrap; overflow: hidden}
.soft_list li a.downlode{display:block; width:1.23rem; height:0.45rem; background:#ffc503; border:0.04rem solid #be1a1a; margin:0 auto; border-radius: 25px; text-align:center; line-height:0.47rem; font-size: 0.24rem;text-shadow:#be1a1a 1px 0 0,#be1a1a 0 1px 0,#be1a1a -1px 0 0,#be1a1a 0 -1px 0;}
.btn1{display: block; width:3.08rem; height:0.62rem; margin: 0 auto; background:#ffc503; border:0.04rem solid #be1a1a; border-radius: 30px; line-height: 0.64rem; font-size: 0.28rem; color: #fff; text-align: center;}
.footer{height:0.7rem; background:#fc3636; line-height: 0.7rem; text-align: center; font-size: 0.24rem; color:#d9f0a2}
.gray{background:#cecece}
.wrap{margin:0 0.35rem; border:2px solid #fd4242; border-radius: 10px;}
.main2{ padding:0.5rem 0 0.6rem; background:url(../images/stars_05.png) no-repeat; background-size: 100% auto;}
.tips{padding-bottom:1rem; text-align: center;}
.tips p{color:#ffd5d5; font-size: 0.3rem; line-height: 0.3rem;}
.end_wrap img{width:2.2rem; margin: 0.82rem auto 0.6rem;}
.update_wrap p{padding:0.3rem 0 0.8rem}
.update_wrap img{width:2.46rem; margin: 0 auto;}
.rule_b{display:block; padding-bottom: 0.7rem; color:#d7e9ad; font-size: 0.26rem; text-align: center;}
.rule_wrap{margin-top:0.25rem; padding:0.65rem 0.3rem 0.4rem; background:url(../images/line_bg.png) no-repeat; background-size:100% auto; position: relative;}
.rule_stars{width:0.43rem; height:0.58rem; background:url(../images/stars_04.png) no-repeat; background-size:100% 100%; position: absolute; left:0.33rem; top:1rem}
.rule{padding:0 0.2rem; font-size: 0.26rem; line-height: 0.42rem;}
.rule img,.soft_title{display: block; width:4.22rem; height:0.81rem; margin: 0 auto 0.4rem;}
.rule_wrap p{text-align: justify;}

/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:80%; height:auto; border:2px solid #feb100; background:#ffe78f; left:50%; top:50%; margin-left:-40%; z-index: 99999;}
.tip_hd h4{height:0.36rem; margin-top:0.5rem; line-height:0.36rem; font-size:0.3rem; text-align: center; color:#500700}
.tip-con{width:85%;  margin:0px auto; }
.tip-con p{padding:0.45rem 0 0.8rem; font-size: 0.26rem; line-height: 0.46rem; color:#e93500; text-align: center;}
.tip-con p span{color:#ff3131}
.clo{ position: absolute; right: 0.12rem; top:0.12rem;}
.clo a{ display: block; width:0.36rem; height:0.36rem;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}
.tip-box a{margin-top:0}
.btns a{display: block; width:1.8rem; height:0.52rem; background:#ff8503; margin: 0 auto 0.6rem; border-radius: 0.25rem; line-height: 0.52rem; text-align: center; line-height: 0.52rem; font-size: 0.26rem;}
.btns2{margin: 0 0.2rem 0;}
.tip-box .btns2{width:85%; margin: 0.05rem auto 0.44rem;}
.btns2 a{width:1.9rem; height:0.52rem; background:#5dc5aa; border-radius: 0.25rem; line-height: 0.54rem; text-align: center; color:#fff; font-size: 0.26rem;}
.btns2 a.fr{background:#ff8503}
.form-items li{position: relative;}
.form-items label{position: absolute; left:0; top:0; width:1rem; height:0.36rem; font-size: 0.24rem; color:#e93500; line-height: 0.36rem;}
.form-items li span{display: block; margin: 0 0 0 1rem;}
.form-items input{display: inline-block; width:100%; height:0.36rem; margin-bottom: 0.15rem; background:#fff; border:1px solid #500700; text-indent: 0.1rem; background:#fffef5; border-radius: 4px; font-size: 0.24rem; color:#6f2f00; line-height: 0.4rem;}
.form-items input.input_short{width:40%}
.form-items li span i{float: right; width:50%; height:0.38rem; background:#f0cc5a; border-radius: 0.25rem; text-align: center; line-height: 0.42rem; font-size: 0.18rem; cursor: pointer; font-style: normal;}
.tip-box .form-items{padding-top:0.5rem; padding-bottom: 0.6rem;}
#tip-box2 .tip_hd h4{font-size: 0.24rem;}
