/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,input,var,em{margin:0; padding:0;}
html,body{height: 100%;max-height:960px;overflow: hidden;}
body{min-width: 320px;max-width: 640px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background-color: #fff; color: #543661;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img{border:none;}
img{ display: block;}
a{text-decoration:none;color:#000; font-size: 14px; outline: none;}
a,input,button,div,a:focus{ -moz-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-moz-touch-callout: none;-webkit-touch-callout: none;-moz-user-select: none;-webkit-user-select: none; outline: none;}
.clear{clear:both;overflow:hidden;}

.header{}
.header img{width: 100%;}
.banner{margin-top: -5%;animation:fadeIn 1s 0s ease normal forwards;-webkit-animation:fadeIn 1s 0s ease normal forwards}
.banner img{width: 100%;}

.wrap{width: 100%;height:87%;padding-bottom:4%;background: url("../res/special/special_bd.png") 0 0 no-repeat;background-size: 100% 100%;}
.soft{width: 79%;margin:2% auto;padding:1% 3% 2% 3%;background-color: rgba(255,255,255,0.4);border-radius: 15px;}
.soft li{float: left;width: 48%;margin-right:4%;display: inline;margin-top: 6px;}
.soft li:nth-child(even){margin-right:0;}
.soft_icon{float: left;}
.soft_icon img{width: 48px;height:48px;}
.soft_info{width: auto;margin-left: 55px;}
.soft_info p{width:100%;height:22px;line-height: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #0208ff;text-align: center}
.soft_info p a{padding:2px 10%;background-color:#fffc00;border-radius:5px;color: #ea5e00}
.desc{margin-top:5px;line-height:16px;color: #600003;font-size: 12px;}

.page{width: 100%;height: 100%;overflow: hidden;background-color: #faeac6;}
.next_page{position:absolute;bottom:5%;left:50%;margin-left:-7%;width:14%;text-align: center;z-index: 5}
.next_page img{width: 100%;margin: 0 auto;-webkit-animation:next 0.7s 0s linear alternate infinite}

/*结束页*/
#page4{background: url("../res/special/end_bg.png") 0 0 no-repeat #ff857c;background-size:100% 100%;}
.end_text{opacity:0;animation:fadeIn 1s 0s ease normal forwards;-webkit-animation:fadeIn 1s 0s ease normal forwards}
.end_text img{width: 100%;}
.logo{position: absolute;bottom:1%;right: 10px;width: 25%;}
.logo img{width:100%; }
.woman{position:relative;}
.woman img{width: 100%;}
.woman_bd{width: 53%;margin-left: 10%;}
.woman_hd{position: absolute;left: 17%;top:2%;width: 31%;animation:shake_head 0.7s 0s linear alternate infinite;-webkit-animation:shake_head 0.7s 0s linear alternate infinite}
.share_mark{width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,.6); display:none;z-index: 6}
.share_mark img{width:100%; position:absolute; left:0px; top:5%;}
.download_mark{width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,.6); display:none;z-index: 6}
.download_mark img{width:100%; position:absolute; left:0px; top:5%;}
.btns{margin: 2% auto 0px auto;padding: 0px 5%}
.btns a{display: block;}
.btns a.again{width:30%;float: left;animation:btn_scale 0.7s 0s linear alternate infinite;-webkit-animation:btn_scale 0.7s 0s linear alternate infinite}
.btns a.again.cnt{float: none;margin: 0 auto;}
.btns a.share{width:35%;float: right;animation:btn_scale 0.7s 0s linear alternate infinite;-webkit-animation:btn_scale 0.7s 0s linear alternate infinite}
.btns a img{width: 100%;}
@keyframes btn_scale{
    0%{transform:scale(0.9);}
    100%{transform:scale(1.0);}
}
@-webkit-keyframes btn_scale{
    0%{-webkit-transform:scale(0.9);}
    100%{-webkit-transform:scale(1.0);}
}
@keyframes shake_head{
    0%{transform:rotate(-3deg);}
    100%{transform:rotate(3deg);}
}
@-webkit-keyframes shake_head{
    0%{-webkit-transform:rotate(-3deg);}
    100%{-webkit-transform:rotate(3deg);}
}
@-webkit-keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}
@-webkit-keyframes next{
    0%{-webkit-transform:translate(0,0);}
    100%{-webkit-transform:translate(0,5px);}
}
/*跳转页*/
.main{padding:0px 8%;height: 100%;overflow: hidden;}
.jump_tip{margin: 20% 0px 15px 0px; }
.jump_tip img{width: 10%;float: right;}
.jump_con{padding:15px;background-color: #efeeee;border-radius: 8px;text-shadow: 0 0 5px #ddd}
.jump_icon{float: left;}
.jump_icon img{width: 50px; height: 50px;}
.jump_info{width: auto;margin-top:6px;margin-left:60px;line-height: 20px;}
.jump_info span{color: #004eff}