/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#e35038; font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#000000}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#000000}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; background:#e35038}
.maininner{ padding:0 5% 10px; background:url(../images/main_bg1.jpg) no-repeat; background-size:100% 100%}
.maininner2{padding:0 0 20px 0; background:url(../images/main_bg1.jpg) no-repeat; background-size:100% 100%}
/*有通用的地方*/
.wrap{margin:0 0 12px; background:url(../images/bg3.png) no-repeat; background-size:100% 100%; position:relative; padding-bottom:40px}
.wrap_top{position:relative; z-index:2}
.wrap_top img,.wrap_bom img{width:100%; height:160px;}
.wrap_bom{margin-top:-40px; height:50px; position:relative; z-index:2}
.wrap_bom img{height:50px}
.wrap_inner{background:#fd850d; margin:-90px 6.5% 0; padding:20px 0 0;  border-radius:15px; border:1.2px solid #fec117; position:relative; border-radius:15px; z-index:1}
.decorate_01{width:100%}

.titles{width:103px; height:30px; margin:5px 0 3px; background:url(../images/title_01.png) no-repeat; background-size:100% 100%}
.rule_title2{ background:url(../images/title_02.png) no-repeat; background-size:100% 100%}
.rule_title3{background:url(../images/title_03.png) no-repeat; background-size:100% 100%}
.active_title{background:url(../images/title_03.png) no-repeat; background-size:100% 100%}
.active_title2{background:url(../images/title_06.png) no-repeat; background-size:100% 100%}
.awards_title{padding:16px 10px 0; color:#4e1800; font-size:16px}
#end_wrap .titles{width:106px; background:url(../images/title_05.png) no-repeat; background-size:100% 100%}
.btns{display:block; width:113px; height:34px; background:url(../images/btns.png) no-repeat; background-size:100% 100%; text-align:center; line-height:32px; color:#fff; font-weight:bold; font-size:15px}
.title{padding:10px 0 15px 0; position:relative}
.title h3{font-weight:bold;color:#542600;}

.banner{width: 100%; margin: 0 auto;  position:relative; }
.banner img{ width: 100%;}
.person{position:absolute; right:0; top:-53px; width:180px; height:166px; background:url(../images/person.png) no-repeat; background-size:100% 100%; z-index:1}
/*index*/
.rule{padding:1px 10% 26px; background:url(../images/bg1.png) no-repeat; background-size:100% 100%; position:relative;}
.rule p{border:1px solid #ffc518; padding:6px 8px; background-image: -webkit-linear-gradient(top, rgba(255, 138, 14, 1) 0%, rgba(235, 90, 6, 1) 100%); background-image: -moz-linear-gradient(top, rgba(255, 138, 14, 1) 0%, rgba(235, 90, 6, 1) 100%); background-image: -o-linear-gradient(top, rgba(255, 138, 14, 1) 0%, rgba(235, 90, 6, 1) 100%) 100%); background-image: -linear-gradient(top, rgba(255, 138, 14, 1) 0%, rgba(235, 90, 6, 1) 100%); line-height: 22px; position:relative; z-index:2}
.rule p span{color:#c80000;}
.active_time{display:inline-block}
#login_wrap,.awards_wrap{margin:12px 12px 0; padding:8px 0 5px; border:1px solid #fae30f; background-image: -webkit-linear-gradient(top, rgba(247, 233, 14, 1) 0%, rgba(232, 154, 4, 1) 100%); background-image: -moz-linear-gradient(top, rgba(247, 233, 14, 1) 0%, rgba(232, 154, 4, 1) 100%); background-image: -o-linear-gradient(top, rgba(247, 233, 14, 1) 0%, rgba(232, 154, 4, 1) 100%) 100%); background-image: -linear-gradient(top, rgba(247, 233, 14, 1) 0%, rgba(232, 154, 4, 1) 100%); border-radius:4px; }
.logined{ padding:0 10px; position:relative}
.logined_r{width:80px; height:26px; position:absolute; right:5px; top:0;}
.logined_r a{display:block; width:80px; height:26px; background:url(../images/btns_01.png) no-repeat; background-size:80px 26px; text-align:center; line-height:27px; color:#fff; font-weight:bold}
.logined_r a.login_sign{float:right; width:66px; height:22px; margin-top:8px; border:1px solid #00ffde; background:url(../images/btns.png) repeat-x; border-radius:20px; line-height:21px}
.logined_r a.disabled{background:url(../images/btns_06.png) repeat-x; background-size:66px 22px; border:1px solid #7f7f7f; color:#c8c8c8}
.logined_l p{ padding:3px 0 2px; color:#793000}
.login{padding-top:10px; padding-bottom:15px}
.login .logined_r{top:13px;}
.star_list{margin: 6px 0px 10px;}
.star_list span{float: left;width:22px;height:22px;line-height:24px;background: url("../images/stars.png") 0 0 no-repeat;background-size: 32px 96px;text-align: center; font-size:12px}
.star_list span.star_gold{background-position:0 1px; color:#915825}
.star_list span.star_gray{background-position:0 -26px;color: #606060}
.star_list span.star_lightgray{background-position:0 -51px;color: #d0d0d0}
.star_list em{float: left;width:6px;height:22px;background: url("../images/stars.png") 0 0 no-repeat;background-size: 32px 96px;}
.star_list em.spot_gold{background-position:-26px 5px;}
.star_list em.spot_gray{background-position:-26px -22px;}
.star_list em.spot_lightgray{background-position:-26px -46px;}
.prize_index{position:relative; margin:10px 0 0}
.prize_index p{background-size:25px 25px; color:#ffffff; line-height:22px}
.prize_index p span{padding:0 1px; color:#ffea00; font-size:16px}
.prize_index a{display:block; position:absolute; right:8px; top:8px; width:114px; height:32px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; text-align:center; line-height:32px; font-weight:bold; color:#ffffff}
.prize_index p.prize_tips{color:#ffea00}
/*转盘抽奖*/
.lottery{background:url(../images/lottery_bg.png) no-repeat; background-size:100% 100%}
.rotate {width:90%; margin:15px auto 0; position: relative; overflow}
.rotate-con{width:100%;}
.rotate img{width:100%;}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 46%;height: 46%;margin-top: -22.1%;margin-left: -22.8%;background: url(../images/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.pointer-disabled{background: url(../images/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%; z-index:11}
.lottery_btn{float:right; display:block; width:119px; height:34px; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-indent:-9999px;}
.lottery_btn2{background:url(../images/btns_08.png) no-repeat; background-size:100% 100%;}
.lottery_txt{ padding:10px 0 5px; color:#111111}
/*九宫格抽奖*/
.lottery2{width:300px; margin:0 auto 10px; position:relative;}
.lottery2 img{display:block; width:94px; height:67px; margin:0 auto; border-radius:2px}
.lottery2 table{border-collapse: separate; width:100%;}
.lottery2 td{width:94px;height:67px; padding:3px; position:relative}
.lottery2 td span{position:absolute; left:4px; top:3px; width:92px; height:70%;}
#my_click {width:94px;height:67px; cursor:pointer;}
.lottery2 p{position:absolute; width:94px;height:67px; left:103px; top:76px; display:block;}
.lottery2 p a{display:block; width:94px; height:67px;}
.waitGame{background:url(../images/lottery_disabled.png) no-repeat; background-size:100% 100%}
.active_ctn{margin-bottom:10px;}
.active_ctn li{position:relative; line-height:22px; color:#fff}
.active_ctn span{width:20px; position:absolute; top:1px;}
.active_ctn p{margin-left:20px;}
.notice{ margin:12px 0; padding:2px; background:rgba(255,255,255,.35); color:#fff}
.notice_list{height:28px; padding:0 15px; line-height:28px;}
.btns1 a{display:block; margin:10px auto;}
.soft{padding:14px 0 10px; position:relative}
.soft .titles{width:125px; background:url(../images/title_04.png) no-repeat; background-size:100% 100%}
.soft_title a{ position:absolute; right:0; top:15px;}
.soft_title a{display:block; width:140px; height:32px; margin:5px auto 0; padding:0; background:url(../images/btns_07.png) no-repeat; background-size:100% 100%; background-clip: padding-box; line-height:33px; font-weight:bold; color:#fff; text-align:center;}
.soft_list{padding:10px 0; border:1px solid #fae30f; background:#fd8f2d; border-radius:4px;}
.soft_list li{ float: left; display: inline; width: 25%;margin-top:10px;text-align: center;}
.soft_list li .soft-icon{text-align: center;}
.soft_list li .soft-icon img{ width: 56px;height: 56px; margin: 0 auto;}
.soft_list li .soft-name{margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li .soft-name a{ color: #fff;}
.soft_list li a.downlode{ display: block; width:56px;height: 24px; line-height: 24px; margin: 10px auto; background:#ff5918; background-clip: padding-box; border-radius:25px; border:1px solid #971500; line-height:24px; color:#fff;cursor: pointer; text-align: center; font-weight:bold}

#active_ctn li{margin-top:20px; color:#cb3731; font-weight:bold}

/*我的奖品*/
.main2{ background:url(../images/main2_bg.png) repeat-y; background-size:contain;overflow: hidden; position:relative}
.main2_inner{padding: 5% 0 10%; background:url(../images/paper_07.png) no-repeat left bottom; background-size:contain}
.my_prize{padding:15px 0 8%; margin:0 6%; position:relative; color:#542600}
.my_prize_list li{line-height:25px; font-size:16px; position:relative;}
.my_prize_list li a,.soft_title a,.prize_okr a{display:block; width:140px; height:32px; margin:5px auto 0; padding:0; background:url(../images/btns_07.png) no-repeat; background-size:100% 100%; background-clip: padding-box; line-height:33px; font-weight:bold; color:#fff; text-align:center;}
.my_prize_list li a{ width:100px; height:32px; margin-top:8px; border:1px solid #00ffde; background:url(../images/btns.png) repeat-x; border-radius:20px; line-height:33px; letter-spacing:1px; font-size:16px}
.my_prize_list2{padding:5px 0;}
.my_prize_list2 li{ position:relative; font-size:16px}
.my_prize_list2 p{ padding:6px 0;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left;width:90px;padding-top: 10px; color:#542600;}
.form-items li span{display:block;margin-left: 90px;}
.form-items li input{ width:90%;padding:10px 6px;border:none;color: #000;  font-family: Microsoft Yahei,"微软雅黑"; background-color:#fff; border-radius:2px}
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:7px; background:url(../images/line_bg.png) no-repeat; background-size:100% auto;  margin: 8px 0px 15px; overflow:hidden;}
.my_prize .btns{background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; margin-top:40px}

/*结束页*/
.awards_wrap{margin:12px 5.5% 0}
.awards{padding:5% 20px 3%; position:relative; color:#772400}
.awards_list{line-height: 26px; text-align:center}
.slide_up{overflow:hidden;height:78px;position: relative;}
.decorate_02{position:absolute; left:0; bottom:0; width:120px; height:132px; background:url(../images/decorate_02.png) no-repeat; background-size:100% 100%; z-index:3}
.decorate_03{position:absolute; right:0; bottom:0; width:68px; height:133px; background:url(../images/decorate_03.png) no-repeat; background-size:100% 100%; z-index:3}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute; width:310px; height:300px; left:50%; top:50%; margin-left:-155px; z-index: 99999; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; font-size:15px;}
.tip-con{ margin: 15px 15px 0 15px; padding:95px 90px 10px 0; color:#440e0e; transform:rotate(3deg); -webkit-transform:rotate(3deg);}
.tip_title h6{ padding:2px 0 0; min-height:20px;  color:#301800; font-size:15px; font-weight:bold; line-height:18px;text-align:center}
.tip-con p{padding:0 0 0 20px; line-height: 16px; word-wrap:break-word;word-break:break-all; font-size:12px; color:#ffffff}
.tips_btns a{display:block; width:82px; height:28px; background:url(../images/btns_01.png) no-repeat; background-size:100% 100%; margin:0 auto 0; line-height:29px; text-align:center; color:#fff}
#tip-box3 .tip-con,#tip-box4 .tip-con{padding-top:105px}
#tip-box3  .tips_btns a,#tip-box4  .tips_btns a{margin-top:16px;}

.footer{width:80%; height:24px; margin:14px auto 4px;  text-align:center; position:relative; color:#fff9b1;}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{color:#441e00}
.mtop10{margin-top: 10px;}
