.zimg_p {display:none;}
.hm{margin-top:0;text-align:center;}
.imgzoom_title{padding:10px 0 0;color:#666;}
.imgzoom_exif{position:absolute;left:10px;bottom:24px;padding:0 6px;height:18px;background:rgba(0,0,0,.6);text-align:left;line-height:1.5;color:white;overflow:hidden;}
.imgzoom_exif_hover{height:auto;}
.imgzoom_exif,.imgzoom_exif_hover{background:#000;}
.imgzoom_exif{bottom:39px;}
.pattimg_zoom{background-color:#FFF;filter:alpha(opacity=0);}
.pattimg_zoom{position:absolute;display:block;width:100px;height:100px;line-height:300px;overflow:hidden;}
.zoom{cursor:pointer;}
.zoominner{padding:0px 10px 10px;background:#FFF;text-align:left}
.zoominner p{padding:8px 0;padding-bottom:0;}
.zoominner p a{float:left;margin-left:10px;width:17px;height:17px;background:url(/Public/img/imgzoom_tb.gif) no-repeat 0 0;line-height:100px;overflow:hidden;}
.zoominner p a:hover{background-position:0 -39px;}
.zoominner p a.imgadjust{background-position:-40px 0;}
.zoominner p a.imgadjust:hover{background-position:-40px -39px;}
.zoominner p a.imgclose{background-position:-80px 0;}
.zoominner p a.imgclose:hover{background-position:-80px -39px;}
.y{float:right;}
