/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#ffffff; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#181742}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 16px; outline: none; color:#181742}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.main{position:relative; padding:0 8px 72px 8px; background:url(../images/bg1.jpg) no-repeat left bottom; background-size:100% auto}
.main2{padding:25px; background:url(../images/bg3.png) no-repeat; background-size:100% 100%}
/*有通用的地方*/
.wrap{min-height:20px; background:#efefff; padding:5px; margin-bottom:10px; position:relative}
.wrap_inner{padding:5px 10px; border:1px solid #bcc0df;}
.wrap2{min-height:20px; padding:20px 0; background:url(../images/bg2.png) repeat;  margin-bottom:20px; position:relative}
.bg4{ display:block; width:136px; height:77px; background:url(../images/bg4.png) no-repeat; background-size:100% 100%; position:absolute; right:0; top:-40px}
.btns{display: block; width:102px;height: 33px; margin-left:auto; margin-right:auto; line-height: 33px; background:url(../images/btns_01.png) no-repeat; background-size:100%100%; color:#fd538d;cursor: pointer; text-align: center; font-weight:bold; font-size:16px;}
.banner{width: 100%; margin: 0 auto; position:relative; z-index:2}
.banner img{ width: 100%;}
/*index*/
/*活动规则*/
.rule,.active{padding-top:15px; padding-bottom:6px; color:#574eb2}
.active{color:#181742}
.rule p,.active p{line-height: 26px; margin-bottom:5px;}
.rule_title{width:128px; height:28px; font-weight:bold; font-size:18px;}
.rule a{float:right; padding:1px 7px; border:1px solid #5fb6fa; border-radius:10px; display:inline; color:#5fb6fa; text-align:center;}

.logined{ padding:0 10px; position:relative}
.logined_r{width:78px; height:26px; position:absolute; right:0; top:3px;}
.logined_r a{display:block; width:78px; height:26px; background:#5664a4; text-align:center; line-height:27px; font-weight:bold; font-size:13px; color:#fff}
.login .logined_r{top:15px}
.login .logined_r a{color:#900402}
.logined_l p{ padding:3px 0 2px;}
.login .logined_l p{color:#181742}
.login{padding-top:15px; padding-bottom:20px}
.login .logined_r a{width:80px; height:26px; padding:0; background:#5d68a5; color:#ffffff}
.star_list{width:270px; margin: 20px auto 10px;}
.star_list span{float: left;width:38px;height:38px; margin:0 8px; line-height:38px; background:#d6d8e4; border-radius:50%; text-align: center; font-size:14px; cursor:pointer; color:#5c68a5}
.star_list span.star_gold{background:#5764a4; color:#ffffff}
.star_list span.current{background:#6d86ff; color:#ffffff}

.notice{height:26px;}
.notice_list{height:26px; padding:0 15px; line-height:27px;}

/*转盘抽奖*/
.lottery_info{ padding:0 0 12px;}
.lottery_info img{width:58%; margin:15px auto 10px}
.lottery_wrap a{margin:15px auto; color:#ffffff}
.rotate_tips{padding:0 0 8px; text-align:center;}
.rotate {width: 300px; margin:0 auto;position: relative;}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 46%;height: 46%;margin-top: -23%;margin-left: -23%;background: url(../images/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.pointer-disabled{background: url(../images/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%; z-index:11}
.rotate_list{width:60px; height:78px; position:absolute; left:0; top:0; left:50%; top:50%; z-index:10}

.soft{padding:10px 0; position:relative}
.soft .titles{width:164px; height:28px; line-height:28px}
.soft_list{padding:5px 0;}
.soft_list li{ float: left; display: inline; width: 90%; margin:10px 0 0;}
.soft_list li .soft-icon{ width: 72px;height: 72px; margin:0 42px;}
.soft_list li .soft-icon img{ width: 72px;height: 72px;}
.soft_list li .soft-name{width:140px; margin-top: 10px;height: 20px; line-height: 20px; overflow: hidden; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center; text-shadow:0 0 5px #431c22; font-weight:bold; display:none}
.soft_list li .soft-name a{color: #fff;}
.soft_list li a.downlode{display: block; width:83px;height: 30px; margin-left:auto; margin-right:auto; line-height: 30px; background:#5664a4; color:#fff;cursor: pointer; text-align: center; font-weight:bold; font-size:16px;  position:absolute; right:0; bottom:38px; }
.active_ctn{margin:10px 0 0}
.active_ctn li{position:relative; line-height:22px;}
.active_ctn span{width:18px; height:18px;  position:absolute; top:3px; text-align:center;  line-height:18px; }
.active_ctn p{margin-left:25px;}
.wrap3_inner{background:#3483c3; padding-bottom:6px; border-radius:5px}
/*我的奖品*/
.my_prize{padding:0 15px;position:relative; color:#4c4c4c}
.title_img{width:48%; margin:20px auto}
.my_prize_list{padding-bottom:10px;}
.my_prize_list li{padding:2px 4%; line-height:25px; position:relative;}
.my_prize_list li a {display:block; width: 106px; height: 32px; margin:8px auto 0; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; text-align:center; line-height:32px; color:#fff; font-size:16px; font-weight:bold}
.my_prize_list li span{color:#fc3c6f}

.form-items{width:86%; padding:0 4% 30px; margin-top:20px;}
.form-items li{ margin-top: 30px; clear: both; overflow: hidden;}
.form-items li label{ float: left; width:90px; padding-top: 8px;}
.form-items li span{display:block; margin-left: 90px;}
.form-items li input{ width:86%; padding:8px 5px; border:1px solid #cbcaca; color: #000; font-family: Microsoft Yahei,"微软雅黑"; background:#ffffff; }
.form_error{display:block; padding:8px 0 0 90px; color:red}
.split{height:8px; background:url(../images/line_bg.png) repeat-x; background-size:auto 100%;  margin: 35px 0px 15px; overflow:hidden;}
.form-items2{margin-top:0; padding-bottom:10px}
.form-items2 li{margin-top:10px}

.btn2_wrap{padding:10px 0 35px; margin-top:-45px;}
.btns2{width:282px; margin:30px auto 0}
.btns2 a.btns{float:left; width:117px; height:30px; margin-left:10px; margin-right:10px; background:url(../images/title_bg2.png) no-repeat; background-size:100% 100%; line-height:30px; color:#5a4129}
.btns3{ margin:0 auto; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; border:1px solid #dcdcdc; border-radius:5px; color:#4c4c4c; line-height:33px}

.title h3{margin:25px 0 15px; font-weight:bold; font-size:18px;}
.titles2{width:204px; height:27px; margin:0 3% 20px;  background:url(../images/title_bg4.png) no-repeat; background-size:100% 100%; text-align:center; line-height:27px; font-weight:bold}
/*结束页*/
.end{padding:10px 0; color:#ff4670; font-weight:bold; line-height:26px; text-align:center}
.awards_wrap{ padding:0 15px 20px;}
.awards_wrap .titles{padding-top:10px; font-size:18px; font-weight:bold; text-align:center}
.awards{padding:3% 20px 3%; position:relative;}
.awards_list{line-height: 26px;}
.slide_up{margin-top:5px; overflow:hidden;height:130px;position: relative;}
.footer{width:100%; height:38px; background:rgba(0,0,0,.4); text-align:center; position:relative; color:#fff; line-height:38px; position:absolute; left:0; bottom:0}
.bold{font-weight:bold;}
.red{color:#ab0500}
.prompt_01{ padding-left:4%}
.prompt_02{padding:7px 0 0 90px; color:#fc3c6f}
.prompt_03{color:#001e33}
.success{text-align:center; font-size:18px}
.return{display:block; width:164px; height:32px; margin:0 auto; background:url(../images/title_bg2.png) no-repeat; background-size:100% 100%; text-align:center; line-height:30px; font-weight:bold; font-size:18px}
/*提示框*/
#body-bg{position:absolute; top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{ position:absolute;width: 90%; left:50%;top:50%; margin-left:-45%; z-index: 99999; font-size:15px; font-size:16px; color:#4c4c4c}
.tip-box .wrap{background:url(../images/bg2.png) no-repeat; background-size:100% 100%}
.tip-con{ margin: 15px;padding: 15px 5% 75px;}
.tip-con h4{font-size:16px; font-weight:bold; text-align:center}
.tip-con p{ line-height: 20px;word-wrap:break-word;word-break:break-all;}
.tip-con p img{display:block; width:130px; margin:10px auto}
.tip-con p.tip_h{font-weight:bold; font-size:18px; line-height:34px}
.btns_false{position:absolute; left:50%; bottom:35px; margin-left:-51px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%;border:1px solid #dcdcdc; border-radius:5px; color:#4c4c4c; line-height:33px}
.icon_01{display:block; position:absolute; left:-1%; top:-10px; width:102%; height:114px; background:url(../images/bg7.png) no-repeat; background-size:100% 100%}
.close_btn{width:32px; height:32px; background:url(../images/close_btn.png) no-repeat; background-size:100% 100%; position:absolute; right:0; top:0; cursor:pointer;}
.tip-con li label{ float: left; width:70px;}
.tip-con li  input{width:90%}
.tip-con li span{display:block; margin-left: 70px;}
.copy{float:right; font-size:12px; color:#4c4c4c}
.tip-con  .form-items{margin-top:4px; padding:0 0 5px}
.tip-con  .form-items li{margin-top:10px;}
.use_btn{width:242px; height:27px; display:block; margin:40px auto 20px}