/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; padding-bottom:55px; background:#ffd5b7; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#626262}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block; max-width:100%;}
/*编辑器中的img也有影响 暂时注释*/
.description  p  img{display:inline-block;}
a{text-decoration:none; font-size: 14px; outline: none; color:#626262}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.banner{width: 100%; margin: 0 auto; background:url(../images/); position:relative; }
.banner img{ width: 100%;}
.title{background:#f45000; margin:6px 0;}
.title h2{padding:5px 10px; color:#ffffff; font-size:28px; text-align:center}
.mod{margin:0 6px 5px;}
.mod_t{width:100%; height:6px; /*background:url(../images/feataure/mod_top.png) no-repeat;*/ background-size:100% 100%;}
.mod_m{/*background:#fff;*/ padding:6px 6px 15px;}
.mod_b{width:100%; height:6px; /*background:url(../images/mod_bom.png) no-repeat*/; background-size:100% 100%;}
.title2{margin-top:8px; padding:10px 0; position:relative;}
.padding0{padding:0}
.title2 h3{display:inline-block; height:30px; padding:0 20px 0 12px; margin-left:-12px; /*background:url(../images/bg1.png) no-repeat;*/ background-size:100% 100%; color:#fff; font-size:16px; line-height:26px}
.title2 h3.h3_img{position:absolute; left:0; top:50%; margin-top:-15px;}
.title2 img{max-width:100%;}
#description2 .title2 .btns{top:50%; margin-top:-16px}
#description2  p{margin-top:12px;word-break:break-all; word-wrap:break-word;}
.btns{padding:0 12px; height:30px; background:#23b4ff; border-radius:5px; position:absolute; right:6px; top:1px; color:#fff; line-height:28px; text-align:center; font-size:15px}
.description p{padding:0 8px; line-height:24px}
.title2 p{margin:0 100px 0 0; color:#f45000; font-size:18px; line-height:30px;}
.app1{position:relative; margin:10px 0; min-height:72px}
.app_icon{position:absolute; left:6px; top:0}
.app_icon img{display:block; width:64px; height:64px;} 
.app_txt,.app_txt2{margin:0 68px 0 75px;}
.app_txt .app_name{padding:4px 0; font-size:16px}
.app_txt .app_inro{font-size:14px;}
.app_txt .app_des{font-size:12px}
.app_btn{width:60px; height:30px; background:#17d7fe; border-radius:2px; position:absolute; right:2px; top:16px; color:#fff; line-height:28px; text-align:center; font-size:15px}
.line{margin:15px 0;}
.line img{display:block; width:100%;}


.app_txt2{padding:5px 0 0}
.app_txt2 .app_name{width:50%; margin:-12px auto 4px; padding:4px 35px 12px; background:url(../images/bg2.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center}
.app_txt2 .app_des{font-size:12px; line-height:20px;}

.list{color:#fff}
.list_des{float:left; width:35%; height:246px;/* background:#fad479;*/ text-align:center}
.list_des h4{text-align:left; padding:10px; font-size:18px; color:#666666; word-break:break-all; word-wrap:break-word;}
.list_des p{text-align:left; padding:0 8px 10px 10px;word-break:break-all; word-wrap:break-word;}
.list_app{float:left; width:65%; height:162px;}
.list_app li{float:left; width:49.3%; margin-left:1px; display:inline; background:#f7aa69; text-align:center}
.list_app li img{display:block; width:60px; height:60px; margin:10px auto 5px}
.list_app li .app_name{width:100%; font-weight:bold; font-size:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.btns2{display:inline-block; margin:6px auto 10px; width:60px; height:30px; background:#23b4ff; border-radius:2px; color:#fff; line-height:31px; text-align:center; font-size:15px}
.list_app2{float:left; width:64.2%; margin-left:1px; height:84px; background:#84b46a; position:relative}
.list_app2 img{position:absolute; left:10px; top:10px; width:64px; height:64px;}
.list_app2_txt{margin:0 60px 0 82px}
.list_app2_txt .app_name{padding:18px 0 5px; font-weight:bold; font-size:16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_app3{height:246px;}
.list_app3 li{height:246px;}

.list_app4 li{float:left; width:49.3%; margin-left:1px; margin-bottom:1px; /*background:#f2f2f2;*/ position:relative}
.list_app4 li img{display:block; position:absolute; left:10px; top:10px; width:64px; height:64px}
.list_app4 .app_name{margin:12px 0 0 82px; color:#626262; font-size:15px; font-weight:bold; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list_app4 .btns2{margin:8px 0 0 82px;}
.list_app4 .app_des{margin:10px; color:#626262; font-size:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.comment_title{width:82px; height:24px; background:url(../images/bg3.png) no-repeat; background-size:100% 100%; color:#fff; font-size:16px; text-indent:6px; line-height:24px; position:relative}

.comment_list{margin-bottom:10px;overflow:hidden}
.comment_list li{position:relative; margin:10px 0 0; padding-bottom:4px; border-bottom:1px solid #e6e6e6;}
.comment_list .comment_img{display:block; width:42px; height:42px; position:absolute; left:18px; top:0; border-radius:50%}
.comment_r{margin:0 12px 0 66px}
.comment_name{height:24px; line-height:24px}
.comment_name p{float:left;font-size:16px; color:#a5a5a5}
.comment_name span{float:right; font-size:13px; color:#959595; padding-right:10px;}
.comment_info{height:24px;}
.phone_verson{float:left; width:40%; color:#a5a5a5; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:24px; font-size:13px}
.comment_infor{float:right; position:relative}
.comment_infor span{float:left; margin-left:8px; display:inline; color:#959595}
.comment_infor span.comment_num{}
.comment_num i{float:left; width:22px; height:18px; background:url(../images/icon_01.png) no-repeat 0 2px; background-size:18px 16px; cursor:pointer; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.comment_num font{display:block; width:10px; height:20px; position:absolute; right:0; top:10px; color:#f00; line-height:20px; opacity:0}
.comment_num font.comment_num_act{animation:addAction 0.7s ease-in-out;-webkit-animation:addAction 0.7s ease-in-out;}
.comment_infor span.comment_infor2{background:url(../images/icon_02.png) no-repeat 0 4px; background-size:18px 16px; padding:0 0 0 22px; }
.comment_infor em{display:block; position:absolute; left:8px; top:21px; width:18px; height:10px;background:url(../images/icon_03.png) no-repeat 0 4px; background-size:18px 10px; z-index:3}
.comment_cnt{/*height:28px;*/ color:#5b5b5b; font-size:17px; word-break:break-all; word-wrap:break-word; /*white-space:nowrap; overflow:hidden; text-overflow:ellipsis*/}
.replay_list{width:94%; margin:6px auto 4px; border:1px solid #e6e6e6; border-bottom:none; background:#f4f9fa; position:relative}
.replay_list li{float:left; width:100%;border-bottom:1px solid #e6e6e6;}
.replay_list .comment_img{width:30px; height:30px; left:10px}
.replay_list .comment_r{margin:0 0 0 42px}
.comment_infor i.comment_act{animation:scale 0.5s ease-in-out;-webkit-animation:scale 0.5s ease-in-out; background:url(../images/icon_04.png) no-repeat 0 2px; background-size:18px 16px;}

/*轮播图片*/
.focus{margin:0; position:relative}
.focus_bd{width:100%; overflow:hidden}
.focus_bd ul{width:100%; float:left;}
.focus_bd ul li{float:left; width:49%; margin-left:1%; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.focus_bd li img{width:100%; display:block}
.focus_dotted{ left:50%; height:40px; bottom:-2px; position:absolute;}
.focus_dotted ul{left:-50%; padding-top:16px; position:relative;}	
.focus_dotted li{display:inline-block; width:18px; height:4px; background:#000; margin:0 5px; overflow:hidden; opacity:0.5; text-indent:9999px; cursor:pointer; text-align:center
	}
.focus_dotted .on{ background:#fff; opacity:1}
.focus_bd2{width:100%; overflow:hidden}
.focus_bd2 ul li{float:100%; -webkit-tap-highlight-color:rgba(255,0,0,0);}
.focus_bd2 li img{width:100%; display:block}
.banner_txt{position:absolute; left:0; top:30px; min-width:58px; height:22px; padding:0 15px 0 10px; color:#fff; font-size:16px; line-height:22px}
.banner_txt a{display:block; width:100%; height:100%}
.share_btn{position:absolute; right:0; top:30px; padding:4px 10px 4px 15px; color:#fff; font-size:16px; cursor:pointer}
@keyframes scale{
    0%{transform: scale(1.5);}
    100%{transform: scale(1.0);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(1.5);}
    100%{-webkit-transform: scale(1.0);}
}
@keyframes addAction{
    0%{opacity:0; top:10px}
	50%{opacity:1; top:0px}
    100%{opacity:0; top:-16px}
}
@-webkit-keyframes addAction{
    0%{opacity:0; top:10px}
	50%{opacity:1; top:0px}
    100%{opacity:0; top:-16px}
}
.applist_more{width:34%; height:30px; margin:0 auto 10px; background:#dedede; border-radius:4px; color:#0394f1; line-height:31px; text-align:center; position:relative}
.applist_more a{display:block; width:100%; height:100%; color:#fff; font-size:16px}