/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width: 320px;max-width: 640px; margin:0 auto; background:#a02e31; font-size:15px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px; color:#fefefe}
.body2{background:#1c6478}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none;color:#fefefe; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left}
.fr{float:right}
.wordwrap{word-wrap:break-word;word-break:break-all;}

.mtop10{margin-top: 10px;}
.space{height:36px;}
.main_wrap{background:url(../images/main_bg.png) repeat-y; overflow:hidden;}
.main2{padding:0 0 20px}
.banner{width: 100%; margin: 0 auto; position:relative; z-index:2}
.banner img{ width: 100%;}

/*index*/
.notice{height:32px; margin:8px 0 0; background:#ff8a00; line-height:33px; position:relative;}
.notice-icon{ display:block; width: 25px;height:21px; margin:0 0px 0px 3px; background:url(../images/icon_01.png) no-repeat; background-size:25px 21px; position:absolute; left:5px; top:5px;}
.notice-list{margin-right:15px; margin-left:42px}
.notice-list span{padding-right: 20px;}
.notice-list span em{ padding-left: 10px;}
.share_txt{width:80%; height:32px; margin:10px auto 0; background:#990e2c; border:1px solid #fffd00; border-radius:15px; line-height:32px; text-align:center; background-clip:padding-box; }
.share_btn{display:block; width:114px; height:73px; margin:12px auto 0; background:url(../images/share_btn1.png) no-repeat; background-size:100% 100%; text-indent:-9999px}

.wrap{width:96%; margin:50px auto 0; padding:40px 0 30px; min-height:80px; background:url(../images/bg3.png) no-repeat; background-size:100% 100%; position:relative; color:#42080a;}
.lottery{position:relative; z-index:2}
.lottery  a,.prize_index_btn{display:block; position:absolute; right:20px; top:-5px; width:71px; height:26px; background:url(../images/btn_02.png) no-repeat; background-size:100% 100%; text-align:center; line-height:26px; font-weight:bold; color:#fff}
.rotate {margin:5px auto 0; position: relative}
.rotate-con{width:100%;}
.rotate-pointer {position: absolute;top: 50%;left: 50%;width: 40%; height: 36%;margin-top: -21.1%;margin-left: -19.9%;background: url(../images/pointer.png) no-repeat 0 0;background-size: 100% 100%; cursor: pointer;-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.pointer-disabled{background: url(../images/pointer_disabled.png) no-repeat 0 0;background-size: 100% 100%; z-index:11}

.awards{padding:145px 20px 25px; margin:-120px 20px 0;  background:url(../images/bg5.png) no-repeat; background-size:100% 100%; position:relative; color:#fff; position:relative; z-index:1}
.awards_list{padding:0 0 0 15px; line-height: 26px; text-align:left}
.slide_up{overflow:hidden;height:104px;position: relative;}

.app_txt{margin:20px 20px 0; background:url(../images/bg6.png) no-repeat; background-size:100% 100%;}
.app_txt p{padding:40px 40px 40px 60px; color:#ffefc6; font-size:15px; line-height:24px}
.rules{padding:12px 10px 12px 15px}
.btns{display:block; width:148px; height:54px; margin:10px auto 0; background:url(../images/btns.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center; line-height:42px; font-size:16px; font-weight:bold}
.lottery_info{ margin:15px 10px}
.lottery_info p{display:block; width:180px; height:30px; margin:2px 0 0; background:url(../images/btns_04.png) no-repeat; background-size:100% 100%; text-align:center; line-height:30px; color:#fff; font-size:16px;}
.lottery_info a{display:block; width:100px; height:43px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; color:#fff; text-align:center; line-height:30px; font-size:16px}
#soft_wrap{padding-top:15px; background:url(../images/bg4.png) no-repeat; background-size:100% 100%;}
.soft_title{width:240px; height:33px; margin:0 auto; background:url(../images/title_bg2.png) no-repeat; background-size:100% 100%; text-align:center; line-height:33px; color:#fff}
.soft_list{width:92%; margin:4px auto 10px;}
.soft_list li{ float: left; display: inline; width: 25%;margin-top:10px;text-align: center;}
.soft_list li .soft_icon{text-align: center;}
.soft_list li .soft_icon img{ width: 48px;height: 48px; margin: 0 auto;}
.soft_list li .soft_name,.soft_list li .soft_size{height: 20px; line-height: 20px; overflow: hidden; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.soft_list li a{color:#370303}
.soft_list li .soft_size{font-size:14px}
.soft_list li a.download{ display: block; width:65px;height: 40px; margin: 3px auto 7px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%; line-height:29px; color:#fff;cursor: pointer; text-align: center; font-weight:bold}
.rule_btn{display:block; height:26px; margin:15px 0 0; text-align:center; letter-spacing:1px; font-size:16px; line-height:26px; color:#ffc9a2}
#soft_btns{background:url(../images/btns_11.png) no-repeat; background-size:100% 100%; color:#f95200; letter-spacing:3px}
#return_btn{height:64px; background:url(../images/btns_03.png) no-repeat; background-size:100% 100%; line-height:46px; letter-spacing:1px}

.tips_p{ width:70%; margin:0 auto; padding:30px 0 10px; text-align:center;}
.tips_p p{padding:15px; background:url(../images/tips_bg1.png) no-repeat; background-size:100% 100%; color:#fcff00; text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0; }
.tips_p2 p{padding:10px; background:url(../images/tips_bg2.png) no-repeat; background-size:100% 100%;}
.tips_img{background:url(../images/bg1.png) no-repeat; background-size:100% 100%}
.tips_p img{display:block; width:107px; height:134px; margin:20px auto 0; padding:25px 0 78px; overflow:hidden}
/*我的奖品页*/
.title_bg{width:180px; height:50px; margin:20px auto 0; background:url(../images/title_bg.png) no-repeat; background-size:100% 100%}
.title_bg h3{ color:#010e24; font-size:16px; text-align:center; line-height:48px}
.prize_list{ margin:20px 0 0; padding:140px 0 60px; color:#fff; position:relative}
.prize_list_inner{width:85%; margin:0 auto;}
.prize-title{padding:10px 10px 0; font-size:16px;}
.prize-text{padding:6px 10px 0; line-height:28px}
.prize_btns{display:block; width:65px; height:40px; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%;border-radius:15px; position:absolute; right:10%; top:68px; color:#fff; font-size:16px; text-align:center; line-height:29px;}
.prize_list_inner .btns{background:#f7f438; border-radius:15px; color:#ae1b3b}
.prize_top{width:296px; height:56px; background:url(../images/wrap_bg1.png) no-repeat; background-size:100% 100%; position:absolute; left:50%; margin-left:-148px; top:-28px}
/*邮寄地址*/
.form1{width:75%; margin:162px auto 0; font-size:14px;}
.form-item{ margin:8px 0 0; }
.form-item label{ float: left;width:55px; padding:5px 0; color:#fff838}
.form-item .textbox input{float:left; width:60%; padding:5px 12px; background:#fff; border-radius:2px; border:none; font-family: "Microsoft Yahei"; color:#898787;}
.prompt2{padding:5px 0 0;}
.prompt3{padding-left:55px}

/*detail 活动规则*/
.detail_wrap{ margin:35px 15px 20px; padding:15px 10px; background:#4ea7a5; border-radius:20px; border:2px solid #136967; position:relative; color:#fff}
.detail_title{width:104%; height:50px; background:url(../images/detail_bg1.png) no-repeat; background-size:100% 100%; position:absolute; left:-1.8%; top:-25px}
.detail_title2{width:128px; height:42px; margin:20px auto 0; background:url(../images/title_bg3.png) no-repeat; background-size:100% 100%; text-align:center; line-height:38px; font-size:18px; font-weight:bold; letter-spacing:2px}
.detail_list{margin:10px 0 0}
.detail_list h4{padding:5px 15px 6px; font-size: 18px; font-weight: bold;}
.detail_list  p{padding:0 15px; font-size: 16px; line-height: 25px;}
.detail_ctn{ margin-bottom:10px;}
.detail_ctn li{position:relative; padding:0 0 0 10px; line-height:22px;}
.detail_ctn span{width:14px; position:absolute; top:1px;}
.detail_ctn p{margin-left:14px;}
#end_wrap{width:85%; margin:50px auto 40px; font-size:16px; text-align:center}
#end_wrap p a{display:block; margin:20px 0 0 35px; text-decoration:underline; font-size:16px; text-align:left; color:#42080a}
#end_wrap .prize_top{background:url(../images/wrap_bg2.png) no-repeat; background-size:100% 100%; color:#fff; line-height:40px}

/*结果页*/
.result img{width:100%}
.btns1{width:70%; margin:20px auto 0;}
.btns1 a{float:left; width:102px; height:54px; background:url(../images/btns_07.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns1 a:nth-of-type(2).disabled{background:url(../images/btns_05.png) no-repeat; background-size:100% 100%;}
.btns1 a:nth-of-type(2){float:right; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%;}

.btns2{width:78%; margin:20px auto 0;}
.btns2 a{float:left; width:102px; height:54px; background:url(../images/p3_btn_VS.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns2 a:nth-of-type(2){float:right; background:url(../images/p3_btn_again.png) no-repeat; background-size:100% 100%;}
.slogn{margin:30px 0 10px; text-align:center; color:#7ab5c5}
.slogn img{display:inline-block; margin:-5px 10px 0 0; vertical-align:middle}
.slogn span{display:inline-block;}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:304px; height:315px; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; left:50%; top:50%; margin-left:-152px; z-index: 99999;}
.tip_hd img{width: 124px; height:96px; margin:170px auto 0;}
.tip-mid{padding:146px 0 4px; font-size:12px; position:absolute; left:50%; width:80%; margin-left:-40%}
.tip-con{width:80%; padding:8px 15px;margin:0px auto; background:url(../images/dialog_bg2.png) no-repeat; background-size:100% 100%;}
.tip-con p{line-height: 22px; text-align: center; color:#fff838;text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
.clo{ position: absolute; right: -6px; top: 25px;}
.clo a{ display: block; width:38px; height:38px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}
.prize_ok{width:75%; margin:126px auto 0; padding:42px 5px 0}
.prize_okl{float:left; width:76px; background:rgba(117,11,41,.5); border:1px solid #fffe00; background-clip:padding-box; border-radius:15px;}
.prize_okl img{display:block; width:48px; height:48px; margin:3px auto}
.prize_okl span{display:block; line-height:22px; color:#fff; text-align:center; font-size:12px}
.prize_okr{padding:0 0 5px 82px; font-size:14px; line-height:22px; color:#fff838}
.tip-box .btns{width:123px; height:46px; font-size:16px; position:absolute; bottom:-25px; left:50%; margin-left:-62px; line-height:36px}
.tip-box .btns3{width:160px; margin:0 auto}
.tip-box .btns3 a{float:left; margin:1px 10px 0; width:60px; background:url(../images/btns_08.png) no-repeat; background-size:100% 100%}
.tip-box .btns3 a:nth-of-type(2){float:right; background:url(../images/btns_02.png) no-repeat; background-size:100% 100%}
.tip-box .prize-title{padding:85px 15px 0; position:absolute; left:50%; top:26px; width:60%; margin-left:-36%; color:#1c6478; font-size:13px }
.tip-box .prize-title .spec{font-size:16px}
#tip-box3{background:url(../images/dialog_bg3.png) no-repeat; background-size:100% 100%;}
#tip-box3 .form1{width:75%; margin-top:140px}
#tip-box3  .btns,#tip-box4  .btns{position:static; margin:10px auto 0}
#tip-box3  .form-item label{ float: left;width:55px; padding:5px 0; color:#1c6478}
#tip-box3 .btns{background:url(../images/btns_10.png) no-repeat; background-size:100% 100%}
#tip-box4{width:306px; height:170px; background:#f78b26; border:2px solid #fff; border-radius:15px; margin-left:-153px}
#tip-box4 .form1{width:65%; margin-top:20px}
#tip-box4  .form-item label{color:#fff}
#tip-box5{background:#5da5d5; padding-top:10px; height:150px; border:2px solid #fff; border-radius:15px; background-clip:padding-box; }
#tip-box5 .tip-mid{ width:90%; padding-top:10px; margin-left:-45%}
#tip-box5 .tip-con{ width:100%; background:none; font-size:15px; padding-left:0; padding-right:0}
#tip-box5 .tip-con p{color:#fff; text-shadow:none;}
#tip-box5 .btns{ position:static; width:100px; height:50px; margin:15px auto 0; background:url(../images/btns_09.png) no-repeat; background-size:100% 100%; text-indent:-9999px}
#tip-box5 .clo{ position: absolute; right: -15px; top: -15px;}
#tip-box5 .clo a{ background:url("../images/tip_clo2.png") 0 0 no-repeat;background-size:100% auto}

.footer{text-align:center;}
.footer img{width:100%}
.footer p{padding:20px 10px; background:#313232; line-height:22px}
.bold{font-weight:bold;}
.paddtop20{padding-top:20px}
.paddbom70{padding-bottom:70px;}
.prompt1{color:#1c6478; font-size:12px;}
.cnt{text-align:center}