/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{min-width:320px; max-width:640px;  margin:0 auto; background-color:#ffffff; font-size:16px; font-family:Microsoft Yahei,"微软雅黑"; line-height:20px}
body,html{width:100%;height:100%;overflow:hidden}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; font-size: 14px; outline: none;}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

#main{width:100%; height:100%; position:relative}
/*声音*/
#bgm{height:0;width:0;display:none;}
#bgm_btn {position:absolute;width:40px;height:32px;right:1%;top:1%;display: none;z-index: 50}
#bgm_btn.off{background:url(../images/off.png) 0 0 no-repeat;background-size:100% 100%;}
#bgm_btn.on{background:url(../images/on.png) 0 0 no-repeat;background-size:100% 100%;}
/*进度条*/
#loadding_page{width:100%; height:100%; background-color:#fff; position:absolute; left:0; top:0; z-index:11}
#progress_box{position:absolute;left:50%;top:20%;width:50%; height:32px;margin-left: -25%;background: url("../images/loading_bg.png") 0 0 no-repeat;background-size: 100% 100%;z-index: 1}
#progress_bar{position:absolute;left:0px;top:0px;width:100%; height:100%;background: url("../images/loading_bar.png") 0 0 no-repeat;background-size: 100% 100%;clip:rect(0px,0px,0px,0px);z-index: 2}
#progress_text{position: absolute;left:50%;top:27%;width:50%; margin-left: -25%;text-align: center;}
#progress_pencil{position:absolute;left:0px;top:-38px;width:15%; height:60px;background: url("../images/loading_pencil.png") 0 0 no-repeat;background-size: 100% 100%;z-index: 3}
#loading_ft{position: absolute;left: 50%;bottom:3%;width: 80%;margin-left: -40%}
.loading_icon{width: 30%;margin: 0 auto 8px auto;}
.loading_icon img{width: 100%;}
.loading_authors{width:100%;padding-top:8px;border-top:1px solid #7e7676;}
.loading_authors p{text-align: center;color: #505050;line-height: 20px;font-size: 12px;}

/*首页*/
#page1{width:100%; height:100%; position:absolute; left:0; top:0;background:url("../images/p1_bg.jpg") 0 0 no-repeat;background-size:100% 100%;z-index:10; opacity:0;}
.p1_dialog{position: absolute;right: 2%;top: 20%;width: 45%;animation:updown 0.7s alternate linear infinite;-webkit-animation:updown 0.7s alternate linear infinite;}
.p1_dialog img{width: 100%;}
.p1_go{position: absolute;right: 7%;bottom: 12%;width: 32%;animation:scale 0.7s alternate ease-in-out infinite;-webkit-animation:scale 0.7s alternate ease-in-out infinite;}
.p1_go img{width: 100%;}

/*答题页*/
#question_page{width:100%; height:100%; position:absolute; left:0; top:0; background-color:#34bd99; z-index:9; opacity:0;}
.question_list{width:100%; height:100%;position: absolute;left: 0px;top:0px;z-index:10;}
.p2_top{margin-top: 2%;}
.p2_top img{width: 100%;}
.question{margin-top: 1%}
.question img{width: 100%;}
.answer{margin: 5% auto 2% auto;}
.answer.txt2{width:100px; }
.answer.txt4{width:200px; }
.answer li{float:left;display:inline;width:42px;height:42px;line-height:42px;margin:0px 2px;
background-color:#0d4454;border:2px solid #c5f2ff;border-radius: 6px;text-align: center;color: #fff;font-size: 18px;}
.btns{width: 70%;margin:2% auto;}
.btns a{width: 28%;}
.btns a img{width: 100%;}
.btn_empty{width: 86%;margin: 0 auto 1% auto;}
.btn_empty a{width: 18%;}
.btn_empty a img{width: 100%;}
.selection{width: 80%;padding:5% 2%;margin:0 auto;background: url("../images/p2_text_bg.png") 0 0 no-repeat;background-size:100% 100%;}
.selection ul{width:252px;margin: 0 auto; }
.selection li{float: left;display:inline;width:40px;height:40px;line-height:40px;margin:1px;}
.selection li a{display:block;width:100%;height:100%;background-color: #0d4454;text-align: center;border-radius: 4px;color: #fff;font-size: 18px;}
/*分享*/
#share{width:100%;height:100%;position:absolute; left:0; top:0;z-index:8; opacity:0;background-color: #1c6478}
.score{}
.score img{width: 100%;}
.download_btn{width: 40%;margin: 2% auto;}
.download_btn a img{width: 100%;}
.share_btn{width:95%;padding-left: 5%}
.share_btn a{float:left;width: 25%;margin: 0px 3%}
.share_btn a img{width: 100%;}
.share_btn2 a{margin:0 10%}
.share_mark,.result_mark,.vs_mark{width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,.6); display:none;z-index: 99}
.share_mark img,.result_mark img,.vs_mark img{width:100%;margin-top: 5%;}
.share_ft{position: absolute;bottom:2%;left: 0px;}
.share_ft img{width: 100%;}
.vs_mark_inner{position: absolute;left: 0px;top:0px;}
.vs_mark .back_btn{position: absolute;display:block;width: 34%;left:50%;top:80%;margin-left:-17%;z-index: 100;}
.vs_mark .back_btn img{margin-top:0px;width: 100%;}
/*跳转页*/
.main{padding:0px 8%;height: 100%;overflow: hidden;}
.jump_tip{margin: 20% 0px 15px 0px; }
.jump_tip img{width: 10%;float: right;}
.jump_con{padding:15px;background-color: #efeeee;border:2px solid #4c1d03;border-radius: 8px;text-shadow: 0 0 5px #ddd}
.jump_icon{float: left;}
.jump_icon img{width: 50px; height: 50px;}
.jump_info{width: auto;margin-top:6px;margin-left:60px;line-height: 20px;font-size: 14px;}
.jump_info span{color: #004eff}
.tip_icon{padding:40px 0px 5px 0px;width: 22%;}
.tip_icon img{width: 100%}
.tip_text{font-size: 14px;line-height: 20px;}
/*上下晃动*/
@keyframes updown{
    0%{top:20%;}
    100%{top:21%}
}
@-webkit-keyframes updown{
    0%{top:20%;}
    100%{top:21%}
}
/*缩放*/
@keyframes scale{
    0%{transform: scale(0.9);}
    100%{transform: scale(1.0);}
}
@-webkit-keyframes scale{
    0%{-webkit-transform: scale(0.9);}
    100%{-webkit-transform: scale(1.0);}
}

/*结果页*/
.result img{width:100%}
.btns1{width:70%; margin:20px auto 0;}
.btns1 a{float:left; width:102px; height:54px; background:url(../images/btns_07.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns1 a:nth-of-type(2).disabled{background:url(../images/btns_05.png) no-repeat; background-size:100% 100%;}
.btns1 a:nth-of-type(2){float:right; background:url(../images/btns_06.png) no-repeat; background-size:100% 100%;}

.btns2{width:78%; margin:20px auto 0;}
.btns2 a{float:left; width:102px; height:54px; background:url(../images/p3_btn_VS.png) no-repeat; background-size:100% 100%; text-indent:-99999px}
.btns2 a:nth-of-type(2){float:right; background:url(../images/p3_btn_again.png) no-repeat; background-size:100% 100%;}
.slogn{margin:30px 0 10px; text-align:center; color:#7ab5c5}
.slogn img{display:inline-block; margin:-5px 10px 0 0; vertical-align:middle}
.slogn span{display:inline-block;}

#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute; width:304px; height:315px; background:url(../images/dialog_bg.png) no-repeat; background-size:100% 100%; left:50%; top:50%; margin-left:-152px; z-index: 99999;}
.tip-mid{padding:146px 0 4px; font-size:12px; position:absolute; left:50%; width:80%; margin-left:-40%}
.tip-con{width:80%; padding:8px 15px;margin:0px auto; background:url(../images/dialog_bg2.png) no-repeat; background-size:100% 100%;}
.tip-con p{line-height: 22px; text-align: center; color:#fff838;text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;}
.clo{ position: absolute; right: -6px; top: 25px;}
.clo a{ display: block; width:38px; height:38px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}
#tip-box5{background:#5da5d5; padding-top:10px; height:150px; border:2px solid #fff; border-radius:15px; background-clip:padding-box; }
#tip-box5 .tip-mid{ width:90%; padding-top:10px; margin-left:-45%}
#tip-box5 .tip-con{ width:100%; background:none; font-size:15px; padding-left:0; padding-right:0}
#tip-box5 .tip-con p{color:#fff; text-shadow:none;}
#tip-box5 .btns{position:static; bottom:-25px; left:50%; width:100px; height:50px; margin:15px auto 0; background:url(../images/btns_09.png) no-repeat; background-size:100% 100%; text-indent:-9999px; line-height:36px; display:block}
#tip-box5 .clo{ position: absolute; right: -15px; top: -15px;}
#tip-box5 .clo a{ background:url("../images/tip_clo2.png") 0 0 no-repeat;background-size:100% auto}

