/*可以在这里添加你自己的css*/
/*=====================编辑器内览功能样式开始======================*/
.more_content_ul{list-style:none;width:100%;padding-left:0 !important;}
.more_content_ul li{width: 100%; margin-top:-8px; min-height: 87px; padding: 5px 0; position: relative;}
.more_content_ul_img{position: absolute; width: 156px; height: 87px;}
.more_content_ul_img img{display:block; width: 156px; height: 87px;}
.more_content_ul_txt{margin-left: 176px; margin-right: 4px; font-size: 16px; line-height: 26px; color: #343434;}
.more_content_ul3_txt{margin:0 0 3px 0;font-size: 16px;}
.more_content_ul3_img{padding:0;}
.more_content_ul3_img img{float: left; width:33%; margin:0 0.33% 0 0}
/*======================编辑器内览功能样式开始=====================*/

