html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
	height:100%;
	width: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-size:18px;
    line-height: 20px;
    color: #000;
	height:100%;
	width: 100%;
	-webkit-user-select: none;
	overflow:hidden;
}
a {
    color: #000;
    text-decoration: none
}

a:hover, a:active {
    outline: 0
}
h1,h2,h3,h4,h5,h6p,ul,li,form,dl,dt,dd{margin:0;padding:0;}
ul,li{list-style:none}

.pageWrap{position:absolute;width:100%;height:100%;overflow:hidden;}
.page{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition: -webkit-transform .3s ease-out;transition: -webkit-transform .3s ease-out;background:url(images/bg-body.png) 0 0 no-repeat;background-size:100% 100%;}
.page:nth-child(1){-webkit-transform:translateY(0);transform:translateY(0);}

.page:nth-child(1) .img1{position:absolute;left:0;top:36%;width:100%;}
.page:nth-child(1) .img2{position:absolute;left:0;top:14.7%;width:100%;}
.page:nth-child(2) .img1{position:absolute;top:13%;left:0;width:100%;}
.page:nth-child(3) .img1{position:absolute;top:12.5%;left:0;width:100%;}
.page:nth-child(4) .img1{position:absolute;top:8%;left:0;width:100%;}
.page:nth-child(5) .img1{position:absolute;top:42.7%;left:0;width:100%;}
.page:nth-child(5) .img2{position:absolute;top:6%;left:0;width:100%;}
.page:nth-child(6) .img1{position:absolute;top:4%;left:0;width:100%;}
.page:nth-child(7) .img1{position:absolute;top:4%;left:0;width:100%;}


/*.page:nth-child(1).animateIn1 .img1{-webkit-animation:lbIn .5s ease 0s both;animation:lbIn .5s ease 0s both;}
.page:nth-child(1).animateIn1 .img2{-webkit-animation:rbIn .5s ease .5s both;animation:rtIn .5s ease .5s both;}
.page:nth-child(1).animateIn1 .img3{-webkit-animation:tIn .5s ease 1s both;animation:tIn .5s ease 1s both;}
.page:nth-child(2).animateIn1 .img1{-webkit-animation:rIn .5s ease 1s both;animation:rIn .5s ease 1s both;}
.page:nth-child(2).animateIn1 .img2{-webkit-animation:lIn .5s ease .5s both;animation:lIn .5s ease .5s both;}
.page:nth-child(3).animateIn1 .img1{-webkit-animation:rIn .5s ease .5s both;animation:rIn .5s ease .5s both;}
.page:nth-child(3).animateIn1 .img2{-webkit-animation:lIn .5s ease 0s both;animation:lIn .5s ease 0s both;}
.page:nth-child(4).animateIn1 .img1{-webkit-animation:lbIn .5s ease 0s both;animation:lbIn .5s ease 0s both;}
.page:nth-child(4).animateIn1 .img2{-webkit-animation:rtIn .5s ease .5s both;animation:rtIn .5s ease .5s both;}
.page:nth-child(4).animateIn1 .img3{-webkit-animation:tIn .5s ease 1s both;animation:tIn .5s ease 1s both;}
.page:nth-child(5).animateIn1 .img1{-webkit-animation:rIn .5s ease .5s both;animation:rIn .5s ease .5s both;}
.page:nth-child(5).animateIn1 .img2{-webkit-animation:lIn .5s ease 0s both;animation:lIn .5s ease 0s both;}
.page:nth-child(6).animateIn1 .img1{-webkit-animation:rbIn .5s ease .5s both;animation:rbIn .5s ease .5s both;}
.page:nth-child(6).animateIn1 .img2{-webkit-animation:ltIn .5s ease 0s both;animation:ltIn .5s ease 0s both;}


.page.animateIn1 .section:nth-child(2) .img1{
	-webkit-animation:rbIn .5s ease 2s both;
	animation:rbIn .5s ease 2s both;
}
.page.animateIn1 .section:nth-child(2) .img2{
	-webkit-animation:rbIn .5s ease 1.5s both;
	animation:rbIn .5s ease 1.5s both;
}
.page.animateIn1 .section:nth-child(3) .img1{
	-webkit-animation:rbIn .5s ease 3s both;
	animation:rbIn .5s ease 3s both;
}
.page.animateIn1 .section:nth-child(3) .img2{
	-webkit-animation:rtIn .5s ease 2.5s both;
	animation:rtIn .5s ease 2.5s both;	
}
*/

#mask{position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.9);opacity:0;transition:opacity .5s ease;-webkit-transition:opacity .5s;z-index:-1;}
#mask .tip{color:#fff;font-size:18px;line-height:30px;position:absolute;top:50%;margin-top:-15px;left:0;text-align:center;width:100%;}
#mask2{position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.9);opacity:0;transition:opacity .5s ease;-webkit-transition:opacity .5s;z-index:-1;}
#mask2 .btns{position:absolute;top:50%;margin-top:-20px;width:100%;height:40px;text-align:center}
#mask2 .btns .btn{background-color:#ec9d58;width:120px; height:40px;display:inline-block; line-height:40px; text-align:center; font-size:20px; font-family:Î¢ÈíÑÅºÚ;color:#fff;border-radius:5px;}
#mask2 .btns .btn:first-child{margin-right:15px;}
#mask2 .icon-share{width:100%;position:absolute;top:0;left:0;display:block;opacity:0;-webkit-transition:opacity .5s;}

.arrow{position:fixed;left:50%;bottom:10px;margin-left:-23px;width:46px;height:46px;border-radius:46px;background-color:rgba(0,0,0,.4);display:block;overflow:hidden;}
.arrow i{-webkit-animation:scrollT 2s ease .5s both infinite;animation:scrollT 2s ease .5s both infinite;position:relative;left:3px;top:3px;width:40px;height:40px;overflow:hidden;-webkit-transform:translateY(50px);opacity:0;}
.arrow i::before{content:'';border-left:2px solid #fff;border-top:2px solid #fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);display:block;width:16px;height:16px;position:absolute;left:11px;top:15px;}
.icon_logo{position:fixed;right:0;bottom:0;display:block;}
.icon_logo img{width:100%;}

.scrollIn{-webkit-animation:bIn 1s ease 0s both;animation:bIn 1s ease 0s both;}
.scrollOut{-webkit-animation:tOut 1s ease 0s both;animation:tOut 1s ease 0s both;}
.fadeIn{-webkit-animation:fadeIn 1s ease 0s both;animation:fadeIn 1s ease 0s both;}
.fadeOut{-webkit-animation:fadeOut 1s ease 0s both;animation:fadeOut 1s ease 0s both;}
.rotateIn{-webkit-animation:rotateIn  1s ease 0s both;animation:rotateIn 1s ease 0s both;}
.rotateOut{-webkit-animation:rotateOut 1s ease 0s both;animation:rotateOut 1s ease 0s both;}

@-webkit-keyframes ltIn{
	0%{-webkit-transform:translate(-500px,-500px)}
	100%{-webkit-transform:translate(0,0)}
}
@keyframes ltIn{
	0%{transform:translate(-500px,-500px)}
	100%{transform:translate(0,0)}
}
@-webkit-keyframes lbIn{
	0%{-webkit-transform:translate(-500px,1000px)}
	100%{-webkit-transform:translate(0,0)}
}
@keyframes lbIn{
	0%{transform:translate(-500px,1000px)}
	100%{transform:translate(0,0)}
}
@-webkit-keyframes rbIn{
	0%{-webkit-transform:translate(1000px,1000px)}
	100%{-webkit-transform:translate(0,0)}
}
@keyframes rbIn{
	0%{transform:translate(1000px,1000px)}
	100%{transform:translate(0,0)}
}
@-webkit-keyframes rtIn{
	0%{-webkit-transform:translate(1000px,-500px)}
	100%{-webkit-transform:translate(0,0)}
}
@keyframes rtIn{
	0%{transform:translate(1000px,-500px)}
	100%{transform:translate(0,0)}
}
@-webkit-keyframes tIn{
	0%{-webkit-transform:translateX(-500px)}
	100%{-webkit-transform:translateX(0)}
}
@keyframes tIn{
	0%{transform:translateY(-500px)}
	100%{transform:translateY(0)}
}
@-webkit-keyframes bIn{
	0%{-webkit-transform:translateY(1000px)}
	100%{-webkit-transform:translateY(0)}
}
@keyframes bIn{
	0%{transform:translateY(1000px)}
	100%{transform:translateY(0)}
}
@-webkit-keyframes tOut{
	0%{-webkit-transform:translateY(0)}
	100%{-webkit-transform:translateY(1000px)}
}
@keyframes tOut{
	0%{transform:translateY(0)}
	100%{transform:translateY(1000px)}
}
@-webkit-keyframes lIn{
	0%{-webkit-transform:translateX(-500px)}
	100%{-webkit-transform:translateX(0)}
}
@keyframes lIn{
	0%{transform:translateX(-500px)}
	100%{transform:translateX(0)}
}
@-webkit-keyframes rIn{
	0%{-webkit-transform:translateX(1000px)}
	100%{-webkit-transform:translateX(0)}
}
@keyframes rIn{
	0%{transform:translateX(1000px)}
	100%{transform:translateX(0)}
}

@-webkit-keyframes scrollT{
	0%{-webkit-transform:translateY(50px);opacity:0;}
	50%{-webkit-transform:translateY(0px);opacity:1;}
	100%{-webkit-transform:translateY(-50px);opacity:0;}
}
@keyframes scrollT{
	0%{transform:translateY(50px);opacity:0;}
	50%{transform:translateY(0px);opacity:1;}
	100%{transform:translateY(-50px);opacity:0;}
}


@-webkit-keyframes fadeIn{
	0%{-webkit-transform:scale(0);opacity:0;}
	100%{-webkit-transform:scale(1);opacity:1;}
}
@keyframes fadeIn{
	0%{transform:scale(0);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes fadeOut{
	0%{-webkit-transform:scale(1);opacity:1;}
	100%{-webkit-transform:scale(0);opacity:0;}
}
@keyframes fadeOut{
	0%{transform:scale(1);opacity:1;}
	100%{transform:scale(0);opacity:0;}
}
@-webkit-keyframes rotateIn{
	0%{-webkit-transform:perspective(600px) rotateX(180deg);opacity:0}
	100%{-webkit-transform:perspective(600px) rotateX(0);opacity:1}
}
@keyframes rotateIn{
	0%{transform:perspective(600px) rotateX(180deg);opacity:0}
	100%{transform:perspective(600px) rotateX(0);opacity:1}
}
@-webkit-keyframes rotateOut{
	0%{-webkit-transform:perspective(600px) rotateX(0);opacity:1}
	100%{-webkit-transform:perspective(600px) rotateX(180deg);opacity:0}
}
@keyframes rotateOut{
	0%{transform:perspective(600px) rotateX(0) scale(1);opacity:1}
	100%{transform:perspective(600px) rotateX(180deg) scale(0);opacity:0}
}
