/* CSS Document */
/*公共样式*/
body,header,section,footer,nav,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
body{max-width:640px;min-width:320px; margin:0 auto;font-size:14px; font-family:Microsoft Yahei,"微软雅黑"; background:#43e5cc; color:#5b5b5b;}
ol,ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
var,em{font-style:normal;}
a,img,fieldset{border:none;}
img{ display: block;}
a{text-decoration:none; color:#5b5b5b}
.a,input,button,div{-webkit-tap-highlight-color:rgba(255,0,0,0);-moz-tap-highlight-color:rgba(255,0,0,0);-o-tap-highlight-color:rgba(255,0,0,0); outline: none;}
.clear{clear:both;overflow:hidden;}
.fl{ float: left;}
.fr{ float: right}
.cnt{text-align: center}
.underline{text-decoration:underline;}
.banner{width:100%; position:relative}
.banner img{ width: 100%;}
.banner a{display:block; position:absolute; right:20px; bottom:15px; width:88px; height:28px; background:#36d5fb; border-radius:20px; text-align:center; line-height:29px; color:#fff;}
.banner a:active{background:#00c4ee}

.main{ margin:16px;}
.wrap{min-height:60px; margin:16px 0 0; padding:10px; background:#fff; border-radius:8px; position:relative;}
.cloud_01{position:absolute; left:-30px; top:-18px; z-index:-1; width:100%; height:100%; background:url(../images/cloud_01.png) no-repeat; background-size:contain}
.cloud_02{position:absolute; left:25px; top:-10px; z-index:-1; width:95%; height:100%; background:url(../images/cloud_02.png) no-repeat; background-size:contain}
#coupon_wrap{padding:15px 0 0;}
.item_title i{display:inline-block; width:36px; height:36px; background:url(../images/icon_01.png) no-repeat; background-size:100% 100%; margin-left:-15px; text-align:center; line-height:36px; font-style:normal; color:#fff; font-size:12px;}
.item_title span{padding:0 4px 0 4px; font-size:16px;}
.item_title em{font-size:16px}
.item_title em input{font-size:16px; font-family:微软雅黑}
.item_title em input{ width: 120px; height:26px; padding:0 4px; margin-right:15px; border: 1px solid #cfcfcf;}
.item_title a{float:right; margin:8px 15px 0 0; display:inline; font-style:normal; color:#36d5fb; cursor:pointer; font-size:16px}
.item_current i{background:url(../images/icon_02.png) no-repeat; background-size:100% 100%; position:relative; z-index:3}
.item_current span{display:inline-block; width:160px; height:24px; margin-left:-32px; border-radius:20px; background:#ee574f; color:#fff; line-height:24px; text-align:center; z-index:1; position:relative; top:1px}
.item_cnt{margin:-15px 0 0 -1px; padding:21px 10px; border-left:2px solid #ffc051;}
#phone_submit .phone_input{display:block; width:85%; padding:10px 1% 10px 2%; margin:5px auto; border:1px solid #e6e6e6; font-family:微软雅黑;}
.error_form{width:88%; margin:0 auto;}
.main2 .error_form{width:96%}
#phone_submit a{display:block; width:88%; padding:6px 0; margin:15px auto 15px; background:#36d5fb; border-radius:4px; color:#fff; text-align:center; font-size:18px}
#phone_submit a:active{background:#00c4ee}
#city_sel,#school_sel{padding-top:30px;}
#city_sel li,#school_sel li{float:left; width:25%; height:28px; margin:0 0 15px;}
#city_sel li a,#school_sel li a{display:block; width:80%; height:26px; border:1px solid #acbfc4; border-radius:2px;  margin:0 auto; text-align:center; line-height:26px; color:#68797d}
#city_sel li a:active,#school_sel li a:active{border:1px solid #36d5fb; background:#36d5fb; color:#fff}
#city_sel li a.selected,#school_sel li a.selected{border:1px solid #36d5fb; color:#36d5fb;}
#school_sel li a{width:90%}
#school_sel li {width:100%}
#school_sel li a{font-size:14px}
#rules_wrap h3{padding:7px 0 0; text-align:center; color:#42b299; font-size:16px;}
.rules{padding:10px 10px 10px 18px; line-height:24px}
#code_wrap{padding:18px 0 80px;}
#code_wrap p{text-align:center; color:#b2b2b2;}
.code_img{display:block; width:134px; height:134px; margin:10px auto}
.tree_img{display:block; width:290px; height:94px; position:absolute; left:50%; bottom:-16px; margin-left:-145px}

.coupon_size{width:249px; height:95px; margin:0 auto; background:url(../images/coupon_bg01.png) no-repeat; background-size:100% 100%; color:#fff;}
.coupon_size p{padding:18px 25px 0 0; text-align:right; font-size:48px; font-weight:bold}
.coupon_size p span{font-size:26px; font-weight:normal}
.coupon_time{width:242px; height:36px; margin:0 auto; padding:0 0 0 7px; background:#ebebeb; font-size:12px; line-height:36px}
.coupon_time a{float:right; width:105px; height:26px; background:#36d5fb; border-radius:2px; line-height:26px; text-align:center; color:#fff; margin:5px 5px 0 0; font-size:16px}
.coupon_infor_s{width:249px; padding:10px 0; margin:0 auto; font-size:14px; color:#ff805d; text-align:center;}
.store_list{padding:0 10px; margin:10px 0 0; position:relative}
.store_list span{display:block; width:80px; position:absolute; left:10px; top:0}
.store_list p{padding:0 0 0 85px;}
.coupon_rules{padding:0 10px; color:#b2b2b2; }
.coupon_used .coupon_size{background:url(../images/coupon_bg02.png) no-repeat;}
.coupon_used .coupon_time a{background:#a7a7a7;}
/*提示框*/
#body-bg{position:absolute;top:0px;left:0px;width: 100%; height: 100%; background-color: #000;-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 99998;}
.tip-box{position:absolute;width: 90%;left:50%; height:200px; top:50%; padding-bottom:35px; margin-left:-45%; background:#ffffff;  border-radius:4px; z-index: 99999; color:#545454; opacity:0; transform:translate3d(0,200%,0); -webkit-transform:translate3d(0,200%,0); overflow:hidden; z-index:-1}
.swiper-container {width: 100%; height: 85%;}
.tip_hd{background:url(../images/logo.png) no-repeat 2px 7px; height:30px; margin:0 15px; padding:10px 0 7px 40px; border-bottom:1px solid #e6e6e6;}
.tip_hd h4{font-size:18px;}
.tip-mid{padding-bottom:4px;border-radius: 0px 0px 15px 15px;}
.share_tips{width:85%; margin:10px auto;}
.share_tips li{float:left; width:100%; min-height:41px;}
.share_tips li a{display:block; width:98%; min-height:26px; margin:0 auto 15px; border:1px solid #acbfc4; border-radius:2px; line-height:26px; text-align:center}
.share_tips li a.selected{border:1px solid #36d5fb; color:#36d5fb;}
.clo{ position: absolute;right: 20px;top: 10px;}
.clo a{ display: block; width:30px; height:30px;background:url("../images/tip_clo.png") 0 0 no-repeat;background-size:100% auto;text-indent: -9999px;}

/*卖家*/
.body2{background:#fff}
.main2{background:#fff;}
.login_wrap{width:80%; margin:0 auto;}
.login_wrap h3{margin:20px 0 0; font-size:20px; color:#36d5fb; text-align:center;}
.inputtext{display: block; width: 93%; padding: 10px 1% 10px 2%; margin: 15px auto; border: 1px solid #cfcfcf; font-family:微软雅黑;}
.btns{width:96%; margin:10px auto;}
.btns li{float:left; width:50%;}
.btns li a{display:block; width:90%; height:36px; margin-left:-1px; background:#b8d5db; border-radius:4px; color:#fff; text-align:center; line-height:36px; font-size:16px}
.btns li a:active{background:#abcbd1}
.btns li.login_btns a{float:right; background:#36d5fb;}
.btns li.login_btns a:active{background:#00c4ee}
.register_wrap{margin:15px}
.register_wrap h3,.btns2,.reference{width:96%; margin:0 auto}
.register_wrap h3 span{color:#b2b2b2}
.btns2 a{display:block; width:100%; height:36px; background:#36d5fb; border-radius:4px; color:#fff; text-align:center; line-height:36px; font-size:16px}
.btns2 a:active{background:#00c4ee}
.select_style{width:96%; height:40px; margin:0 auto; padding:0 1%; display:block; margin-bottom:15px; border:1px solid #cfcfcf;font-family:微软雅黑; font-size:16px}
.reference{margin-bottom:15px;}
.register_wrap h3{margin-bottom:15px;}

.nav{width:100%; height:39px; border-bottom:1px solid #e0e0e0;}
.nav li{float:left; width:33.3%; height:38px; line-height:38px; text-align:center; color:#8f8f8f;}
.nav li a{display:block; width:100%; height:100%; color:#8f8f8f}
.nav li.current{border-bottom:2px solid #36d5fb; color:#36d5fb;}
.nav li.current a{color:#36d5fb;}
.main2 .coupon_infor{margin:30px 0 0;}
.main2 .coupon_time{color:#ff805d; font-size:16px}
.balance_wrap{width:96%; margin:0 auto}
.balance_infor{width:100%; margin:15px auto 0; background:#fff3c9}
.balance_infor p{padding:13px 15px; line-height:26px}
.balance_infor p span{color:#ee574f}
.title h3{width:96%; margin:0 auto; padding:15px 0 0; font-size:18px; color:#333333}
.balance_time .inputtext{background:url(../images/date_bg.png) no-repeat right center; background-size:27px 21px; cursor:pointer;}
.balance_list{width:96%; margin:15px auto; border:1px solid #ddd; border-right:none; border-bottom:none; border-radius:4px}
.balance_list_t,.balance_list_b{width:100%; margin:0 auto}
.balance_list_t li,.balance_list_b li{float:left; width:25%; text-align:center; line-height:36px}
.balance_list_t li span,.balance_list_b li span{display:block; height:36px; padding:4px 0; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.balance_list_t li{background:#ededed;}
.balance_list_t li{background:#f7f7f7}
.balance_list_b li.balance_list_time{line-height:18px}
.balance_list_b li:nth-last-child(2) span{border-radius:0 0 4px 0}
.balance_status{position:relative; width:96%; margin:0 auto}
.balance_status h3{position:absolute; left:0; top:0; width:80px; font-size:18px; line-height:40px}
.balance_status_list{padding:0 0 0 85px} 
.userinfo_wrap{width:96%; margin:0 auto}
.userinfo_list{width:96%; margin:0 auto 20px;}
.userinfo_list li{padding:10px 0 0;}
.userinfo_alert span{display:inline-block; width:165px; height:25px;}
#userinfo_phone input{ width:140px; height:22px; padding:0 4px; margin-right:15px; border:1px solid #cfcfcf;}
.userinfo_alert a{color:#36d5fb}
.from_item{position:relative}
.from_item label{position:absolute; left:0; top:0; width:80px; line-height:40px; text-align:right}
.inpnttext_wrap{margin:0 10px 0 85px}
#password_modify_wrap .inputtext{width:100%}
#password_modify_wrap .error_form{margin-left:85px}
.footer{padding:50px 0 20px; text-align:center; color:#a5a5a5}
.red{color:#ee574f}

.feedback_form_item{width:100%; position:relative}
.select_input{cursor:pointer}
.form_arrow{display:block; width:32px; height:32px; position:absolute; right:18px; top:-1px; cursor:pointer}
.arrow_down{background:url(../images/arrow_down.png) no-repeat;}
.arrow_up{background:url(../images/arrow_up.png) no-repeat;}
.select_type{width:96%; position:absolute; margin-left:2%; left:-1px; z-index:1000; top:38px; background:#f3f3f3; border:1px solid #f3f3f3; display:none}
.select_type li{ padding:10px 3%; margin:0 auto; border-bottom:1px solid #dfdfdf;}
.select_type li:last-child{border-bottom:none}