/* CSS Document */
.banner{width:750px; height:210px; margin:0 auto;}
#banner_focus{width:750px; height:210px; position:relative; overflow:hidden}
#banner_ul{position:absolute; left:0;}
#banner_ul li{float:left; width:750px; height:210px;}
#banner_ul li img{display:block; width:750px; height:210px;}
#banner_ol{height:22px; padding:0 10px; background:#000000;  position:absolute; bottom:5px; right:5px;}
#banner_ol li{float:left; width:10px; height:10px; margin:5px 5px; background:url(../images/bg2.png) no-repeat -100px -67px; display:inline; cursor:pointer; overflow:hidden}
#banner_ol li.current{background:url(../images/bg2.png) no-repeat -100px -80px;}


.content_wrap{width:750px; height:auto; margin:18px auto 0;}
#content_wrap1 .recommend,#content_wrap2.recommend{height:488px; overflow:hidden}

#zt_index{width:750px; height:175px; margin:20px auto 0; overflow:hidden; position:relative}
#ztfocus_ul{ position:absolute; left:-80px;}
#ztfocus_ul li{float:left; width:300px; height:175px; padding:0 2px;}
#ztfocus_ul li img{display:block; width:300px; height:175px;}
#zt_index_left{width:38px; height:75px; background:url(../images/arrow_inddx02.png) no-repeat; position:absolute; left:182px; top:50px; z-index:100; cursor:pointer; display:none}
#zt_index_right{width:38px; height:75px; background:url(../images/arrow_inddx01.png) no-repeat; position:absolute; right:180px; top:50px; z-index:100; cursor:pointer; display:none}
.mart_zt{width:222px; height:175px; background:#000000; filter:alpha(opacity=60); opacity:0.6; position:absolute; top:0; z-index:10}
#mart_zt_left{left:0;}
#mart_zt_right{right:0; width:220px;}
